<form action="" method="get" role="form" id="filter-bar">

    <div class="col-xs-12 col-sm-3 col-md-3 col-md-offset-0">
        <p><strong>{{  'Kategorie' }}</strong></p>

        <div class="form-group">
            <select name="" class="selectpicker show-tick" id="filter_category" data-width="100%">
                <option value="">Finanzierung von Betriebsmitteln</option>
                <option value="">Wachstumkapital</option>
                <option value="">Investition in Anlagevermögen</option>
                <option value="">Pago de impuestos u obligaciones de seguros</option>
                <option value="">Investering in een pand, gebouw of andere vastgoed</option>
                <option value="">Nakoming belasting- en/of premiesverplichtingen</option>
                <option value="">Aflossen lening en rente (banklening)</option>
                <option value="">Aflossen lening en rente (geen banklening)</option>
                <option value="">Voorfinanciering voorraden</option>
                <option value="">Investering van machines of installaties</option>
            </select>
        </div>

        {#<select name="filter[category]" id="filter_category" class="show-tick selectpicker">
            <option value="">Alle</option>
            <option value="working_capital">Betriebsmittelfinanzierung</option>
            <option value="asset_purchase">Investition in Anlagevermögen</option>
            <option value="expansion_growth_capital">Wachstumskapital</option>
            <option value="tax_liability">Tilgung von Steuer- oder Versicherungsverbindlichkeiten</option>
            <option value="other">Sonstige</option>
        </select>#}
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-0 ui-custom-item">
        <p><strong>{{ 'Kreditbetrag' }}</strong></p>
        <div class="spacing-slider">
            <div id="slider-range-amount"></div>
        </div>
        <div class="text-center">
            <label for="amount"></label>
            <input type="text" id="amount" class="text-center text-slides" readonly>
        </div>
        <div class="desp-10 hidden-md hidden-lg"></div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-0 ui-custom-item">
        <p><strong>{{ 'Zinssatz' }}</strong></p>
        <div class="spacing-slider">
            <div id="slider-range-interest"></div>
        </div>
        <div class="text-center">
            <label for="interest"></label>
            <input type="text" id="interest" class="text-center text-slides" readonly>
        </div>
        <div class="desp-10 hidden-md hidden-lg"></div>
    </div>

    <div class="col-xs-12 col-sm-3 col-md-2 col-md-offset-0 ui-custom-item">
        <p><strong>{{ 'Laufzeit' }}</strong></p>
        <div class="spacing-slider">
            <div id="slider-range-year"></div>
        </div>
        <div class="text-center">
            <label for="years"></label>
            <input type="text" id="years" class="text-center text-slides" readonly>
        </div>
        <div class="desp-10 hidden-md hidden-lg"></div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-offset-0 hidden-md hidden-lg">
        <div class="input-search">
            <i class="fa fa-search"></i>
            <input type="text" value="" name="search" class="form-control" placeholder="Suchen">
        </div>
    </div>

    <div class="desp-20 visible-xs hidden-sm hidden-md hidden-lg"></div>

    <div class="col-xs-12 col-sm-6 col-md-2 col-md-offset-0">
        <p class="desp-10 hidden-xs hidden-sm visible-md visible-lg"></p>
        <input type="submit" class="btn btn-block btn-primary" value="Filtern">
    </div>

    <div class="desp-20 visible-xs visible-sm hidden-md hidden-lg"></div>

</form>


