<div id="lender-iban-calculator" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3 class="modal-title text-white">Lassen sie Ihre IBAN und BIC berechnen</h3>
            </div>
            <form id="iban-calculator-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="lender-bank-code-number">{{ 'Bankleitzahl' }}</label>
                        <input type="text" id="lender-bank-code-number" class="form-control" required="required">
                    </div>
                    <div class="form-group">
                        <label for="lender-bank-account-number">{{ 'Kontonummer' }}</label>
                        <input type="text" id="lender-bank-account-number" class="form-control" required="required">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white btn-default" data-dismiss="modal">Abbrechen</button>
                    <button type="submit" class="btn btn-primary">IBAN / BIC berechnen</button>
                </div>
            </form>
        </div><!-- end .modal-content -->
    </div><!-- end .modal-dialog -->
</div><!-- end .modal -->


