{# Tabs that turn into Accordion on small devices #}

<div id="lenderInvestTabs">
    <ul class="nav nav-tabs resp-tabs-list">
        <li class="active"><a data-toggle="tab" href="#companyInfo" role="presentation">Kurzinformation</a></li>
        <li><a data-toggle="tab" href="#businessProfile" role="presentation">Unternehmensprofil</a></li>
        <li><a data-toggle="tab" href="#creditScore" role="presentation">Bonität</a></li>
        <li><a data-toggle="tab" href="#financials" role="presentation">Finanzkennzahlen</a></li>
    </ul>
    <div class="resp-tabs-container tab-content">
        <div id="companyInfo" class="tab-pane active">

            <div class="container">
                <h3>Unternehmensinformationen</h3>
                <div class="row">
                    <div class="col-xs-6 xs-increase-width">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Firmenname</th>
                                <td>
                                    Bitte <a href="/login">melden Sie sich an</a>, um diese Informationen anzusehen                    </td>
                            </tr>
                            <tr>
                                <th>Branche</th>
                                <td>Dienstleistungen</td>
                            </tr>
                            <tr>
                                <th>Ort</th>
                                <td>Berlin</td>
                            </tr>
                            <tr>
                                <th>Rechtsform</th>
                                <td>GmbH</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-6 xs-increase-width">
                        <table class="table">
                            <tbody>
                            <tr>
                                <th>Gründungsdatum</th>
                                <td>01.10.1990</td>
                            </tr>
                            <tr>
                                <th>Anzahl Mitarbeiter</th>
                                <td>7</td>
                            </tr>
                            <tr>
                                <th>Persönliche Bürgschaft</th>
                                <td class="text-success">Bürgschaft vorhanden <i class="icon-ok"></i></td>
                            </tr>
                            <tr>
                                <th>Kreditzweck</th>
                                <td>Wachstumskapital</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <div id="businessProfile" class="tab-pane">
            Bitte <a href="/login">melden Sie sich an</a>, um diese Informationen anzusehen

        </div>
        <div id="creditScore" class="tab-pane">

            Bitte <a href="/login">melden Sie sich an</a>, um diese Informationen anzusehen

        </div>
        <div id="financials" class="tab-pane">

            Bitte <a href="/login">melden Sie sich an</a>, um diese Informationen anzusehen

        </div>
    </div>
</div>
