<footer>
    <div class="container">
        <div class="row">
            <div class="hidden-xs col-sm-12 text-center logo-wrapper">
                <img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/logo-negative.png" alt="Zencap">
                <span> Geld mit Unternehmergeist</span>
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center logo-wrapper">
                <img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/logo-negative.png" alt="Zencap">
            </div>
            <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center logo-wrapper">
                <span> Geld mit Unternehmergeist</span>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center icon-social-media">
                <a target="_blank" href="">
                    <span>
                        <i class="icon-facebook-sign"></i>
                    </span>
                </a>
                <a target="_blank" href="">
                     <span>
                        <i class="icon-linkedin"></i>
                     </span>
                </a>
                <a target="_blank" href="">
                     <span>
                        <i class="icon-google-plus"></i>
                     </span>
                </a>
                <a target="_blank" href="">
                     <span>
                        <i class="icon-twitter-sign"></i>
                     </span>
                </a>
            </div>
        </div>

        <div class="row hidden-xs">
            <div class="col-sm-3">
                <strong>Unternehmen</strong>
                <ul class="list-unstyled">
                    <li><a href="/unternehmen-erste-schritte-31.html">Erste Schritte</a></li>
                    <li><a href="/unternehmen-kosten-kriterien-21.html">Kosten &amp; Kriterien</a></li>
                    <li><a href="/nutzungsbedingungen-kreditnehmer-111.html">AGB</a></li>
                    <li><a href="/unternehmen-hilfe-16.html">Häufige Fragen</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <strong>Investoren</strong>
                <ul class="list-unstyled">
                    <li><a href="/investoren-erste-schritte-5.html">Erste Schritte</a></li>
                    <li><a href="/darlehen-anfrage/index">Aktuelle Kreditprojekte</a></li>
                    <li><a href="/anleger-renditen-gebuehren-22.html">Renditen &amp; Gebühren</a></li>
                    <li><a href="/konto-optionen-28.html">Account-Optionen</a></li>
                    <li><a href="/nutzungsbedingungen-32.html">AGB</a></li>
                    <li><a href="/anleger-hilfe-17.html">Häufige Fragen</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <strong>Zencap</strong>
                <ul class="list-unstyled">
                    <li><a href="/wie-es-funktioniert-18.html">Wie es funktioniert</a></li>
                    <li><a href="/partner-programm-91.html">Partnerprogramm</a></li>
                    <li><a href="/presse-36.html">Presse</a></li>
                    <li><a href="/blog/-79.html">Blog</a></li>
                    <li><a href="/ueber-uns-13.html">Über uns</a></li>
                    <li><a href="/career-107.html">Jobs</a></li>
                    <li><a href="/hilfe-23.html">Häufige Fragen</a></li>
                </ul>
            </div>
            <div class="col-sm-3">
                <strong>Zencap International</strong><br>
                <ul class="list-unstyled">
                    <li><img alt="Deutschland" src="https://d1x3gb5zl465n8.cloudfront.net/global/icons/ger.png">&nbsp;&nbsp;zencap.DE</li>
                    <li><a href="https://www.zencap.es/"><img alt="España" src="https://d1x3gb5zl465n8.cloudfront.net/global/icons/es.png">&nbsp;&nbsp;zencap.ES</a></li>
                    <li><a href="https://www.zencap.nl/"><img alt="Niederland" src="https://d1x3gb5zl465n8.cloudfront.net/global/icons/nl.png">&nbsp;&nbsp;zencap.NL</a></li>
                </ul>
            </div>
        </div>

        <div class="desp-48 hidden-xs"></div>

        <div class="row hidden-xs">
            <div class="col-sm-3">
                <a target="_blank" href="http://www.imittelstand.de/innovationspreis-it/2014">
                    <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/de/home/footer/mittelstand_logo.png">
                </a>
            </div>
            <div class="col-sm-3">
                <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/gestattung-pz-bvmw.pdf">
                    <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/de/home/footer/bvmw_logo.png">
                </a>
            </div>
            <div class="col-sm-3">
                <a target="_blank" href="http://www.deutsche-kreditmarktplaetze.de/" style="padding:0 25px">
                    <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/de/home/footer/140805-deutsche-kreditmarktplaetze-logo-G-DE.png">
                </a>
            </div>
            <div class="col-sm-3">
                <span title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications."></span>
 {#<script type="text/javascript" src="https://seal.verisign.com/getseal?host_name=www.zencap.de&amp;size=M&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=de"></script>#}
            </div>
        </div>

        <div class="desp-48 hidden-xs"></div>

        <div class="row">
            <div class="col-xs-12 text-center copyright">
                <span>&copy; 2015 Zencap Deutschland GmbH. Alle Rechte vorbehalten.</span>
                <a href="/kontakt-14.html">Kontakt</a>
                <a href="/privacy-33.html">Datenschutzerklärung</a>
                <a href="/impressum-15.html">Impressum</a>
            </div>
        </div>
    </div>
</footer>