.alert {
    border: 0;
    border-radius: 0;
    margin-bottom: 24px;
    padding: 20px;
    position: relative;

    .message {
        margin-left: 40px;
    }
}

.alert-ico i {
    font-size: 48px;
    line-height: 48px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.alert-danger,
.alert-error {
    background-color: #fdedeb;
    color: #e74c3c;
    border-color: #fdedeb;
}

.alert-warning {
    color: #c09853;
    background: #fcf8e3;
}

.alert-info {
    color: @brandColor3;
    border-color: #d9edf7;
}

.text-danger {
    color: @errorText;
}
