// General rules
i {
    font-family: "Lend-Ico";
    font-style: normal;
    font-weight: 400;
    vertical-align: middle;
}

h1 i, h2 i, h3 i {
    font-size: @baseFontSize;
}

// Icons dimensions & color

.fa-large {
    font-size: 20px;
}

.fa-medium {
    font-size: @headingsFontSizeH3;
}

.fa-small {
    font-size: 15px;
}

.fa-white {
    color: @white;
}

// Icon tooltip

.fa-question-circle, .fa-globe {
    font-size: @headingsFontSizeH4;
    &:hover {
        opacity: 1;
        color: #2682bf;
    }
}

// Icons footer

.icon-social-media {
    padding: 24px 0 48px 0;

    span {
        display: inline-block;
        margin-right: 5px;
        background: #ccc;
        border-radius: 50%;
        height: 30px;
        width: 30px;

        &:hover {
            background: @white;
        }
    }

    i {
        font-size: @headingsFontSizeH3;
        font-family: "FontAwesome";
        line-height: 30px;
        color: @footerBackground;
        font-style: normal;
    }
}

.icon-linkedin:before {
    content: "\f0e1";
}

.icon-google-plus:before {
    content: "\f0d5";
}

.icon-facebook-sign:before {
    content: "\f09a";
}

.icon-twitter-sign:before {
    content: "\f099";
}

/* end Icons footer */


// Other icons

.categoryIcon {
    cursor: default;
    font-family: "Zend-Ico";
    font-size: 133%;
    font-style: normal;
}

.fa-remove:before {
    content: "\f00d";
}
