// General rules
i {
    font-family: "Lend-Ico";
    font-style: normal;
    font-weight: 400;
    /*vertical-align: middle;*/
}

h1 i, h2 i, h3 i {
    font-size: @baseFontSize;
}

// Icons dimensions & color

.fa-large {
    font-size: 20px;
}

.fa-medium {
    font-size: @headingsFontSizeH3;
}

.fa-small {
    font-size: 15px;
}

.fa-white {
    color: @white;
}

// Icon tooltip

.fa-question-circle, .fa-globe {
    font-size: @headingsFontSizeH5;
    opacity: 0.5;
    &:hover {
        opacity: 1;
        color: #2682bf;
    }
}

// Icon accordion

.fa-minus-square, .fa-plus-square {
    opacity: 0.5;
    &:hover {
        opacity: 1;
    }
}

// Icons footer

.icon-social-media {
    padding: 24px 0 48px 0;

    span {
        display: inline-block;
        margin-right: 5px;
        background: #ccc;
        border-radius: 50%;
        height: 30px;
        width: 30px;

        &:hover {
            background: @white;
        }
    }

    i {
        font-size: @headingsFontSizeH3;
        font-family: "FontAwesome";
        line-height: 30px;
        color: @footerBackground;
        font-style: normal;
    }
}

.icon-linkedin:before {
    content: "\f0e1";
}

.icon-google-plus:before {
    content: "\f0d5";
}

.icon-facebook-sign:before {
    content: "\f09a";
}

.icon-twitter-sign:before {
    content: "\f099";
}

/* end Icons footer */


// Other icons

.categoryIcon {
    cursor: default;
    font-family: "Zend-Ico";
    font-size: 133%;
    font-style: normal;
}


/* Animated rotating icon */
.icon-spin {
    display: inline-block;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}

/* Prevent stack and spinners from being taken inline when inside a link */
a .icon-spin {
    display: inline-block;
    text-decoration: none;
}

@-moz-keyframes spin {
    0% { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
    0% { -o-transform: rotate(0deg); }
    100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
    0% { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
}