body {
    font-family: @sansFontFamily;
    color: @brandColor3;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    background: #fff;
}

.container {
    .row {
        position: relative;
    }
}

.container-wrapper {
    &.odd {
        background-color: @baseBackground;
    }
}

.odd {
    background-color: @baseBackground;
}

// Container widths

//sm
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 100%;
    }
}

//md onwards
@media (min-width: 992px) {
    .container {
        width: 940px;
        padding-right: 0;
        padding-left: 0;
    }
}

// use instead of .container-wrapper > .container => padding: 48px 0;
.spacing {
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}

@media (min-width: 320px) and (max-width: 767px) {
    .spacing {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .spacing {
        padding-top: 24px !important;
        padding-bottom: 24px !important;
    }
}

// special cases when you need smaller negative margin just for mobile and tablet (ex. tables)
@media (min-width: 320px) and (max-width: 991px) {
    .custom-row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

// mobile and tablet
@media (min-width: 320px) and (max-width: 991px) {
    .cancel-padding {
        padding-left: 0;
        padding-right: 0;
    }
}

// tablet
@media (min-width: 768px) and (max-width: 991px) {
    .cancel-padding-left {
        padding-left: 0;
    }

    .cancel-padding-right {
        padding-right: 0;
    }
}

// mobile
@media (min-width: 320px) and (max-width: 767px) {
    .xs-padding {
        padding-left: 0;
        padding-right: 0;
    }
}



// tablet and desktop
@media (min-width: 768px)  {
    .xs-row {
        margin-left: 0;
        margin-right: 0;
    }
}

// mobile and tablet
@media (max-width: 991px) {
    .move-block {
        padding: 0 15px;
    }
}

// text-center only on mobile
@media (min-width: 320px) and (max-width: 767px) {
    .xs-text-center {
        text-align: center;
    }
}

// pull right only on mobile
@media (max-width: 767px) {
    .xs-pull-right {
        float: right;
    }
}

// USE FOR PADDING PURPOSES

.padding-box {
    padding: @gridGutterWidth;
}

.desp-5 {
    clear: both;
    height: 5px;
    line-height: 0;
    overflow: hidden;
}

.desp-10 {
    clear: both;
    height: 10px;
    line-height: 0;
    overflow: hidden;
}

.desp-15 {
    clear: both;
    height: 15px;
    line-height: 0;
    overflow: hidden;
}

.desp-20 {
    clear: both;
    height: 20px;
    line-height: 0;
    overflow: hidden;
}

.desp-24 {
    clear: both;
    height: 24px;
    line-height: 0;
    overflow: hidden;
}

.desp-25 {
    clear: both;
    height: 25px;
    line-height: 0;
    overflow: hidden;
}

.desp-30 {
    clear: both;
    height: 30px;
    line-height: 0;
    overflow: hidden;
}

.desp-40 {
    clear: both;
    height: 40px;
    line-height: 0;
    overflow: hidden;
}

.desp-48 {
    clear: both;
    height: 48px;
    line-height: 0;
    overflow: hidden;
}

.desp-51 {
    clear: both;
    height: 51px;
    line-height: 0;
    overflow: hidden;
}

.desp-60 {
    clear: both;
    height: 60px;
    line-height: 0;
    overflow: hidden;
}