body {
    padding-top: 68px;
    font-family: @sansFontFamily;
    color: @brandColor3;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
    background: #fff;
}

.container {

    .row {
        position: relative;
    }

}

.container-wrapper {

    &.odd {
        background-color: @baseBackground;

    }

    > .container {
        padding: @verticalRhythm 0;
    }

}

// USE FOR PADDING PURPOSES

.padding-box {
    padding: @gridGutterWidth;
}

// I added the tags below

.desp-5 {
    clear: both;
    height: 5px;
    line-height: 0;
    overflow: hidden;
}

.desp-10 {
    clear: both;
    height: 10px;
    line-height: 0;
    overflow: hidden;
}

.desp-15 {
    clear: both;
    height: 15px;
    line-height: 0;
    overflow: hidden;
}

.desp-20 {
    clear: both;
    height: 20px;
    line-height: 0;
    overflow: hidden;
}

.desp-48 {
    clear: both;
    height: 48px;
    line-height: 0;
    overflow: hidden;
}