.last-of-type-margin-bottom {
  &:last-child {
    margin-bottom: 0;
  }
}

// styles links with the corresponding color, eg. borrower or investor
.link-color(@linkColor) {
  color: @linkColor;

  &:hover {
    color: lighten(@linkColor, 10%);
  }
}

.border-radius(@radius) {
    border-top-left-radius: @radius;
    border-top-right-radius: @radius;
    border-bottom-right-radius: @radius;
    border-bottom-left-radius: @radius;
}

