//
// Modals
// --------------------------------------------------


.modal {
    padding-top: 27px;
}

.modal-header {
    background-color: @brandColor4;

    h3 {
        color: @white;
    }

    .close {
        color: @white;
    }

}

.modal-footer {
    background-color: #edf0f2;
    border-top: 0;
    padding: 20px;
}