//
// Modals
// --------------------------------------------------


.modal {
    padding-top: 27px;
}

.modal-header {
    background-color: @brandColor4;

    .close:hover, .close:focus {
        opacity: 0.4;
        color: @white;
    }
}

.modal-footer {
    background-color: @brandColor7;
    border-top: 0;
    padding: 20px;
}

.modal-open .modal {
    z-index: 3000;
}