//
// Progress bars
// --------------------------------------------------

// my style
.custom-progress {
    height: @baseLineHeight * 2;
    background-color: #bbd0ef;
    margin-bottom: 0;
    max-width: 80%;
    margin-left: 11%;
}

.loan-progress {
    max-width: 60%;
}

.custom-table {
    .grade-small {
        margin-left: 0;
        height: @baseLineHeight * 2;
        vertical-align: middle;
        margin-right: 5px;
    }
}

.progress-bar {
    font-size: 11px;
    /*text-wrap: none;*/
    height: 40px;
    line-height: 40px;
}