/*
 * Progress bars
 * --------------------------------------------------
 */

// progress bar styled for small devices

.custom-progress {
    height: @baseLineHeight * 2;
    background-color: #bbd0ef;
    margin-bottom: 0;
    max-width: 80%;
    margin-left: 11%;

    .progress-bar {
        font-size: 11px;
        /*text-wrap: none;*/
        height: 40px;
        line-height: 40px;
    }
}

.hidden-md.hidden-lg.sm-width {
    padding-top: 0;
    padding-bottom: 0;
    .progress {
        border-radius: 0;
    }
    .custom-progress {
        height: 50px;
        .progress-bar {
            height: 50px;
            line-height: 50px;
        }
    }
}


// progress bar styled for large devices

.default-progress {
    &.progress {
        width: 40px;
        margin: 5px 6px 0 0;
        height: 10px;
    }
}

.loan-progress {
    max-width: 60%;
}


