.borrower {
    .ui-slider {
        background: lighten(@borrower, 20%);
        border: 0 none;
        margin-top: 11px;

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            box-shadow: 0 0 0 4px rgba(0, 0, 0, .3);
            background-image: linear-gradient(#fff, #fff 25%, #e6e6e6);
            border: 1px solid #ccc;
            font-size: 13px;
        }

        .ui-corner-all {
            .border-radius(@borderRadiusLarge * 2);
        }

        .ui-slider-handle {
            .border-radius(@borderRadiusLarge * 2);
            width: 1.4em !important;
            height: 1.4em !important;
        }

        .ui-slider-range {
            display: none;
        }
    }
}


/* UI slider */
.ui-slider-range {
    border: 0 none;
    background-color: #e67a2e;
    background-image: -moz-linear-gradient(center top, #c96118 30%, #e67a2e 31%);
    background-repeat: repeat-x;
}

.ui-corner-all {
    border-radius: 15px;
    outline: medium none !important;
}

.text-slides {
    color: #5c6266 !important;
    font-size: 12px;
    line-height: 20px;
    border: 0;
    padding-top: 25px;
}
