//
// Tables
// --------------------------------------------------

// BASE TABLES
// -----------------

table {

}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-bottom: none;
    border-top: 1px solid @baseBackground;
}

@media (min-width: 320px) and (max-width: 767px) {
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        font-size: 13px;
    }
}


.table tbody + tbody {
    border-top: 2px solid @brandColor7;
}


// BASELINE STYLES
// ---------------

.table {
    width: 100%;
    margin-bottom: @gridGutterWidth;

    caption {
        color: @headingsColor;
        font-size: @headingsFontSizeH3;
        font-weight: @headingsFontWeightBold;
        height: @verticalRhythm - 10;
    }

    // Cells
    th,
    td {
        padding: @paddingBaseVertical @paddingBaseHorizontal;
    }

    th {
        background-color: @baseBackground;
        font-weight: @baseFontWeightBold;
    }

    // Bottom align for column headings
    thead {
        font-size: @fontSizeSmall;
        font-weight: @baseFontWeightBold;

        th {
            white-space: nowrap;

            a {

                i {

                    &.next {
                        visibility: hidden;
                        opacity: .3;
                        filter: alpha(opacity=30);
                    }
                }
            }
        }

        td {

        }

    }
}

/* adjust padding for mobile and tablet */
@media (min-width: 320px) and (max-width: 991px) {
    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 8px 15px;
    }
}