{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}


{% block body %}

<div class="container padding-48">

    <div class="row">
        <div class="hidden-xs hidden-sm col-md-9 col-lg-9">
            <h1>Anleger-Dashboard</h1>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
            <a href="{{ path('invest') }}" class="btn btn-lg btn-nvstr btn-block pull-right">Jetzt anlegen</a>
        </div>
    </div>

    <div class="desp-20 hidden-sm hidden-md hidden-lg"></div>

    <div class="dash">

        {% include '_partials/lender/investmentPanels.html.twig' %}

    </div><!-- end .hidden-xs -->

    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6">
            <div class="desp-20 hidden-md hidden-lg"></div>
            <h2>Die Zencap-Klassen</h2>
        </div>
        <div class="hidden-xs hidden-sm col-md-6 col-lg-6">

            <h2>Aktuelle Kreditprojekte</h2>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#popular" role="presentation">Beliebt</a></li>
                <li><a data-toggle="tab" href="#last-chance" role="presentation">Letzte Gelegenheit</a></li>
                <li><a data-toggle="tab" href="#new" role="presentation">Neu</a></li>
            </ul>

            <div class="desp-20"></div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="popular">
                    {% include '_partials/lender/dashboardPromoTabs.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="last-chance">
                    {#{% include '_partials/lender/dashboardPromoTabs.html.twig' %}#}
                    LOREM IPSUM
                </div>
                <div role="tabpanel" class="tab-pane" id="new">
                    {% include '_partials/lender/dashboardPromoTabs.html.twig' %}
                </div>
            </div><!-- .tab-content -->

            <div class="text-right">
                <a href="">Alle zeigen</a>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <hr>
            <p>
                <small>
                    <sup>1</sup>Zencap übernimmt keine Garantie dafür, dass die ausgewiesenen ausstehenden Tilgungen und erwarteten Rückzahlungen tatsächlich beglichen werden. Ebenso ist der ausgewiesene fällige Zins kein Zahlungsversprechen seitens Zencap. Trotz sorgfältiger Prüfung der Kreditnehmer und professionellem Forderungsmanagement kann es sein, dass einzelne Kreditnehmer ihren Zahlungsverpflichtungen nicht nachkommen. Im schlimmsten Fall kann es zu einem Totalverlust des investierten Kapitals kommen. Um Ihr Risiko zu reduzieren, raten wir dazu, Ihre Gesamt-Anlage auf verschiedene Kreditprojekte zu verteilen.
                </small>
            </p>
        </div>
    </div>


</div>

{% endblock body %}

{% block js %}
    {{ parent() }}

    <script>
     $(function(){

         // activate tabs
         $('[data-toggle="tab"]').click(function (e) {
             e.preventDefault();
             $(this).tab('show');
         });

         // activate accordion
         $('.collapse').collapse({
             'toggle': false
         });
     });

    </script>
{% endblock %}

