{% extends 'layout.html.twig' %}

{% block body %}

{% include '_partials/headers/account-header.html.twig' %}


<div class="container padding-48">

    <div class="row">
        <div class="col-md-10 col-lg-9">
            <h1>Anleger-Dashboard</h1>
        </div>
        <div class="col-md-2 col-lg-3">
            <a href="" class="btn btn-lg btn-nvstr btn-block pull-right">Jetzt anlegen</a>
        </div>
    </div>

    <!-- Panels visible for tablets, desktop (hidden for mobile) -->
    <div class="hidden-xs visible-sm visible-md visible-lg dash">

        {% include '_partials/lender/investmentPanels.html.twig' %}

    </div><!-- end .hidden-xs -->

    <!-- Panels visible for mobile (hidden for tablets, desktop) -->

    <div class="visible-xs hidden-sm hidden-md hidden-lg dash">

        {% include '_partials/lender/investmentPanelsMobile.html.twig' %}

    </div><!-- end .visible-xs -->

    <div class="row">
        <div class="hidden-xs col-sm-12 col-md-6 col-lg-6">
            <h2>Die Zencap-Klassen</h2>
        </div>
        <div class="hidden-xs col-sm-12 col-md-6 col-lg-6">

            <h2>Aktuelle Kreditprojekte</h2>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#popular" role="presentation">Beliebt</a></li>
                <li><a data-toggle="tab" href="#last-chance" role="presentation">Letzte Gelegenheit</a></li>
                <li><a data-toggle="tab" href="#new" role="presentation">Neu</a></li>
            </ul>

            <div class="desp-20"></div>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="popular">
                    {% include '_partials/lender/dashboardPromoTabs.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="last-chance">
                    {#{% include '_partials/lender/dashboardPromoTabs.html.twig' %}#}
                    Lorem ipsum
                </div>
                <div role="tabpanel" class="tab-pane" id="new">
                    {% include '_partials/lender/dashboardPromoTabs.html.twig' %}
                </div>
            </div><!-- .tab-content -->

            <div class="text-right">
                <a href="">Alle zeigen</a>
            </div>

        </div>
    </div>


</div>

{% endblock body %}

{% block js %}
    {{ parent() }}

    <script>
     $(function(){
         // activate tooltip
        $('[data-toggle="tooltip"]').tooltip();

         // activate tabs
         $('[data-toggle="tab"]').click(function (e) {
             e.preventDefault();
             $(this).tab('show');
         });

         // activate accordion
         $('.collapse').collapse({
             'toggle': false
         });
     });

    </script>
{% endblock %}

