{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

<div class="spacing">

    <div class="container">

        <div class="row hidden-xs hidden-sm visible-md visible-lg">
            <div class="col-xs-12">
                <ol class="lender_complete_steps list-inline">
                    <li class="step1 active col-xs-6 faux-h3"><span class="badge">1</span>Eingabe der persönlichen Daten</li>
                    <li class="step2 col-xs-6 faux-h3"><span class="badge">2</span>Bestätigung der Gebote</li>
                </ol>
                <hr/>
            </div>
        </div><!-- end .row -->

        <div class="desp-48 hidden-xs hidden-sm visible-md visible-lg"></div>

        <div class="row return">
            <div class="col-xs-12">
                <span class="faux-h1 pull-left">
                    <a href="{{ path('lender_checkout') }}" class="hidden-md hidden-lg"><i class="fa fa-lg fa-caret-left"></i></a>
                </span>
                <h1 class="pull-left">Gebotsübersicht</h1>
            </div>
        </div><!-- end .row -->

        <div class="row spacing cartDetails">
            <div class="cancel-padding">
                <div class="col-xs-4 col-md-3">
                    <p>100000 €</p>
                    <small>Gesamtbetrag</small>
                </div>

                <div class="col-xs-4 col-md-3 text-center">
                    <p>1</p>
                    <small>Anzahl</small>
                </div>

                <div class="col-xs-4 col-md-3 lending-rate">
                    <p>16,23%</p>
                    <small>Zinssatz</small>
                </div>

                <div class="hidden-xs hidden-sm col-md-3">
                    <a class="btn btn-lg btn-white btn-block" href="{{ path('invest') }}">
                        <i class="fa fa-edit"></i> Gebote ändern
                    </a>
                </div>
            </div>
        </div><!-- end .row -->

        <div class="desp-20"></div>

        <div class="row">
            <div class="col-xs-12">
                <p>Sie möchten zum ersten Mal auf Zencap ein Gebot abgeben. Bitte füllen Sie zuvor das untenstehende Formular zu Ihrer Person und den Zahlungsdaten aus. Im nächsten Schritt können Sie Ihre Gebote nochmals überprüfen und bestätigen.</p>
            </div>
        </div><!-- end .row -->

    </div><!-- end .container -->

    {% include '_partials/lender/lender_complete_form.html.twig' %}

</div><!-- end .spacing -->

{% endblock body %}