{% extends 'layout.html.twig' %}

{% block body %}

<div class="container spacing">

    <div class="row">
        <h1 class="hidden-xs hidden-sm col-md-12 col-lg-12">{{ 'Aktuelle Kreditprojekte' }}</h1>
    </div>

        {% include '_partials/lender/offcanvasSliders.html.twig' %}

        <div class="row">
            <div class="hidden-xs hidden-sm col-md-12">
                <hr />
            </div>
        </div><!-- end .row -->

        <div class="row">
            <div class="hidden-xs hidden-sm col-md-9"><strong>1-29 von 29 Kredite</strong></div>
            <div class="hidden-xs hidden-sm col-md-3">
                <form action="">
                    <div class="input-search">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Suchen" class="form-control" name="search" value="">
                    </div>
                </form>
            </div>
        </div><!-- end .row -->

        <div class="hidden-xs hidden-sm desp-20"></div>

        <div class="row">
            <div class="col-xs-12 cancel-padding">
                <table class="table custom-table">
                    {% include '_partials/tables/loanProjectsTable.html.twig' %}
                </table>
            </div>
        </div><!-- end .row -->

</div><!-- end .container -->

{% endblock %}

 {% block js %}
     {{ parent() }}

     <script>

        /* bid button */
         function show_button(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
         }

         function show_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         function show_completed_form(item, inputValue) {
             item.children('.bid-value').children('span').html(inputValue);
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').removeClass('hidden');
             item.children('.invest').addClass('hidden');
             // should have an ajax call to a script to add in sessoin or in db
         }

         function remove_form(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
             item.children('.bid-form').children('.inp-value').val('');
         }

         function edit_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         $(function(){
             $('.invest input').click(function(){
                 var item = $(this).parent().parent();
                 show_form(item);
             });
             $('.bid-form .place-bid').click(function(){
                 var item = $(this).parent().parent();
                 var inputValue = $(this).parent().children('.inp-value').val();
                 if ( inputValue == '' || inputValue == undefined ) {
                     show_button(item);
                     return;
                 }
                 show_completed_form(item, inputValue);
             });
             $('.bid-value .remove').click(function(){
                 var item = $(this).parent().parent();
                 remove_form(item);
             });
             $('.bid-value .edit').click(function(){
                 var item = $(this).parent().parent();
                 edit_form(item);
             });

            /* $('#filter-btn').click(function(){
                 var alfa = $('#sidebar-filter').attr('style');
                 if (typeof alfa == 'undefined') {
                     $('#sidebar-filter').fadeOut('slow');
                 } else {
                     if (alfa.match(/none/g)) {
                         $('#sidebar-filter').fadeIn('slow');
                     } else {
                         $('#sidebar-filter').fadeOut('slow');
                     }
                 }
             });*/

             /*$('#filter-btn').click(function(e) {
                 e.preventDefault();
                 var elem = $('#sidebar-filter');
                 if ( elem.hasClass('active') ) {
                     elem.removeClass('active');
                     $('#sidebar-filter').slideDown('slow');
                     //$('#dark-overlay').addClass('hidden');
                 } else {
                     elem.addClass('active');
                     //$('#dark-overlay').height($(document).height());
                     //$('#dark-overlay').removeClass('hidden');
                 }
                 $('#filter-close').on('click',function(e){
                     e.preventDefault();
                     elem.removeClass('active');
                 });
             });*/

             $('#filter-btn').click(function(e) {
                 e.preventDefault();
                 var elem = $('#sidebar-filter');
                 $('#sidebar-filter').slideToggle('slow');
                 $('#filter-close').on('click',function(e){
                     e.preventDefault();
                     elem.hide();
                 });
             });


         });

        /* end bid button */

     </script>

 {% endblock %}