{% extends 'layout.html.twig' %}

{% block body %}

<div class="container spacing">

    <div class="row">
        <h1 class="hidden-xs hidden-sm col-md-12 col-lg-12">{{ 'Aktuelle Kreditprojekte' }}</h1>
    </div>

    <div class="row row-offcanvas row-offcanvas-right">

        {% include '_partials/lender/offcanvasSliders.html.twig' %}

        <div class="row">
            <div class="hidden-xs hidden-sm col-md-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="hidden-xs hidden-sm col-md-9"><strong>1-29 von 29 Kredite</strong></div>
            <div class="hidden-xs hidden-sm col-md-3">
                <form action="">
                    <div class="input-search">
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Suchen" class="form-control" name="search" value="">
                    </div>
                </form>
            </div>
        </div>

        <div class="hidden-xs desp-20"></div>

        <table class="table custom-table">
            {% include '_partials/tables/loanProjectsTable.html.twig' %}
        </table>

    </div>

</div><!-- end .container -->

{% endblock %}

 {% block js %}
     {{ parent() }}

     <script>

        /* bid button */
         function show_button(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
         }

         function show_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         function show_completed_form(item, inputValue) {
             item.children('.bid-value').children('span').html(inputValue);
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').removeClass('hidden');
             item.children('.invest').addClass('hidden');
             // should have an ajax call to a script to add in sessoin or in db
         }

         function remove_form(item) {
             item.children('.bid-form').addClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').removeClass('hidden');
             item.children('.bid-form').children('.inp-value').val('');
         }

         function edit_form(item) {
             item.children('.bid-form').removeClass('hidden');
             item.children('.bid-value').addClass('hidden');
             item.children('.invest').addClass('hidden');
         }

         $(function(){
             $('.invest input').click(function(){
                 var item = $(this).parent().parent();
                 show_form(item);
             });
             $('.bid-form .place-bid').click(function(){
                 var item = $(this).parent().parent();
                 var inputValue = $(this).parent().children('.inp-value').val();
                 if ( inputValue == '' || inputValue == undefined ) {
                     show_button(item);
                     return;
                 }
                 show_completed_form(item, inputValue);
             });
             $('.bid-value .remove').click(function(){
                 var item = $(this).parent().parent();
                 remove_form(item);
             });
             $('.bid-value .edit').click(function(){
                 var item = $(this).parent().parent();
                 edit_form(item);
             });
         });

        /* end bid button */

     </script>

 {% endblock %}