{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

    <div class="container spacing">

        <div class="row">
            <div class="col-xs-12">
                CMS block: referral investor top
            </div>
        </div><!-- end .row -->

        <div class="row">
            <div class="col-xs-12">
                <p id="referrer_code_investor">jk3K09</p>
            </div>
        </div><!-- end .row -->

        <div class="row">
            <div class="col-xs-12">
                CMS block: referral investor bottom
            </div>
        </div><!-- end .row -->


    </div><!-- end .container -->

{% endblock %}