{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <div class="row">
        <div class="col-xs-12">
            <h1>My Profile</h1>
            CMS block: investor profile info
        </div>
    </div><!-- end .row -->

    <form action="" method="post" role="form" class="form-register" id="lender_edit">
        <div class="row">
            <div class="col-xs-12 col-sm-8">
                {% include '_partials/lender/user_edit_details_investor_form.html.twig' %}
            </div>
            <div class="hidden-xs col-sm-4">
                CMS block: investor profile sidebar
            </div>
        </div><!-- end .row -->
    </form>

</div><!-- end .container -->

{% endblock %}