{% extends 'layout.html.twig' %}

{% block body %}
    <div class="cms-page about-us about-us_nl">
        <div class="container-wrapper header-top">
            <div class="container spacing">
                <h1 class="text-center text-white">Over Zencap</h1>
            </div>
        </div>
        <div class="container-wrapper vision">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">De online marktplaats voor innovatieve financiering voor kleine en middelgrote bedrijven</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p>Wie succesvol zaken wil doen, heeft iemand nodig die in hem gelooft en hem de nodige middelen ter beschikking stelt. Wie zijn geld wil investeren, heeft zakelijke ideeën nodig die kansrijk zijn en de moeite waard zijn om in te investeren. Kortom: ondernemers hebben investeerders nodig, en investeerders hebben bedrijven nodig. Niemand heeft daar een bank bij nodig. Alleen een veilige plek waarop je elkaar kunt ontmoeten om ideeën en middelen uit te wisselen. Een marktplaats. Of nog minder ingewikkeld: een online marktplaats. Dat is Zencap.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>Zencap gaat terug naar de roots van het bankwezen - zonder zelf een bank te zijn. De roots, dat is financiering als ruilhandel. Hier de behoefte van een bedrijf, daar de passende middelen. Twee partijen. Eén plaats. Bedrijven en investeerders ontmoeten elkaar bij Zencap.
                        </p>
                        <p>Financieren en investeren bij Zencap: eenvoudig, veilig en flexibel. Zencap. Geld met een ondernemersgeest.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper odd">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Country Manager Nederland</h2>
                <h3> Jeroen Broekema</h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <p>Jeroen Broekema is country manager bij Zencap. Hij is - samen met zijn team - verantwoordelijk voor de Nederlandse
                            markt. Vóór Zencap werkte hij zeven jaar bij ABN AMRO in diverse functies (commercieel, risk en management - altijd gerelateerd aan het MKB) - meest recentelijk als Financieel Herstructureerder.</p>
                        <p>Jeroen heeft een master in Bestuurskunde van de Universiteit Leiden en een master in Global Politics van de London School of Economics.</p>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                        <div class="pull-right hidden-xs col-sm-4">
                            <img class="img-circle img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/jeroen6.jpg">
                        </div>
                        <p>Hij heeft diverse certificaten van Nederlands Instituut voor Financiële Dienstverlening (NIBE SVV), met speciale focus op MKB financieringen en financiële analyse. Recentelijk nam hij deel aan de postacademische opleiding insolventierecht voor banken aan de Radboud Universiteit Nijmegen.</p>
                        <p>Jeroen is doordrongen van het feit hoe sterk het Nederlandse MKB geraakt is door de financiële crisis, mede vanwege onvoldoende toegang tot financiering. Hij ziet veel mogelijkheden bij Zencap om dit tekort op te lossen!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}