{% extends 'layout.html.twig' %}

{% block body %}

    <style>

        /* ==========================================================================
        Affiliate
        ========================================================================== */

        .bkg-program {
            background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/bg2-2.jpg);
            background-repeat: no-repeat;
            background-position: right 50%;
            height: 240px;
            background-size: cover;
        }

        /*  background height on tablet */
        @media (min-width: 768px) and (max-width: 991px) {
            .bkg-program {
                height: 190px;
            }
        }

        .table-earnings td {
            padding: 15px 10px 10px 0;
        }

        .table-earnings tr {
            border-bottom: 1px solid #dee1e3;
        }

        .table-earnings tr:last-child {
            border-bottom: 0;
        }

        .affiliate-benefits .styled li {
            line-height: 1.5em;
        }

        /* background on desktop */
        @media (min-width: 992px) {
            .investor-earning {
                background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/affiliate-borrower-bg3.jpg);
                background-repeat: no-repeat;
                background-position: bottom;
            }
        }

        /* background on desktop */
        @media (min-width: 992px) {
            .brrwr-earning {
                background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/affiliate-investor-bg3.jpg);
                background-repeat: no-repeat;
                background-position: bottom;
            }
        }

        .faq-affiliate .accordion-group {
            border-bottom: 1px solid #fff;
        }

        .faq-affiliate .accordion-group:last-child {
            border-bottom: 0;
        }

        .faq-affiliate .accordion-heading {
            margin: 15px 0;
        }

        .faq-affiliate .accordion-inner {
            padding: 20px 0;
        }

    </style>

<div class="cms-page borrower">

    <div class="container-wrapper">
        <div class="container spacing">
            <h1 class="text-center">Zencap Affiliate Programma</h1>
            <div>Zencap brengt investeerders met kleine en middelgrote bedrijven rechtstreeks bij elkaar. Als een innovatief alternatief voor bankleningen, bieden wij aantrekkelijk rendement voor investeerders en financiering onder eerlijke voorwaarden voor leners.</div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper bkg-program hidden-xs"> </div>

    <div class="container-wrapper odd affiliate-benefits">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Voordelen Programma</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2">
                    <ul class="styled odd">
                        <li>Aantrekkelijke lead commissie</li>
                        <li>Royaal cookietijd</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-6">
                    <ul class="styled odd">
                        <li>Gespreide inkomsten: verdien commissie voor leads in elke fase</li>
                        <li>Snelle en regelmatige lead validatie</li>
                    </ul>
                </div>
            </div>
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-brrwr" href="http://www.financeads.net/nl-nl/publishers/signup/">Registreer nu via FinanceAds</a>
                    <div class="desp-10"></div>
                    <p><a href="http://www.financeads.net/de/netzwerk/partnerprogramm/942/">Direct naar de inlogpagina</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper hidden-xs">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Hoe werkt het</h2>
            <div class="row icons-row">
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/page.png" alt="Kunde besucht Ihre Website">
                    <h3 class="text-center">Klant bezoekt uw website</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"> <img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/click.png" alt="Kunde klickt auf unser Werbemitel">
                    <h3 class="text-center">Klant klikt op onze link</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/pen.png" alt="Kunde meldet sich an">
                    <h3 class="text-center">Klant meldt zich aan</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/euro.png" alt="Auszahlung bei erfolgreicher Kreditanfrage">
                    <h3 class="text-center">Uitbetaling na succesvolle leads</h3>
                </div>
                <div class="desp-20"></div>
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-brrwr" href="http://www.financeads.net/nl-nl/publishers/signup/">Registreer nu via FinanceAds</a>
                    <div class="desp-10"></div>
                    <p><a href="http://www.financeads.net/de/netzwerk/partnerprogramm/942/">Direct naar de inlogpagina</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3 col-md-offset-1"> <img alt="affiliate@zencap.nl" src="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/partner/areke.jpg" class="img-circle img-responsive"> </div>
                <div class="col-xs-8 col-sm-9 col-md-7">
                    <p class="faux-h2">Contact</p>
                    <p>Wij horen graag van u! Voor vragen over samenwerking kunt u contact opnemen met<a href="mailto:affiliate@zencap.nl"> affiliate@zencap.nl</a></p>
                    <p><a href="mailto:affiliate@zencap.nl"><i class="fa fa-envelope-o fa-large"></i>&nbsp;affiliate@zencap.nl</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}