<style>

    .signup-info .styled li {
        padding: 8px 25px 10px;
    }

</style>

<div class="cms-page borrower signup-info">
    <h2 class="faux-h3">Uw voordelen in het kort</h2>
    <ul class="styled check">
        <li>Kredieten tot € 250.000 vanaf 3,99% </li>
        <li>Binnen 48 uur een kredietbesluit</li>
        <li>Geen boete bij vervroegde aflossing</li>
        <li>No cure no pay</li>
        <li>Flexibele termijnen</li>
    </ul>
</div>