{% extends 'layout.html.twig' %}

{% block body %}

    {#<div class="container spacing">
        <h1>Kontakt</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <h2 class="faux-h3">Kreditnehmer-Service</h2>
                <hr>
                <p>
                    Telefon 030 / 2084900 - 11<br>
                    Fax 030 / 2084900 - 10<br>
                    Öffnungszeiten Mo – Fr 9:00 – 18:00 Uhr<br>
                    E-Mail <a href="mailto:unternehmen@zencap.de">unternehmen@zencap.de</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                <h2 class="faux-h3">Investor-Service</h2>
                <hr>
                <p>
                    Telefon 030 / 2084900 - 22<br>
                    Fax 030 / 2084900 - 10<br>
                    Öffnungszeiten Mo – Fr 9:00 – 18:00 Uhr<br>
                    E-Mail <a href="mailto:investor@zencap.de">investor@zencap.de</a>
                </p>
            </div>
        </div>
        </div>
    </div>#}

    <div class="container spacing">
        <h1>Contact</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <h2 class="faux-h3">Lenerservice </h2>
                <hr>
                <p> Telefoon 020 - 80 85 560<br>
                    Openingstijden ma &ndash; vr 9:00 &ndash; 18:00 uur<br>
                    E-mail <a href="mailto:kredietnemer@zencap.nl">kredietnemer@zencap.nl</a> </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                <h2 class="faux-h3">Investeerder-service</h2>
                <hr>
                <p> Telefoon 020 - 80 85 560<br>
                    Openingstijden ma &ndash; vr 9:00 &ndash; 18:00 uur <br>
                    E-mail <a href="mailto:investeerders@zencap.nl">investeerders@zencap.nl</a> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <h2 class="faux-h3">Informatie over Zencap / Perscontact</h2>
                <hr>
                <p> Telefoon 020 - 80 85 560<br>
                    Openingstijden ma &ndash; vr 9:00 &ndash; 18:00 uur <br>
                    E-mail <a href="mailto:mail@zencap.nl">mail@zencap.nl</a> </p>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                <h2 class="faux-h3">Service voor institutionele beleggers</h2>
                <hr>
                <p> Telefoon 020 - 80 85 560<br>
                    Openingstijden ma &ndash; vr 9:00 &ndash; 18:00 uur <br>
                    E-mail <a href="mailto:investeerders@zencap.nl">investeerders@zencap.nl</a> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-5">
                <h2 class="faux-h3">Country Manager</h2>
                <hr>
                <p><strong>Drs. Jeroen Broekema</strong><br>
                    Geregistreerd bij de Kamer van Koophandel onder nummer 61398462</p>

                <p>Email: jeroen.broekema@zencap.nl</p>
                <p>Telefoon: 06-30574150</p>
                <p>Zencap heeft een ontheffing van de Autoriteit Financiële Markten (“AFM”) verkregen voor het bemiddelen in opvorderbare gelden als bedoeld in artikel 4:3 lid 4 van de Wet op het financieel toezicht en is geregistreerd in het crowdfunding-register van de AFM onder nummer 19000029. Zencap oefent niet het bedrijf van bank uit en staat niet onder toezicht van De Nederlandsche Bank.</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-sm-offset-2">
                <h2 class="faux-h3">Adres</h2>
                <hr>
                <p> Zencap Netherlands B.V.<br>
                    Strawinskylaan 3051<br>
                    1077 ZX Amsterdam<br>
                    Nederland</p>
            </div>
        </div>
    </div>
{% endblock body %}