{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page homepage homepage-nl">

    <!-- begins cms block 'il-hp' -->

    <div class="home-inner">
        <div class="container-wrapper main-image">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7">
                        <h1>INNOVATIEVE <br> ZAKELIJKE KREDIETEN </h1>
                        <div class="desp-51 hidden-xs visible-sm hidden-md"></div>
                        <p class="hidden-xs">Zencap is de vernieuwende Nederlandse kredietmarktplaats, <br> waarop bedrijven en investeerders rechtstreeks bij elkaar worden gebracht </p>
                    </div>
                </div>
            </div>
        </div><!-- end .main-image -->

        <!--  Buttons only on mobile -->
        <div class="container-wrapper visible-xs hidden-sm hidden-md hidden-lg special-buttons ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/borrower-getting-started" class="btn btn-block btn-lg btn-brrwr">
                            Bedrijven</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/lender-getting-started" class="btn btn-block btn-lg btn-nvstr ">
                            Nu geld investeren</a>
                    </div>
                </div>
            </div>
        </div><!-- end .special-buttons -->
    </div><!-- end .home-inner -->

    <div class="desp-20 odd visible-xs hidden-sm hidden-md hidden-lg"></div>

    <div class="container-wrapper odd hidden-xs visible-sm visible-md visible-lg tiles">
        <div class="container spacing">
            <div class="row">
                <div class="pull-down">
                    <div class="hidden-xs col-sm-6 col-md-6">
                        <div class="white-box">
                            <div class="desp-20"></div>
                            <div class="col-xs-8 col-xs-offset-2 text-center">
                                <a href="/borrower-getting-started" class="btn btn-lg btn-block btn-brrwr">Bedrijven</a>
                            </div>
                            <div class="borrower">
                                <div class="desp-20"></div>
                                <p class="faux-h3 text-center">Innovatieve zakelijke kredieten</p>
                                <hr/>
                                <ul class="styled">
                                    <li>Kredieten tot € 250.000 vanaf 3,99 %</li>
                                    <li>Betrouwbaarheid: kredietbesluit binnen 48 uur</li>
                                    <li>Geen boete bij vervroegde kredietaflossing</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end .hidden-xs col-sm-6 col-md-6 -->

                    <div class="hidden-xs col-sm-6 col-md-6">
                        <div class="white-box">
                            <div class="desp-20"></div>
                            <div class="col-xs-8 col-xs-offset-2 text-center">
                                <a href="/lender-getting-started" class="btn btn-block btn-lg btn-nvstr">Nu geld investeren</a>
                            </div>
                            <div class="investor">
                                <div class="desp-20"></div>
                                <p class="faux-h3 text-center">Nieuwe investeringscategorie</p>
                                <hr/>
                                <ul class="styled">
                                    <li>Aantrekkelijk rendement van geschat gem. 5,58 % p.j.</li>
                                    <li>Kredietanalyse volgens de hoogste bankstandaarden</li>
                                    <li>Hoge liquiditeit door maandelijkse aflossingen</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .tiles -->

    <div class="clearfix"></div>

    <!-- Carousel items -->

    <div class="container-wrapper press-quotes hidden-xs">
        <div class="container">
            <div class="row page-head">
                <div class="col-xs-12 logos text-center">
                    <div id="homepageCarousel" class="carousel slide" style="min-height: 267px;">
                        <div class="carousel-inner row">
                            <div class="active item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/nl/email/20150218/Zencap_De_Telegraaf.pdf" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/telegraaf2.png" alt="De Telegraaf"></a>
                                <blockquote>
                                    <p>&nbsp;Steeds meer ondernemers gaan online op zoek naar geld. Naast Nederlandse initiatieven en Amerikaanse crowdfundingsites begeven nu ook Duitse partijen zich op de markt.</p>
                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in de pers</em></a></p>
                                </blockquote>
                            </div>

                            <div class=" item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/nl/email/20150218/Zencap_Financieele_Dagblad.pdf" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/fd.png" alt="Het Financieele Dagblad "></a>
                                <blockquote>
                                    <p>&nbsp;Zencap, een snelgroeiende online marktplaats voor bedrijfsfinanciering, komt naar Nederland. Het internetplatform biedt onder andere faciliteiten voor groeifinanciering, investeringskrediet en financiering van bedrijfsmiddelen.</p>
                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in de pers</em></a></p>
                                </blockquote>
                            </div>
                            <div class="item col-xs-12">
                                <a href="http://www.quotenet.nl/Nieuws/Snelle-investering-nodig-Haal-het-bij-de-startup-broers-Samwer-en-Rocket-Internet-145482" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/quote2.png" alt="Quote"></a>
                                <blockquote>
                                    <p>Zencap is een alternatieve financieringsvorm, ergens tussen business angels, venture capital en crowdfunding in. 'Wij zijn vaak goedkoper dan de bank, en we zijn snel: binnen 48 uur hebben onze experts beoordeeld (...)</p>
                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in de pers</em></a></p>
                                </blockquote>
                            </div>

                            <div class="item col-xs-12">
                                <a href="http://www.sprout.nl/artikel/crowdfunding/rocket-internet-bestormt-nederlandse-crowdfundmarkt" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/sprout2.png" alt="Sprout"></a>
                                <blockquote>
                                    <p>Ondernemers kunnen bij Zencap aankloppen voor bedrijfsleningen<br>van 10.000 tot 250.000 euro. Nederland is een aantrekkelijke markt, vanwege een heel actief mkb.</p>
                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in de pers</em></a></p>
                                </blockquote>
                            </div>

                            <div class="item col-xs-12">
                                <a href="https://lnkd.in/bWyGTcq" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/bnr.png" alt="Business News Radio"></a>
                                <blockquote>
                                    <p>Zencap is een online marktplaats voor bedrijfskredieten; Zen staat voor het boeddistische ontspannen en Cap voor capital en dat is precies waar wij voor staan: ontspannen zakendoen.</p>
                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in de pers</em></a></p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </div><!-- end .press-quotes -->

    <div class="container-wrapper odd how-zencap-works">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Geld lenen, geld investeren: het Zencap-principe</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0"><img class="img-responsive"
                                                                                              src="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/how-it-works.png"
                                                                                              alt="How Zencap works">
                </div>
                <div class="desp-20 hidden-md hidden-lg"></div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Wie succesvol zaken wil doen, heeft iemand nodig die hem de nodige financiële middelen ter beschikking stelt. Wie zijn geld wil investeren, heeft levensvatbare zakelijke ideeën nodig die de moeite waard zijn om in te stappen. Kortom: ondernemers hebben investeerders nodig, en investeerders hebben bedrijven nodig. Niemand heeft daar een bankfiliaal bij nodig. Alleen een veilige plek waarop je elkaar kunt ontmoeten. Een marktplaats.Of nog minder ingewikkeld: een online marktplaats. Dat is Zencap.
                </div>
            </div>
        </div>
    </div><!-- end .how-zencap-works -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000
            })
        });
    </script>

    <!-- end cms block 'il-hp' -->

    <!-- THIS IS A PARTIAL, NOT TO PUT IN CMS  -->


    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <h2 class="faux-h1 text-center">Huidige kredietprojecten</h2>
                <table class="table custom-table">
                    {% include '_partials/tables/loanProjectsTable.html.twig' %}
                </table>
            </div>
        </div>
    </div>
    <!--  end PARTIAL -->


    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>Uw zakelijke krediet</h3>

                    <p>Word minder afhankelijk van banken. <br>Gemakkelijk online en tegen topvoorwaarden.</p>

                    <p><a href="/loan-request/register#baseForm" class="btn btn-lg btn-brrwr">Nu een krediet aanvragen</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>Uw investering</h3>

                    <p>Profiteer van het succesmodel voor kleine en middelgrote bedrijven. <br>Aantrekkelijk rendement en volledig transparant.</p>

                    <p><a href="/register/lender/" class="btn btn-lg btn-nvstr">Nu registreren</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Zencap's interview in de Telegraaf</h2>
            <div class="row">
                <div class="col-xs-12 cancel-padding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="534" height="300" src="https://player.vimeo.com/video/122434623?title=0&byline=0&portrait=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->


    <div class="container-wrapper odd">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Kredieten voor bedrijven</h2>
            <p>Zencap is het snelst groeiende crowdlending-platform van Europa. Bedrijven krijgen gemakkelijk een op maat gesneden krediet; investeerders krijgen toegang tot een nieuwe investeringscategorie waarin ze geld kunnen investeren. De kredieten van bedrijven vallen gewoonlijk in de categorieën "Groeikapitaal", "Kredieten voor investeringen in vaste activa" en "Werkkapitaalfinanciering". Ondernemers waarderen bij Zencap een snel kredietbesluit, aantrekkelijke voorwaarden en flexibele voorwaarden voor hun krediet. Privé-investeerders profiteren van een aantrekkelijk rendement, maandelijkse aflossingen en een professionele risicoanalyse.</p>
        </div>
    </div><!-- end .container-wrapper -->

    <!-- ends cms block 'il-hp-bottom' -->

</div><!-- end .homepage -->


{% endblock body %}

{% block js %}
    {{ parent() }}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.carousel').carousel({
                interval: 5000
            })
        });
    </script>

{% endblock %}



