<!-- cms block investor-signup-info -->
<style>

    .signup-info .styled li {
        padding: 8px 25px 10px;
    }

    .signup-info img {
        margin: 8px auto;
        display: block;
        width: 50%;
        height: 50%;
    }

</style>

<div class="cms-page investor signup-info">
    <h2 class="faux-h3">Uw voordelen in het kort</h2>
    <ul class="styled check">
        <li>Gratis account</li>
        <li>Vanaf € 100 investeren</li>
        <li>Gemiddeld rendement van 6,92% p.j.</li>
        <li>Kredietanalyse volgens hoogste bankstandaarden</li>
        <li>Snel cash terug door maandelijkse aflossingen</li>
    </ul>
    <div class="desp-20"></div>
    <div class="text-center">
        <div><small><strong>"(...) investeerders trekken door ze een aantrekkelijk rendement te bieden(...)"</strong></small></div>
        <img alt="baaz." src="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/signup/baaz.png">
    </div>
</div>
<!-- end cms block investor-signup-info -->