{% extends 'layout.html.twig' %}

{% block body %}


<div class="cms-page">

    <div class="container-wrapper">
        <div class="container spacing">
            <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/header_07-c.jpg" alt="Career at Zencap">
            <h1 class="page-head text-center">Kom werken bij Zencap!</h1>
            <p>Wil je meewerken aan een betere toegang tot krediet voor het MKB? Dit is wat we bij Zencap willen realiseren.</p>
            <p>Zencap is opgericht met het volgende idee; een marktplaats creëren waar bedrijven en investeerders samen kunnen komen, zonder omwegen via banken.
                In korte tijd hebben we al meer dan € 10 miljoen gefinancierd. Of het nu gaat om de financiering van nieuwe machines, of het ontwikkelen van nieuwe producten: Zencap ondersteunt groei-georienteerde bedrijven om hun activiteiten uit te breiden, terwijl investeerders aantrekkelijke rendementen kunnen behalen. Hiermee zijn banen en economische groei verzekerd.
                Omdat we een verandering willen realiseren in meer markten en landen, groeit ons team erg snel. Elke dag bij Zencap is anders, met nieuwe uitdagingen en volop kansen om je verder te ontwikkelen.</p>
            <p>Werken bij Zencap betekent riscico’s nemen: om te leren en te groeien. We willen iedereen in staat stellen om het beste uit zichzelf te halen en we verspillen geen tijd en talent door een stricte hiërarchie. Door onze platte management structuur is er veel ruimte voor innovatief denken en nieuwe ideeën. Aangezien het ons doel is om de financiële sector te hervormen, dragen we zelden een pak en das!</p>
            <p>Kom bij ons werken en help ons een verschil te maken in financieren!</p>
            <p><a href="https://www.zencap.de/career-107.html" class="btn btn-lg btn-nvstr">Bekijk hier de beschikbare posities</a></p>
        </div>
    </div><!-- end .container-wrapper -->
</div><!-- end .cms-page -->

{% endblock %}