{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page investor investor-nl">

    <div class="container-wrapper header-top lender-getting-started">
        <div class="container spacing">
            <div class="row main-title">
                <div class="col-xs-12">
                    <h1>Uw investering in bedrijven -</br>Investeren in Nederland</h1>
                    <p class="hidden-xs hidden-sm">Directe toegang tot het succesmodel van kleine en middelgrote bedrijven:<br>
                        investeer in zorgvuldig geselecteerde bedrijfskredieten met een aantrekkelijk<br>
                        rendements-risicoprofiel</p>
                    <a class="btn btn-lg btn-nvstr" href="/register/lender/">Nu investeren</a>
                </div>
            </div>
        </div>
    </div><!-- end .header-top -->

    <div class="container-wrapper benefits-lender">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Investeren in bedrijven bij Zencap</h2>
            <div class="row">
                <div class="col-xs-12 col-md-4 grey-note">
                    <div class="row visual">
                        <div class="col-xs-12 visual-inner">
                            <img class="pull-left" src="https://d2pxc3go2nr9i6.cloudfront.net/bundles/intlendnlweblayout/frontend/images/cms/lender/benefit-lender-1.png" alt=""/>
                            <div class="col-xs-7 col-sm-6 col-md-9 visual-inner">
                                <h3 class="sm-large">Aantrekkelijk mkb-portfolio</h3>
                            </div>
                        </div>
                        <div class="desp-10"></div>
                        <div class="col-xs-12 col-md-9 col-md-offset-3">
                            <p class="text">Bouw een breed mkb-portfolio op basis van uw investeringsdoelen op. Al vanaf <br> € 100 kunt u uw investeringen verdelen over talrijke projecten uit verschillende branches en regio's. Kies uit 5 investeringsklassen met een rendement tussen 2,99% p.j. en 14,64% p.j. en minimaliseer de volatiliteit en het verliesrisico door te spreiden.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row visual">
                        <div class="col-xs-12 visual-inner">
                            <img class="pull-left" src="https://d2pxc3go2nr9i6.cloudfront.net/bundles/intlendnlweblayout/frontend/images/cms/lender/benefit-lender-2.png" alt=""/>
                            <div class="col-xs-7 col-sm-6 col-md-9 visual-inner">
                                <h3 class="sm-large">Professionele krediet- waardigheidscontrole</h3>
                            </div>
                        </div>
                        <div class="desp-10"></div>
                        <div class="col-xs-12 col-md-9 col-md-offset-3">
                            <p class="text">Alle projecten op onze kredietmarktplaats ondergaan een controleproces dat uit meerdere stappen bestaat. Onze professionele ratingsystemen voldoen aan de hoogste bankstandaarden en ons vijfkoppige team van experts heeft in totaal meer dan 50 jaar ervaring met de analyse van kredieten voor kleine en middelgrote bedrijven. Elke lening wordt gewaardborgd door privévermogen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 grey-note">
                    <div class="row visual">
                        <div class="col-xs-12 visual-inner">
                            <img class="pull-left" src="https://d2pxc3go2nr9i6.cloudfront.net/bundles/intlendnlweblayout/frontend/images/cms/lender/benefit-lender-3.png" alt=""/>
                            <div class="col-xs-7 col-sm-6 col-md-9 visual-inner">
                                <h3 class="sm-large">Constante <span>liquiditeit</span></h3>
                            </div>
                        </div>
                        <div class="desp-10"></div>
                        <div class="col-xs-12 col-md-9 col-md-offset-3">
                            <p class="text">Anders dan bij obligaties en aandelen krijgt u de rente- en aflossingsbetalingen uit alle investeringen bij Zencap elke maand rechtstreeks op uw rekening. Zo profiteert u van een constante liquiditeit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-nvstr" href="/register/lender/">Nu investeren</a>
                    <div class="desp-10"></div>
                    <div>Lesen Sie mehr zu<a href="/rendement-88.html" target="_blank">  rendement en risico</a></div>
                </div>
            </div>
        </div>
    </div><!-- end .benefits-lender -->

    <div class="container-wrapper odd blockquote">
        <div class="container spacing">
            <div class="faux-h1 text-center">Een gat in de financieringsmarkt</div>

            <div id="lenderCarousel" class="carousel slide col-xs-12">
                <!-- Carousel items -->
                <div class="carousel-inner row">
                    <div class="active item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8">
                                <blockquote>
                                    <p>Je kunt goed bijhouden hoeveel je investeert, hoeveel rente je krijgt en in welke risico-categorie je dat doet. Ik vind dat Zencap dat heel goed en duidelijk heeft gemaakt voor mij als investeerder</p>
                                    <p><em>Julius Heying - <span class="nobr"><a target="_blank" href="http://videliti.com/">Eigenaar Videliti.com - Investeerder bij Zencap</a></span></em></p>
                                </blockquote>
                            </div>
                            <div class="hidden-xs col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                                <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/investor-page/julius.jpg" class="img-circle" />
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <blockquote>
                                    <p>Über das Crowdlending-Modell von Zencap kann erstmals eine breite Schicht von Privatanlegern in den Mittelstand investieren und Margen erzielen, die sonst nur den Banken vorbehalten blieben. Damit hilft Zencap, eine Lücke im Finanzierungsmarkt zu schließen.</p>
                                    <p><em>Dr. Ralf Beck, Professor für BWL und Autor von <span class="nobr"><a href="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/borrower/axel-juehnke-cadmium.jpg" target="_blank">Crowdinvesting - Die Investition der Vielen</a></span></em></p>
                                </blockquote>
                            </div>
                            <div class="hidden-xs col-sm-3">
                                <img alt="" src="/bundles/intlendweblayout/frontend/images/cms/investor/dr-ralf-beck.jpg" class="img-circle" />
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="ccol-xs-12 col-sm-8">
                                <blockquote>
                                    <p>Über das Crowdlending-Modell von Zencap kann erstmals eine breite Schicht von Privatanlegern in den Mittelstand investieren und Margen erzielen, die sonst nur den Banken vorbehalten blieben. Damit hilft Zencap, eine Lücke im Finanzierungsmarkt zu schließen.</p>
                                    <p><em>Dr. Ralf Beck, Professor für BWL und Autor von <span class="nobr"><a href="http://www.amazon.de/Crowdinvesting-Investition-Vielen-Ralf-Beck/dp/1495263843" target="_blank">Crowdinvesting - Die Investition der Vielen</a></span></em></p>
                                </blockquote>
                            </div>
                            <div class="hidden-xs col-sm-3">
                                <img alt="" src="/bundles/intlendweblayout/frontend/images/cms/investor/dr-ralf-beck.jpg" class="img-circle" />
                            </div>
                        </div>
                    </div>
                </div>

                <!--<ol class="carousel-indicators">
                    <li data-target="#lenderCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#lenderCarousel" data-slide-to="1"></li>
                    <li data-target="#lenderCarousel" data-slide-to="2"></li>
                </ol>-->

            </div><!-- end .lenderCarousel -->

        </div>
    </div><!-- end .blockquote -->

    <div class="container-wrapper lender-invest-steps">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">In drie eenvoudige stappen geld<br> investeren in een bedrijf</h2>
            <div class="row">
                <p class="hidden-xs hidden-sm col-md-10 col-md-offset-1">
                    <img class="img-responsive" alt="" src="https://d2pxc3go2nr9i6.cloudfront.net/bundles/intlendnlweblayout/frontend/images/cms/lender/lender-steps.png" />
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 grey-note">
                    <div class="row helper">
                        <div class="col-xs-12 helper-inner">
                            <img class="pull-left hidden-md hidden-lg" alt="" src="/bundles/intlendnlweblayout/frontend/images/cms/lender/step-01-inv.png" />
                            <div class="col-xs-7 col-sm-6 col-md-12 pull-left helper-inner">
                                <h3 class="sm-large">In 1 minuut registreren</h3>
                            </div>
                        </div>
                        <div class="desp-10 hidden-md hidden-lg"></div>
                        <div class="col-xs-12">
                            <p>Registreer u binnen 1 minuut met uw naam en e-mailadres en ontdek interessante kredietprojecten.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row helper">
                        <div class="col-xs-12 helper-inner">
                            <img class="pull-left hidden-md hidden-lg" alt="" src="/bundles/intlendnlweblayout/frontend/images/cms/lender/step-02-inv.png" />
                            <div class="col-xs-7 col-sm-6 col-md-12 pull-left helper-inner">
                                <h3 class="sm-large">Kredietprojecten selecteren</h3>
                            </div>
                        </div>
                        <div class="desp-10 hidden-md hidden-lg"></div>
                        <div class="col-xs-12">
                            <p>Selecteer uw kapitaalinvesteringen en geef uw bankgegevens op. De afwikkeling vindt gemakkelijk plaats via automatische incasso.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 grey-note">
                    <div class="row helper">
                        <div class="col-xs-12 helper-inner">
                            <img class="pull-left hidden-md hidden-lg" alt="" src="/bundles/intlendnlweblayout/frontend/images/cms/lender/step-03-inv.png" />
                            <div class="col-xs-7 col-sm-6 col-md-12 pull-left helper-inner">
                                <h3 class="sm-large">Aflossingen krijgen</h3>
                            </div>
                        </div>
                        <div class="desp-10 hidden-md hidden-lg"></div>
                        <div class="col-xs-12">
                            <p>Via uw dashboard hebt u een overzicht van uw rente-inkomsten en maandelijkse aflossingen.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-nvstr" href="/register/lender/">Nu investeren</a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper blue risks">
        <div class="container spacing">
            <h2 class="faux-h1 text-white">Wat zijn de investeringsrisico's?</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 pull-right">
                    <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/risk-class2.png" alt=""/>
                </div>
                <div class="col-xs-12 col-sm-6 pull-right">
                    <p>Bij Zencap kunt u gemiddeld een rendement tussen 3,99% en 12,48% behalen, afhankelijk van de investeringsklasse. Een investering in zakelijke kredieten heeft altijd risico's. De bedrijven kunnen insolvent worden waardoor ze kredieten niet meer kunnen aflossen. Als vuistregel geldt: hoe hoger het rendement, hoe hoger het verliesrisico.
                    </p>
                </div>
            </div>
            <div class="desp-20"></div>
            <h2 class="faux-h1 text-white">Hoe kunt u zich beschermen tegen verliezen?</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 pull-right">
                    <p>
                        <img class="img-responsive" alt="" src="/bundles/intlendnlweblayout/frontend/images/cms/lender/project-balance-nl.png" />
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 pull-right">
                    <p>Wij controleren elk krediet zeer zorgvuldig en elke lener staat borg met zijn privé-vermogen. Maar de meest effectieve bescherming tegen mogelijke verliezen is en blijft diversificatie: het spreiden van uw investeringsbedrag over veel afzonderlijke projecten.
                        <a class="text-white" target="_blank" href="http://www.foundationcapital.com/downloads/FoundationCap_MarketplaceLendingWhitepaper.pdf"><u>Uit onderzoeken</u></a> naar wanbetalingen op kredieten op de toonaangevende online kredietmarktplaatsen blijkt eenduidig: 99% van alle investeerders die hun totale investering over (meer dan) 100 kredieten** hebben verdeeld, kon sinds het bestaan van deze platforms een puur positief rendement realiseren.</p>
                </div>
            </div>
        </div>
    </div><!-- end .risks -->

</div><!-- end .cms-page -->

    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.carousel').carousel({
                interval: 5000
            })
        });
    </script>
    -->
{% endblock %}