{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page press">
    <div class="container-wrapper">
        <div class="container spacing">
            <h1 class="text-center">Pers</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p>Zencap is het digitale alternatief voor banken. Op de marktplaats worden leners en investeerders online bij elkaar gebracht zonder de omweg via een bankloket. Een eigen algoritme voor de evaluatie van het kredietrisico vermindert het risico van wanbetaling, beschermt leners tegen een te hoge schuldenlast en verzekert investeerders van een hoger rendement. Daardoor kan Zencap tegelijkertijd gunstige kredieten en een aantrekkelijk rendement bieden.</p>
                    <p>Perscontact: <br>
                        Jeroen Broekema<br>
                        +31 (0) 6 30 57 41 50<br>
                        <a href="mailto:jeroen.broekema@zencap.nl">jeroen.broekema@zencap.nl</a><br>
                        Strawinskylaan 3051<br>
                        1077 ZX Amsterdam</p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd press-releases">
        <div class="container spacing">
            <p class="faux-h2">Persberichten</p>
            <div class="row">
                <div class="col-xs-12">
                    <p><strong>05.02.2015</strong></p>
                    <h2 class="faux-h3"><a href="/zencap-geeft-mkb-in-nederland-toegang-tot-financiering-99.html">Zencap geeft MKB in Nederland toegang tot financiering</a></h2>
                    <p>Zencap geeft MKB in Nederland toegang tot alternatieve en snelle financiering.</p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper media-response">
        <div class="container spacing">
            <p class="faux-h2">Dit is wat de pers over ons zegt en ons business model</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="https://lnkd.in/bWyGTcq"><img alt="Business News Radio" class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/bnr.png"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>MKB'ers hebben vanaf vandaag een extra mogelijkheid om krediet op te halen. Bedrijven kunnen via de online marktplaats Zencap zonder tussenkomst van banken geld lenen.
                                Zencap is een online marktplaats voor bedrijfskredieten; Zen staat voor het boeddistische ontspannen en Cap voor capital en dat is precies waar wij voor staan: ontspannen zakendoen.</p>
                        </blockquote>
                        <p><a href="https://lnkd.in/bWyGTcq">Lees artikel</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/nl/email/20150218/Zencap_Financieele_Dagblad.pdf"><img class="img-responsive" alt="Business News Radio" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/fd.png"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Zencap, een snelgroeiende online marktplaats voor bedrijfsfinanciering, komt naar Nederland. Het internetplatform biedt onder andere faciliteiten voor groeifinanciering, investeringskrediet en financiering van bedrijfsmiddelen.</p>
                        </blockquote>
                        <p><a href="https://d1x3gb5zl465n8.cloudfront.net/nl/email/20150218/Zencap_Financieele_Dagblad.pdf">Lees artikel</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/nl/email/20150218/Zencap_De_Telegraaf.pdf"><img class="img-responsive" alt="De Telegraaf" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/telegraaf2.png" style="margin-left:-20px; margin-top:-27px;"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Steeds meer ondernemers gaan online op zoek naar geld. Naast Nederlandse initiatieven en Amerikaanse crowdfundingsites begeven nu ook Duitse partijen zich op de markt.</p>
                        </blockquote>
                        <p><a href="https://d1x3gb5zl465n8.cloudfront.net/nl/email/20150218/Zencap_De_Telegraaf.pdf">Lees artikel</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="http://www.sprout.nl/artikel/crowdfunding/rocket-internet-bestormt-nederlandse-crowdfundmarkt"><img class="img-responsive" alt="Sprout" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/sprout2.png" style="margin-top:-24px; margin-left:-36px;"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Ondernemers kunnen bij Zencap aankloppen voor (relatief kleine) bedrijfsleningen van 10.000 tot 250.000 euro, met een looptijd van 6 maanden tot 5 jaar. (...) Nederland is een aantrekkelijke markt, vanwege de hoge internetpenetratie en ‘een heel levendig, groot en actief mkb met veel internetondernemingen.</p>
                        </blockquote>
                        <p><a href="http://www.sprout.nl/artikel/crowdfunding/rocket-internet-bestormt-nederlandse-crowdfundmarkt">Lees artikel</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="http://www.quotenet.nl/Nieuws/Snelle-investering-nodig-Haal-het-bij-de-startup-broers-Samwer-en-Rocket-Internet-145482"><img class="img-responsive" alt="Quote" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/quote2.png" style="margin-top:-25px; margin-left:-40px;"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Zencap is een alternatieve financieringsvorm, ergens tussen business angels, venture capital en crowdfunding in. 'Wij zijn vaak goedkoper dan de bank, en we zijn snel: binnen 48 uur hebben onze experts beoordeeld (...).</p>
                        </blockquote>
                        <p><a href="http://www.quotenet.nl/Nieuws/Snelle-investering-nodig-Haal-het-bij-de-startup-broers-Samwer-en-Rocket-Internet-145482">Lees artikel</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="http://www.debreed.nl/financieringen/crowdfunding/crowdfunding-top-40/"><img class="img-responsive" alt="De Breed &amp; Partners" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/dbp.png"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>De eerste keer dat Zencap meedeed aan de top 40 werden wij op 8 plekken vertegenwoordigd: "Welke projecten hebben deze week in Nederland het meeste kapitaal binnengehaald?".</p>
                        </blockquote>
                        <p><a href="http://www.debreed.nl/financieringen/crowdfunding/crowdfunding-top-40/">Lees artikel</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="http://www.baaz.nl/content/zencap-betreedt-nederlandse-markt-voor-mkb-leningen"><img class="img-responsive" alt="Baaz.nl" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/baaz.png" style="width:120px;"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>In Nederland is het MKB voor 60 procent van de omzet vertegenwoordigd in het bedrijfsleven. Toch is het voor mkb'ers niet makkelijk om krediet aan te vragen bij de bank. (...) Zencap komt met een platform waardoor mkb'ers makkelijker toegang krijgen tot een lening.</p>
                        </blockquote>
                        <p><a href="http://www.baaz.nl/content/zencap-betreedt-nederlandse-markt-voor-mkb-leningen">Lees artikel</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="http://www.emerce.nl/nieuws/zencap-p2pleenbank-mkb"><img class="img-responsive" alt="Emerce.nl" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/emerce.png" style="width:140px;"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Zencap, een ‘marktplaats voor bedrijfsfinanciering in Europa’, heeft de deuren geopend in Nederland. Door een alternatief te bieden voor traditionele bancaire financiering wil Zencap een bijdrage leveren aan de versterking van het MKB in Nederland.</p>
                        </blockquote>
                        <p><a href="http://www.emerce.nl/nieuws/zencap-p2pleenbank-mkb">Lees artikel</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <a target="_blank" href="http://www.z24.nl/ondernemen/zencap-crowdfunding-bedrijfsfinanciering-lening-mkb-535110"><img class="img-responsive" alt="z24.nl" src="https://d1x3gb5zl465n8.cloudfront.net/nl/press/logos/z24.png" style="width:120px;"></a>
                    </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Zencap.nl wil ondernemers snel helpen aan bedrijfskrediet en investeerders een aantrekkelijk rendement bieden. (...) Het sluit geen enkele branche uit, en zelfs met een negatief eigen vermogen kun je in theorie krediet krijgen.</p>
                        </blockquote>
                        <p><a href="http://www.z24.nl/ondernemen/zencap-crowdfunding-bedrijfsfinanciering-lening-mkb-535110">Lees artikel</a></p>
                    </div>
                </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd press-materials hidden-xs">
        <div class="container spacing">
            <p class="faux-h2">Persmateriaal</p>
            <p>Hier kunt u materiaal van Zencap downloaden.</p>
            <div class="row">
                <div class="hidden-xs col-sm-6 col-md-4">
                    <h3>Country Manager</h3>
                    <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/jeronen-hiresnl.jpg">
                        <img alt="Zencap Founder" class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/jeroen5.jpg">
                        <i class="fa fa-small fa-arrow-circle-down"></i> Afbeelding downloaden</a>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4">
                    <h3>Het Zencap-logo</h3>
                    <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/nl-zencap-logo-kit.zip">
                        <img class="img-responsive" alt="Zencap Logo Kit" src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intloopweblayout/frontend/images/cms/press/zencap-logo-300x192.jpg">
                        <i class="fa fa-small fa-arrow-circle-down"></i> Logokit alle indelingen
                    </a>
                </div>
                <div class="hidden-xs col-sm-6 col-md-4">
                    <h3>Pressemappe</h3>
                    <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/nl/bundles/pr/persmap-2015.pdf">
                        <img class="img-responsive" alt="Pressemappe" src="https://d1x3gb5zl465n8.cloudfront.net/de/press/presskit/presskit.jpg">
                        <i class="fa fa-small fa-arrow-circle-down"></i> Persmap downloaden
                    </a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Zencap's interview in de Telegraaf</h2>
            <div class="row">
                <div class="col-xs-12 cancel-padding">
                    <div class="embed-responsive embed-responsive-16by9 resp-iframe cancel-padding">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/122434623" width="940" height="529" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}