{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page investor">
    <div class="container-wrapper fees">
        <div class="container spacing">
            <h1 class="text-center">Aantrekkelijk rendement bij Zencap</h1>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 cancel-padding">
                    <div class="padding-box">
                        <ul class="styled">
                            <li>Aantrekkelijk rendement</li>
                            <li>Ondersteuning van kleine en middelgrote bedrijven</li>
                            <li>Maandelijks rendement</li>
                        </ul>
                        <div class="table-responsive">
                            <table class="table">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Rendement</td>
                                        <td>2,99 % - 14,64 %</td>
                                    </tr>
                                    <tr>
                                        <td>Investeerdersaccount</td>
                                        <td class="text-borrower-dark">Gratis</td>
                                    </tr>
                                    <tr>
                                        <td>Servicekosten</td>
                                        <td>1,0 <small>procentpunt van de rentevoet</small></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </table>
                        </div>
                        <div class="text-center">
                            <a type="submit" class="btn btn-lg btn-nvstr" href="/register/lender">Nu investeren</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper loan-types">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Uw rendement per investeringsklasse - bij Zencap is de keuze aan u</h2>
            <div class="row">
                <div class="col-xs-12 col-md-7 cancel-padding">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Zencap-Klasse</th>
                                <th>Rentevoet</th>
                                <th>Investeerdersrendement</th>
                                <th>Kans op wanbetaling<sup>1</sup></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="grade grade-a-plus grade-large">A<span>+</span></span></td>
                                <td>3,99% - 5,99%</td>
                                <td>2,99% - 4,99%</td>
                                <td>0,03% - 1,04%</td>
                            </tr>
                            <tr>
                                <td><span class="grade grade-a grade-large">A</span></td>
                                <td>4,48% - 6,80%</td>
                                <td>3,48% - 5,80%</td>
                                <td>1,04% - 2,03%</td>
                            </tr>
                            <tr>
                                <td><span class="grade grade-b grade-large">B</span></td>
                                <td>5,41% - 8,44%</td>
                                <td>4,41% - 7,44%</td>
                                <td>2,03% - 4,01%</td>
                            </tr>
                            <tr>
                                <td><span class="grade grade-c grade-large">C</span></td>
                                <td>7,30% - 11,91%</td>
                                <td>6,30% - 10,91%</td>
                                <td>4,01% - 8,04%</td>
                            </tr>
                            <tr>
                                <td><span class="grade grade-c-minus grade-large">C-</span></td>
                                <td>11,32% - 15,64%</td>
                                <td>10,32% - 14,64%</td>
                                <td>8,04% - 12,17%</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <small class="col-xs-12"><sup>1</sup> De kans op wanbetaling is het gemiddelde risico dat binnen 12 maanden tijdens de looptijd van het krediet mogelijke betalingsproblemen optreden. Deze kans komt niet per se overeen met de vermindering van uw beleggingsrendement, omdat de feitelijke hoogte van het verlies afhangt van meer factoren, zoals het tijdstip van het betalingsprobleem, het resultaat van het debiteurenbeheer en de waarde van de verleende borg. Het verwachte verlies uit een investering is daarom in de regel kleiner dan de aangegeven kans op wanbetaling.</small>
                </div>
                <div class="desp-20 hidden-md hidden-lg"></div>
                <div class="col-xs-12 col-md-5">
                    <h3>Hoog rendement</h3>
                    <p>Afhankelijk van of u als investeerder defensief of offensief investeert, zijn er verschillende rendementen voor u mogelijk. Hoe hoger het risico, hoe hoger de rentevoet en dus ook het rendement dat u behaalt. Kies het risiconiveau dat het beste bij uw wensen past en krijg de volledige controle over uw investeringen.</p>
                    <h3>Transparante risico's</h3>
                    <p>De bedrijven waarin u kunt investeren, zijn afhankelijk<br>van het risico van wanbetaling in die vijf Zencap-investeringsklassen A+ tot C- ingedeeld. De indeling is gebaseerd op de gemiddelde, geschatte kans dat zich<br>bij de aflossing van het krediet betalingsproblemen voordoen, dus dat het krediet niet of niet volledig kan worden terugbetaald. Een voorbeeld: Als u investeert <br>in 100 kredieten uit de klasse A+, moet u er rekening<br>mee houden dat 0,75% krediet beperkt of helemaal niet wordt afgelost.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper odd blockquote">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <blockquote>
                        <p>Als investeerder bij Zencap ontvangt u maandelijkse aflossingen. Om het rendement op uw investering te optimaliseren, kunt u deze aflossingen meteen herinvesteren<br>in nieuwe kredietwaardige bedrijven. Zo weet u zeker dat<br>uw geld op elk moment optimaal voor u aan het werk is.</p>
                        <p><em>Uw Zencap-team</em></p>
                    </blockquote>
                </div>
                <div class="hidden-xs col-sm-3 col-md-3 col-md-offset-1">
                    <img alt="" src="/bundles/intlendweblayout/frontend/images/cms/tipp.png" class="img-circle">
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Maatregelen in het geval van een betalingsachterstand</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Actief debiteurenbeheer</h3>
                    <p>In het geval van een verlate aflossing neemt Zencap het actieve debiteurenbeheer over. De openstaande bedragen worden via een streng aanmaningsproces gevorderd bij het bedrijf. Voor het geval een bedrijf zijn betaling toch niet binnen deze periode voldoet, werken wij nauw samen met externe incasso-experts. Zo garanderen wij ook bij een wanbetaling dat uw belangen als investeerder optimaal worden behartigd.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Benutting van de borgstelling</h3>
                    <p>Een kernvoorwaarde voor het aanvragen van een krediet via Zencap <br>is de bereidheid van de ondernemer om voor dit krediet borg te staan met zijn persoonlijke vermogen. Daarmee hebt u als investeerder nog een extra zekerheid in het geval dat een bedrijf een krediet niet kan terugbetalen. Zencap zorgt in geval van wanbetaling voor een optimale benutting van deze borg.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper odd">
        <div class="container text-center spacing">
            <a href="/register/lender" class="btn btn-lg btn-nvstr" type="submit">Nu investeren</a>
            <div class="desp-10"></div>
            <p>Of hebt u nog <a href="/vragen-investeerders-92.html">vragen?</a></p>
        </div>
    </div>
</div>

{% endblock body %}
