{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page how-it-works">

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Geld lenen van particulieren aan mkb-bedrijven</h1>
                </div>
            </div>
            <div class="row">
                <div class="hidden-xs col-sm-6">
                    <p>Kleine en middelgrote bedrijven zijn de groeimotor van de Nederlandse economie. Toch is de toegang tot kredieten voor hen vaak een uitdaging - vooral in vergelijking met grote concerns. Dat wordt ook bevestigd door recent onderzoek van de Europese Centrale Bank: ondanks de goede algemene economische situatie klaagt het mkb 50% vaker over financiële obstakels dan grote bedrijven. Zencap lost dit marktfalen op.
                    </p>
                </div>
                <div class="hidden-xs col-sm-6">
                    <p>
                        Via onze online marktplaats bezorgen we kleine en middelgrote bedrijven gunstige en flexibele kredieten - zonder de hoge kosten en bureaucratische uitgaven die ze bij banken gewend zijn. Tegelijkertijd biedt Zencap investeerders een aantrekkelijke mogelijkheid om hun geld te investeren, en wel tegen een hoger rendement dan mogelijk zou zijn met een bemiddelende bank. Samen zorgen het mkb en investeerders voor welvaart en banen.</p>
                </div>
            </div>
            <div class="desp-20 visible-xs hidden-sm hidden-md hidden-lg"></div>
            <div class="row">
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                    <a class="btn btn-lg btn-block btn-brrwr" type="submit" href="/loan-request/register#baseForm">Nu een krediet aanvragen</a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md hidden-lg"></div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                    <a class="btn btn-lg btn-block btn-nvstr text-center" type="submit" href="/register/lender/">Nu een account openen</a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Zo werkt het</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/cms/how_it_works/how-it-works-borrower.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>Hoe kan ik een krediet afsluiten?</h3>
                    <p>Zoekt u een betrouwbaar en gunstig alternatief voor uw huisbankier? Bij Zencap kunt u in een paar stappen uw zakelijke krediet aanvragen - veilig en gemakkelijk online. Wij controleren uw kredietaanvraag binnen een paar dagen en doen u een aanbod met uw persoonlijke tarief. Als u ons aanbod aanneemt, kunnen investeerders uw krediet via onze marktplaats financieren. Als de financiering gewaarborgd is, krijgt u zo snel mogelijk uw geld en betaalt u het krediet vervolgens in maandelijkse termijnen terug. <a href="/zakelijke-lening-94.html" target="_blank"> Meer informatie...</a></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/cms/how_it_works/how-it-works-zencap.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>Hoe brengt Zencap bedrijven en investeerders bij elkaar?</h3>
                    <p>Zencap brengt kleine en middelgrote bedrijven en privé-investeerders rechtstreeks bij elkaar - zonder de dure omweg via een bankloket. Als online marktplaats voor innovatieve financiering voor kleine en middelgrote bedrijven combineert Zencap de voordelen van internet met de veiligheid van traditionele bedrijfsfinanciering. Gemakkelijk aanvragen en investeren zonder een filiaal, kwaliteitsgecontroleerde kredietprojecten op basis van strenge kredietanalyses, transparante kosten en transparante risico's. <a href="/loan-request/index"> Naar de actuele kredietprojecten....</a></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/cms/how_it_works/how-it-works-investor.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>Hoe kan ik in bedrijven investeren?</h3>
                    <p>Wilt u deelnemen aan het succes van het Nederlandse mkb? Zencap maakt dat mogelijk. Registreren kan met een paar klikken en u wordt de persoonlijke bank van kleine en middelgrote bedrijven. Als investeerder bij Zencap kunt u uw eigen portfolio voor kleine en middelgrote bedrijven opbouwen door via onze marktplaats in verschillende kredietprojecten van talrijke bedrijven te investeren. Gebruik de maandelijkse aflossingen aan al uw investeringen om meteen nieuwe kredietprojecten te financieren. <a href="/investeren-bedrijven-95.html"> Meer informatie...</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper benefits hidden-xs">
        <div class="container spacing">
            <div class="row">
                <div class="col-sm-6 borrower">
                    <h2>Voordelen voor bedrijven</h2>
                    <ul class="styled large">
                        <li>Gunstige kredietvoorwaarden</li>
                        <li>Onafhankelijk van banken</li>
                        <li>Maximale flexibiliteit</li>
                        <li>Meer aandacht</li>
                    </ul>
                </div>
                <div class="col-sm-6 investor">
                    <h2>Voordelen voor investeerders</h2>
                    <ul class="styled large">
                        <li>Aantrekkelijk rendement</li>
                        <li>Volledige transparantie</li>
                        <li>Welvaartscheppende investeringen</li>
                        <li>Maandelijkse aflossingen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper text-center hidden-xs">
        <div class="container spacing">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 ">
                    <a class="btn btn-lg btn-brrwr" type="submit" href="/loan-request/register#baseForm">Nu een krediet aanvragen</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-lg btn-nvstr text-center" type="submit" href="/register/lender/">Nu een account openen</a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}