{% extends 'layout.html.twig' %}

{% block title %}{{ error_title|default('Error 404 Page not found') }}{% endblock %}

{% block body %}
    <div class="alert alert-danger">
        <h3>{{ error_title|default('Error 404 Page not found') }}</h3>
        {{ error | raw }}
    </div>
{% endblock %}
