/* ==========================================================================
   Dashboard custom styles
   ========================================================================== */

// general rules
.dash {
    .panel-default > .panel-heading {
        color: white;
        font-weight: bold;
        background-color: #189cf1;
    }

    .panel-body {
        padding: 0;
        overflow: hidden;
    }

    .panel-heading {
        border-radius: 0;
        padding: 0 15px;

        h4 {
            position: relative;
            height: 85px;
            line-height: 25px;
            padding: 5px 0;
            font-weight: bold;
            font-size: 17px;
            text-align: center;

            /*> .large-subheading {
                font-size: 38px;
                font-weight: 100;
            }*/

            a:hover, a:focus {
                color: @white;
            }

            span {
                display: block;
            }

            i.fa-plus-square {
                position: absolute;
                top: 25px;
                right: 0;
            }
        }
    }

    .panel-default {
        border: none;
    }

    .panel {
        box-shadow: none;
    }

    .panel-item {
        background-color: #e8f5fe;
    }

    .fa-question-circle:hover {
        color: @white;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
   .move {
        padding-left: 15px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
   .move {
        text-align: center;
    }
}

/* desktop */

.dash {
    .panel-item {
        margin: -6px 0 8px;
        /*padding: 5px 3px;*/
        padding: 8px;
        height: 40px;

        &:first-child {
            padding-top: 12px;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

/* mobile and tablet */

@media (min-width: 320px) and (max-width: 992px) {
    .dash {
        .panel-item {
            margin: -6px 0 8px;
            padding: 15px;
            height: 40px;

            &:first-child {
                padding-top: 12px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
        .panel-heading {
            h4 {
                font-size: 14px;
                text-align: left;

                /*> .large-subheading {
                    font-size: 31px;
                }*/
            }
        }

        .panel {
            margin-bottom: 0;
        }
    }

}


// override some rules
.dash-green {

    .panel-item {
        background-color: #edf8ea;
    }

    .panel-default > .panel-heading, .green {
        background-color: #54bb2e;
        color: @white;
    }

    a {
        color: @white;
    }
}

@media (min-width: 992px) {
    #dash-7, #dash-8 {
        .panel-body {
            min-height: 120px;
        }
    }
}

// override some rules
.dash-lead {
    a {
        color: @white;
        /*text-decoration: underline;*/
    }

    .panel-body > .panel-item {
        padding: 15px 10px;
        background-color: #54bb2e;
        color: @white;
        font-weight: 500;

        h4 {
            padding: 5px 0;
        }
    }
}


.glyphicon-plus:before {
    content: "-";
}

.collapsed .glyphicon-minus:before {
    content: "+";
}

/* ==========================================================================
   Invest Category
   ========================================================================== */

.display-limit {
    margin-top: 20px;
    font-size: @baseFontSize;
    font-weight: 600;
    color: @grayLight;
}

/* ==========================================================================
   Premium account
   ========================================================================== */

.premium-well {
    min-height: 364px;

    hr {
        border-top-color: @white;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .premium-well {
        min-height: 405px;
    }
}

/* custom height for step2 */

.step_2 {
    .premium-well {
        min-height: 371px;
    }
}

@media (min-width: 768px) and (max-width: 800px) {
    .step_2 {
        .premium-well {
            min-height: 499px;
        }
    }
}

.icon-info {
    background-image: url("/bundles/intlendweblayout/frontend/images/sprite.png?verified");
    height: 102px;
    width: 102px;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-get-started {
    background-position: -416px -226px;
}

.icon-blue .icon-get-started {
    background-position: -312px -223px;
}

.icon-post {
    background-position: -312px -327px;
}

.icon-blue .icon-post {
    background-position: -416px -330px;
}

.icon-currency {
    background-position: -104px -327px;
}

.icon-blue .icon-currency {
    background-position: -104px -223px;
}

.list-items {
    list-style: outside none none;
    padding-left: 0;

    li {
        position: relative;
        padding: 0 0 14px 24px;

        &:before {
            content: '\f054';
            font-family: @iconFontFamilyAwesome;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
