.lender-request-details {
    padding: 13px 20px 15px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;

    &.well {
        min-height: 192px;
    }
}

.lender-place-bid {
    .btn-lg {
        padding: 11px 16px;
    }
}

@media (max-width: 480px) {
    .lender-request-details {
        font-size: 13px;
    }
}

iframe[src^='https://marketing.net.zencap'],
iframe[src^='http://marketing.net.zencap'] {
    display: none;
}

@media (max-width: 1024px) {
    .custom-table td {
        height: 100%;

        &.grade-a-plus {
            background-color: @gradeA-plus-color;
            vertical-align: middle;
        }

        &.grade-a {
            background-color: @gradeAcolor;
            vertical-align: middle;
        }

        &.grade-b {
            background-color: @gradeBcolor;
            vertical-align: middle;

        }

        &.grade-c {
            background-color: @gradeCcolor;
            vertical-align: middle;
        }

        &.grade-c-minus {
            background-color: @gradeC-minus-color;
            vertical-align: middle;
        }

        .loan-title {
            padding-left: 10px;
        }

        .more {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

@media (max-width: 1024px) {
    .custom-table {
        .col-xs-1 {
            width: 30px;
        }
    }
}