.lender-request-details {
    padding: 13px 20px 15px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;

    &.well {
        min-height: 192px;
    }
}

.lender-place-bid {
    min-height: 192px;
    .btn-lg {
        padding: 11px 16px;
    }
    #funding_amount {
        height: 46px;
    }
}


@media (max-width: 480px) {
    .well.lender-place-bid {
        padding: 10px;
    }

    .lender-place-bid  {
        .available-limit strong {
            font-size: 13px;
        }

        .btn-lg {
            padding: 11px 2px;
        }
    }
}


@media (max-width: 480px) {
    .lender-request-details {
        font-size: 13px;
    }
}

iframe[src^='https://marketing.net.zencap'],
iframe[src^='http://marketing.net.zencap'] {
    display: none;
}

