@media (min-width: 320px) and (max-width: 992px) {
    .lender-request-details {
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
    }
}

.lender-request-details {
    span {
        font-size: 15px;
        font-weight: 600;
    }

    .input-group-addon {
        font-family: "Lend-Ico";
    }
}

#funding_amount {
    height: 35px;
}

.available-limit {
    margin-top: -4px;
}


iframe[src^='https://marketing.net.zencap'],
iframe[src^='http://marketing.net.zencap'] {
    display: none;
}

.credit-score-approved {
    background-color: #edf0f2;
    height: 96px;
}
.credit-score-approved .approved-icon {
    background-color: #69b26a;
    color: #fff;
    float: left;
    font-size: 56px;
    height: 96px;
    line-height: 96px;
    width: 96px;
}
.approved-by {
    padding-top: 10px;
}
.credit-score-approved span {
    display: block;
    text-align: center;
}

#financials thead h4 {
    margin: 35px 0 30px;
}

