@media (min-width: 320px) and (max-width: 991px) {
    .lender-request-details {
        margin-left: -15px;
        margin-right: -15px;
        padding: 15px;
    }
}

.lender-request-details {
    span {
        font-size: 15px;
        font-weight: 600;
    }

    .input-group-addon {
        font-family: "Lend-Ico";
    }
}


#funding_amount {
    height: 35px;
}

.available-limit {
    margin-top: -4px;
    font-size: 85%;
}

iframe[src^='https://marketing.net.zencap'],
iframe[src^='http://marketing.net.zencap'] {
    display: none;
}

@media (min-width: 320px) and (max-width: 991px) {
    #companyInfo {
        .table {
            margin-bottom: 0;
        }
    }
}

#creditScore .grades-wrapper {
    margin: 60px 0 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    #creditScore figure {
        height: 99px;
    }
}

@media (min-width: 992px) {
    #creditScore figure {
        height: 136px;
    }
}

.credit-score-approved {
    background-color: @brandColor7;
    height: 96px;

    span {
        display: block;
        text-align: center;
    }

    .approved-icon {
     background-color: #69b26a;
     color: #fff;
     float: left;
     font-size: 56px;
     height: 96px;
     line-height: 96px;
     width: 96px;
    }
}

.approved-by {
    padding-top: 10px;
}

#financials {
    .table.hidden-lg {
        th, td {
            white-space: nowrap;
        }
    }
}

#financials thead h4 {
    margin: 35px 0 30px;
    font-size: 16px;
}
