// bid button for a loan

.bid-item {
    position: relative;
    height: 35px;
    width: 94px;
}

.bid-form {
    width: 135px;
    position: absolute;
    top: 0px;
    left: 0px;

    .inp-value {
        width: 57px;
        height: 32px;
        border-radius: 4px 0 0 4px;
        float: left;
        border: 1px solid #5c6266;
        padding-left: 7px;
        margin-right: -3px;
    }

    .place-bid {
        width: 40px;
        float: left;
        &.btn {
            border-radius: 0 4px 4px 0;
        }
    }
}

.bid-value {
    background: @white;
    padding: 0 5px;
    border-radius: 4px;
    border: 1px solid #c7d2d9;
    height: 32px;
    width: auto;
    line-height: 30px;

    span {
        vertical-align: bottom;
        width: 47px;
    }

    .edit {
        color:#2682bf;
        font-family: "Lend-Ico";
        font-size: 16px;
        vertical-align: bottom;

    }
    .remove {
        color: #5c6266;
        margin-right: 5px;

        i {
            vertical-align: baseline;
        }
    }
}

// handle background color of risk classes for mobile, tablets

@media (max-width: 1024px) {
    .custom-table td {
        height: 100%;

        &.grade-a-plus {
            background-color: @gradeA-plus-color;
            vertical-align: middle;
        }

        &.grade-a {
            background-color: @gradeAcolor;
            vertical-align: middle;
        }

        &.grade-b {
            background-color: @gradeBcolor;
            vertical-align: middle;

        }

        &.grade-c {
            background-color: @gradeCcolor;
            vertical-align: middle;
        }

        &.grade-c-minus {
            background-color: @gradeC-minus-color;
            vertical-align: middle;
        }

        .more {
            font-size: 20px;
            font-weight: bold;
        }
    }
}

.custom-table > thead > tr > th,
.custom-table > tbody > tr > th,
.custom-table > tfoot > tr > th,
.custom-table > thead > tr > td,
.custom-table > tbody > tr > td,
.custom-table > tfoot > tr > td  {
    padding: 6px 3px;
    height: 35px;
    vertical-align: middle;
    line-height: 17px;
}

.custom-table {

    .left-position {
        padding-left: 15px;
    }

    .right-position {
        padding-right: 15px;
    }

    .sm-width {
        width: 15px;
        padding-left: 0;

        a {
            color: @white;
        }
    }

    .grade-small {
        margin-left: 5px;
        vertical-align: middle;
    }

    .loan-title {
        width: 26%;
    }

    @media (min-width: 480px) and (max-width: 1023px) {
        .loan-title {
            width: 45%;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .custom-table {
        .sm-width-ratio {
            width: 90px;
        }

        .sm-width-bid {
            width: 95px;
        }
    }
}

.custom-table tr td.loan-title a {
    display: block;
}

@media (max-width: 767px) {
    .custom-table tr td {
        font-size: 13px;
    }
}

// confirm offer borrower

.loan-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.loan-header {
    background: @brandColor7;
    font-weight: bold;
}


//  filter expander for loan projects

@media (min-width: 320px) and (max-width: 991px) {
    #filter-section {
        display: none;
    }
}

#filter-btn {
    .fa-lg {
        font-size: 1.2em;
    }
}


// lender company info table
@media (max-width: 767px) {
    .xs-increase-width {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 767px){
    .xs-increase-width tr th {
        width: 50%;
    }
}

.xs-increase-width tr th {
    width: 160px;
}

// summary borrower tables
.fixed-section tr th {
    width: 200px;
}

@media (min-width: 320px) and (max-width: 767px){

    .fixed-section tr th {
        width: 60%;
    }
}
