<div class="panel-group" id="accordion-payments-details" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="head-details-1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-payments-details" href="#details-1" aria-expanded="true" aria-controls="details-1">
                    <span class="lg-heading">10,000 €</span>
                    <span>15.05.2014</span>
                    <i class="fa fa-lg fa-minus-square fa-plus-square pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="details-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="head-details-1">
            <div class="panel-body">
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Tilgung</div>
                    <div class="col-xs-5 col-sm-6">9.500 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen</div>
                    <div class="col-xs-5 col-sm-6">500 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen Lorem</div>
                    <div class="col-xs-5 col-sm-6">0 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Ausstehend Tilgung</div>
                    <div class="col-xs-5 col-sm-6">9.000 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Status</div>
                    <div class="col-xs-5 col-sm-6">Überwiesen</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="head-details-2">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-payments-details" href="#details-2" aria-expanded="false" aria-controls="details-2">
                    <span class="lg-heading">10,000 €</span>
                    <span>15.06.2014</span>
                    <i class="fa fa-lg fa-minus-square fa-plus-square pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="details-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head-details-2">
            <div class="panel-body">
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Tilgung</div>
                    <div class="col-xs-5 col-sm-6">9.500 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen</div>
                    <div class="col-xs-5 col-sm-6">500 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen Lorem</div>
                    <div class="col-xs-5 col-sm-6">0 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Ausstehend Tilgung</div>
                    <div class="col-xs-5 col-sm-6">9.000 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Status</div>
                    <div class="col-xs-5 col-sm-6">Pending</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="head-details-3">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-payments-details" href="#details-3" aria-expanded="false" aria-controls="details-3">
                    <span class="lg-heading">10,000 €</span>
                    <span>15.07.2014</span>
                    <i class="fa fa-lg fa-minus-square fa-plus-square pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="details-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head-details-3">
            <div class="panel-body">
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Tilgung</div>
                    <div class="col-xs-5 col-sm-6">9.500 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen</div>
                    <div class="col-xs-5 col-sm-6">500 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen Lorem</div>
                    <div class="col-xs-5 col-sm-6">0 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Ausstehend Tilgung</div>
                    <div class="col-xs-5 col-sm-6">9.000 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Status</div>
                    <div class="col-xs-5 col-sm-6">Unpaid</div>
                </div>
            </div>
        </div>
    </div>
</div>
