<table class="table">
    <thead>
    <tr>
        <th class="col-xs-9">Repayment</th>
        <th class="col-xs-3 text-right"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="col-xs-9">Laufzeit</td>
        <td class="col-xs-3 text-right">2 Jahre</td>
    </tr>
    <tr>
        <td class="col-xs-9">Sollzins</td>
        <td class="col-xs-3 text-right">4,43%</td>
    </tr>
    <tr>
        <td class="col-xs-9"><strong>Ihre montaliche Ruckzahlungsrate</strong></td>
        <td class="col-xs-3 text-right"><strong>1.090,42 €</strong></td>
    </tr>
    </tbody>
</table>