<table class="table cockpit-table">
    <thead>
    <tr>
        <th class="col-xs-9">Kreditbetrag</th>
        <th class="col-xs-3 text-right">25.000,00 €</th>
    </tr>
    <tbody>
    <tr>
        <td class="col-xs-9">Zencap-Gebühr(3%)</td>
        <td class="col-xs-3 text-right">750,00 €</td>
    </tr>
    <tr>
        <td class="col-xs-9">Umsatzsteuer auf Kreditnehmer-Gebühr (19%)</td>
        <td class="col-xs-3 text-right">142,50 €</td>
    </tr>
    <tr>
        <td class="col-xs-9"><strong>Amount paid out</strong></td>
        <td class="col-xs-3 text-right"><strong>24.107,50 €</strong></td>
    </tr>
    </tbody>
</table>

<div class="test">
<div class="panel panel-default">
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
        Panel content
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Panel title</h3>
    </div>
    <div class="panel-body">
        Panel content
    </div>
    <div class="panel-footer">Panel footer</div>
</div>
</div>




