<table class="table">
    <thead>
    <tr>
        <th colspan="3">Ihre Anlage</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="col-xs-4"></td>
        <td class="col-xs-4">Erhalten</td>
        <td class="col-xs-4">Planmäßig</td>
    </tr>
    <tr>
        <td class="col-xs-4">Tilgung</td>
        <td class="col-xs-4">1.697,71 €</td>
        <td class="col-xs-4">10.000,00 €</td>
    </tr>
    <tr>
        <td class="col-xs-4">Zinsen</td>
        <td class="col-xs-4">415,22 €</td>
        <td class="col-xs-4">1.269,34 €</td>
    </tr>
    <tr>
        <td class="col-xs-4">Verzugsgebühren</td>
        <td class="col-xs-4">0,00 €</td>
        <td class="col-xs-4">0,00 €</td>
    </tr>
    <tr>
        <td><strong>Gesamt</strong></td>
        <td><strong>2.112,93 €</strong></td>
        <td><strong>11.269,34 €</strong></td>
    </tr>
    </tbody>
</table>