<table class="table">
    <thead>
    <tr>
        <th colspan="2">Kreditinformationen</th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td class="col-xs-6">Kredit-Nr.</td>
        <td class="col-xs-6">#832761098</td>

    </tr>
    <tr>
        <td class="col-xs-6">Kreditauszahlung</td>
        <td class="col-xs-6">15.05.2014</td>
    </tr>
    <tr>
        <td class="col-xs-6">Nettobetrag</td>
        <td class="col-xs-6">Sollzins</td>
    </tr>
    <tr>
        <td>Sollzins</td>
        <td> 6,99%<span class="grade grade-b grade-small">B</span></td>
    </tr>
    <tr>
        <td class="col-xs-6">Service-Gebühr</td>
        <td class="col-xs-6">1.00%</td>
    </tr>
    <tr>
        <td class="col-xs-6">Laufzeit</td>
        <td class="col-xs-6">48 Monate</td>
    </tr>
    <tr>
        <td class="col-xs-6">Status</td>
        <td class="col-xs-6">Aktiv</td>
    </tr>
    </tbody>

</table>