<div class="panel-group" id="accordion-payments" role="tablist" aria-multiselectable="true">

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="head-payment-1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-payments" href="#payment-1" aria-expanded="true" aria-controls="payment-1">
                    <span class="lg-heading">234,77 €</span>
                    <span>15.05.2014</span>
                    <i class="fa fa-medium fa-minus-square fa-plus-square pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="payment-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="head-payment-1">
            <div class="panel-body">
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Ratennummer</div>
                    <div class="col-xs-4 col-sm-6">1</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Einzug <i data-original-title="Einzug beim Kreditnehmer" class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title=""></i></div>
                    <div class="col-xs-4 col-sm-6">15.06.2014</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Geldeingang <i data-original-title="Erwarteter Geldeingang auf Ihrem Konto" class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title=""></i></div>
                    <div class="col-xs-4 col-sm-6">25.06.2014</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Tatsächlicher Zahlungstag</div>
                    <div class="col-xs-4 col-sm-6">25.06.2014</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Ratenhöhe</div>
                    <div class="col-xs-4 col-sm-6">234,77 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Tilgung</div>
                    <div class="col-xs-4 col-sm-6">234,77 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Zinsen</div>
                    <div class="col-xs-4 col-sm-6">34,77 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Restbetrag</div>
                    <div class="col-xs-4 col-sm-6">9.815,10 €</div>
                </div>
                <div class="panel-item align-bullet">
                    <div class="col-xs-8 col-sm-6">Status</div>
                    <div class="col-xs-4 col-sm-6">
                        <div class="bullet transferred"></div>
                        <div class="bullet-label">Bezahlt</div></div>
                </div>
            </div>
        </div>
    </div><!-- end .panel -->

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="head-payment-2">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-payments" href="#payment-2" aria-expanded="false" aria-controls="payment-2">
                    <span class="lg-heading">234,77 €</span>
                    <span>15.06.2014</span>
                    <i class="fa fa-medium fa-minus-square fa-plus-square pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="payment-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head-payment-2">
            <div class="panel-body">
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Ratennummer</div>
                    <div class="col-xs-4 col-sm-6">1</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Einzug <i title="Einzug beim Kreditnehmer" data-placement="top" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="rwarteter Geldeingang auf Ihrem Konto"></i></div>
                    <div class="col-xs-4 col-sm-6">15.06.2014</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Geldeingang <i title="Erwarteter Geldeingang auf Ihrem Konto" data-placement="top" data-toggle="tooltip" class="fa fa-question-circle" data-original-title="rwarteter Geldeingang auf Ihrem Konto"></i></div>
                    <div class="col-xs-4 col-sm-6">25.06.2014</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Ratenhöhe</div>
                    <div class="col-xs-4 col-sm-6">234,77 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Tilgung</div>
                    <div class="col-xs-4 col-sm-6">234,77 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Zinsen</div>
                    <div class="col-xs-4 col-sm-6">34,77 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-8 col-sm-6">Restbetrag</div>
                    <div class="col-xs-4 col-sm-6">9.815,10 €</div>
                </div>
            </div>
        </div>
    </div><!-- end .panel -->

</div>
