<table class="table">
    <thead>
    <tr>
        <th><a href="">Eingang</a></th>
        <th><a href="">Erhaltene Zahlungen</a></th>
        <th><a href="">Tilgung</a></th>
        <th><a href="">Zinsen</a></th>
        <th><a href="">Verzugsgebühren</a></th>
        <th><a href="">Status</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>15.06.2014</td>
        <td>234,77 €</td>
        <td>184,90 €</td>
        <td>49,87 €</td>
        <td>0,00 €</td>
        <td>Überwiesen</td>
    </tr>
    <tr>
        <td>15.07.2014</td>
        <td>234,77 €</td>
        <td>185,83 €</td>
        <td>48,94 €</td>
        <td>0,00 €</td>
        <td>Überwiesen</td>
    </tr>
    <tr>
        <td>15.08.2014</td>
        <td>234,77 €</td>
        <td>186,75 €</td>
        <td>48,02 €</td>
        <td>0,00 €</td>
        <td>Überwiesen</td>
    </tr>
    </tbody>
</table>


{# DATA BELOW IS JUST FOR TESTING NL + ES, SHOULD BE DELETED #}

    {# ================ START TO DELETE ====================== #}

    {# ================ SPAIN ====================== #}

<H1>TESTING SPAIN</H1>
<table class="table">
    <thead>
    <tr>
        <th><a href="">Entrada</a></th>
        <th><a href="">Cantidad bruta</a></th>
        <th><a href="">Cantidad neta</a></th>
        <th><a href="">Capital</a></th>
        <th><a href="">Intereses</a></th>
        <th><a href="">Comisión por pagos atrasados</a></th>
        <th><a href="">Estado</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>15.06.2014</td>
        <td>234,77 €</td>
        <td>184,90 €</td>
        <td>49,87 €</td>
        <td>0,00 €</td>
        <td>10,00 €</td>
        <td>Transferido</td>
    </tr>
    <tr>
        <td>15.07.2014</td>
        <td>234,77 €</td>
        <td>185,83 €</td>
        <td>48,94 €</td>
        <td>5,21 €</td>
        <td>0,00 €</td>
        <td>Transferido</td>
    </tr>
    <tr>
        <td>15.08.2014</td>
        <td>234,77 €</td>
        <td>186,75 €</td>
        <td>48,02 €</td>
        <td>7,34 €</td>
        <td>0,00 €</td>
        <td>Transferido</td>
    </tr>
    </tbody>
</table>


{# ================ NETHERLAND ====================== #}

<H1>TESTING NETHERLAND</H1>
<table class="table">
    <thead>
    <tr>
        <th><a href="">Voltooid</a></th>
        <th><a href="">Termijnbedrag</a></th>
        <th><a href="">Hoofdsom</a></th>
        <th><a href="">Rente</a></th>
        <th><a href="">Kosten voor achterstallige betalingen</a></th>
        <th><a href="">Status</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>15.06.2014</td>
        <td>234,77 €</td>
        <td>184,90 €</td>
        <td>49,87 €</td>
        <td>0,00 €</td>
        <td>Overgemaakt</td>
    </tr>
    <tr>
        <td>15.07.2014</td>
        <td>234,77 €</td>
        <td>185,83 €</td>
        <td>48,94 €</td>
        <td>0,00 €</td>
        <td>Overgemaakt</td>
    </tr>
    <tr>
        <td>15.08.2014</td>
        <td>234,77 €</td>
        <td>186,75 €</td>
        <td>48,02 €</td>
        <td>0,00 €</td>
        <td>Overgemaakt</td>
    </tr>
    </tbody>
</table>

    {# ================ END TO DELETE ====================== #}
