<div class="panel-group" id="accordion-payments-history" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="head-history-1">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion-payments-history" href="#history-1" aria-expanded="true" aria-controls="history-1">
                    <span class="lg-heading">234,77 €</span>
                    <span>15.05.2014</span>
                    <i class="fa fa-medium fa-minus-square fa-plus-square pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="history-1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="head-history-1">
            <div class="panel-body">
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Tilgung</div>
                    <div class="col-xs-5 col-sm-6">184,90 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen</div>
                    <div class="col-xs-5 col-sm-6">49,87 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Verzugsgebühren</div>
                    <div class="col-xs-5 col-sm-6">0,00 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Status</div>
                    <div class="col-xs-5 col-sm-6">Überwiesen</div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="head-history-2">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-payments-history" href="#history-2" aria-expanded="false" aria-controls="history-2">
                    <span class="lg-heading">234,77 €</span>
                    <span>15.06.2014</span>
                    <i class="fa fa-medium fa-minus-square fa-plus-square pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="history-2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head-history-2">
            <div class="panel-body">
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Tilgung</div>
                    <div class="col-xs-5 col-sm-6">184,90 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen</div>
                    <div class="col-xs-5 col-sm-6">49,87 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Verzugsgebühren</div>
                    <div class="col-xs-5 col-sm-6">0,00 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Status</div>
                    <div class="col-xs-5 col-sm-6">Überwiesen</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="head-history-3">
            <h4 class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion-payments-history" href="#history-3" aria-expanded="false" aria-controls="history-3">
                    <span class="lg-heading">234,77 €</span>
                    <span>15.07.2014</span>
                    <i class="fa fa-medium fa-minus-square fa-plus-square pull-right"></i>
                </a>
            </h4>
        </div>
        <div id="history-3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="head-history-3">
            <div class="panel-body">
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Tilgung</div>
                    <div class="col-xs-5 col-sm-6">184,90 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Zinsen</div>
                    <div class="col-xs-5 col-sm-6">49,87 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Verzugsgebühren</div>
                    <div class="col-xs-5 col-sm-6">0,00 €</div>
                </div>
                <div class="panel-item">
                    <div class="col-xs-7 col-sm-6">Status</div>
                    <div class="col-xs-5 col-sm-6">Überwiesen</div>
                </div>
            </div>
        </div>
    </div>
</div>
