<table class="table">
<thead>
<tr>
    <th><a>Ratennummer</a></th>
    <th><a>Einzug beim Kreditnehmer </a> <i data-original-title="Lorem Ipsum." class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title=""></i></th>
    <th><a>Erwarteter Geldeingang auf Ihrem Konto</a></th>
    <th><a>Ratenhöhe</a></th>
    <th><a>Tilgung</a></th>
    <th><a>Zinsen</a></th>
    <th><a href="">Restbetrag</a></th>
</tr>
</thead>
<tbody>
<tr>
    <td>1</td>
    <td>15.06.2014</td>
    <td>25.06.2014</td>
    <td>234,77 €</td>
    <td>184,90 €</td>
    <td>49,87 €</td>
    <td>9.815,10 €</td>
</tr>
<tr>
    <td>2</td>
    <td>15.07.2014</td>
    <td>25.07.2014</td>
    <td>234,77 €</td>
    <td>185,83 €</td>
    <td>48,94 €</td>
    <td>9.629,27 €</td>
</tr>
<tr>
    <td>3</td>
    <td>15.08.2014</td>
    <td>27.08.2014</td>
    <td>234,77 €</td>
    <td>186,75 €</td>
    <td>48,02 €</td>
    <td>9.442,52 €</td>
</tr>
</tbody>
</table>

{# DATA BELOW IS JUST FOR TESTING NL + ES, SHOULD BE DELETED #}

    {# ================ START TO DELETE ====================== #}

    {# ================ SPAIN ====================== #}
<h1>TESTING SPAIN</h1>
<table class="table">
    <thead>
    <tr>
        <th><a>Plazo</a></th>
        <th><a>Pago cuota de la empresa </a> <i data-original-title="Lorem Ipsum." class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title=""></i></th>
        <th><a>Estimación del ingreso en su cuenta</a></th>
        <th><a>Cantidad bruta</a></th>
        <th><a>Cantidad neta</a></th>
        <th><a>Capital</a></th>
        <th><a href="">Intereses</a></th>
        <th><a href="">Saldo restante</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>15.06.2014</td>
        <td>25.06.2014</td>
        <td>234,77 €</td>
        <td>184,90 €</td>
        <td>14,87 €</td>
        <td>4,87 €</td>
        <td>9.815,10 €</td>
    </tr>
    <tr>
        <td>2</td>
        <td>15.07.2014</td>
        <td>25.07.2014</td>
        <td>234,77 €</td>
        <td>185,83 €</td>
        <td>8,94 €</td>
        <td>18,94 €</td>
        <td>9.629,27 €</td>
    </tr>
    <tr>
        <td>3</td>
        <td>15.08.2014</td>
        <td>27.08.2014</td>
        <td>234,77 €</td>
        <td>186,75 €</td>
        <td>8,02 €</td>
        <td>18,02 €</td>
        <td>9.442,52 €</td>
    </tr>
    </tbody>
</table>

    {# ================ END SPAIN ====================== #}


    {# ================ NETHERLAND ====================== #}
<h1>TESTING NETHERLAND</h1>
<table class="table">
    <thead>
    <tr>
        <th><a>Termijn</a></th>
        <th><a>Termijnbetaling van bedrijf </a> <i data-original-title="Lorem Ipsum." class="fa fa-question-circle" data-toggle="tooltip" data-placement="top" title=""></i></th>
        <th><a>Geschatte boekdatum op uw rekening</a></th>
        <th><a>Termijnbedrag</a></th>
        <th><a>Hoofdsom</a></th>
        <th><a>Rente</a></th>
        <th><a href="">Resterend saldo</a></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>15.06.2014</td>
        <td>25.06.2014</td>
        <td>234,77 €</td>
        <td>184,90 €</td>
        <td>49,87 €</td>
        <td>9.815,10 €</td>
    </tr>
    <tr>
        <td>2</td>
        <td>15.07.2014</td>
        <td>25.07.2014</td>
        <td>234,77 €</td>
        <td>185,83 €</td>
        <td>48,94 €</td>
        <td>9.629,27 €</td>
    </tr>
    <tr>
        <td>3</td>
        <td>15.08.2014</td>
        <td>27.08.2014</td>
        <td>234,77 €</td>
        <td>186,75 €</td>
        <td>48,02 €</td>
        <td>9.442,52 €</td>
    </tr>
    </tbody>
</table>
    {# ================ END NETHERLAND ====================== #}



    {# ================ END TO DELETE ====================== #}