.about-us {

    .header-top {
        background-color: @investor;
        background-image: url("/bundles/intlendweblayout/frontend/images/cms/about_us/about-us-bg.jpg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        height: 432px;
    }
}
