.blog {

    .site-main {

        p {
            .last-of-type-margin-bottom;
        }

    }

    .blog-categories {
        p a {
            color: #419ed1;
            padding-left: 20px;
        }

        @media (min-width: 768px) and (max-width: 991px) {
            p a {
                font-size: 15px;
            }
        }
    }

    .widget-latest-article {

        .styled {

            li {
                padding: @paddingLargeVertical 0;

                &:before {
                    display: none;
                }
            }
        }
    }
}