.blog {

    .banner {

        ////I commented it out
        // Is for container-wrapper .container padding: 48px 0;
        /*.container {
            padding: 0;
        }*/
    }

    .site-main {


        p {
            .last-of-type-margin-bottom;
        }

        /*
        .site-content {


            article {
              .hr-style(@baseBorderColor, 620px);
            }*/

            // I commented it out
            // I created class 'link-borrower instead'
            /*.entry-summary {

                p {

                    a {
                        color: @brandColor2;

                        &:hover {
                            color: @brandColor2Light;
                        }
                    }
                }
            }
        }*/

        // I commented it out
        /* .widget-area {

             .widget {
                 margin-bottom: @gridGutterWidth;

                 a {
                     color: @brandColor2;

                     &:hover {
                         color: @brandColor2Light;
                     }
                 }

                 &.widget-about {
                     background-color: @baseBackground;
                     padding: @gridGutterWidth;
                 }*/

               /* &.widget-latest-article {

                    .styled {

                        li {
                            padding: @paddingLargeVertical 0;

                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }*/
        }

    .blog-categories {
        p a {
            color: #419ed1;
            padding-left: 20px;
        }
    }
}


//I commented it out
/*
.blog-article {

  h1 {
    .text-left;
  }
}*/


.widget-latest-article {

    .styled {

        li {
            padding: @paddingLargeVertical 0;

            &:before {
                display: none;
            }
        }
    }
}