/* ==========================================================================
   Rates and fees borrower
   ========================================================================== */
.borrower {

    // bigger h3 on tablet
    @media (min-width: 768px) and (max-width: 991px) {
        h3.sm-large {
            font-size: 20px;
        }
    }

    .fees {
        background-image: url("https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/borrower/hero-leitfaden_04.jpg");
    }

    /*  background height on mobile */
    @media (max-width: 767px) {
        .fees {
            height: 150px;
        }
    }

    /* background height on tablet */
    @media (min-width: 768px) and (max-width: 991px) {
        .fees {
            height: 180px;
        }
    }

    /* background height on desktop */
    @media (min-width: 992px) {
        .fees {
            height: 335px;
        }
    }

    /* add border only on desktop */
    @media (min-width: 992px) {
        .benefits-borrower {
            h3 {
                border-bottom: 2px solid #ff8c19;
                padding-bottom: 16px;
            }

            .text {
                margin-left: -5px;
            }
        }
    }

    @media (min-width: 320px) and (max-width: 767px) {
        .table-terms {
            margin-left: -15px;
        }
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    #fees-borrower .table caption {
        margin-bottom: 10px;
    }
}

/* desktop  */
@media (min-width: 992px) {
    .loan-types {
        .item {
            width: 33.3333%;;
        }
    }
}

.facts {
    .panel-default {
        background-color: #ebebeb;
    }

    h4 {
        margin-bottom: 0;

        a {
            color: @brandColor4;
            font-weight: bold;
            &:before {
                content: "\f164";
                font-family: "FontAwesome";
                font-size: 20px;
                padding-right: 3px;
                color: #9b9ea0;
            }
        }
    }

    .panel-default > .panel-heading {
        background-color: #dbdbdb;
    }
}

@media (min-width: 320px) and (max-width: 991px) {
    .borrower-steps {
        h2 {
            margin-bottom: 0;
        }
    }
}

// accordion
.fa-minus-square:before {
    content: "\f146";
}

.collapsed .fa-minus-square:before {
    content: "\f0fe";
}

/* end rates and fees borrower  */


/* ==========================================================================
   Borrower getting started
   ========================================================================== */
.calculate-rate {
    background: url('https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/borrower/02-00-kredit-beantragen_05.jpg') 50% 0;
}

/*  background height on mobile */
@media (max-width: 767px) {
    .calculate-rate {
        height: 528px;
    }
}

.loan-widget-container {

    background: white;
    overflow: hidden;

    .loan-widget {
        padding-top: 40px;
    }

    /* mobile */
    @media (min-width: 320px ) and (max-width: 767px) {
        .loan-widget {
            padding-top: 25px;
        }
    }

    /* desktop */
    @media (min-width: 992px) {
        .loan-widget {
            padding-bottom: 20px;
        }
    }

    .rate-box {
        background: @brandColor2;
        color: @white;
        padding-top: 40px;


        .subheading {
            font-size: @headingsFontSizeH2;
        }

        @media (min-width: 320px ) and (max-width: 767px) {
            .subheading {
                font-size: @headingsFontSizeH3 - 2 ;
            }
        }

        @media (min-width: 768px ) and (max-width: 991px) {
            .subheading {
                font-size: @headingsFontSizeH3;
            }
        }

        p small {
            color: #f6d1b7;
        }
    }

    @media (min-width: 320px ) and (max-width: 767px) {
        .rate-box {
            padding-top: 25px;
        }
    }

    /* desktop */
    @media (min-width: 992px) {
        .rate-box {
            padding-bottom: 22px;
        }
    }
}

.loan-terms {
    background: url("/bundles/intlenddeweblayout/frontend/images/cms/borrower/loan-calculator-benefits.png") top left repeat-x;
    min-height: 57px;

    .list-inline {
        color: #ffffff;
        padding: 19px 19px 18px;

        li {
            &:nth-child(2) {
                padding: 0 30px 0 30px;
            }

            &:before {
                content: "\f058";
                font-family: @iconFontFamilyAwesome;
                font-size: @baseFontSize;
                padding-right: 7px;
            }
        }



    }
}


@media (min-width: 768px ) and (max-width: 991px) {
    .loan-terms {
        .list-inline {
            padding: 19px 0 18px;

            li {
                font-size: 13px;

                &:nth-child(2) {
                    padding: 0;
                }
            }
        }
    }
}

#amount, #loan-duration {
    display: block;
    margin-top: -2px;
    font-weight: bold;
    font-size: @headingsFontSizeH3;
}


/* old calculator */
.calculate-loan {
    background: url('https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/borrower/02-00-kredit-beantragen_05.jpg') 50% 0;
}

.loan-calculator-container {

    background: white;
    overflow: hidden;

    #offerInput {
        font-size: 23px;
        height: 48px;
        margin: 0 0 20px;
        padding: 6px 12px;
        max-width: 195px;
        .border-radius(@borderRadiusLarge);
        border: 1px solid @brandColor6;
    }

    .radio-buttons {
        float: left;
        width: 79px;

        &:nth-child(1) {
            width: 92px;
        }

        label {
            margin-left: 0;
            margin-right: 10px !important;
            padding: 3px;
            display: inline-block;
            font-weight: 600;
        }

        input {
            display: block;
        }
    }

    .loan-calculator {
        padding-top: 54px;
    }


    .result-box {
        background: @brandColor2;
        color: @white;
        padding-top: 50px;

        .subheading {
            font-size: @headingsFontSizeH2;
        }

        p small {
            color: #f6d1b7;
        }
    }
}

.loan-conditions {
    background: url("/bundles/intlenddeweblayout/frontend/images/cms/borrower/loan-calculator-benefits.png") top left repeat-x;

    .list-inline {
        color: #ffffff;
        padding: 19px 30px 18px;

        li {
            &:nth-child(2) {
                padding: 0 41px 0 57px;
            }

            &:before {
                content: "\f058";
                font-family: @iconFontFamilyAwesome;
                font-size: @baseFontSize;
                padding-right: 7px;
            }
        }
    }
}

.cta {
    p {
        &:before {
            content: "\f132";
            font-family: "FontAwesome";
            font-size: @headingsFontSizeH5;
            padding-right: 3px;
        }
    }
}

/* old calculator */

/* end borrower getting started  */