.header-top {
    background-color: @gray5;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.cms-page {

    .styled {

        margin-left: -40px;

        li {
            padding: @paddingBaseVertical 0 @paddingBaseVertical @gridGutterWidth * 1.5;
            border-bottom-color: @brandColor6;

            &:before {
                line-height: @baseLineHeight;
                position: absolute;
                top: @paddingBaseVertical;
                left: 0;
                content: "\f13a";
                font-family: @iconFontFamilyAwesome;
                font-size: 133%;
            }

            &:first-of-type {

                &:before {
                    top: 0;
                }
            }
        }

        &.large {
            @offset-y: 3px;

            li {
                padding: @paddingLargeVertical 0 @paddingLargeVertical @gridGutterWidth * 2;

                &:before {
                    top: @paddingLargeVertical + @offset-y;
                }

                &:first-of-type {

                    &:before {
                        top: @offset-y;
                    }
                }
            }

            @media (min-width: 320px) and (max-width: 767px) {
                li {
                    padding: @paddingBaseVertical 0 @paddingBaseVertical @gridGutterWidth * 1.5;

                    &:before {
                        top: 7px;
                    }
                }
            }
        }
    }

    .styled.check {
        li:before {
            content: '\f00c';
        }
    }

    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="datetime"],
    input[type="datetime-local"],
    input[type="date"],
    input[type="month"],
    input[type="time"],
    input[type="week"],
    input[type="number"],
    input[type="email"],
    input[type="url"],
    input[type="search"],
    input[type="tel"],
    input[type="color"],
    .uneditable-input {
        background: @white;
        border: 1px solid @brandColor6;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
        transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
        border-radius: 4px;
        padding: 4px 6px;
        margin-bottom: 10px;
        color: @gray;
    }
}

.borrower {

    .styled {

        li {

            &:before {
                color: @borrowerCTA;
            }

            i {
                color: @borrowerCTA;
            }
        }
    }
}

.investor {

    .styled {

        li {

            &:before {
                color: @investorCTA;
            }

            i {
                color: @investorCTA;
            }
        }
    }
}



.main-title {

    h1 {
        margin-bottom: 20px;
    }

    p {
        font-size: @fontSizeSmall + 1;
        color: @white;
    }
}

.blockquote {
    blockquote {
        padding: 24px 52px;
    }
}

// styling blockquotes on mobile
@media (min-width: 320px) and (max-width: 767px) {
    .blockquote, .media-response {

        blockquote {
            padding: 20px 23px;
            font-size: 14px;
        }
        blockquote:before {
            top: 34px;
        }
        blockquote:after {
            bottom: -5px;
        }
        blockquote:after, blockquote:before {
            font-size: 60px;
        }
    }
}

/*  lender/borrower getting started  */
@media (min-width: 992px) {
    .borrower-credit-steps, .lender-invest-steps {
        h3 {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}

/* vertical align partner program icons */
.icons-row {
    height: 102px;

    h3 {
        margin-top: 20px;
    }
}

.icons-size {
    height: 100%;

    img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .icons-row {
        img {
            width: 40px;
        }
    }
}


/* vertical align icons and text  */

.visual-inner {
    height: 100%;

    h3 {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        margin: 0 0 0 0;
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .visual {
        height: 45px;
    }

    .visual-inner {
        img {
            width: 45px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .visual {
        height: 50px;
    }

    .visual-inner {
        img {
            width: 50px;
        }
    }
}


@media (min-width: 992px) {

    .visual {
        height: 60px;
    }

    .visual-inner {
        img {
            width: 60px;
        }
    }
}


/* vertical align image and text for borrower and investor  */
@media (min-width: 320px) and (max-width: 991px) {
    .helper-inner {
        height: 100%;

        h3 {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            margin: 0 0 0 0;
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) {

    .helper {
        height: 45px;
    }

    .helper-inner {
        img {
            width: 45px;
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .helper {
        height: 50px;
    }

    .helper-inner {
        img {
            width: 50px;
        }
    }
}

/* add grey background only on mobile */
@media (min-width: 320px) and (max-width: 767px) {
    .grey-note {
        background-color: @baseBackground;
        padding-top: 20px;
        margin-bottom: 20px;
    }
}

.white-box {
    background: @white;
    border-radius: @baseBorderRadius;
}


.bkg-program {
    background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/bg2-2.jpg);
    background-repeat: no-repeat;
    background-position: right 50%;
    height: 240px;
    background-size: cover;
}

/*  background height on tablet */
@media (min-width: 768px) and (max-width: 991px) {
    .bkg-program {
        height: 190px;
    }
}
