.cms-page {

    .styled {

        li {
            padding: @paddingBaseVertical 0 @paddingBaseVertical @gridGutterWidth * 1.5;
            border-bottom-color: @brandColor6;

            &:before {
                line-height: @baseLineHeight;
                position: absolute;
                top: @paddingBaseVertical;
                left: 0;
                content: "\f13a";
                font-family: @iconFontFamilyAwesome;
                font-size: 133%;
            }

            &:first-of-type {

                &:before {
                    top: 0;
                }
            }
        }

        &.large {
            @offset-y: 3px;

            li {
                padding: @paddingLargeVertical 0 @paddingLargeVertical @gridGutterWidth * 2;

                &:before {
                    top: @paddingLargeVertical + @offset-y;
                }

                &:first-of-type {

                    &:before {
                        top: @offset-y;
                    }
                }
            }
        }
    }
}

.borrower {

    .styled {

        li {

            &:before {
                color: @borrowerCTA;
            }

            i {
                color: @borrowerCTA;
            }
        }
    }
}

.investor {

    .styled {

        li {

            &:before {
                color: @investorCTA;
            }

            i {
                color: @investorCTA;
            }
        }
    }
}

.main-title {
    h1 {
        margin-bottom: 20px;
    }

    p {
        font-size: @fontSizeSmall + 1;
        color: @white;
    }
}

@media (max-width: 768px) {

    .main-title {
        h1 {
            font-size: 16px;
        }

    }
}

.header-top {
    background-color: @gray5;
    background-repeat: no-repeat;
    background-position: 50% 0;
    /*min-width: @containerWidth;*/
    //    min-height: @verticalRhythm * 8; // 48px * 8px = 384px

    .container {
        min-height: @verticalRhythm * 6; // 48px * 6 = 384px
    }

}

@media (max-width: 600px) {
    .xs-increase-width {
        width: 100%;
    }
}

.carousel {
    text-align: center;
    display: inline-block;
}

.small-quote-pad {
    blockquote {
        padding: 24px 32px;
    }
}