.homepage {

    .main-image {
        background-image: url("/bundles/intlenddeweblayout/frontend/images/cms/home/Hero-home_02_02.jpg");
        background-position: 50% 0;
        min-height: 408px;

        .voucher {
            height: 240px;
        }
    }

    .xs-main-image {
        background-image: url("/bundles/intlenddeweblayout/frontend/images/cms/home/Hero-home_02_02.jpg");
        background-size: 140%;
        background-repeat: no-repeat;
        position: relative;
        background-position: 50% 30% ;


        h1 {
            padding-top: 15px;
            font-size: 26px;
        }

        .container {
            padding: 0;
        }

    }

    // set a height for background image
    @media (min-width: 640px) and (max-width: 800px) {
        .xs-main-image {
            height: 140px;
        }
    }

    // set a font-size for h1 on certain screens
    @media (min-width: 320px) and (max-width: 667px) and (orientation: portrait) {
        .xs-main-image {
            h1 {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    // styling for only the buttons under the background image
    @media (min-width: 320px) and (max-width: 667px) {
        .special-buttons {
            .btn-lg {
                font-size: 1em; // 10px
                padding: 5px 16px;
            }
        }
    }

    .header-top {

        .pull-down {
            bottom: -188px;
            width: 100%;
            position: absolute;
        }

        .white-box {
            background: @white;
            border-radius: @baseBorderRadius;
        }

        .borrower, .investor {
            padding: 0 35px;
        }

        .styled {
            padding-bottom: 20px;
            margin-bottom: 0;
            margin-left: -38px;
            li {
                &:before {
                    content: "\f058";
                }

                border-bottom: 0;
            }
        }
    }

}

.logos .item blockquote {

    &:after {
        right: 21px;
        color: #5c6266;
        bottom: 45px;
    }
    &:before {
        color: #5c6266;
        top: 47px;
        left: 20px;
    }
}

.logos {
    p em {
        color: #3f9cd9;

        &:before {
            content: "\f06e";
            color: #3f9cd9;
            font-family: @iconFontFamilyAwesome;
            font-size: 20px;
            padding-right: 7px;
        }

    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        margin: 0 auto;
    }
}

.blockquote {
    blockquote {
        padding: 24px 52px;
    }
}
