.homepage {

    .main-image {
        background-image: url("/bundles/intlenddeweblayout/frontend/images/cms/home/Hero-home_02_02.jpg");
        background-position: 50% 0;
        min-height: 408px;

        .voucher {
            height: 240px;
        }
    }

    .xs-main-image {
        background-image: url("/bundles/intlenddeweblayout/frontend/images/cms/home/Hero-home_02_02.jpg");
        background-size: 100%;
        background-repeat: no-repeat;
        position: relative;

        h1 {
            padding-top: 15px;
            font-size: 15px;
        }

        .container {
            padding: 0;
        }

    }

    .pull-top {
        padding-top: 56px;
        top: -130px;
        left: 0;
        position: absolute;
        width: 100%;
    }

    .header-top {

        .pull-down {
            bottom: -188px;
            width: 100%;
            position: absolute;
        }

        .white-box {
            background: @white;
            border-radius: @baseBorderRadius;
        }

        .borrower, .investor {
            padding: 0 35px;
        }

        .styled {
            padding-bottom: 20px;
            margin-bottom: 0;
            margin-left: -38px;
            li {
                &:before {
                    content: "\f058";
                }

                border-bottom: 0;
            }
        }
    }

    hr.col-xs-12 {
        width: 90%;
    }
}

.logos .item blockquote {

    &:after {
        right: 21px;
        color: #5c6266;
        bottom: 45px;
    }
    &:before {
        color: #5c6266;
        top: 47px;
        left: 20px;
    }
}

.logos p em {
    color: #3f9cd9;

    &:before {
        content: "\f06e";
        color: #3f9cd9;
        font-family: @iconFontFamilyAwesome;
        font-size: 20px;
        padding-right: 7px;
    }
}
