{% extends 'layout.html.twig' %}

{% block body %}
    <div class="cms-page about-us">
        <div class="container-wrapper header-top">
            <div class="container spacing">
                <h1 class="text-center text-white">Über Zencap</h1>
            </div>
        </div>
        <div class="container-wrapper vision">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Der Online-Marktplatz für innovative Mittelstandsfinanzierung</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p>Wer erfolgreich Unternehmen führen will, braucht jemanden, der an ihn glaubt und ihm die nötigen Mittel zur Verfügung stellt. Wer sein Geld anlegen will, braucht Geschäftsideen, die zukunftsträchtig sind und in die es sich zu investieren lohnt. Kurz gesagt: Unternehmer brauchen Investoren, so wie Investoren Unternehmen brauchen. Eine Bank braucht dabei niemand. Lediglich einen sicheren Ort, an dem man sich trifft, um Ideen und Mittel auszutauschen. Einen Marktplatz. Oder noch unkomplizierter: Einen Onlinemarktplatz. Das ist Zencap.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>Zencap führt das Bankgeschäft zurück zu seinen Wurzeln – ohne eine Bank zu sein. Die Wurzeln, das heißt Finanzierung als Tauschgeschäft. Hier der unternehmerische Bedarf, dort die passenden Mittel. Zwei Parteien. Ein Ort. Unternehmen und Investoren, treffen sich bei Zencap.
                        </p><p>
                            Finanzieren und Anlegen bei Zencap: Einfach, sicher und flexibel. Zencap. Geld mit Unternehmergeist.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper odd">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Das Gründerteam</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Dr. Christian Grobe</h3>
                        <p>Christian ist Gründer und Geschäftsführer von Zencap. Er verantwortet den Vertrieb und das Marketing sowie die Themen Finanzen und HR. Vor seiner Zeit bei Zencap war er 6 Jahre Berater bei McKinsey &amp; Company – zuletzt als Projektleiter.</p>
                        <p>Christian ist Diplom-Volkswirt (Uni Heidelberg, Princeton University, USA) und promovierter Politologe (FU Berlin). Die Sorgen von kleinen und mittelständischen Unternehmen (KMU) kennt er aus zahlreichen Wahlkämpfen während seiner Studienzeit. Seither hat er sich zum Ziel gesetzt, seine persönliche Leidenschaft – Politik und Ökonomie – mit einer Geschäftsidee zu verbinden, die den Zugang zu Finanzierung für KMU verbessert.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3>Dr. Matthias Knecht</h3>
                        <p>Matthias ist Gründer und Geschäftsführer von Zencap. Von 2008 bis 2014 war er als Berater bei McKinsey &amp; Company tätig – zuletzt als Projektleiter. Bei Zencap verantwortet Matthias die Bereiche Risikomanagement und Operations sowie die Kontakte zu institutionellen Investoren.</p>
                        <p>Matthias ist Diplom-Wirtschaftsingenieur (Universität Karlsruhe) und promovierter Betriebswirt (Universität Nürnberg, Columbia Business School, USA). Seine Leidenschaft gilt dem Finanzsektor. Entsprechend hat er in den letzten Jahren intensiv mit Banken und Private-Equity-Investoren zusammengearbeitet. Dabei wurde ihm klar: Der deutsche Mittelstand ist eine hochattraktive Anlageklasse und sollte nicht nur traditionellen Banken vorbehalten sein.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}