{% extends 'layout.html.twig' %}

{% block body %}

<style>

/* ==========================================================================
Affiliate
========================================================================== */

    .bkg-program {
        background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/bg2-2.jpg);
        background-repeat: no-repeat;
        background-position: right 50%;
        height: 240px;
        background-size: cover;
    }

    /*  background height on tablet */
    @media (min-width: 768px) and (max-width: 991px) {
        .bkg-program {
            height: 190px;
        }
    }

    .table-earnings td {
        padding: 15px 10px 10px 0;
    }

    .table-earnings tr {
        border-bottom: 1px solid #dee1e3;
    }

    .table-earnings tr:last-child {
        border-bottom: 0;
    }

    .lead-investor {
        color: #2694CF;
    }

    .lead-brrwr {
        color: #ff8c19;
    }

    .affiliate-benefits .styled li {
        border-bottom: 0;
        line-height: 1.5em;
    }

    /* background on desktop */
    @media (min-width: 992px) {
        .investor-earning {
            background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/affiliate-borrower-bg3.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }

    /* background on desktop */
    @media (min-width: 992px) {
        .brrwr-earning {
            background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/affiliate-investor-bg3.jpg);
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }

    .faq-affiliate .accordion-group {
        border-bottom: 1px solid #fff;
    }

    .faq-affiliate .accordion-group:last-child {
        border-bottom: 0;
    }

    .faq-affiliate .accordion-heading {
        margin: 15px 0;
    }

    .faq-affiliate .accordion-inner {
        padding: 20px 0;
    }

</style>

<div class="cms-page borrower">

    <div class="container-wrapper">
        <div class="container spacing">
            <h1 class="text-center">Zencap Affiliate-Programm</h1>
            <div>Zencap bringt Anleger und mittelständische Unternehmen ohne Umweg zusammen. Als innovative Alternative zum Bankkredit bieten wir Anlegern attraktive Renditen und Kreditnehmern faire Konditionen bei der Finanzierung</div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper bkg-program hidden-xs"> </div>

    <div class="container-wrapper odd affiliate-benefits">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Ihre Vorteile</h2>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="styled">
                        <li>Attraktive Provisionen: bis zu 1.580 € Verdienst möglich!</li>
                        <li>Großzügiges Cookiefenster: 30 Tage.</li>
                        <li>Mehrstufiger Verdienst: von der Anmeldung als Anleger oder Kreditnehmer bis zum ausgezahlten Kredit werden alle von Ihnen generierten Stufen vergütet.</li>
                        <li>Schnelle Validierung: Investoren-Leads der Kategorie 1 werden stornofrei* vergütet.</li>
                        <li>Leads der Kategorie 2 und Sales werden innerhalb von 30 Tagen validiert und netto provisioniert.</li>
                    </ul>
                    <br>
                    <div class="text-center">
                        <a href="http://partner.net.zencap.de/register.html?mid=507" class="btn btn-lg btn-brrwr">Hier anmelden</a>
                        <div class="desp-10"></div>
                        <p><a href="https://partner.net.zencap.de/">Schon registriert?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper hidden-xs">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">So funktioniert's</h2>
            <div class="row icons-row">
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/page.png" alt="Kunde besucht Ihre Website">
                    <h3 class="text-center">Kunde besucht Ihre Website</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"> <img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/click.png" alt="Kunde klickt auf unser Werbemitel">
                    <h3 class="text-center">Kunde klickt auf unser Werbemitel</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/pen.png" alt="Kunde meldet sich an">
                    <h3 class="text-center">Kunde meldet sich an</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/euro.png" alt="Auszahlung bei erfolgreicher Kreditanfrage">
                    <h3 class="text-center">Auszahlung bei erfolgreicher Kreditanfrage</h3>
                </div>
                <div class="desp-20"></div>
                <div class="col-xs-12 text-center">
                    <a href="http://partner.net.zencap.de/register.html?mid=507" class="btn btn-lg btn-brrwr">Hier anmelden</a>
                    <div class="desp-10"></div>
                    <p><a href="https://partner.net.zencap.de/">Schon registriert?</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd brrwr-earning">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="faux-h1 text-center">Ihre Verdienstmöglichkeiten<br> im Zencap-Partnerprogramm</h2>
                    <h3 class="lead-brrwr">Kreditnehmer</h3>
                </div>
            </div>
            <table class="col-xs-12 col-sm-9 col-md-5 table-earnings">
                <tbody>
                <tr>
                    <td class="lead lead-brrwr">Lead 1</td>
                    <td class="text-right">30 €</td>
                </tr>
                <tr>
                    <td class="lead lead-brrwr">Lead 2</td>
                    <td class="text-right">+15 €</td>

                </tr>
                </tbody>
            </table>
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <p><strong>Definition Lead 1</strong>: Ein Lead 1 ist eine online abgesendete Kreditanfrage eines Nutzers. Das heißt der Nutzer hat auf den Button „Jetzt Kredit beantragen“ geklickt und das Antragsformular vollständig ausgefüllt und abgeschickt (mit Klicken des Buttons: „Jetzt unverbindlich Kreditangebot anfordern“).</p>
                    <p><strong>Definition Lead 2</strong>: Der Nutzer hat auf den Button „Jetzt Kreditprojekt freischalten“ geklickt. Das heißt für einen Lead 2 muss der Nutzer seine persönliche Rate angenommen haben und sein Kreditprojekt muss auf der Zencap-Plattform gelistet sein.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-3 col-md-2">
                    <div class="text-center pull-left">
                        <a href="http://partner.net.zencap.de/register.html?mid=507" class="btn btn-lg btn-brrwr">Hier anmelden</a>
                        <div class="desp-10"></div>
                        <p><a href="https://partner.net.zencap.de/">Schon registriert?</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper investor-earning">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h3 class="lead-investor">Investoren</h3>
                </div>
            </div>
            <div class="custom-row">
                <div class="col-xs-12">
                    <table class="col-xs-12 col-sm-9 col-md-5 col-md-offset-3 table-earnings">
                        <tbody>
                        <tr>
                            <td class="lead lead-investor">Lead 1</td>
                            <td class="text-right">5 €</td>
                        </tr>
                        <tr>
                            <td class="lead lead-investor">Lead 2</td>
                            <td class="text-right">+40 €</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p><strong>Definition Lead 1</strong>: Ein Lead 1 ist die erfolgreiche Anmeldung eines Nutzers als Anleger.</p>
                    <p><strong>Definition Lead 2</strong>: Ein Lead 2 ist die Übermittlung mindestens einer Investitionsanfrage. Eine Investitionsanfrage ist das Absenden eines bindenden Angebots für die Investition in ein oder mehrere Kreditprojekte von Kreditnehmern. Finden sich nicht genügend Anleger für die Investition eines Kreditprojekts, findet die Investition nicht statt.</p>
                    <p>Die Provision auf valide Investitionsanfragen erhalten Sie für jedes erste Gebot eines neuen Investors &ndash; das heißt, wenn ein Anleger nach seiner Registrierung, welche durch Ihre Werbung initiiert wurde, in ein Projekt investiert, verdienen Sie die Lead-2-Provision!</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-8 col-xs-offset-4 col-sm-3 col-sm-offset-9 col-md-2 col-md-offset-10">
                    <div class="text-center">
                        <a class="btn btn-lg btn-nvstr" href="http://partner.net.zencap.de/register.html?mid=507">Hier anmelden</a>
                        <div class="desp-10"></div>
                        <p><a href="https://partner.net.zencap.de/">Schon registriert?</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- end .container-wrapper -->

    <div class="clearfix"></div>

    <div class="container-wrapper odd faq-affiliate">
        <div class="container spacing">
            <p class="faux-h1 text-center">Affiliate FAQ</p>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h3>FAQ</h3>
                    <div class="accordion-group">
                        <div class="accordion-heading"><a class="collapsed" href="#general-1" data-toggle="collapse" data-parent="#faq-collapse1"><i class="fa fa-angle-down fa-large pull-right"></i>Wie lange dauert es vom Erstkontakt bis zum Sale?</a></div>
                        <div id="general-1" class="accordion-body collapse">
                            <div class="accordion-inner">Die genaue Länge dieses Zeitraums hängt vom jeweiligen Investitionsprojekt ab. In einigen Fällen kann dieser sehr kurz sein; der schnellste war bisher ein Tag. Es kann allerdings auch bis zu 60 Tage in Anspruch nehmen, so dass wir von einer durchschnittlichen Dauer von 30 Tagen ausgehen.</div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"><a class="collapsed" href="#general-2" data-toggle="collapse" data-parent="#faq-collapse1"><i class="fa fa-angle-down fa-large pull-right"></i>Wie viele Lead 1 werden im Durchschnitt zu Lead 2 und zum Sale?</a></div>
                        <div id="general-2" class="accordion-body collapse">
                            <div class="accordion-inner">Da wir die Projekte prüfen, bevor sie den Investoren angeboten werden, verringert sich die Anzahl der Kreditanfragen von Lead 1 auf Lead 2 um ca. 80%: von 100 Anfragen kommen 20 weiter auf Lead 2 Status. Von diesen 20 Anfragen erreichen dann in der Regel 15 den Sale-Status.</div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"><a class="collapsed" href="#general-3" data-toggle="collapse" data-parent="#faq-collapse1"><i class="fa fa-angle-down fa-large pull-right"></i>Sind die Investitionen sicher?</a></div>
                        <div id="general-3" class="accordion-body collapse">
                            <div class="accordion-inner">Sie können sicher sein, dass kein Kreditprojekt auf unserem Marktplatz angeboten wird, das nicht einer Bonitätsprüfung auf höchstem Niveau unterzogen wurde. Alle Kreditprojekte werden sorgfältig von unseren Kredit-Experten ausgewertet. Neben den Finanzdaten der Unternehmen (Jahresabschlüsse und Betriebswirtschaftliche Auswertungen) basiert unsere Risikoeinschätzung auf der Bonitätsbewertung renommierter Auskunfteien (Creditreform, Schufa). Sollte ein Kreditnehmer dennoch ausfallen, sorgt ein strenges und aktives Forderungsmanagement dafür, Ihren Verlust so gering wie möglich zu halten.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3 col-md-offset-1"> <img alt="publisher@zencap.de" src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/sarah1.jpg" class="img-circle img-responsive"> </div>
                <div class="col-xs-8 col-sm-9 col-md-7">
                    <p class="faux-h2">Kontakt</p>
                    <p>Für weitere Fragen zu Kooperationsmöglichkeiten erreichen Sie uns gerne unter<a href="mailto:affiliate@zencap.de"> affiliate@zencap.de</a></p>
                    <p><a href="mailto:affiliate@zencap.de"><i class="fa fa-envelope-o fa-large"></i>&nbsp;affiliate@zencap.de</a></p>
                </div>
                <div class="col-xs-12">
                    <div class="desp-20"></div>
                    <p>
                        <small>*mit Ausnahme von Fake-Leads und Betrug</small>
                    </p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}