{% extends 'layout.html.twig' %}

{% block body %}

<div id="fb-root"></div>
<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>


<div class="cms-page blog blog-article">
    <div class="container-wrapper banner">
        <div class="container padding-48">
            <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/blog/mauerfall-20141110/header.jpg" alt="">
        </div>
    </div>
    <div class="container-wrapper site-main">
        <div class="container padding-48">
            <div class="row">
                <div class="col-xs-12 col-sm-8 site-content">
                    <article>
                        <h1>Deutschlands Mittelstand 25 Jahre nach Mauerfall</h1>
                        <small class="text-muted">10.11.2014</small>
                        <hr>
                        <p class="lead"><em>25 Jahre nach dem Mauerfall haben sich die neuen und die alten
                            Bundesländer stark angenähert. Dennoch gibt es immer noch gravierende Unterschiede.
                            Eine Infografik des Kreditmarktplatzes Zencap zeigt die wirtschaftlichen Divergenzen
                            zwischen dem Osten und Westen der Bundesrepublik.</em></p>

                        <p>25 Jahre Mauerfall: Am vergangenen Sonntag schaute die Welt nach Berlin. Tausende
                            Menschen strömten in die Hauptstadt. Die Überwindung des Eisernen Vorhangs wurde an
                            diesem Jubiläumstag in der Hauptstadt spektakulär zelebriert. Dort, wo einst die Mauer
                            war, stiegen am Sonntagabend weiße Ballons in den Nachthimmel hinauf. Doch wie sehr ist
                            Deutschland tatsächlich zusammengewachsen? Und welche Barrieren gilt es noch zu
                            überwinden? Zeit für eine Bilanz.</p>

                        <h2>Angleichung noch nicht in allen Wirtschaftsbereichen erreicht</h2>

                        <p>Eine Angleichung von Ost- und Westdeutschland hat auf etlichen Ebenen bereits erfolgreich
                            stattgefunden. Doch nach wie vor spielen die Unterschiede zwischen Ost und West eine
                            große Rolle – gesellschaftlich, wirtschaftlich und in der Politik. Das Ziel der
                            Anpassung des Ostens an den Westens bleibt ungeachtet zahlreicher politischer
                            Interventionen weiterhin im Fokus der öffentlichen Debatte.</p>

                        <p>Was ist der Grund dafür? Der IW Einheitsindex veranschaulicht beispielsweise anhand von
                            diversen wirtschaftlichen Indikatoren die Angleichung von ost- an westdeutsche
                            Standards. Aus ökonomischer Perspektive hat in den letzten 25 Jahren eine deutliche
                            Annäherung stattgefunden: 17 % der gesamten Wertschöpfung des geeinten Deutschlands
                            findet mittlerweile in den neuen Bundesländern statt. Mehr Informationen zum
                            IW-Einheitsindex gibt es <a
                                href="http://www.iwkoeln.de/de/studien/iw-trends/beitrag/187560" target="_blank">hier.</a>
                        </p>

                        <h2>Keine großen Unternehmen im Osten</h2>

                        <p>Obwohl die Investitionen in den Osten die Wirtschaftsleistung positiv beeinflusst haben,
                            bleiben die neuen Bundesländer in Sachen Produktivität noch immer weit hinter dem Westen
                            zurück.</p>

                        <p>Als Grund dafür wird unter anderem die Abstinenz von großen Konzernen und damit
                            einhergehend das Ausbleiben der Entstehung von wirtschaftlichen Ballungsräumen genannt.
                            Ein Vergleich der Umsatzanteile der unterschiedlichen Unternehmensgrößen in West- und
                            Ostdeutschland vom Ostdeutschen Bankenverband veranschaulicht diese Aussage: Während im
                            Osten deutlich höhere Umsatzanteile von kleinen und mittelständischen Unternehmen
                            getragen werden, ist keines der DAX Unternehmen mit seinem Hauptsitz im deutschen Osten
                            angesiedelt.</p>

                        <h2>Ostdeutschland von Mittelstandsunternehmen geprägt</h2>

                        <p>Die Entwicklung des ostdeutschen Mittelstandes wird vor allem von Städten wie Leipzig,
                            Dresden und Berlin vorangetrieben, welche sich zu immer attraktiveren Wirtschaftszentren
                            entwickeln. Ein zentraler Erfolgsfaktor ist hierbei die Innovationsfähigkeit - nicht nur
                            im nationalen, sondern auch im internationalen Wettbewerb. </p>

                        <p>Hier besitzen Großunternehmen der westdeutschen Wirtschaft nach wie vor einen Vorsprung
                            gegenüber der mittelständischen Konkurrenz. Dies spiegelt sich auch in den Ergebnissen
                            einer Umfrage unter 220 Ost- und Westdeutschen Unternehmern wider, welche die
                            Wirtschaftsprüfungsgesellschaft PwC zum Anlass des 25. Jubiläums des Mauerfalls
                            durchgeführt hat. Demnach sieht der deutsche Mittelstand die größten Herausforderungen
                            vor allem in der der Verbesserung der Innovationsfähigkeit, sowie der entsprechenden
                            Kapitalbeschaffung.</p>


                        <h2>Neue flexible Kreditfinanzierung für deutschen Mittelstand</h2>

                        <p>Um diesen Herausforderungen Rechnung zu tragen, hat die Finanzierungsplattform Zencap es
                            sich auf die Fahnen geschrieben, Mittelständler in ganz Deutschland durch einfache und
                            direkte Weise in ihren Finanzierungsvorhaben zu unterstützen, und Deutschland als
                            Innovationsstandort voranzubringen. Eine Vielzahl von kleinen und mittelständischen
                            Unternehmen hat sich diese Alternative zur Hausbank schon zu Nutzen gemacht.</p>

                        <p>Bei Zencap können private Geldgeber in Kreditprojekte von mittelständischen Unternehmen
                            investieren und somit direkt an der Erfolgsgeschichte “deutscher Mittelstand”
                            teilnehmen. Die Unternehmen wiederum profitieren von niedrigen Zinsen, Schnelligkeit,
                            Flexibilität und totaler Transparenz im Finanzierungsprozess. In den vergangenen 8
                            Monaten hat die Finanzierungsplattform Zencap so bereits ein Kreditvolumen von 5,4
                            Millionen Euro erreicht. Deutschlands Mittelständler in Ost und West können mit frischer
                            Liquidität Marktpotentiale ausschöpfen und weiter erfolgreich wachsen. Als junges
                            Unternehmen aus Berlin ist Zencap stolz darauf, Unternehmen und privaten Anlegern in
                            ganz Deutschland eine neuartige Finanzierungs- und Investitionsmöglichkeit zu
                            bieten.</p>

                        <p>An diesem Wochenende feiern wir nun also das 25-Jährige Jubiläum des Mauerfalls. Und
                            gemeinsam arbeiten wir daran, die Erfolgsgeschichte des Mittelstands im vereinten
                            Deutschland fortzuschreiben.</p>

                        <p><img style="border:solid 1px #dadada;"
                                class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/blog/mauerfall-20141110/infogfk.jpg"
                                alt="Infografik Zencap: 25 Jahre Mauerfall"></p>
                    </article>
                </div>
                <div class="hidden-xs col-sm-4 widget-latest-article">

                    {#[block:blog-categories]#}

                    {# begins 'block:blog-categories' #}

                    <aside class="well well-mini">
                        <p class="faux-h2">Kategorien</p>
                    </aside>

                    <aside class="blog-categories">
                        <p class="faux-h3">
                            <a href="/blog-categorie-01"><i class="fa fa-bullhorn"></i> Zencap News</a>
                        </p>
                        <hr>
                        <p class="faux-h3">
                            <a href="/blog-categorie-02"><i class="fa fa-briefcase"></i> Kreditnehmer & Partner</a>
                        </p>
                        <hr>
                        <p class="faux-h3">
                            <a href="/blog-categorie-03"><i class="fa fa-signal"></i> Unternehmergeist</a>
                        </p>
                    </aside>

                    <p class="desp-20"></p>

                    {# ends 'block:blog-categories' #}


                </div>

                {#[block:blog-newest-article]#}

                {# begins block:blog-newest-article #}
                <div class="hidden-xs col-sm-4">
                    <p class="desp-5"></p>
                    <div class="fb-like" data-href="https://www.zencap.de/blog/-79.html" data-width="300px"
                         data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
                    <p class="desp-5"></p>

                    <aside class="widget widget-latest-article">
                        <p class="faux-h3">Neueste Artikel</p>
                        <ul class="styled">

                            <li><strong>Drei konkrete Vorschläge für einen Fintech-Frontrunner
                                    Deutschland</strong></br>
                                Mehr Risikokapital für deutsche Start-ups – darüber waren sich Bundeskanzlerin
                                Angela Merkel und Rocket Internet CEO Oliver Samwer auf der vorgestrigen #cnight der
                                CDU einig. Insbesondere einzelne Unternehmen aus der deutschen Fintech-Industrie
                                haben das Potenzial ein nächstes Google zu werden. Doch damit das gelingen kann,
                                muss die Regierung schnell die notwendigen regulatorischen Rahmenbedingungen
                                schaffen, sagt Zencap Co-Gründer Dr. Christian Grobe. <a class="link-borrower"
                                    href="/blog-article-39"></br>
                                    mehr ...</a></li>


                            <li><strong>Negativzinsen - wer spart, der zahlt!</strong> </br>
                                Lohnt sich Sparen noch? Eine Frage, die sich viele Bundesbürger angesichts der
                                aktuellen Debatte um Negativzinsen derzeit stellen dürften.<a class="link-borrower"
                                    href="/blog-article-35"></br>
                                    mehr ...</a></li>
                            <li><strong>Selbstständige und Freiberufler können ab sofort einen Kredit
                                    beantragen</strong> </br>
                                Neben den bereits zulässigen Unternehmensformen können nun auch Kaufleute sowie
                                Freiberufler auf dem Online-Marktplatz einen Kredit beantragen und von privaten
                                Investoren finanzieren lassen.<a class="link-borrower" href="/blog-article-33"></br>
                                    mehr ...</a></li>

                            <li><strong>Vorlaufzinsen machen Zencap noch besser</strong> </br>
                                Nach einem erfolgreichen Start optimiert der digitale Kreditmarktplatz Zencap nun
                                kontinuierlich Produkt und Dienstleistung mit dem Zi
                                el die Plattform noch nutzerfreundlicher zu gestalten. Im Interview gibt Mitgründer
                                und Geschäftsführer Matthias Knecht der Zencap-Redaktion spannende Einblicke und
                                berichtet über Neuerungen<a class="link-borrower" href="/blog-article-32"></br>
                                    mehr ...</a></li>

                            <li><strong>WIR-Marken - Teil 6: Werte</strong> </br>
                                Markenexperte und Bestsellerautor Hermann H. Wala gibt Unternehmern in seiner
                                Kolumne Tipps wie sie erfolgreich und nachhaltig eine WIR-Marke aufbauen können.
                                Heutiges Thema: Werte - Als Unternehmen Position beziehen<a class="link-borrower"
                                    href="/blog-article-31"></br>
                                    mehr ...</a></li>

                        </ul>
                        {# ends block:blog-newest-article #}
                    </aside>

                    {#[block:twitter-blog]#}

                    {# begins [block:twitter-blog]#}
                    <aside>
                        <p>
                            <a {#style="margin-top:24px; width:300px; height: 400px;"#} class="twitter-timeline"
                                                                                        href="https://twitter.com/ZencapDE"
                                                                                        data-widget-id="494781689214689282">Tweets
                                de @ZencapDE</a>
                            <script>!function (d, s, id) {
                                    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                                    if (!d.getElementById(id)) {
                                        js = d.createElement(s);
                                        js.id = id;
                                        js.src = p + "://platform.twitter.com/widgets.js";
                                        fjs.parentNode.insertBefore(js, fjs);
                                    }
                                }(document, "script", "twitter-wjs");</script>
                        </p>
                    </aside>
                    {# ends [block:twitter-blog]#}


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}