<!-- cms block borrower-signup-info -->
<style>

    .signup-info .img-circle {
        margin: 0 auto;
        display: block;
        height: 50%;
        width: 50%;
    }

    .signup-info small span {
        font-size: 10px;
    }

    .signup-info .styled li {
        font-size: 13px;
        padding: 8px 25px 10px;
    }
    .satisfaction p, .satisfaction small {
        margin-left: 20px;
    }
    .satisfaction p {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 0;
        margin-top: 13px;
    }

</style>
<div class="cms-page borrower signup-info">
    <h2 class="faux-h3">Ihre Vorteile auf einen Blick</h2>
    <div class="text-center">
        <img alt="testemonial" src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/investor/investor-rounded.png" class="img-circle">
        <small>"Die Abwicklung bei Zencap ist sehr leicht, unbürokratisch und für jedermann verständlich.  	Ich würde Zencap immer einer Bank vorziehen."</small><br>
        <small><span><strong>Goetz Kanis hat mit 50.000 € seinen Vertrieb erweitert</strong></span></small>
    </div>
    <div class="desp-20"></div>
    <div class="row">
        <div class="col-xs-2">
            <img class="pull-left ekomi" src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/borrower-noindex/ekomi.png" alt="Ekomi" width="65" height="65">
        </div>
        <div class="col-xs-4 satisfaction">
            <p>94 %</p>
            <small>Kundenzufriedenheit</small>
        </div>
    </div>
    <div class="desp-30"></div>
    <ul class="styled check">
        <li>Zusätzliche Finanzierung für Ihren Erfolg</li>
        <li>Kostenlose und unkomplizierte Anfrage</li>
        <li>Angebot innerhalb von nur 48 Stunden</li>
        <li>Persönlicher Ansprechpartner garantiert</li>
        <li>Vorzeitige Rückzahlung gebührenfrei</li>
    </ul>
    <div class="desp-20"></div>
    <img alt="sz-logo" src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/borrower/sv-norton.jpg">
</div>
<!-- end cms block borrower-signup-info -->