{% extends 'layout.html.twig' %}

{% block body %}

    <style>
        i {
            font-size: 20px;
            vertical-align: bottom;
        }
    </style>

<div class="cms-page">

    <div class="container-wrapper">
        <div class="container">
            <div class="page-head">
                <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/header_08.jpg" alt="Operations and customer care">
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <h3>Operations and Customer Care</h3>
                    <p>Operations is the life blood of what we do at Zencap. We analyze loan requests, prevent fraud, manage bank transactions and work to ensure investors get their expected return. We tightly manage our processes to ensure we are meeting the expectations of our investors, borrowers and partners. And we monitor the entire customer journey in order to differentiate our product in the marketplace. We are intensely data driven and focus relentlessly on winning in terms of speed, cost, reliability and scalability of our organization.</p>
                    <p>Customer Care at Zencap is more than simply answering emails and phone calls. We are advocates for our customers and enable them to have a positive experience by guiding them through our product. Our investors and borrowers have high standards for the knowledge of our staff. More than anyone else, you have the power to solve a problem, establish trust and build the relationships with customers that form the foundation of our business. We expect Customer Care to play a vital role in shaping the product through actively seeking the “Voice of the Customer”.</p>
                    <p>No open jobs are currently available.</p>
                    <div>
                    </div>
                    <a href="/career-107.html">
                        <p><i class="fa fa-arrow-circle-left"></i> Back to Career Page</p>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2"> <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/norahermans2.jpg" alt="Nora Hermans">
                    <div class="desp-20"></div>
                    <h3>Contact</h3>
                    <p>Don't hesitate to contact Nora our Head of HR, if you have any question concerning your application.</p>
                    <p><strong>Nora Hermans</strong><br>
                        Head of HR</p>
                    <p><a href="mailto:career@zencap.de"><i class="fa fa-envelope fa-small"></i> career@zencap.de</a> <br>
                        <i class="fa fa-phone fa-small"></i> +49 30 2084900 26</p>
                    <p><a href="http://de.linkedin.com/pub/nora-hermans/78/51/3a1/en"><i class="fa fa-linkedin-square fa-large"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.xing.com/profile/Nora_Hermans"><i class="fa fa-xing-square fa-large"></i></a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}