{% extends 'layout.html.twig' %}

{% block body %}

<style>
    i {
        font-size: 20px;
        vertical-align: bottom;
    }
</style>

<div class="cms-page">

    <div class="container-wrapper">
        <div class="container">
            <div class="page-head">
                <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/header_05.jpg" alt="Engineering, Design and Product Management">
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7">
                    <h3>Engineering, Design and Product Management</h3>
                    <p>Software development at Zencap is fast, flexible and creative. If the terms refactoring, clean code, performance and test-driven mean something to you, then you'll feel right at home at Zencap.&nbsp;We love efficient code and architecture, but we love perfect code and architecture much more. We build complex and scalable systems that are critical for our goals to conquer the world of investments.</p>
                    <p>Our office in Berlin has skilled engineers and product developers in every expert area. But we're looking for a new talents 24 hours per day, 7 days per week. Whether you're looking for a technological deep-dive or for leadership responsibility, you'll find great development and continuous learning opportunities at Zencap.</p>
                    <p>If you love being in a fast-paced environment, surrounded by smart people and thrive on technological complexity, Zencap could be the right place for you and the next step in your career.</p>
                    <div>
                        <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfnew/senior-product-manager.pdf">Senior Product Manager (m/f) - location Berlin</a><br>
                        <a href="/career-107.html"><p><i class="fa fa-arrow-circle-left"></i>  Back to Career Page</p></a><br>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2"> <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/norahermans2.jpg" alt="Nora Hermans">
                    <div class="desp-20"></div>
                    <h3>Contact</h3>
                    <p>Don't hesitate to contact Nora our Head of HR, if you have any question concerning your application.</p>
                    <p><strong>Nora Hermans</strong><br>
                        Head of HR</p>
                    <p><a href="mailto:career@zencap.de"><i class="fa fa-envelope fa-small"></i> career@zencap.de</a> <br>
                        <i class="fa fa-phone fa-small"></i> +49 30 2084900 27</p>
                    <p><a href="http://de.linkedin.com/pub/nora-hermans/78/51/3a1/en"><i class="fa fa-linkedin-square fa-large"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.xing.com/profile/Nora_Hermans"><i class="fa fa-xing-square fa-large"></i></a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}