{% extends 'layout.html.twig' %}

{% block body %}

    <style>
        i {
            font-size: 20px;
            vertical-align: bottom;
        }
    </style>


    <div class="cms-page">

        <div class="container-wrapper">
            <div class="container">
                <div class="page-head">
                    <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/header_01.jpg" alt="Finance and Legal">
                </div>
            </div>
        </div><!-- end .container-wrapper -->

        <div class="container-wrapper">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h3>Finance and Legal</h3>
                        <p>Our Finance team is responsible for all activities regarding accounts payable, accounts receivable and cash management. We can answer all intern and extern questions regarding finance, controlling and tax issues across existing Zencap companies. Our internal finance is supported via managing cost center and cost object accounting, analyze and report to cost center owners. We are creating regular full financial reports to the co-founder and define budget planning. And on top, we are supporting in financial question for new launches, for example first contact to local tax adviser and communication with the local bank.</p>
                        <p>Our Legal team will make sure that our business model is compliant within the different markets. In some jurisdictions, we work together with local attorneys and coordinate their work. We make sure that the General Terms and Conditions are up to date and the websites suffice the legal standards. We can help with anything relating to contracts &ndash; internally and externally. Our aim is to provide documents and forms that are easy to understand and work with for our investors and borrowers. Our department’s philosophy is that legal work should not be about making things more difficult but about making them more simple. Last but not least, we are in charge for the corporate housekeeping.</p>
                        <div>
                            <p>No open jobs are currently available.</p>
                        </div>
                        <br><a href="/career-107.html"><p><i class="fa fa-arrow-circle-left"></i>  Back to Career Page</p></a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2"> <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/norahermans2.jpg" alt="Nora Hermans">
                        <div class="desp-20"></div>
                        <h3>Contact</h3>
                        <p>Don't hesitate to contact Nora our Head of HR, if you have any question concerning your application.</p>
                        <p><strong>Nora Hermans</strong><br>
                            Head of HR</p>
                        <p><a href="mailto:career@zencap.de"><i class="fa fa-envelope fa-small"></i> career@zencap.de</a> <br>
                            <i class="fa fa-phone fa-small"></i> +49 30 2084900 26</p>
                        <p><a href="http://de.linkedin.com/pub/nora-hermans/78/51/3a1/en"><i class="fa fa-linkedin-square fa-large"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.xing.com/profile/Nora_Hermans"><i class="fa fa-xing-square fa-large"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- end .container-wrapper -->

    </div><!-- end .cms-page -->

{% endblock %}