{% extends 'layout.html.twig' %}

{% block body %}

    <style>
        i {
            font-size: 20px;
            vertical-align: bottom;
        }
    </style>


    <div class="cms-page">

        <div class="container-wrapper">
            <div class="container">
                <div class="page-head">
                    <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/header_03.jpg" alt="Data and Risk">
                </div>
            </div>
        </div><!-- end .container-wrapper -->

        <div class="container-wrapper">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h3>Data, Business Intelligence and Risk</h3>
                        <p>Risk innovation is happening now. Without forgetting typical and proven variables and data points used in the financial services industry, we search and integrate innovative data points into scoring and rating models we develop. Our fraud and application scorings facilitate highly efficient and automated production processes. We understand Risk Management as innovation leader and enabler for doing business. At Zencap, we manage risks comprehensively across all the entity’s risks. Managing and containing risks, precisely measuring risks and providing concise disclosure are key to our work. The only reason why we can do this is because we hire the best talents, open and innovative, and provide the environment for all to be as creative as required for the aspirations we have.</p>
                        <div>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfsjobs/quantitative-risk-analyst2.pdf">Quantitative Risk Analyst (m/f) - location Berlin</a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfsjobs/data-scientist-risk2.pdf">Data Scientist (m/f) Business Intelligence/Risk - location Berlin</a><br><br>
                        </div>
                        <a href="/career-107.html"><p><i class="fa fa-arrow-circle-left"></i>  Back to Career Page</p></a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2"> <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/norahermans2.jpg" alt="Nora Hermans">
                        <div class="desp-20"></div>
                        <h3>Contact</h3>
                        <p>Don't hesitate to contact Nora our Head of HR, if you have any question concerning your application.</p>
                        <p><strong>Nora Hermans</strong><br>
                            Head of HR</p>
                        <p><a href="mailto:career@zencap.de"><i class="fa fa-envelope fa-small"></i> career@zencap.de</a> <br>
                            <i class="fa fa-phone fa-small"></i> +49 30 2084900 26</p>
                        <p><a href="http://de.linkedin.com/pub/nora-hermans/78/51/3a1/en"><i class="fa fa-linkedin-square fa-large"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.xing.com/profile/Nora_Hermans"><i class="fa fa-xing-square fa-large"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- end .container-wrapper -->

    </div><!-- end .cms-page -->

{% endblock %}