{% extends 'layout.html.twig' %}

{% block body %}

    <style>
        i {
            font-size: 20px;
            vertical-align: bottom;
        }
    </style>


    <div class="cms-page">

        <div class="container-wrapper">
            <div class="container">
                <div class="page-head">
                    <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/header_02a.jpg" alt="Marketing Career at Zencap">
                </div>
            </div>
        </div><!-- end .container-wrapper -->

        <div class="container-wrapper">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h3>Online Marketing and Communications</h3>
                        <p>Online Marketing at Zencap is targeted, fast paced and always results driven. We work together as specialists in our respective areas, bringing together beautifully executed SEM and Display campaigns, high performance partnerships and an active and growing base of affiliates and direct partners. Orchestrating all marketing channels and working closely with Communications, Product and Design, we are passionate about delivering the best customer experience for our investors and borrowers.</p>
                        <p>Being part of our Communications department is a unique experience. Online and offline channels are combined effectively to get the best out of our external and internal communication. We develop holistic communication strategies to reach our target groups investors and borrowers. In a very flat hierarchy, we report directly to one of the co-founders. From your first day on you will hold a lot of responsibilities and benefit from a sharp learning curve. As a team, we work efficient and target orientated with a hands-on mentality to achieve the intended buzz for our company.</p>
                        <div>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfnew/junior-communications-manager2.pdf">Junior Communications Manager (m/f) - location Berlin</a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfsjobs/head-marketing.pdf">Head (m/f) of Marketing, focus Online - location Berlin</a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdf-jobs/crm-manager.pdf">CRM Manager (m/f) - location Berlin</a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfnew/communications-manager-nl2.pdf"> Communications Manager (m/f), for the Dutch market - location Amsterdam</a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfnew/communications-manager-spanish-market.pdf">Communications Manager (m/f) for the Spanish market &ndash; location Madrid</a><br><br>
                        </div>
                        <a href="/career-107.html"><p><i class="fa fa-arrow-circle-left"></i>  Back to Career Page</p></a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2"> <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/norahermans2.jpg" alt="Nora Hermans">
                        <div class="desp-20"></div>
                        <h3>Contact</h3>
                        <p>Don't hesitate to contact Nora our Head of HR, if you have any question concerning your application.</p>
                        <p><strong>Nora Hermans</strong><br>
                            Head of HR</p>
                        <p><a href="mailto:career@zencap.de"><i class="fa fa-envelope fa-small"></i> career@zencap.de</a> <br>
                            <i class="fa fa-phone fa-small"></i> +49 30 2084900 27</p>
                        <p><a href="http://de.linkedin.com/pub/nora-hermans/78/51/3a1/en"><i class="fa fa-linkedin-square fa-large"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.xing.com/profile/Nora_Hermans"><i class="fa fa-xing-square fa-large"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- end .container-wrapper -->

    </div><!-- end .cms-page -->

{% endblock %}