{% extends 'layout.html.twig' %}

{% block body %}

    <style>
        i {
            font-size: 20px;
            vertical-align: bottom;
        }
    </style>


    <div class="cms-page">

        <div class="container-wrapper">
            <div class="container">
                <div class="page-head">
                    <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/header_06b.jpg" alt="Human resources and office management">
                </div>
            </div>
        </div><!-- end .container-wrapper -->

        <div class="container-wrapper">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h3>Human Resources and Office Management</h3>
                        <p>Zencap is interested in conquering the world in terms of SME lending, yes! However, this won’t be possible without smart, highly-committed and ambitious employees. As the HR department, we enjoy a high degree of self-responsibility and freedom while recruiting specialists and executives from all over the world! Approaching new Zencap team members on social media platforms and events, screening applications and conducting job interviews are as much a part of our daily tasks as cooperating closely with all business units. Our HR department is continuously looking for opportunities to make Zencap a better place to work by organizing team events, ensuring performance evaluation and career planning, as well as providing support and advice on all flags. Zencap, that’s a mix of different cultures, languages and characters provide a platform for learning, individual fulfillment and &ndash; of course &ndash; FUN!</p>
                        <p>No open jobs are currently available.</p>
                        <a href="/career-107.html"><p><i class="fa fa-arrow-circle-left"></i>  Back to Career Page</p></a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2"> <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/norahermans2.jpg" alt="Nora Hermans">
                        <div class="desp-20"></div>
                        <h3>Contact</h3>
                        <p>Don't hesitate to contact Nora our Head of HR, if you have any question concerning your application.</p>
                        <p><strong>Nora Hermans</strong><br>
                            Head of HR</p>
                        <p><a href="mailto:career@zencap.de"><i class="fa fa-envelope fa-small"></i> career@zencap.de</a> <br>
                            <i class="fa fa-phone fa-small"></i> +49 30 2084900 27</p>
                        <p><a href="http://de.linkedin.com/pub/nora-hermans/78/51/3a1/en"><i class="fa fa-linkedin-square fa-large"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.xing.com/profile/Nora_Hermans"><i class="fa fa-xing-square fa-large"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- end .container-wrapper -->

    </div><!-- end .cms-page -->

{% endblock %}