{% extends 'layout.html.twig' %}

{% block body %}

    <style>
        i {
            font-size: 20px;
            vertical-align: bottom;
        }
    </style>


    <div class="cms-page">

        <div class="container-wrapper">
            <div class="container">
                <div class="page-head">
                    <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/header_04.jpg" alt="Sales business-dev">
                </div>
            </div>
        </div><!-- end .container-wrapper -->

        <div class="container-wrapper">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-7 col-md-7">
                        <h3>Sales and Business Development</h3>
                        <p>Sales and Business Development is responsible for borrower origination. The team defines Zencap’s customer segments, establishes new distribution channels and reviews competition. Its primary activity is to speak with prospective borrowers and partners on a daily basis. In addition, the team prepares its marketing materials and reports for internal and external use. At Zencap, Sales and Business Development is an international team of highly motivated and fun individuals who share a passion for people, small business and entrepreneurship. Join us and help build the next big thing in finance.</p>
                        <div>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfsjobs/account-manager-focus-partner2.pdf">Account Manager (m/f), focus Partner &ndash; location Berlin </a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfnew/associate-focus-sme.pdf">Associate (m/f), focus SME - location Berlin </a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfnew/account-manager-focus-partners-dutch-market2.pdf">Account Manager (m/f), focus Partner &ndash; location Amsterdam</a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfnew/associate-focus-smes-nl2.pdf">Associate (m/f), focus SME - location Amsterdam</a><br>
                            <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/de/career/pdfnew/intern-bizdev-spain.pdf">Intern (m/f) Business Development Spain &ndash; location Madrid</a>
                            <br><br>
                        </div>
                        <a href="/career-107.html"><p><i class="fa fa-arrow-circle-left"></i>  Back to Career Page</p></a>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-2"> <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/career/norahermans2.jpg" alt="Nora Hermans">
                        <div class="desp-20"></div>
                        <h3>Contact</h3>
                        <p>Don't hesitate to contact Nora our Head of HR, if you have any question concerning your application.</p>
                        <p><strong>Nora Hermans</strong><br>
                            Head of HR</p>
                        <p><a href="mailto:career@zencap.de"><i class="fa fa-envelope fa-small"></i> career@zencap.de</a> <br>
                            <i class="fa fa-phone fa-small"></i> +49 30 2084900 27</p>
                        <p><a href="http://de.linkedin.com/pub/nora-hermans/78/51/3a1/en"><i class="fa fa-linkedin-square fa-large"></i></a>&nbsp;&nbsp;&nbsp;<a href="https://www.xing.com/profile/Nora_Hermans"><i class="fa fa-xing-square fa-large"></i></a>
                    </div>
                </div>
            </div>
        </div><!-- end .container-wrapper -->

    </div><!-- end .cms-page -->

{% endblock %}