{% extends 'layout.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Allgemeine Geschäftsbedingungen für Privatanleger</h1>
            <p>
                <a href="#__RefHeading__6871_1032035779">1. Geltungsbereich für Privatanleger; Funktionsweise von Zencap</a>
            </p>
            <p>
                <a href="#__RefHeading__6873_1032035779">2. Grundlagen des Nutzungsvertrages</a>
            </p>
            <p>
                <a href="#__RefHeading__6875_1032035779">3. Registrierung auf Zencap; Widerrufsrecht; Aktualisierung Ihrer Daten</a>
            </p>
            <p>
                <a href="#__RefHeading__6877_1032035779">4. Zencap-Leistungen; Verfügbarkeit von Zencap</a>
            </p>
            <p>
                <a href="#__RefHeading__6879_1032035779">5. Zencap-Leistungen für Kreditnehmer</a>
            </p>
            <p>
                <a href="#__RefHeading__6881_1032035779">6. Zencap-Leistungen für Anleger</a>
            </p>
            <p>
                <a href="#__RefHeading__6883_1032035779">7. Kreditvermittlung</a>
            </p>
            <p>
                <a href="#__RefHeading__6885_1032035779">8. Datenänderung; Datenschutzerklärung; Anonymität</a>
            </p>
            <p>
                <a href="#__RefHeading__6887_1032035779">9. Haftung</a>
            </p>
            <p>
                <a href="#__RefHeading__6889_1032035779">10. Kündigung des Nutzungsvertrages</a>
            </p>
            <p>
                <a href="#__RefHeading__6891_1032035779">11. Anwendbares Recht; Vertragssprache; Aufsichtsbehörde</a>
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6871_1032035779"></a>
                1. Geltungsbereich für Privatanleger; Funktionsweise von Zencap
            </h2>
            <p>
                1.1 Diese Allgemeinen Geschäftsbedingungen für die Nutzung des auf unseren Internetseiten (www.Zencap.de) bereit gestellten Marktplatzes für Kredite („    <strong>Zencap</strong>“ oder „<strong>Zencap-Plattform</strong>“) gelten für die zwischen Ihnen und uns als Betreiber von Zencap abgeschlossenen Verträge
                zur Nutzung von Zencap („<strong>Nutzungsvertrag</strong>“). Zencap führt Unternehmer (§ 14 BGB), die Ratentilgungskreditverträge schließen möchten („    <strong>Kreditnehmer</strong>“) mit Unternehmern und Verbrauchern (§ 13 BGB) zusammen, die bereit sind, dem Kreditnehmer Kapital für sein Unternehmen zur
                Verfügung zu stellen („<strong>Anleger</strong>“).
            </p>
            <p>
                Diese Fassung der Allgemeinen Geschäftsbedingungen gilt, sofern Sie Verbraucher (§ 13 BGB) sind und Zencap als Anleger („<strong>Privatanleger</strong>“)
                nutzen wollen. Sofern Sie Unternehmer (§ 14 BGB) sind und Zencap als Anleger oder Kreditnehmer nutzen wollen, finden Sie die für Sie geltenden Allgemeinen
                Geschäftsbedingungen für die Nutzung von Zencap <a href="/terms-and-conditions-borrower">hier</a>.
            </p>
            <p>
                1.2 Zencap funktioniert als Marktplatz <u>vereinfacht</u> (Genaueres finden Sie unten in Ziffern 5 und 6) wie folgt:
            </p>
            <p>
                Auf Zencap können Kreditnehmer Kreditprojekte einstellen und diese nach Ermittlung <em>rating</em>-basierter Konditionen freischalten. Zur Voraussetzung
                kann ferner gemacht werden, dass der Kreditnehmer Sicherheit durch Bürgschaft eines von der Bank akzeptierten Bürgen leistet. Anleger können sich binnen
                einer Laufzeit von in der Regel einundzwanzig (21) Kalendertagen („<strong>Anlagefrist</strong>“) dazu entscheiden, zu auf Zencap freigeschalteten
                Kreditprojekten Finanzierungszusagen abzugeben. Zencap kann die Anlagefrist für einen angemessenen Zeitraum verlängern, wenn Zencap dies unter
                Berücksichtigung der Interessen des Kreditnehmers und der Anleger für angezeigt hält (die maximale Anlagefrist beträgt 42 Kalendertage). Finden sich
                genügend Anleger zur vollständigen Finanzierung des freigeschalteten Kreditprojekts eines Kreditnehmers, kommt dieses zustande („    <strong>Vollständig Finanziertes Kreditprojekt</strong>“). Haben sich nicht genügend Anleger beteiligt, kommt das Kreditprojekt grundsätzlich nicht
                zustande. Kreditnehmern kann jedoch in Fällen, in denen der vom Kreditnehmer ursprünglich nachgefragte Kreditbetrag nach Ablauf der Anlagefrist nicht
                vollständig durch Finanzierungszusagen von Anlegern gedeckt ist („<strong>Unvollkommen Finanziertes Kreditprojekt</strong>“), ein freibleibendes Angebot
                zur Vermittlung eines Kreditvertrages zu dem durch diese Finanzierungszusagen gedeckten Betrag gemacht werden. Vollständig Finanzierte Kreditprojekte und
                Unvollkommen Finanzierte Kreditprojekte werden nachstehend gemeinsam auch als „<strong>Finanzierte Kreditprojekte</strong>“ bezeichnet.
            </p>
            <p>
                Wir sind keine Bank. Der Kreditnehmer erhält daher <em>über</em> Zencap vermittelte Möglichkeiten zum Abschluss von Kreditverträgen. Er erhält Kredite aber
                niemals von uns. Vielmehr versuchen wir dem Kreditnehmer eines Finanzierten Kreditprojekts nur zu ermöglichen, dass ihm die mit Zencap kooperierende Bank
                (die „<strong>Bank</strong>“) einen Kredit zu den aufgrund des <em>rating</em> festgesetzten Konditionen des Finanzierten Kreditprojekts gewährt, weil sich
                genügend Anleger zur Finanzierung bereit erklärt haben. Hierzu muss der Kreditnehmer einen entgeltlichen Kreditvermittlungsvertrag mit uns abschließen. Wir
                sind sodann verpflichtet, uns um einen Kreditvertrag zu den Konditionen des Finanzierten Kreditprojekts bei der Bank zu bemühen. Die Entscheidung, ob die
                Bank mit einem Kreditnehmer einen Kreditvertrag abschließt, liegt ausschließlich bei der Bank.
            </p>
            <p>
                Sofern der Kreditnehmer einen durch uns vermittelten Kreditvertrag schließt, erhalten die Anleger, welche sich an dem Finanzierten Kreditprojekt beteiligen
                und so die Mittel für die Kreditvergabe erbracht haben, die Forderungen aus dem Kreditvertrag anteilig aufgrund eines gesonderten entgeltlichen
                Forderungskauf- und Abtretungsvertrages („<strong>Forderungskaufvertrag</strong>“) abgetreten. Nach Abtretung werden die laufenden Forderungen aus dem
                Kreditvertrag sodann an die Anleger jeweils anteilig in Höhe ihrer berücksichtigten Finanzierungszusage ausgezahlt.
            </p>
            <p>
                1.3 Die Bank gewährt – sofern sie einen Kreditvertrag mit einem Kreditnehmer abschließen möchte – sog. annuitätische Ratenkredite. Die monatlich zu
                zahlenden Raten setzen sich aus einem Anteil für Zinsen und einem Anteil für Tilgung zusammen (die Summe dieser Werte wird Annuität genannt). Der
                Zinsanteil nimmt während der Laufzeit des Kreditvertrages stets leicht ab, da sich durch die laufende Tilgung die zu verzinsende Kreditsumme verringert.
                Sofern der Kredit vertragsgemäß bedient wird, d.h. jeweils die vertraglich vereinbarte monatliche Rate bezahlt wird, ist dieser am Ende der Laufzeit
                vollständig verzinst zurückgezahlt.
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6873_1032035779"></a>
                2. Grundlagen des Nutzungsvertrages
            </h2>
            <p>
                2.1 Betreiber von Zencap und Ihr Vertragspartner bei Nutzung von Zencap („<strong>wir</strong>“; „<strong>uns</strong>“) ist:
            </p>
            <p>
                die <strong>Zencap Deutschland GmbH</strong>, Johannisstraße 20, 10117 Berlin, eingetragen im Handelsregister des Amtsgerichts Charlottenburg unter HRB
                151217 B, vertreten durch die Geschäftsführer Dr. Matthias Knecht und Dr. Christian Grobe
            </p>
            <p>
                Hauptgeschäftstätigkeit: Betreiben einer Internetseite und die Bereitstellung eines
                <br/>
                E-Commerce-Marktplatzes für kleine und mittelständische Unternehmen sowie die Erbringung damit in Zusammenhang stehender Serviceleistungen.
                <br/>
                <br/>
                E-Mail: investor@zencap.de
                <br/>
                Tel: 030 / 2084900 - 22
                <br/>
                Fax: 030 / 2084900 - 10
            </p>
            <p>
                Unseren Kundenservice erreichen Sie montags bis freitags von 9:00 Uhr bis 18:00 Uhr unter der Telefonnummer 0800 - 72408 14 (kostenlose Servicerufnummer, erreichbar
                nur aus dem deutschen Festnetz und aus deutschen Mobilfunknetzen).
            </p>
            <p>
                2.2 Auf Zencap können Sie sich (jeweils auch „<strong>Nutzer</strong>“ oder „<strong>Sie</strong>“) wie in Ziffer 3.1 beschrieben registrieren. Nutzern
                stehen die in Ziffer 4 näher bezeichneten Leistungen unentgeltlich zu. Der Nutzungsvertrag gilt nicht für die Beziehungen zwischen Kreditnehmer und
                Anleger(n), zwischen Kreditnehmer und der Bank und zwischen Anleger und Zencap Connect GmbH, AG Berlin-Charlottenburg HRB 154839 B („Zencap Connect“); für
                diese gelten gesonderte Verträge und die Bestimmungen des Bürgerlichen Rechts.
            </p>
            <p>
                2.3 Unsere Leistungen erstrecken sich und sind beschränkt auf die Leistungen nach dem Nutzungsvertrag. Wir erheben, verarbeiten und nutzen Daten aufgrund
                unserer Datenschutzerklärung. Andere uns vor oder nach Abschluss des Nutzungsvertrages überlassene Angebote oder Geschäftsbedingungen von Nutzern gelten
                nicht und zwar auch dann nicht, wenn wir ihnen allgemein oder im Einzelfall nicht widersprechen.
            </p>
            <p>
                2.4 Wir sind berechtigt, diesen Nutzungsvertrag unter Einhaltung der gesetzlichen Vorschriften zu ändern. Derartige Änderungen gelten als von Ihnen
                genehmigt und werden für laufende Verträge wirksam, wenn wir Ihnen die Änderungen in Textform mitteilen und Sie diesen Änderungen innerhalb von vier (4)
                Wochen ab Zugang der Mitteilung nicht widersprechen. Auf diese Folge werden wir Sie in der Mitteilung nochmals besonders hinweisen. Änderungen gelten stets
                für die Zukunft.
            </p>
            <p>
                2.5 Wie immer wenn Sie wirtschaftlich tätig werden, müssen Sie die Chancen und Risiken selbst verantwortungsvoll abwägen und sodann entscheiden. Zencap
                kann Ihnen diese Abwägung weder abnehmen noch diese durch technische Vorgänge ersetzen. Insbesondere obliegt Ihnen als Privatanleger die Prüfung, welche
                spezifischen Risiken mit der Rechtsform des Unternehmens eines Kreditnehmers verbunden sind oder sein können.
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6875_1032035779"></a>
                3. Registrierung auf Zencap; Widerrufsrecht; Aktualisierung Ihrer Daten
            </h2>

            <p>
                3.1 Um den Nutzungsvertrag als Privatanleger zu schließen, tragen Sie die an uns zu übermittelnden Daten bitte im Online-Registrierungsformular ein und
                übermitteln uns diese durch einen Klick auf der entsprechenden Schaltfläche, nachdem Sie sich mit der Geltung dieses Nutzungsvertrages und der für Sie
                geltenden Datenschutzerklärung einverstanden erklärt haben. Welche Daten Sie im Einzelnen eingeben müssen, können Sie der Datenschutzerklärung entnehmen.
                Wir senden Ihnen per E-Mail eine Bestätigung Ihrer Registrierung sowie diese Nutzungsbedingungen und die für Sie geltende Datenschutzerklärung zu, sobald wir
                die Daten erhalten haben. Sie erhalten mit dieser E-Mail ferner die Unterlagen zur Erteilung eines Lastschriftmandats zugunsten von Zencap Connect zur
                Einziehung der Kaufpreise aus dem jeweiligen Forderungskaufvertrag (vgl. Ziffer 6.3). Sofern Sie das mit dieser E-Mail erhaltene Angebot nach Erhalt der
                E-Mail über einen vorgegebenen Link annehmen und sodann das zur endgültigen Erteilung des Lastschriftmandats vorgesehene Kontrollkästchen aktiviert haben,
                kommt der Nutzungsvertrag über Ihr Starter-Konto auf Zencap als Privatanleger zustande.<strong> </strong>
            </p>
            <p class="text-center">
                <strong>Widerrufsbelehrung</strong>
            </p>
            <p>
                <strong>Widerrufsrecht</strong>
            </p>
            <p>
                Sie haben das Recht, binnen vierzehn Tagen ohne Angabe von Gründen diesen Vertrag zu widerrufen.
            </p>
            <p>
                Die Widerrufsfrist beträgt vierzehn Tage ab dem Tag des Vertragsabschlusses.
            </p>
            <p>
                Um Ihr Widerrufsrecht auszuüben, müssen Sie uns (Zencap Deutschland GmbH, Johannisstraße 20, 10117 Berlin, Telefonnummer: 0800 - 72408 14, Fax: 030 / 2084900 - 10, E-Mail: investor@zencap.de)
                mittels einer eindeutigen Erklärung (z. B. ein mit der Post versandter Brief, Telefax oder E-Mail) über Ihren Entschluss, diesen Vertrag zu widerrufen,
                informieren. Sie können dafür das beigefügte Muster-Widerrufsformular verwenden, das jedoch nicht vorgeschrieben ist.
            </p>
            <p>
                Zur Wahrung der Widerrufsfrist reicht es aus, dass Sie die Mitteilung über die Ausübung des Widerrufsrechts vor Ablauf der Widerrufsfrist absenden.
            </p>
                <strong>Folgen des Widerrufs</strong>
            </p>
            <p>
                Wenn Sie diesen Vertrag widerrufen, haben wir Ihnen alle Zahlungen, die wir von Ihnen erhalten haben, einschließlich der Lieferkosten (mit Ausnahme der
                zusätzlichen Kosten, die sich daraus ergeben, dass Sie eine andere Art der Lieferung als die von uns angebotene, günstigste Standardlieferung gewählt
                haben), unverzüglich und spätestens binnen vierzehn Tagen ab dem Tag zurückzuzahlen, an dem die Mitteilung über Ihren Widerruf dieses Vertrags bei uns
                eingegangen ist. Für diese Rückzahlung verwenden wir dasselbe Zahlungsmittel, das Sie bei der ursprünglichen Transaktion eingesetzt haben, es sei denn, mit
                Ihnen wurde ausdrücklich etwas anderes vereinbart; in keinem Fall werden Ihnen wegen dieser Rückzahlung Entgelte berechnet.
            </p>
            <p>
                3.2 Sie sind verpflichtet, Ihre Zugangsdaten (insbesondere Ihr Passwort) vertraulich zu behandeln; die Weitergabe an Dritte ist untersagt. Bitte beachten
                Sie, dass Sie durch den Nutzungsvertrag auch darin einwilligen, für Schäden aufgrund einer schuldhaften Verletzung dieser Vertraulichkeitsverpflichtung zu
                haften; diese gilt gegenüber uns aber auch gegenüber allen Nutzern von Zencap und der Bank (Vertrag zu Gunsten Dritter).
            </p>
            <p>
                3.3 Als Nutzer müssen Sie Ihre Daten stets aktuell halten, diese bei eventuellen Änderungen unverzüglich korrigieren oder uns Änderungen in Textform
                mitteilen. Besonders wichtig ist, dass Sie Ihre Kontodaten stets aktuell halten. Bitte vergegenwärtigen Sie sich, dass andere Nutzer darauf
                vertrauen, dass Ihre Daten stets aktuell sind.
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6877_1032035779"></a>
                4. Zencap-Leistungen; Verfügbarkeit von Zencap
            </h2>
            <p>
                4.1 Nach dem Nutzungsvertrag stellen wir Ihnen als vertragliche Leistung ausschließlich (i) Zencap wie in dieser Ziffer 4 beschrieben zur Verfügung, (ii)
                unterstützen Kreditnehmer wie in Ziffer 5 beschrieben und (iii) unterstützen Anleger wie in Ziffer 6 beschrieben.
            </p>
            <p>
                4.2 Nicht umfasst vom Nutzungsvertrag ist (i) die Kreditvermittlung (Grundlage hierfür ist stets ein Kreditvermittlungsvertrag), (ii) Kreditforderungen an
                Anleger zu verkaufen oder abzutreten oder für diese zu verwalten (Grundlage hierfür ist ein gesonderter Forderungskaufvertrag mit Zencap und Zencap
                Connect), (iii) kreditrelevante Daten oder Inhalte oder sonstige auf Zencap eingestellte Informationen für Anleger zu prüfen, (iv) die Zahlungswilligkeit,
                Bonität oder Identität von Kreditnehmern für Anleger jenseits des <em>rating</em> zu prüfen, (v) Finanzdienstleistungen oder Bankgeschäfte zu erbringen
                oder zu vermitteln oder zu solchen Produkten zu beraten, (vi) zu prüfen, ob Unterlagen, Informationen oder Daten von Kreditnehmern korrekt, vollständig
                und/oder echt sind oder (vii) den Abschluss oder die Rechtswirksamkeit des Kreditvertrages zwischen Kreditnehmer und der Kredit gewährenden Bank oder der
                vertraglichen Beziehung aufgrund des Forderungskaufvertrages zwischen Anleger und Zencap Connect sicher zu stellen.
            </p>
            <p>
                4.3 Die Verfügbarkeit von Zencap hängt von der eigenen technischen Ausstattung der Nutzer ab. Um Zencap nutzen und um auf Zencap im Internet zugreifen zu
                können, müssen Sie über die erforderlichen und geeigneten technischen Mittel (Computer, Internetzugang, E-Mail-Adresse) verfügen.
            </p>
            <p>
                4.4 Der Nutzungsvertrag verpflichtet Zencap nur dazu, Zencap während der von uns festgelegten Verfügbarkeitszeiträume zur Nutzung verfügbar zu halten.
                Wiewohl wir dies anstreben, sind wir nicht verpflichtet, Zencap jederzeit verfügbar zu halten. Sofern Zencap zwingend der Wartung bedarf, sofern die
                Sicherheit von Zencap (insbesondere: die Datensicherheit) dies erfordert oder sofern wir Ereignissen ausgesetzt sind, welche wir selbst nicht beeinflussen
                können (z.B. Mängel, eingeschränkte Verfügbarkeit oder Ausfall von Telekommunikationsnetzen, der Datenübertragung durch Dritte, der Energieversorgung sowie
                Naturkatastrophen, von uns nicht verursachte Stilllegungsanordnungen von Aufsichtsbehörden und ähnliche Ereignisse), sind wir zur teilweisen oder gänzlichen
                Einstellung der Verfügbarkeit von Zencap berechtigt. Zencap wird auf Grundlage des technischen Standes von Zencap und des Internets bei Abschluss des
                Nutzungsvertrages zur Verfügung gestellt. Wenn Maßnahmen erforderlich sind, um die Sicherheit unserer Server (etwa bei Angriffen aus dem Internet) zu
                gewährleisten oder technische Maßnahmen angezeigt sind, um den Standard von Zencap aufrecht zu erhalten oder zu verbessern, können wir den Zugang zu Zencap
                jederzeit unter angemessener Berücksichtigung der Interessen der Nutzer vorübergehend einschränken oder einstellen. Wir sichern unsere Systeme gegen den
                unbefugten Zugriff Dritter nach bestem Wissen und Gewissen und nach dem bei Vertragsschluss bestehenden Stand der Technik.
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6879_1032035779"></a>
                5. Zencap-Leistungen für Kreditnehmer
            </h2>
            <p>
                5.1 <u>Einstellen von Kreditprojekten</u>.
            </p>
            <p>
                Zencap gibt für Kreditprojekte einen formalen Rahmen vor, der für Anleger eine Vergleichbarkeit und Transparenz sicherstellt. Um ein <em>rating</em> des
                Kreditprojekts durchführen zu können, muss der Kreditnehmer uns weitere Daten mitteilen. Zencap erhebt hierbei insbesondere Daten
            </p>
            <ul>
                <li>
                    <p>
                        zu Kredithöhe, Laufzeit des Kreditvertrages, Zweck des Kredits;
                    </p>
                </li>
                <li>
                    <p>
                        zum Unternehmen und Geschäftsmodell des Unternehmens;
                    </p>
                </li>
                <li>
                    <p>
                        zu Gesellschaftern, Organen und vertretungsberechtigten Personen des Unternehmens;
                    </p>
                </li>
                <li>
                    <p>
                        zu laufenden Krediten, sonstigen Verbindlichkeiten, langfristigen Zahlungsverpflichtungen und Finanzkennzahlen des Unternehmens;
                    </p>
                </li>
                <li>
                    <p>
                        ggf. Detailangaben zu der Person, die für den Kredit Sicherheit durch Bürgschaft leisten soll.
                    </p>
                </li>
            </ul>
            <p>
                Nachdem der Kreditnehmer alle erforderlichen Daten eingegeben und die notwendigen Dokumente an uns übermittelt hat, kann er sein Kreditprojekt („    <strong>Kreditprojekt</strong>“) für das <em>rating</em> durch Zencap freigeben. Er kann den Inhalt seines Kreditprojekts so lange ändern, bis er diese
                Freigabe erteilt hat. Danach ist eine Änderung aufgrund der dann automatisiert ablaufenden Prozesse in unseren Systemen nicht mehr möglich.
            </p>
            <p>
                5.2 <em><u>rating </u></em><u>und Entscheidung durch </u><u>Zencap</u>.
            </p>
            <p>
                Sobald wir die nach vorstehender Ziffer 5.1 erforderlichen Daten erhalten haben, führen wir eine Prüfung des Kreditprojekts aufgrund dieser Daten sowie
                einer mit Einwilligung des Kreditnehmers durchgeführten Bonitätsauskunft bei Dritten (z.B. SCHUFA; Creditreform; Allianz-Gruppe/Bürgel
                Wirtschaftsinformationen) durch („<em><strong>rating</strong></em>“). Wir ermitteln so – teilweise durch eine automatisierte Vorprüfung in unseren
                Systemen, teilweise durch Abfrage bei den genannten Dritten und teilweise durch Einzelfallprüfung durch unsere Mitarbeiter – für die Bank einen
                Wahrscheinlichkeitswert für die Rückführung des gewünschten Kredits und damit, ob der Kreditnehmer die Voraussetzungen für die Auszahlung des Kredits durch
                die Bank grundsätzlich erfüllt. Soweit eine Sicherheit durch Bürgschaft zu leisten ist, wird ergänzend eine Bonitätsauskunft zum Bürgen eingeholt. Wir
                teilen ihm dann die Entscheidung mit, ob und wenn ja, zu welchem Zinssatz wir die Freischaltung des Kreditprojekts für Anleger ermöglichen. Fällt die
                Prüfung negativ aus, so kann der Kreditnehmer sein Kreditprojekt nicht freischalten. Fällt die Prüfung positiv aus, so teilen wir ihm dies nebst den für
                das Kreditprojekt ermittelten Konditionen mit.
            </p>
            <p>
                5.3 <u>Freischaltung</u>.
            </p>
            <p>
                Sofern der Kreditnehmer eine positive Mitteilung nach vorstehender Ziffer 5.2 erhalten hat, kann er sein Kreditprojekt elektronisch freischalten.
            </p>
            <p>
                5.4 <u>Anlagefrist; Zustandekommen eines Finanzierten Kreditprojekts</u>.
            </p>
            <p>
                Nach Freischaltung steht das Kreditprojekt für in der Regel einundzwanzig (21) Kalendertage („<strong>Anlagefrist</strong>“) auf der Kreditprojekte-Seite von Zencap zur Abgabe von
                Finanzierungszusagen bereit. Wir können die Anlagefrist für einen angemessenen Zeitraum verlängern, wenn wir dies unter Berücksichtigung der Interessen des
                Kreditnehmers und der Anleger für angezeigt halten. Dies kann insbesondere dann der Fall sein, wenn die Erfahrungen von Zencap eine vollständige
                Finanzierung des Kreditprojekts binnen der verlängerten Anlagefrist erwarten lassen. Die maximale Anlagefrist beträgt 42 Kalendertage.
            </p>
            <p>
                Sobald innerhalb der Anlagefrist genügend Anleger Finanzierungszusagen abgegeben haben, um das Kreditprojekt vollständig zu finanzieren, endet die
                Anlagefrist und das Kreditprojekt kommt als Vollständig Finanziertes Kreditprojekt zustande. Die Kreditvergabe für ein Finanziertes Kreditprojekt durch die
                Bank hängt sodann von den unten in Ziffer 7 dargestellten Schritten ab.
            </p>
            <p>
                Wenn nach Ablauf der Anlagefrist Anleger Finanzierungszusagen abgegeben haben, um das Kreditprojekt teilweise zu finanzieren, so können wir ein Angebot zur
                Vermittlung eines Kreditvertrages für dieses Unvollkommen Finanzierte Kreditprojekt unterbreiten. Die Kreditvergabe für ein Finanziertes Kreditprojekt
                durch die Bank hängt sodann ebenfalls von den unten in Ziffer 7 dargestellten Schritten ab.
            </p>
            <p>
                Haben sich bei Ablauf der maximalen Anlagefrist nicht genügend Anleger zur vollständigen Finanzierung des Kreditprojekts gefunden und unterbreiten wir auch
                kein Angebot zur Vermittlung eines Kreditvertrages für ein Unvollkommen Finanziertes Kreditprojekt (oder kommt ein Kreditvermittlungsvertrag oder ein
                Kreditvertrag nicht zustande), so verfällt das Kreditprojekt zusammen mit allen abgegebenen Finanzierungszusagen von Anlegern.
            </p>
            <p>
                Nachdem das Kreditprojekt freigegeben wurde, kann der Kreditnehmer das Kreditprojekt nicht mehr ändern. Er kann es allerdings insgesamt löschen, bevor die
                Anlagefrist abgelaufen, und das Kreditprojekt noch nicht als Finanziertes Kreditprojekt zustande gekommen ist; abgegebene Finanzierungszusagen von
                Anlegern verfallen dann.
            </p>
            <p>
                5.5 <u>Sperrung des Kreditprojekts während der Anlagefrist.</u>
            </p>
            <p>
                Wir dürfen die Freischaltung aus wichtigem Grund rückgängig machen oder das betreffende Kreditprojekt zeitweise sperren (beispielsweise wenn rechtswidrige
                oder grob irreführende Angaben eingestellt werden, wenn begründete Zweifel an der Richtigkeit der Angaben bestehen oder wenn der Kreditnehmer seinen
                Nutzungsvertrag kündigt oder die Einwilligungen zur Einbeziehung der ihn betreffenden Datenschutzerklärung oder zur Einholung benötigter Daten und
                Auskünfte bei Dritten widerruft). Dies geschieht vor dem Hintergrund von Ziffer 4.2 ausschließlich, um die Effizienz von Zencap sicher zu stellen.
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6881_1032035779"></a>
                6. Zencap-Leistungen für Anleger
            </h2>
            <p>
                6.1 <u>Finanzierungszusagen („Gebote“)</u>.
            </p>
            <p>
                Sie können auf Zencap freigegebene Kreditprojekte während der jeweils laufenden Anlagefrist einsehen. Sie können frei entscheiden, ob und mit welchem
                Betrag – mindestens jedoch EUR 100,00 und immer mit einem Betrag, welcher einem Vielfachen von EUR 100,00 entspricht – Sie sich ggf. beteiligen möchten.
                Sofern Sie sich an einem Kreditprojekt beteiligen wollen, geben Sie verbindlich den Betrag Ihrer Finanzierungszusage an.
            </p>
            <p>
                6.2 <u>Finanzierte Kreditprojekte</u>.
            </p>
            <p>
                Sobald innerhalb der Anlagefrist genügend Anleger Finanzierungszusagen abgeben haben, um ein Kreditprojekt vollständig zu finanzieren, d.h. den gesamten
                Kreditbetrag abzudecken, endet die Anlagefrist und das Kreditprojekt kommt als Vollständig Finanziertes Kreditprojekt zustande. Weitere
                Finanzierungszusagen sind dann ausgeschlossen. Bereits abgegebene Finanzierungszusagen können Sie nicht – auch nicht betragsmäßig – ändern.
            </p>
            <p>
                Wenn bei Ablauf der Anlagefrist Anleger Finanzierungszusagen abgegeben haben, die ein Kreditprojekt teilweise finanzieren, so können wir dem Kreditnehmer
                ein Angebot zur Vermittlung eines Kreditvertrages für dieses Unvollkommen Finanzierte Kreditprojekt unterbreiten. Die Finanzierungszusage jedes Anlegers
                ist auch hinsichtlich eines Unvollkommen Finanzierten Kreditprojektes bindend.
            </p>
            <p>
                Haben sich bei Ablauf der Anlagefrist nicht genügend Anleger zur vollständigen Finanzierung des Kreditprojekts gefunden und unterbreiten wir auch kein
                Angebot zur Vermittlung eines Kreditvertrages für ein Unvollkommen Finanziertes Kreditprojekt (oder kommt ein Kreditvermittlungsvertrag oder ein
                Kreditvertrag nicht zustande), so verfällt das Kreditprojekt zusammen mit allen abgegebenen Finanzierungszusagen von Anlegern; das gilt auch, wenn ein
                Kreditnehmer sein Kreditprojekt vor Ende der Anlagefrist löscht.
            </p>
            <p>
                6.3 <u>Forderungskaufvertrag</u>.
            </p>
            <p>
                Kommt ein Finanziertes Kreditprojekt auf Zencap zustande, bezahlen Sie als Anleger an Zencap Connect die Summe Ihrer Finanzierungszusage als Kaufpreis für
                einen Teil der zukünftigen Kreditforderung der Bank gegen den Kreditnehmer. Zencap Connect tritt Ihnen hierfür einen Teil der zukünftigen Zahlungsansprüche
                der Bank gegenüber dem Kreditnehmer aufgrund des mit Zencap und Zencap Connect bei Ihrer Finanzierungszusage geschlossenen Forderungskaufvertrages ab.
                Dieser ist erforderlich, um die weiteren Schritte abzuwickeln, sofern Ihre Finanzierungszusage erfolgreich bei einem Finanzierten Kreditprojekt
                berücksichtigt werden kann.
            </p>
            <p>
                Sofern Sie sich für ein Kreditprojekt und die Höhe Ihrer Finanzierungszusage entschieden haben, klicken Sie bitte auf die für diese Finanzierungszusage
                vorgesehene Schaltfläche. Sie erhalten sodann eine E-Mail, in der wir Sie über den Erhalt Ihrer Finanzierungszusage informieren und Ihnen als pdf-Datei das
                Angebot zum Abschluss eines Forderungskaufvertrages überlassen, welches bereits alle notwendigen konkreten Angaben enthält. Wir informieren Sie auf Zencap,
                dass diese E-Mail an Sie versandt worden ist. Sofern Sie das Ihnen überlassene Angebot sodann annehmen wollen, klicken Sie bitte auf die Schaltfläche „<em>Gebote kostenpflichtig abgeben</em>“. Bitte beachten Sie, dass nach dem Versand der E-Mail an Sie und bis zu Ihrem Klick auf die Schaltfläche „    <em>Gebote kostenpflichtig abgeben</em>“ das Kreditprojekt aufgrund der Finanzierungszusagen anderer Anleger ggf. bereits vollständig finanziert sein kann.
            </p>
            <p>
                Sofern Sie die Schaltfläche klicken, kommt der Forderungskaufvertrag sodann zu den im Ihnen überlassenen Angebot enthaltenen Bedingungen zustande. Wenn Sie
                das Ihnen überlassene Angebot eines Forderungskaufvertrags nicht annehmen wollen, dürfen Sie die Schaltfläche „<em>Gebote kostenpflichtig abgeben</em>“ nicht anklicken. Sofern Zencap Connect Ihnen gemeinsam mit uns kein Angebot zum Abschluss eines Forderungskaufvertrages
                zum Betrag der von Ihnen gewählten Finanzierungszusage machen will (worauf wir keinen Einfluss haben), werden Sie darüber auf Zencap informiert. Sie
                erhalten in diesem Fall die E-Mail mit dem Angebot zum Abschluss eines Forderungskaufvertrages nicht und können die Finanzierungszusage zu dem von Ihnen
                gewählten Kreditprojekt nicht abgeben.
            </p>
            <p>
                Der Forderungskaufvertrag steht jeweils unter drei aufschiebenden Bedingungen.
            </p>
            <ul>
                <li>
                    <p>
                        Erstens muss das Kreditprojekt eines Kreditnehmers, auf das sich Ihre Finanzierungszusage bezieht, als Vollständig oder Unvollkommen Finanziertes
                        Kreditprojekt zustande kommen.
                    </p>
                </li>
                <li>
                    <p>
                        Zweitens muss ein rechtswirksamer Kreditvertrag zwischen der Bank und dem Kreditnehmer zustande gekommen und es müssen die Forderungen einschließlich
                        der sich aus dem Kreditvertrag ergebenden Gestaltungsrechte (insbesondere das Recht zur Kündigung des Kreditvertrages) aus diesem Kreditvertrag an
                        Zencap Connect abgetreten worden sein.
                    </p>
                </li>
                <li>
                    <p>
                        Drittens muss – soweit eine solche Sicherheit vorgesehen ist – jeder Bürgschaftsvertrag im Hinblick auf die Forderungen aus dem Kreditvertrag
                        rechtswirksam zustande gekommen und es müssen die Rechte aus jedem Bürgschaftsvertrag einschließlich der Gestaltungsrechte an Zencap Connect
                        abgetreten worden sein.
                    </p>
                </li>
            </ul>
            <p>
                Nach Eintritt der Bedingungen erhalten Sie die laufenden Forderungen aus dem Kreditvertrag anteilig in Höhe Ihrer berücksichtigten Finanzierungszusage
                aufgrund des Forderungskaufvertrages ausgezahlt.
            </p>
            <p>
                Bitte beachten Sie, dass Sie vorleistungspflichtig sind. Der Kaufpreis aus dem jeweiligen Forderungskaufvertrag wird also schon unmittelbar mit dem
                Zustandekommen des jeweiligen Finanzierten Kreditprojekts eines Kreditnehmers zur Zahlung an Zencap Connect fällig. Die Zahlungen erfolgen auf das von
                Zencap Connect benannte Konto nach den Bestimmungen des Forderungskaufvertrages. Geht der Kaufpreis bei Anlegern ohne Anleger-Bankkonto (vgl. Ziffer 6.5)
                nicht fristgerecht und vollständig ein (insbesondere weil dieser trotz Lastschriftmandat nicht eingezogen werden kann), darf Zencap Connect, ggf. durch uns
                als deren Erfüllungsgehilfin, den fälligen und noch nicht bezahlten Betrag zzgl. eines Bearbeitungsentgelts in Höhe von drei Prozent des nicht rechtzeitig
                gezahlten Teils des Nettokaufpreises von der durch Sie als Anleger angegebenen Kreditkarte einziehen. Es bleibt Ihnen als Anleger im Hinblick auf das
                Bearbeitungsentgelt vorbehalten, nachzuweisen, dass ein Schaden in Höhe des Bearbeitungsentgelts nicht oder dass nur ein wesentlich geringerer Schaden
                entstanden ist. Sie müssen ferner im Forderungskaufvertrag Ihr Kreditinstitut und/oder Kreditkartenunternehmen anweisen, auf ihre Kreditkarte oder das
                Kreditkartenkonto gezogene Lastschriften, die sich auf den nach dem Forderungskaufvertrag von Ihnen als Anleger zu zahlenden Forderungskaufpreis beziehen,
                einzulösen und Zencap Connect insoweit eine entsprechende Ermächtigung zum Einzug der Forderungen erteilen.
            </p>
            <p>
                Die im Forderungskaufvertrag zu unseren Gunsten zu vereinbarende Service-Gebühr wird von den jeweiligen Zahlungen an Sie als Anleger direkt einbehalten und
                an uns ausgekehrt.
            </p>
            <p>
                6.4 <u>Anlagen-Manager</u>.
            </p>
            <p>
                Sie können als Anleger die Abgabe von Finanzierungszusagen auf Zencap auch bis zu einem gewissen Grad automatisieren. Zencap stellt Ihnen hierzu einen
                Anlagen-Manager zur Verfügung. Dieser ermöglicht es Ihnen, diejenigen Kreditprojekte zu identifizieren und für mögliche Finanzierungszusagen vorzumerken, die
                Ihren persönlichen Investitionspräferenzen entsprechen und sodann gezielt in diese Kategorien von Kreditprojekten zu investieren. Der Anlagen-Manager dient
                nur dazu, Ihre eigenen Investitionspräferenzen durch eine Automatisierung schneller umzusetzen. Durch den Anlagen-Manager erfolgt keine
                Investitionsberatung.
            </p>
            <p>
                6.5 <u>Anleger-Bankkonto</u>.
            </p>
            <p>
                Sie haben als Anleger die Möglichkeit, Ihre Aktivitäten auf Zencap durch ein Anleger-Bankkonto zu vereinfachen. Das Anleger-Bankkonto kann nur bei der Bank
                eröffnet werden. Die Entscheidung, ob die Bank mit einem Anleger einen Vertrag über ein Anleger-Bankkonto abschließt, liegt ausschließlich bei der Bank.
                Weitere Einzelheiten finden Sie in den Vertragsbedingungen zum Anleger-Bankkonto, die Sie <a href="/lenderbankaccount">hier</a> abrufen können.
            </p>
            <p>
                Die Beträge für die Beteiligung an neuen Finanzierten Kreditprojekten sind von Ihnen dann von dem Anleger-Bankkonto auf das von Zencap Connect benannte
                Konto zu überweisen; Rückflüsse aus bereits laufenden Finanzierten Kreditprojekten werden dem Anleger-Bankkonto gutgeschrieben. Sobald Ihre
                Finanzierungszusagen insgesamt die Summe von EUR 10.000,00 überschreiten, sind Sie im Interesse unserer Kreditnehmer verpflichtet, ein Anleger-Bankkonto zu
                eröffnen, um Zencap weiter für Investitionen nutzen zu können; Sie werden über dieses Erfordernis informiert. Die weiteren Investitionen sind Ihnen nur
                insoweit möglich, als dass Ihr Anleger-Bankkonto zum Zeitpunkt Ihrer Finanzierungszusage die zur Erfüllung dieser Finanzierungszusage erforderliche Deckung
                aufweist. Dies bedeutet auch, dass die zur Deckung einer Finanzierungszusage erforderlichen Mittel während der laufenden Anlagefrist des betreffenden
                Kreditprojekts nicht für Finanzierungszusagen hinsichtlich anderer Kreditprojekte verwendet werden oder abgebucht werden können; das Guthaben Ihres
                Anleger-Bankkontos wird also jeweils in Höhe der jeweiligen Finanzierungszusage für den Zeitraum der Anlagefrist gesperrt. Sofern Sie dieser Verpflichtung
                nicht entsprechen oder sofern die Bank Ihren Antrag auf Eröffnung eines Anleger-Bankkontos ablehnt, stehen Ihnen ab diesem Zeitpunkt nur noch die zur
                Verwaltung Ihrer bisherigen Investitionen notwendigen Funktionalitäten von Zencap zur Verfügung.
            </p>
            <h2 class="faux-h3">
                <a id="__RefHeading__6883_1032035779"></a>
                7. Kreditvermittlung
            </h2>
            <p>
                7.1 Wir tätigen keine Bankgeschäfte und erbringen auch keine Finanzdienstleistungen, da wir weder ein Kreditinstitut noch ein Finanzdienstleister nach § 1
                des Kreditwesengesetzes ist. Wir beschränken unsere Leistung darauf, Ihnen Zencap nach Maßgabe des Nutzungsvertrages und der für Sie geltenden
                Datenschutzerklärung zur Verfügung zu stellen. Aus dem Abschluss des Nutzungsvertrages ergeben sich also für Sie keine Rechte gegenüber uns, der Bank oder
                Zencap Connect auf Abschluss weiterer Verträge.
            </p>
            <p>
                7.2 Kommt ein Vollständig Finanziertes Kreditprojekt auf Zencap zustande, übersenden wir dem Kreditnehmer die Unterlagen (das heißt Vertragsunterlagen für
                einen Kreditvermittlungsvertrag sowie Vertragsunterlagen für einen Kreditvertrag), um mit uns einen Vertrag über die Vermittlung eines Kredits zu den
                Konditionen des Vollständig Finanzierten Kreditprojekts abzuschließen. Im Falle eines Unvollkommen Finanzierten Kreditprojekts können wir dem Kreditnehmer
                die Unterlagen übersenden, um mit uns einen Vertrag über die Vermittlung eines Kredits zu den Konditionen des Unvollkommen Finanzierten Kreditprojekts
                abzuschließen. Sofern wir dieses Vertragsangebot (das heißt den Antrag auf Abschluss eines Kreditvermittlungsvertrags) nach Erhalt der vom Kreditnehmer
                übersandten Unterlagen angenommen haben, werden wir uns bemühen, den Abschluss eines Kreditvertrags mit der Bank zu vermitteln, welches den Konditionen des
                Finanzierten Kreditprojekts entspricht. Wir verpflichten uns nicht dazu, mit diesen Vermittlungsbemühungen auch erfolgreich zu sein; das letzte Wort hat
                insoweit stets die Bank.
            </p>
            <p>
                7.3 Vor Abschluss des Forderungskaufvertrages mit dem Anleger übermitteln wir auch Zencap Connect die uns mitgeteilten Kundendaten des Anlegers
                (selbstverständlich ohne das Passwort des Anlegers) und die Daten des betreffenden Kreditprojekts, um Zencap Connect und dem Anleger den Abschluss des
                jeweiligen Forderungskaufvertrages zu ermöglichen. Nach Abschluss des Kreditvermittlungsvertrages mit dem Kreditnehmer übermitteln wir zudem die uns
                mitgeteilten Kundendaten des Kreditnehmers (selbstverständlich ohne das Passwort des Kreditnehmers) an die Bank, um der Bank die Prüfung des Finanzierten
                Kreditprojekts und ggf. den Abschluss des Kreditvertrags mit dem Kreditnehmer zu ermöglichen.
            </p>
            <p>
                Nach Erhalt der vorstehenden Unterlagen, Übermittlung der Informationen (das heißt die Kundendaten und die Daten des betreffenden Kreditprojekts) und der
                Übersendung des Kreditantrags an die Bank endet die Leistung von Zencap als Marktplatz hinsichtlich des Finanzierten Kreditprojekts. Alles Weitere bestimmt
                sich sodann nach den Bestimmungen der weiteren Verträge.
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6885_1032035779"></a>
                8. Datenänderung; Datenschutzerklärung; Anonymität
            </h2>
            <p>
                8.1 Sie können Ihre Daten während der Laufzeit des Nutzungsvertrags immer einsehen und nach Maßgabe dieses Nutzungsvertrages ändern, nachdem Sie sich auf
                Zencap mit Ihrer E-Mail-Adresse und Ihrem Passwort angemeldet haben.
            </p>
            <p>
                8.2 Wir erheben, verarbeiten und nutzen Daten unserer Nutzer aufgrund dieses Nutzungsvertrages gemäß unserer Regelungen zum Datenschutz („    <strong>Datenschutzerklärung</strong>“).
            </p>
            <p>
                8.3 Der aktuelle Nutzungsvertrag sowie die aktuelle Datenschutzerklärung können Sie auf Zencap jeweils herunterladen und ausdrucken. Da diese Dokumente
                zukünftig ggf. geändert werden können oder müssen, empfehlen wir Ihnen dies bei Vertragsschluss zu tun.
            </p>
            <p>
                8.4 Der Kauf (eines Teils der) zukünftigen Kreditforderung der Bank gegen den Kreditnehmer sowie die Abtretung aufgrund des Forderungskaufvertrages erfolgt
                ohne gegenseitige Bekanntgabe des Namens oder sonstiger persönlicher Daten zwischen Kreditnehmer und Anleger, es sei denn der Kreditnehmer hat die Nennung
                der Firma seines Unternehmens ausdrücklich gewünscht. Das Nähere regeln die weiteren Verträge, insbesondere der Forderungskaufvertrag.
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6887_1032035779"></a>
                9. Haftung
            </h2>
            <p>
                9.1 Die auf Zencap vorgestellten Inhalte dienen lediglich der Information; eine Beratungsleistung wird auf Zencap von uns nicht angeboten. Wir nehmen
                lediglich eine eingeschränkte Prüfung der Kreditnehmer nach bestimmten formalen und technischen Kriterien vor, die keine Aussagen darüber erlauben, ob die
                eingestellten Informationen und Angaben zutreffend sind. Auf die Wirksamkeit der Verträge zwischen Kreditnehmern und der Bank und deren Durchführung und
                Erfüllung haben wir keinen Einfluss; wir haften folglich hierfür auch nicht.
            </p>
            <p>
                9.2 Wir prüfen nicht, ob der Anleger aufgrund seiner Kenntnisse und Erfahrungen in der Lage ist, die Risiken der Investition jeweils angemessen beurteilen
                zu können. Der Anleger entscheidet allein, ob er über Zencap Investitionen tätigen möchte.
            </p>
            <p>
                9.3 Um unsere Nutzer zu identifizieren und das <em>rating</em> durchzuführen, arbeiten wir mit den in unserer Datenschutzerklärung genannten
                Kooperationspartnern zusammen. Wir vertrauen diesen. Wir können jedoch nicht dafür einstehen, dass die im Ergebnis von Dritten an uns übermittelten
                Informationen inhaltlich richtig sind (vgl. Ziffer 4.2 dieses Nutzungsvertrages). Die insoweit bereit gestellten Informationen zur Identität und Bonität
                können zwar der Realität entsprechen; es ist aber auch möglich, dass die tatsächlichen Verhältnisse hiervon erheblich abweichen.
            </p>
            <p>
                9.4 Wir haften bei einer Verletzung von vertraglichen und außervertraglichen Pflichten nach den gesetzlichen Vorschriften. Auf Schadensersatz haften wir –
                gleich aus welchem Rechtsgrund – bei Vorsatz und grober Fahrlässigkeit. Bei einfacher Fahrlässigkeit haften wir jeweils nur
            </p>
            <ul>
                <li>
                    <p>
                        für Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit,
                    </p>
                </li>
                <li>
                    <p>
                        für Schäden aus der Verletzung einer wesentlichen Vertragspflicht (Verpflichtung, deren Erfüllung die ordnungsgemäße Durchführung des Vertrags
                        überhaupt erst ermöglicht und auf deren Einhaltung der Nutzer regelmäßig vertraut und vertrauen darf); in diesem Fall ist unsere Haftung jedoch auf
                        den Ersatz des vorhersehbaren, typischerweise eintretenden Schadens begrenzt.
                    </p>
                </li>
            </ul>

            <h2 class="faux-h3">
                <a id="__RefHeading__6889_1032035779"></a>
                10. Kündigung des Nutzungsvertrages
            </h2>
            <p>
                10.1 Die Laufzeit des Nutzungsvertrages ist nicht beschränkt. Er kann von uns oder von Ihnen ordentlich mit einer Kündigungsfrist von zwei Wochen zum
                Monatsende ordentlich gekündigt werden. Eine Kündigung der Nutzung von Zencap hat auf die Wirksamkeit der sonstigen Verträge (insbesondere der oben unter
                Ziffern 6.3, 6.5 und 7 aufgeführten Verträge) keinen Einfluss.
            </p>
            <p>
                10.2 Jede Partei kann den Nutzungsvertrag auch aus wichtigem Grund kündigen.
            </p>
            <p>
                10.3 Jede Kündigung muss Ihnen bzw. uns in Schrift- oder Textform (z.B. E-Mail, Fax oder Brief) zugehen, um wirksam zu sein.
            </p>

            <h2 class="faux-h3">
                <a id="__RefHeading__6891_1032035779"></a>
                11. Anwendbares Recht; Vertragssprache; Aufsichtsbehörde
            </h2>
            <p>
                11.1 Für den Nutzungsvertrag gilt deutsches Recht.
            </p>
            <p>
                11.2 Vertrags- und Verhandlungssprache ist Deutsch.
            </p>
            <p>
                11.3 Bei Streitigkeiten hinsichtlich dieses Nutzungsvertrages steht Ihnen der Rechtsweg zu den ordentlichen Gerichten offen. Daneben können Sie
                hinsichtlich des noch zu schließenden Kreditvermittlungsvertrags auch die <em>Schlichtungsstelle der Deutschen Bundesbank</em>, Postfach 11 12 32, 60047
                Frankfurt am Main, Tel.: +49 69 2388-1907, Fax: +49 69 2388-1919, E-Mail: schlichtung@bundesbank.de, <u>www.bundesbank.de</u> kontaktieren.
            </p>
            <p>
                11.4 Zuständige Aufsichtsbehörde ist das Bezirksamt Mitte von Berlin, Ordnungsamt, Fachbereich Gewerbe, Karl-Marx-Allee 31, 10178 Berlin.
            </p>
            <p class="text-center">
                ***
            </p>
            <p>
                Um diesen Nutzungsvertrag zu widerrufen, können sie das nachfolgend beigefügte Muster-Widerrufsformular verwenden, dessen Verwendung jedoch nicht
                vorgeschrieben ist.
            </p>
            <p class="text-center">
                <strong>Muster-Widerrufsformular</strong>
            </p>
            <p>
                (Wenn Sie den Vertrag widerrufen wollen, dann füllen Sie bitte dieses Formular aus und senden Sie es zurück.)
            </p>
            <ul>
                <li>An Zencap Deutschland GmbH, Johannisstraße 20, 10117 Berlin, Fax: 030 / 2084900 - 10, E-Mail: investor@zencap.de</li>
                <li>Hiermit widerrufe(n) ich/wir (*) den von mir/uns (*) abgeschlossenen Vertrag über den Kauf der folgenden Waren (*)/ die Erbringung der folgenden Dienstleistung (*)
                <li>Bestellt am (*)/erhalten am (*)</li>
                <li>Name des/der Verbraucher(s)</li>
                <li>Anschrift des/der Verbraucher(s)</li>
                <li>Unterschrift des/der Verbraucher(s) (nur bei Mitteilung auf Papier)</li>
                <li>Datum</li>
                <li>Unzutreffendes streichen</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}