{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page borrower">

    <div class="container">
        <div class="page-head">
            <h1 class="text-center">Zencap Berater-Programm</h1>
        </div>
    </div><!-- end .container -->

    <div class="container-wrapper bkg-program hidden-xs"> </div>

    <div class="container-wrapper">
        <div class="container spacing">
            <h3>Flexible und unbürokratische Kreditfinanzierung für Ihre Kunden</h3>
            <p>Zencap arbeitet aktiv mit Beratern zusammen, die mit uns attraktive Finanzierungslösungen für Ihre Kunden entwickeln. Wenn Ihre Kunden unbürokratische und faire Finanzierungen suchen, ist Zencap der richtige Partner.</p>
            <div>Sie steuern die Kommunikation mit Ihren Kunden. Unsere freundlichen und kompetenten Mitarbeiter unterstützen Sie gern.</div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd affiliate-benefits">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Wir arbeiten bereits mit einer Vielzahl von Beratern</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-2">
                    <ul class="styled">
                        <li>Steuerberater</li>
                        <li>Unternehmensberater</li>
                        <li>Interim Manager</li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-4">
                    <ul class="styled">
                        <li>Finanzberater</li>
                        <li>Versicherungsmaklerein</li>
                        <li>Verbände und Genossenschaften</li>
                    </ul>
                </div>
            </div><!-- end .row -->

        </div><!-- end .container -->
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper benefits">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Vorteile für Sie und Ihre Kunden</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Neue Kunden werben</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icons-berater/benefit-small-04.png"
                         alt=""></div>
                    <p>Positionieren Sie sich als Berater mit innovativen Ideen oder Experte für alternative Finanzierung.
                        Erschließen Sie so neue Kundengruppen.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Zusätzliche Finanzierung</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icons-berater/benefit-small-03.png">
                    </div>
                    <p>Ihre Kunden können mit Zencap Ihre Verhandlungsposition gegenüber Banken verbessern und zeitraubende
                        Bankgespräche vermeiden.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Zeit und Arbeit sparen</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icons-berater/benefit-small-2.png" alt="">
                    </div>
                    <p>Sparen Sie sich Businesspläne und die langen Gespräche mit der Bank. Bei Zencap dauert der Antrag 30
                        Minuten und die Antwort kommt nach 2 Tagen.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Mehr Flexibilität</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-5"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icons-berater/flex-icon.png">
                    </div>
                    <p>Zahlt Ihr Kunde vorzeitig einen Kredit zurück, entstehen bei Zencap, anders als bei Banken,
                        keine Gebühren. Dies bringt wertvolle Flexibilität.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Mehr Umsatz machen</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4">
                        <img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icons-berater/benefit-small-04-1.png">
                    </div>
                    <p>Verbessern Sie Ihre Marge pro Kunde mit bis zu €1500 Provision. Zencap kompensiert Partner für den
                        Aufwand im Falle eines Geschäftsabschlusses.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Innovative Lösung</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4">
                        <img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icons-berater/inn-icon.png">
                    </div>
                    <p>Kunden erhalten notwendiges Kapital,<br>um neue Ideen umzusetzen. Zencap bietet Ihren Kunden auf
                        Wunsch auch Publizität vor/nach der Finanzierung.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrapper odd hidden-xs">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">So funktioniert's</h2>
            <div class="row icons-row">
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/page.png" alt="Registrierung als Partner">
                    <h3 class="text-center">Registrierung als Partner</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"> <img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icon_berate1.png" alt="Kunde stellt Kreditantrag">
                    <h3 class="text-center">Kunde stellt Kreditantrag</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icon_berate2.png" alt="Experten analysieren Daten">
                    <h3 class="text-center">Experten analysieren Daten</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/icon_berate3.png" alt="Investoren finanzieren Kredit">
                    <h3 class="text-center">Investoren finanzieren Kredit</h3>
                </div>
            </div><!-- end .row -->

            <div class="clearfix"></div>

            <div class="accordion-group" style="border: 0;">
                <div class="accordion-heading">
                    <a class="collapsed" href="#general-1" data-toggle="collapse" data-parent="#general-1">
                        <div class="text-center">
                            <div class="btn btn-lg btn-brrwr">Jetzt anmelden</div>
                        </div>
                    </a>
                </div><!-- end .accordion-heading -->
                <div id="general-1" class="accordion-body collapse">
                    <div class="accordion-inner">
                        <!--FORM-->
                        <base target="_blank">
                        <script type="text/javascript">

                            (function(e,t){"function"==typeof define&&define.amd?define(t):e.H5F=t()})(this,function(){var e,t,a,i,n,r,s,l,u,o,c,d,v,f,p,m,h,g,b,y,w,C,N,A,E,$,k=document,x=k.createElement("input"),q=/^[a-zA-Z0-9.!#$%&'*+-\/=?\^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,M=/[a-z][\-\.+a-z]*:\/\//i,L=/^(input|select|textarea)$/i;return r=function(e,t){var a=!e.nodeType||!1,i={validClass:"valid",invalidClass:"error",requiredClass:"required",placeholderClass:"placeholder"};if("object"==typeof t)for(var r in i)t[r]===void 0&&(t[r]=i[r]);if(n=t||i,a)for(var l=0,u=e.length;u>l;l++)s(e[l]);else s(e)},s=function(a){var i,n=a.elements,r=n.length,s=!!a.attributes.novalidate;if(b(a,"invalid",u,!0),b(a,"blur",u,!0),b(a,"input",u,!0),b(a,"keyup",u,!0),b(a,"focus",u,!0),b(a,"change",u,!0),b(a,"click",o,!0),b(a,"submit",function(i){e=!0,t||s||a.checkValidity()||w(i)},!1),!v())for(a.checkValidity=function(){return c(a)};r--;)i=!!n[r].attributes.required,"fieldset"!==n[r].nodeName.toLowerCase()&&l(n[r])},l=function(e){var t=e,a=g(t),n={type:t.getAttribute("type"),pattern:t.getAttribute("pattern"),placeholder:t.getAttribute("placeholder")},r=/^(email|url)$/i,s=/^(input|keyup)$/i,l=r.test(n.type)?n.type:n.pattern?n.pattern:!1,u=f(t,l),o=m(t,"step"),v=m(t,"min"),h=m(t,"max"),b=!(""===t.validationMessage||void 0===t.validationMessage);t.checkValidity=function(){return c.call(this,t)},t.setCustomValidity=function(e){d.call(t,e)},t.validity={valueMissing:a,patternMismatch:u,rangeUnderflow:v,rangeOverflow:h,stepMismatch:o,customError:b,valid:!(a||u||o||v||h||b)},n.placeholder&&!s.test(i)&&p(t)},u=function(e){var t=C(e)||e,a=/^(input|keyup|focusin|focus|change)$/i,r=/^(submit|image|button|reset)$/i,s=/^(checkbox|radio)$/i,o=!0;!L.test(t.nodeName)||r.test(t.type)||r.test(t.nodeName)||(i=e.type,v()||l(t),t.validity.valid&&(""!==t.value||s.test(t.type))||t.value!==t.getAttribute("placeholder")&&t.validity.valid?(A(t,[n.invalidClass,n.requiredClass]),N(t,n.validClass)):a.test(i)?t.validity.valueMissing&&A(t,[n.requiredClass,n.invalidClass,n.validClass]):t.validity.valueMissing?(A(t,[n.invalidClass,n.validClass]),N(t,n.requiredClass)):t.validity.valid||(A(t,[n.validClass,n.requiredClass]),N(t,n.invalidClass)),"input"===i&&o&&(y(t.form,"keyup",u,!0),o=!1))},c=function(t){var a,i,n,r,s=!1;if("form"===t.nodeName.toLowerCase()){a=t.elements;for(var l=0,o=a.length;o>l;l++)i=a[l],n=!!i.attributes.required,r=!!i.attributes.pattern,"fieldset"!==i.nodeName.toLowerCase()&&(n||r&&n)&&(u(i),i.validity.valid||s||(e&&i.focus(),s=!0));return!s}return u(t),t.validity.valid},d=function(e){var t=this;t.validationMessage=e},o=function(e){var a=C(e);a.attributes.formnovalidate&&"submit"===a.type&&(t=!0)},v=function(){return E(x,"validity")&&E(x,"checkValidity")},f=function(e,t){if("email"===t)return!q.test(e.value);if("url"===t)return!M.test(e.value);if(t){var i=e.getAttribute("placeholder"),n=e.value;return a=RegExp("^(?:"+t+")$"),n===i?!1:""===n?!1:!a.test(e.value)}return!1},p=function(e){var t={placeholder:e.getAttribute("placeholder")},a=/^(focus|focusin|submit)$/i,r=/^(input|textarea)$/i,s=/^password$/i,l=!!("placeholder"in x);l||!r.test(e.nodeName)||s.test(e.type)||(""!==e.value||a.test(i)?e.value===t.placeholder&&a.test(i)&&(e.value="",A(e,n.placeholderClass)):(e.value=t.placeholder,b(e.form,"submit",function(){i="submit",p(e)},!0),N(e,n.placeholderClass)))},m=function(e,t){var a=parseInt(e.getAttribute("min"),10)||0,i=parseInt(e.getAttribute("max"),10)||!1,n=parseInt(e.getAttribute("step"),10)||1,r=parseInt(e.value,10),s=(r-a)%n;return g(e)||isNaN(r)?"number"===e.getAttribute("type")?!0:!1:"step"===t?e.getAttribute("step")?0!==s:!1:"min"===t?e.getAttribute("min")?a>r:!1:"max"===t?e.getAttribute("max")?r>i:!1:void 0},h=function(e){var t=!!e.attributes.required;return t?g(e):!1},g=function(e){var t=e.getAttribute("placeholder"),a=/^(checkbox|radio)$/i,i=!!e.attributes.required;return!(!i||""!==e.value&&e.value!==t&&(!a.test(e.type)||$(e)))},b=function(e,t,a,i){E(window,"addEventListener")?e.addEventListener(t,a,i):E(window,"attachEvent")&&window.event!==void 0&&("blur"===t?t="focusout":"focus"===t&&(t="focusin"),e.attachEvent("on"+t,a))},y=function(e,t,a,i){E(window,"removeEventListener")?e.removeEventListener(t,a,i):E(window,"detachEvent")&&window.event!==void 0&&e.detachEvent("on"+t,a)},w=function(e){e=e||window.event,e.stopPropagation&&e.preventDefault?(e.stopPropagation(),e.preventDefault()):(e.cancelBubble=!0,e.returnValue=!1)},C=function(e){return e=e||window.event,e.target||e.srcElement},N=function(e,t){var a;e.className?(a=RegExp("(^|\\s)"+t+"(\\s|$)"),a.test(e.className)||(e.className+=" "+t)):e.className=t},A=function(e,t){var a,i,n="object"==typeof t?t.length:1,r=n;if(e.className)if(e.className===t)e.className="";else for(;n--;)a=RegExp("(^|\\s)"+(r>1?t[n]:t)+"(\\s|$)"),i=e.className.match(a),i&&3===i.length&&(e.className=e.className.replace(a,i[1]&&i[2]?" ":""))},E=function(e,t){var a=typeof e[t],i=RegExp("^function|object$","i");return!!(i.test(a)&&e[t]||"unknown"===a)},$=function(e){for(var t=document.getElementsByName(e.name),a=0;t.length>a;a++)if(t[a].checked)return!0;return!1},{setup:r}});

                        </script>
                        <link rel="alternate" type="text/xml+oembed" href="https://docs.google.com/a/zencap.de/forms/d/1elkHVzy3X2XugFolEHld4WMkQ-Q0ERivGPbsIMPf9PQ/oembed?url=https://docs.google.com/a/zencap.de/forms/d/1elkHVzy3X2XugFolEHld4WMkQ-Q0ERivGPbsIMPf9PQ/viewform&amp;format=xml">
                        <div dir="ltr" class="ss-base-body">
                            <div itemscope itemtype="http://schema.org/CreativeWork/FormObject">
                                <meta itemprop="name" content="Zencap Berater / Unternehmen">
                                <meta itemprop="url" content="https://docs.google.com/a/zencap.de/forms/d/1elkHVzy3X2XugFolEHld4WMkQ-Q0ERivGPbsIMPf9PQ/viewform">
                                <meta itemprop="embedUrl" content="https://docs.google.com/a/zencap.de/forms/d/1elkHVzy3X2XugFolEHld4WMkQ-Q0ERivGPbsIMPf9PQ/viewform?embedded=true">

                                <div class="ss-form-container">
                                    <div class="ss-header-image-container">
                                        <div class="ss-header-image-image">
                                            <div class="ss-header-image-sizer"></div>
                                        </div>
                                    </div><!-- end .ss-header-image-container -->

                                    <div class="ss-form">
                                        <!--new response for this form-->
                                        <script type="text/javascript">var submitted=false;</script>
                                        <iframe name="hidden_iframe" id="hidden_iframe"
                                                style="display:none;" onload="if(submitted)
{window.location='http://www.zencap.de';}"></iframe>
                                        <form class="form-register"
                                              action="https://docs.google.com/a/zencap.de/forms/d/1elkHVzy3X2XugFolEHld4WMkQ-Q0ERivGPbsIMPf9PQ/formResponse"
                                              method="post"
                                              target="hidden_iframe" onsubmit="submitted=true;">

                                            <ol role="list" class="ss-question-list" style="padding-left: 0">
                                                <!--end of new response-->

                                                <div class="row">
                                                    <div class="ss-form-question errorbox-good col-xs-12" role="listitem">
                                                        <div dir="ltr" class="ss-item ss-item-required ss-text">
                                                            <div class="ss-form-entry form-group">
                                                                <label class="ss-q-item-label" for="entry_1398007777">
                                                                    <div class="ss-q-title">Name*
                                                                        <label for="itemView.getDomIdToLabel()"
                                                                               aria-label="(Required field)"></label>
                                                                    </div>
                                                                    <div class="ss-q-help ss-secondary-text"
                                                                         dir="ltr"></div>
                                                                </label>
                                                                <input type="text" name="entry.1398007777" value=""
                                                                       class="ss-q-short form-control" id="entry_1398007777" dir="auto"
                                                                       aria-label="Name  " aria-required="true" required=""
                                                                       title="">

                                                                <div class="error-message"
                                                                     id="2029358658_errorMessage"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- end .row -->


                                                <div class="row">
                                                    <div class="ss-form-question errorbox-good col-xs-12" role="listitem">
                                                        <div dir="ltr" class="ss-item  ss-text">
                                                            <div class="ss-form-entry form-group">
                                                                <label class="ss-q-item-label" for="entry_459886100">
                                                                    <div class="ss-q-title">Telefon*
                                                                    </div>
                                                                    <div class="ss-q-help ss-secondary-text"
                                                                         dir="ltr"></div>
                                                                </label>
                                                                <input type="text" name="entry.459886100" value=""
                                                                       class="ss-q-short form-control" id="entry_459886100" dir="auto"
                                                                       aria-label="Telefon  " title="">

                                                                <div class="error-message"
                                                                     id="663656846_errorMessage"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- end .row -->

                                                <div class="row">
                                                    <div class="ss-form-question errorbox-good col-xs-12" role="listitem">
                                                        <div dir="ltr" class="ss-item ss-item-required ss-text">
                                                            <div class="ss-form-entry form-group">
                                                                <label class="ss-q-item-label" for="entry_50603194">
                                                                    <div class="ss-q-title">E-mail*
                                                                        <label for="itemView.getDomIdToLabel()"
                                                                               aria-label="(Required field)"></label>
                                                                    </div>
                                                                    <div class="ss-q-help ss-secondary-text"
                                                                         dir="ltr"></div>
                                                                </label>
                                                                <input type="text" name="entry.50603194" value=""
                                                                       class="ss-q-short form-control" id="entry_50603194" dir="auto"
                                                                       aria-label="E-mail  " aria-required="true"
                                                                       required="" title="">

                                                                <div class="error-message"
                                                                     id="669413017_errorMessage"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- end .row -->


                                                <div class="row">
                                                    <div class="ss-form-question errorbox-good col-xs-12" role="listitem">
                                                        <div dir="ltr" class="ss-item  ss-paragraph-text">
                                                            <div class="ss-form-entry form-group">
                                                                <label class="ss-q-item-label" for="entry_1509735704">
                                                                    <div class="ss-q-title">Nachricht
                                                                    </div>
                                                                    <div class="ss-q-help ss-secondary-text"
                                                                         dir="ltr"></div>
                                                                </label>
                                                                <textarea name="entry.1509735704" rows="8" cols="0"
                                                                          class="ss-q-long form-control" id="entry_1509735704" dir="auto"
                                                                          aria-label="Nachricht  "></textarea>

                                                                <div class="error-message"
                                                                     id="1509547850_errorMessage"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- end .row -->


                                                <input type="hidden" name="draftResponse"
                                                       value="[,,&quot;-4597218324972429747&quot;]">
                                                <input type="hidden" name="pageHistory" value="0">

                                                <input type="hidden" name="fbzx" value="-4597218324972429747">

                                                <div class="row">
                                                    <div class="col-xs-12 text-center">
                                                        <input type="submit" value="Senden" id="ss-submit" class="btn btn-lg" name="submit">
                                                    </div>
                                                </div><!-- end .row -->

                                            </ol>
                                        </form>
                                    </div><!-- end .ss-form -->

                                    <div id="docs-aria-speakable" class="docs-a11y-ariascreenreader-speakable docs-offscreen" aria-live="assertive" role="region" aria-atomic></div>
                                </div><!-- end .ss-form-container -->

                                <script type='text/javascript' src='/static/forms/client/js/1583055824-formviewer_prd.js'></script>
                                <script type="text/javascript">H5F.setup(document.getElementById('ss-form'));
                                    _initFormViewer(
                                        "[100,,[]\n]\n");</script>
                            </div>
                        </div><!-- end .ss-base-body -->
                    </div><!-- end .accordion-inner -->
                </div><!-- end .accordion-body -->
            </div><!-- end .accordion-group -->
            <!--END OF FORM-->

        </div><!-- end .container -->
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3 col-md-offset-1"> <img alt="partner@zencap.de" src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/assunta2.jpg" class="img-circle img-responsive"> </div>
                <div class="col-xs-8 col-sm-9 col-md-7">
                    <p class="faux-h2">Kontakt</p>
                    <p>Bei weiteren Fragen und Kooperationsmöglichkeiten erreichen Sie uns gern unter <a href="mailto:partner@zencap.de">partner@zencap.de</a></p>
                    <p><a href="mailto:partner@zencap.de"><i class="fa fa-envelope-o fa-large"></i>&nbsp;partner@zencap.de</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}