{% extends 'layout.html.twig' %}

{% block body %}

<div class="container">
    <h1>Kontakt</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <h2>Kreditnehmer-Service</h2>
            <hr>
            <p>
                Telefon 030 / 2084900 - 11<br>
                Fax 030 / 2084900 - 10<br>
                Öffnungszeiten Mo – Fr 9:00 – 18:00 Uhr<br>
                E-Mail <a href="mailto:unternehmen@zencap.de">unternehmen@zencap.de</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-2">
            <h2>Investor-Service</h2>
            <hr>
            <p>
                Telefon 030 / 2084900 - 22<br>
                Fax 030 / 2084900 - 10<br>
                Öffnungszeiten Mo – Fr 9:00 – 18:00 Uhr<br>
                E-Mail <a href="mailto:investor@zencap.de">investor@zencap.de</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <h2>Rund um Zencap / Pressekontakt</h2>
            <hr>
            <p>
                Telefon 030 / 2084900 - 39<br>
                Fax 030 / 2084900 - 10<br>
                Öffnungszeiten Mo – Fr 9:00 – 18:00 Uhr<br>
                E-Mail <a href="mailto:info@zencap.de">info@zencap.de</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-2">
            <h2>Service für institutionelle Anleger</h2>
            <hr>
            <p>
                Telefon 030/ 2084900 - 33<br>
                Fax 030 / 2084900 - 10<br>
                Öffnungszeiten Mo – Fr 9:00 – 18:00 Uhr<br>
                E-Mail <a href="mailto:investor@zencap.de">investor@zencap.de</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <h2>Anschrift</h2>
            <hr>
            <p>
                Zencap Deutschland GmbH<br>
                Johannisstr. 20<br>
                10117 Berlin<br>
                Deutschland
            </p>
        </div>
    </div>
</div>

{% endblock body %}