{% extends 'layout.html.twig' %}

{% block body %}

    <div class="cms-page homepage">
    <!-- begins cms block 'il-hp' -->
    <div class="container-wrapper main-title main-image hidden-xs hidden-sm">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <h1>INNOVATIVE <br> UNTERNEHMENSKREDITE </h1>

                    <p>Zencap ist Deutschlands führender Kreditmarktplatz, <br> der Unternehmen
                        direkt mit Investoren zusammenbringt</p>
                </div>
                <div class="col-xs-5 col-xs-offset-7">
                    <p class="text-left">Wulf Schlichte von Incultura hat mit 50.000 € von <br>65 Investoren
                        eine neue Espressobar eröffnet</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container hidden-md hidden-lg xs-main-image">
        <div class="row">
            <div class="col-xs-12">
                 <h1>INNOVATIVE <br> UNTERNEHMENSKREDITE </h1>
            </div>
        </div>
        {#<img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/blog/blog_header.jpg" alt=""/>#}
    </div>

    <div class="container-wrapper hidden-md hidden-lg">
        <div class="container odd">
            <div class="row">
                <div class="pull-top">

                    <div class="col-xs-5 col-xs-offset-1">
                        <a href="/borrower-getting-started" class="btn btn-lg btn-brrwr">Jetzt
                            Zinssatz ermitteln</a>
                    </div>
                    <div class="col-xs-5">
                        <a href="/lender-getting-started" class="btn btn-lg btn-nvstr ">Jetzt
                            Geld investieren</a>
                    </div>
                </div>
                    <hr class="col-xs-12" />
                    <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/home/press/logos_update2.png" alt=""/>

            </div>
        </div>
    </div>

    <div class="container-wrapper header-top hidden-xs hidden-sm">
        <div class="container odd">
            <div class="row">
                <div class="pull-down">
                    <div class="hidden-xs hidden-sm col-md-6">
                        <div class="white-box">
                            <div class="desp-20"></div>
                            <div class="text-center">
                                <a href="/borrower-getting-started" class="text-center btn btn-lg btn-brrwr">Jetzt
                                    Zinssatz ermitteln</a>
                            </div>
                            <div class="borrower">
                                <div class="desp-20"></div>
                                <p class="faux-h3 text-center">Innovative Unternehmenskredite</p>
                                <hr/>
                                <ul class="styled">
                                    <li>Kredite bis 150.000 € ab 3,99 %</li>
                                    <li>Verlässlichkeit: Kreditentscheidung nach 48 Stunden</li>
                                    <li>Keine Gebühren bei vorzeitiger Kreditablösung</li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- end .hidden-xs .hidden-sm .col-md-6 -->

                    <div class="hidden-xs hidden-sm col-md-6">
                        <div class="white-box">
                            <div class="desp-20"></div>
                            <div class="text-center">
                                <a href="/lender-getting-started" class="btn btn-lg btn-nvstr">Jetzt
                                    Geld investieren</a>
                            </div>
                            <div class="investor">
                                <div class="desp-20"></div>
                                <p class="faux-h3 text-center">Neue Anlageklasse</p>
                                <hr/>
                                <ul class="styled">
                                    <li>Attraktive Nettorenditen von Ø 5,58 % p. a.</li>
                                    <li>Bonitätsanalyse nach höchsten Bankenstandards</li>
                                    <li>Hohe Liquidität durch monatliche Rückzahlungen</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end .header-top -->


    <div class="container-wrapper hidden-xs hidden-sm">
        <div class="container press" style="min-height: 267px;">
            <div class="row">
                <div class="col-xs-12 logos">
                    <div id="homepageCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner row">
                            <div class="active item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-07-01_boersen-zeitung_Zencap_brisantes-Finanzierungsneuland.pdf"
                                   target="_blank"><img class="col-xs-offset-3 col-sm-offset-4"
                                                        src="https://d1x3gb5zl465n8.cloudfront.net/de/press/borsen.png"
                                                        alt="Börsenzeitung"></a>
                                <blockquote>
                                    <p>&nbsp;Das Zencap-Prinzip wird sich in Deutschland wie zuvor in Großbritannien und
                                        den USA etablieren. Mit der Fokussierung auf kleine Mittelständler greift Zencap
                                        das Geschäft an, in dem traditionelle Banken hauptsächlich ihr Geld
                                        verdienen.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>

                            <div class="item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/140410_sueddeutsche-zeitung_das-problem-mit-dem-geld.pdf"
                                   target="_blank"><img class="col-xs-offset-3 col-sm-offset-4"
                                                        src="https://d1x3gb5zl465n8.cloudfront.net/de/press/frankfurterallgemeine.png"
                                                        alt="Frankfurter Allgemeine"></a>
                                <blockquote>
                                    <p>&nbsp;Experten halten Online-Kredite für Mittelständler für eine realistische
                                        Alternative zur klassischen Bankenfinanzierung (…). Vor allem für kleinere
                                        Unternehmen ist das Modell von Zencap interessant.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>

                            <div class="item col-xs-12">
                                <a href="http://www.handelsblatt.com/unternehmen/leasing-spezial/neue-samwer-plattform-jungunternehmer-finanzieren-den-mittelstand/9931626.html"
                                   target="_blank"><img class="col-xs-offset-3 col-sm-offset-4"
                                                        src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/handelsblatt.png"
                                                        alt="Handeslblatt"></a>
                                <blockquote>
                                    <p>Die Internetplattform Zencap vermittelt Darlehen an Firmen – nach gründlicher
                                        Bonitätsprüfung und zum Missfallen vieler Banken (…). Zwar laufen viele Prozesse
                                        <br>IT-gestützt, aber beim Bilanzcheck vertraut Zencap auf erfahrene Analysten.
                                    </p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>
                            <div class="item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/140410_sueddeutsche-zeitung_das-problem-mit-dem-geld.pdf"
                                   target="_blank"><img
                                        src="https://d1x3gb5zl465n8.cloudfront.net/de/press/suddeutsche_zeitung.png"
                                        alt="Süddeutsche Zeitung"></a>
                                <blockquote>
                                    <p>Die Finanzierung der vielen Mittelständler ist zunehmend ein Problem. Durchs
                                        Raster fallen die Unternehmen, die das Rückgrat des Wirtschaftsstandorts
                                        Deutschlands sind (...). In diese Lücke springen nun Internetplattformen wie
                                        Zencap.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end .presse -->
        </div>
    </div>

    <div class="container-wrapper odd how-zencap-works">
        <div class="container ">
            <h2 class="faux-h1 text-center">Geld leihen, Geld investieren: das Zencap-Prinzip</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0"><img class="img-responsive"
                                                                                              src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/home/how-it-works2.png"
                                                                                              width="460" height="188"
                                                                                              alt="How Zencap works">
                </div>
                <div class="desp-20 hidden-md hidden-lg"></div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Wer erfolgreich Unternehmen führen will, braucht jemanden, der ihm die nötigen Finanzmittel zur
                    Verfügung stellt. Wer sein Geld investieren will, braucht tragfähige Geschäftsideen, in die es sich
                    anzulegen lohnt. Kurz gesagt: Unternehmer brauchen Investoren, so wie Investoren Unternehmen
                    brauchen. Eine Bankfiliale braucht dabei niemand. Lediglich einen sicheren Ort, an dem man sich
                    trifft. Einen Marktplatz. Oder noch unkomplizierter: Einen Onlinemarktplatz. Das ist Zencap.
                </div>
            </div>
        </div>
    </div>
    <!-- end .how-zencap-works -->




    {#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.carousel').carousel({
                interval: 5000
            })
        });
    </script>#}

    <!-- end cms block 'il-hp' -->

    <!-- begins cms block 'il-hp-bottom' -->

    <!--<div class="container-wrapper testimonials">
    <div class="container">
        <p class="faux-h1">Erfolgreiche Kreditprojekte</p>
        <div class="row">
            <div class="col-xs-6">
                <div class="detail-box-wrapper">
                    <img src="https://d1x3gb5zl465n8.cloudfront.net/home/projekte/derperfektewurf.jpg" width="460" height="192" alt="DIRK NOWITZKI - DER PERFEKTE WURF">
                    <p class="faux-h2">NOWITZKI - DER PERFEKTE WURF</p>
                    <div class="detail-box loan-amount">
                        <p>100.000&nbsp;€ <small>Kreditbetrag</small></p>
                    </div>
                    <div class="detail-box years">
                        <p>72 <small>Investoren</small></p>
                    </div>
                    <div class="detail-box interest-rate">
                        <p>6,51% <small>Zinssatz</small></p>
                    </div>
                </div>
                <p class="faux-h3">Wachstumsfinanzierung in Rekordzeit</p>
                <p>Die Produktionsfirma BROADVIEW TV GmbH des Produzenten Leopold Hoesch hat eine Kinodoku über den deutschen NBA-Basketballer Dirk Nowitzki gedreht. Der Kredit sollte den weltweiten Vertrieb dieses Films finanzieren.</p>
                <p><a href="/darlehen-anfrage/index">Weitere Projekte entdecken</a></p>
            </div>
            <div class="col-xs-6">
                <div class="detail-box-wrapper">
					<iframe style="margin-bottom:-5px" src="//player.vimeo.com/video/91600511" width="460" height="192" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <p class="faux-h2">CADmium</p>
                    <div class="detail-box loan-amount">
                        <p>50.000&nbsp;€ <small>Kreditbetrag</small></p>
                    </div>
                    <div class="detail-box years">
                        <p>63 <small>Investoren</small></p>
                    </div>
                    <div class="detail-box interest-rate">
                        <p>6,50% <small>Zinssatz</small></p>
                    </div>
                </div>
                <p class="faux-h3">Weiterentwicklung eines Quadrocopters</p>
                <p>Die CADmium GmbH ist seit 1999 im Bereich Entwicklung<br>und Fertigung von Prototypen für große Konzerne tätig.<br> Der Kredit trug zur Finanzierung der Weiterentwicklung und Fertigung von einer Vorserie eines neuen, robusten und erschwinglichen Flugrobotors bei.</p>
                <p><a href="/darlehen-anfrage/index">Weitere Projekte entdecken</a></p>
            </div>
        </div>
    </div>
</div>-->

    <div class="container-wrapper odd blockquote">
        <div class="container">
            <h2 class="faux-h1 text-center">Das sagen unsere Unternehmer</h2>

            <div class="row">
                <div class="hidden-xs hidden-sm col-md-5">
                    <blockquote>
                        <p>"Ich habe nicht das Gefühl, dass Banken nennenswert daran interessiert sind den Mittelstand
                            zu fördern. Und es erfüllt einen daher natürlich mit einem gewissen Stolz zu sehen, dass es
                            Anleger gibt, die an das eigene Geschäftsmodell glauben und einem ihr Geld anvertrauen."</p>

                        <p><em>Wulf Schlichte, Geschäftsführer InCultura GmbH, Aachen</em></p>
                    </blockquote>
                </div>
                <div class="col-xs-12 col-md-7">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="//player.vimeo.com/video/109218135?title=0&amp;byline=0&amp;portrait=0" width="540"
                                height="304" frameborder="0" webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 text-center">
                    <h3>Ihr Unternehmenskredit</h3>

                    <p>Werden Sie unabhängiger von Banken.<br>
                        Bequem online und zu Top-Konditionen.</p>

                    <p><a href="/loan-request/register#baseForm" class="btn btn-lg btn-brrwr">Jetzt Zinssatz
                            ermitteln</a></p>
                </div>
                <div class="col-xs-6 text-center">
                    <h3>Ihre Investition</h3>

                    <p>Profitieren Sie vom Erfolgsmodell Mittelstand.<br>
                        Attraktive Rendite und volle Transparenz.</p>

                    <p><a href="/register/lender/" class="btn btn-lg btn-nvstr">Jetzt registrieren</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrapper odd">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p class="faux-h1 text-center">Kredite für Unternehmen</p>

                    <p>Zencap ist Deutschlands größter Kreditmarktplatz für Unternehmenskredite und die am schnellsten
                        wachsende Crowdlending-Plattform Kontinentaleuropas.
                        Unternehmen erhalten unkompliziert einen maßgeschneiderten Kredit; Anleger Zugang zu einer neuen
                        Anlageklasse, um Geld zu investieren.
                        Die Kredite von Unternehmen fallen üblicherweise in die Kategorien "Wachstumskapital", "Kredite
                        für Investitionen in Anlagevermögen" sowie "Betriebsmittelfinanzierung".
                        Unternehmer schätzen an Zencap eine schnelle Kreditentscheidung, attraktive Konditionen und
                        flexible Rahmenbedingungen für ihren Kredit.
                        Private Anleger profitieren von attraktiven Renditen, monatlichen Rückzahlungen und einer
                        professionellen Risikoprüfung.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- ends cms block 'il-hp-bottom' -->


    </div>

{% endblock body %}