{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page homepage">

    <!-- begins cms block 'il-hp' -->

    <div class="home-inner">
        <div class="container-wrapper main-image">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-7">
                        <h1>INNOVATIVE <br> UNTERNEHMENSKREDITE </h1>
                        <p class="hidden-xs">Zencap ist Deutschlands führender Kreditmarktplatz, <br> der
                            Unternehmen direkt mit Investoren zusammenbringt</p>
                    </div>
                    <div class="hidden-xs col-sm-12 col-md-5">
                        <div class="voucher"></div>
                        <p class="text-right">Wulf Schlichte von Incultura hat mit 50.000 € von <br>65 Investoren
                            eine neue Espressobar eröffnet</p>
                    </div>
                </div>
            </div>
        </div><!-- end .main-image -->

        <!--  Buttons only on mobile -->
        <div class="container-wrapper visible-xs hidden-sm hidden-md hidden-lg special-buttons ">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <a href="/borrower-getting-started" class="btn btn-block btn-lg btn-brrwr">
                        Jetzt Zinssatz <br>ermitteln</a>
                </div>
                <div class="col-xs-6">
                    <a href="/lender-getting-started" class="btn btn-block btn-lg btn-nvstr ">
                        Jetzt Geld <br>investieren</a>
                </div>
            </div>
        </div>
    </div><!-- end .special-buttons -->
    </div>

    <div class="desp-20 odd visible-xs hidden-sm hidden-md hidden-lg"></div>

    <div class="container-wrapper odd hidden-xs visible-sm visible-md visible-lg tiles">
        <div class="container spacing">
            <div class="row">
                <div class="pull-down">
                    <div class="hidden-xs col-sm-6 col-md-6">
                        <div class="white-box">
                            <div class="desp-20"></div>
                            <div class="text-center">
                                <a href="/borrower-getting-started" class="text-center btn btn-lg btn-brrwr">Jetzt
                                    Zinssatz ermitteln</a>
                            </div>
                            <div class="borrower">
                                <div class="desp-20"></div>
                                <p class="faux-h3 text-center">Innovativer Unternehmenskredit</p>
                                <hr/>
                                <ul class="styled">
                                    <li>Kredite bis 250.000 € ab 3,99 %</li>
                                    <li>Verlässlichkeit: Kreditentscheidung nach 48 Stunden</li>
                                    <li>Keine Gebühren bei vorzeitiger Kreditablösung</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end .hidden-xs col-sm-6 col-md-6 -->

                    <div class="hidden-xs col-sm-6 col-md-6">
                        <div class="white-box">
                            <div class="desp-20"></div>
                            <div class="text-center">
                                <a href="/lender-getting-started" class="btn btn-lg btn-nvstr">Jetzt
                                    Geld investieren</a>
                            </div>
                            <div class="investor">
                                <div class="desp-20"></div>
                                <p class="faux-h3 text-center">Neue Anlageklasse</p>
                                <hr/>
                                <ul class="styled">
                                    <li>Attraktive Nettorenditen von Ø 6,78 % p. a.</li>
                                    <li>Bonitätsanalyse nach höchsten Bankenstandards</li>
                                    <li>Hohe Liquidität durch monatliche Rückzahlungen</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .tiles -->

    <div class="clearfix"></div>

    <div class="container-wrapper press-quotes hidden-xs">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 logos text-center">
                    <div id="homepageCarousel" class="carousel slide" style="min-height: 215px;">
                        <!-- Carousel items -->
                        <div class="carousel-inner row">
                            <div class="active item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-07-01_boersen-zeitung_Zencap_brisantes-Finanzierungsneuland.pdf"
                                   target="_blank"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/press/borsen.png"
                                                        alt="Börsenzeitung" class="img-responsive"></a>
                                <blockquote>
                                    <p>&nbsp;Das Zencap-Prinzip wird sich in Deutschland wie zuvor in Großbritannien und
                                        den USA etablieren. Mit der Fokussierung auf kleine Mittelständler greift Zencap
                                        das Geschäft an, in dem traditionelle Banken hauptsächlich ihr Geld
                                        verdienen.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>

                            <div class="item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/140410_sueddeutsche-zeitung_das-problem-mit-dem-geld.pdf"
                                   target="_blank"><img
                                        src="https://d1x3gb5zl465n8.cloudfront.net/de/press/frankfurterallgemeine.png"
                                        alt="Frankfurter Allgemeine" class="img-responsive"></a>
                                <blockquote>
                                    <p>&nbsp;Experten halten Online-Kredite für Mittelständler für eine realistische
                                        Alternative zur klassischen Bankenfinanzierung (…). Vor allem für kleinere
                                        Unternehmen ist das Modell von Zencap interessant.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>


                            <div class="item col-xs-12">
                                <a href="http://www.handelsblatt.com/unternehmen/leasing-spezial/neue-samwer-plattform-jungunternehmer-finanzieren-den-mittelstand/9931626.html"
                                   target="_blank"><img
                                        src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/handelsblatt.png"
                                        alt="Handeslblatt" class="img-responsive"></a>
                                <blockquote>
                                    <p>Die Internetplattform Zencap vermittelt Darlehen an Firmen – nach gründlicher
                                        Bonitätsprüfung und zum Missfallen vieler Banken (…). Zwar laufen viele Prozesse
                                        <br>IT-gestützt, aber beim Bilanzcheck vertraut Zencap auf erfahrene Analysten.
                                    </p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>

                            <div class="item col-xs-12">

                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/140410_sueddeutsche-zeitung_das-problem-mit-dem-geld.pdf"
                                   target="_blank"><img
                                        src="https://d1x3gb5zl465n8.cloudfront.net/de/press/suddeutsche_zeitung.png"
                                        alt="Süddeutsche Zeitung"></a>
                                <blockquote>
                                    <p>Die Finanzierung der vielen Mittelständler ist zunehmend ein Problem. Durchs
                                        Raster fallen die Unternehmen, die das Rückgrat des Wirtschaftsstandorts
                                        Deutschlands sind (...). In diese Lücke springen nun Internetplattformen wie
                                        Zencap.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .press-quotes -->


    <div class="container-wrapper odd how-zencap-works">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Geld leihen, Geld investieren: das Zencap-Prinzip</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0"><img class="img-responsive"
                                                                                              src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/home/how-it-works2.png"
                                                                                              alt="How Zencap works">
                </div>
                <div class="desp-20 hidden-md hidden-lg"></div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Wer erfolgreich Unternehmen führen will, braucht jemanden, der ihm die nötigen Finanzmittel zur
                    Verfügung stellt. Wer sein Geld investieren will, braucht tragfähige Geschäftsideen, in die es sich
                    anzulegen lohnt. Kurz gesagt: Unternehmer brauchen Investoren, so wie Investoren Unternehmen
                    brauchen. Eine Bankfiliale braucht dabei niemand. Lediglich einen sicheren Ort, an dem man sich
                    trifft. Einen Marktplatz. Oder noch unkomplizierter: Einen Onlinemarktplatz. Das ist Zencap.
                </div>
            </div>
        </div>
    </div><!-- end .how-zencap-works -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.carousel').carousel({
                interval: 5000
            })
        });
    </script>

    <!-- end cms block 'il-hp' -->

    <!-- THIS IS A PARTIAL, NOT TO PUT IN CMS  -->


    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <h2 class="faux-h1 text-center">Aktuelle Kreditprojekte</h2>
                <table class="table custom-table">
                    {% include '_partials/tables/loanProjectsTable.html.twig' %}
                </table>
            </div>
        </div>
    </div>
    <!--  end PARTIAL -->




    <div class="container-wrapper odd blockquote">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Echte Alternative zu traditionellen Banken</h2>

            <div class="row">
                <div class="hidden-xs hidden-sm col-md-5">
                    <blockquote>
                        <p>"In den ersten 12 Monaten konnten wir bereits Kredite im Wert von mehr als 13 Millionen Euro vollfinanzieren. Mit dieser Zahl setzen wir uns an die Spitze aller europäischen Kreditmarktplätze: kein anderer Online-Marktplatz hat dies im ersten Jahr seines Bestehens erreicht."</p>

                        <p><em>Dr. Matthias Knecht, Mitgründer und Geschäftsführer von Zencap</em></p>
                    </blockquote>
                </div>
                <div class="col-xs-12 col-md-7 cancel-padding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="534" height="300" src="https://www.youtube.com/embed/vcPdjNcUEvQ?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .blockquote -->


    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>Ihr Unternehmenskredit</h3>

                    <p>Werden Sie unabhängiger von Banken.<br>
                        Bequem online und zu Top-Konditionen.</p>

                    <p><a href="/loan-request/register#baseForm" class="btn btn-lg btn-brrwr">Jetzt Kredit beantragen</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>Ihre Investition</h3>

                    <p>Profitieren Sie vom Erfolgsmodell Mittelstand.<br>
                        Attraktive Rendite und volle Transparenz.</p>

                    <p><a href="/register/lender/" class="btn btn-lg btn-nvstr">Gratis-Anlegerkonto eröffnen</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Unternehmenskredite</h2>
            <p>Zencap ist Deutschlands größter Kreditmarktplatz für Unternehmenskredite und die am schnellsten wachsende Crowdlending-Plattform Kontinentaleuropas.
                Unternehmen erhalten unkompliziert einen maßgeschneiderten Kredit; Anleger Zugang zu einer neuen Anlageklasse, um Geld zu investieren.
                Die Kredite von Unternehmen fallen üblicherweise in die Kategorien "Wachstumskapital", "Kredite für Investitionen in Anlagevermögen" sowie "Betriebsmittelfinanzierung".
                Unternehmer schätzen an Zencap eine schnelle Kreditentscheidung, attraktive Konditionen und flexible Rahmenbedingungen für ihren Kredit.
                Private Anleger profitieren von attraktiven Renditen, monatlichen Rückzahlungen und einer professionellen Risikoprüfung.</p>

        </div>
    </div><!-- end .container-wrapper -->

    <!-- ends cms block 'il-hp-bottom' -->

</div><!-- end .homepage -->


{% endblock body %}

{% block js %}
    {{ parent() }}

    <script>

        function show_button(item) {
            item.children('.bid-form').addClass('hidden');
            item.children('.bid-value').addClass('hidden');
            item.children('.invest').removeClass('hidden');
        }

        function show_form(item) {
            item.children('.bid-form').removeClass('hidden');
            item.children('.bid-value').addClass('hidden');
            item.children('.invest').addClass('hidden');
        }

        function show_completed_form(item, inputValue) {
            item.children('.bid-value').children('span').html(inputValue);
            item.children('.bid-form').addClass('hidden');
            item.children('.bid-value').removeClass('hidden');
            item.children('.invest').addClass('hidden');
            // should have an ajax call to a script to add in sessoin or in db
        }

        function remove_form(item) {
            item.children('.bid-form').addClass('hidden');
            item.children('.bid-value').addClass('hidden');
            item.children('.invest').removeClass('hidden');
            item.children('.bid-form').children('.inp-value').val('');
        }

        function edit_form(item) {
            item.children('.bid-form').removeClass('hidden');
            item.children('.bid-value').addClass('hidden');
            item.children('.invest').addClass('hidden');
        }


        $(function () {
            $('.invest input').click(function () {
                var item = $(this).parent().parent();
                show_form(item);
            });
            $('.bid-form .place-bid').click(function () {
                var item = $(this).parent().parent();
                var inputValue = $(this).parent().children('.inp-value').val();
                if (inputValue == '' || inputValue == undefined) {
                    show_button(item);
                    return;
                }
                show_completed_form(item, inputValue);
            });
            $('.bid-value .remove').click(function () {
                var item = $(this).parent().parent();
                remove_form(item);
            });
            $('.bid-value .edit').click(function () {
                var item = $(this).parent().parent();
                edit_form(item);
            });
        });

    </script>

{% endblock %}


