{% extends 'layout.html.twig' %}

{% block body %}

<div class="container padding-48">
    <h1>Impressum</h1>

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <p>
                Zencap Deutschland GmbH<br>
                Johannisstr. 20<br>
                10117 Berlin<br>
                Deutschland
            </p>
            <p>
                Telefon 030 / 2084900 - 22<br>
                Telefax 030 / 2084900 - 10<br>
                E-Mail <a href="mailto:info@zencap.de">info@zencap.de</a>
            </p>
            <p>
                Geschäftsführer<br>
                Dr. Matthias Knecht, Dr. Christian Grobe
            </p>
        </div>
        <div class="col-xs-12">
            <p>
                Eingetragen beim Amtsgericht Charlottenburg Berlin, HRB 151217 B, Ust.ID: DE294516429<br>
            </p>
            <p>
                Gewerbeerlaubnis nach § 34c Gewerbeordnung erteilt, zuständige Aufsichtsbehörde: Gewerbeamt Mitte von Berlin, Ordnungsamt, Karl-Marx-Allee 31, 10178 Berlin
            </p>
        </div>
    </div>
</div>

{% endblock %}