{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container padding-48">
        <div class="row">
            <div class="col-xs-12">
                <h1>Institutionelle Anleger</h1>
                <p>Auch Unternehmen können bei Zencap einfach und schnell Geld anlegen — und attraktive Renditen kassieren. Melden Sie sich einfach bei uns. Unsere Kreditspezialisten entwickeln dann mit Ihnen zusammen eine Anlagestrategie — abgestimmt auf Ihre individuellen Ziele und Ihre Risikobereitschaft.</p>
                <h2 class="faux-h3">Kontakt</h2>
                <p>Telefon 030 / 2084900 22 <br>
                    (Mo. – Fr. von 9:00 bis 18:00 Uhr)</p>
                <p>E-Mail <a href="mailto:corporate@zencap.de">corporate@zencap.de</a></p>
            </div>
        </div>
    </div>
{% endblock %}