{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}


<div class="container spacing">

{#  cms block lender-upgrade-three-steps  DE #}

    <div class="row">
        <div class="col-xs-12">
            <p><strong>Auf dieser Seite haben Sie die Möglichkeit, ein kostenfreies Depotkonto zu eröffnen. Dieses Konto benötigen Sie, wenn Sie mehr als 10.000 EUR investieren möchten oder all Ihre Investitionen bei Zencap über ein gesondertes Konto abwickeln wollen. Ihr kostenfreies Depotkonto wird bei unserer Partnerbank Wirecard Bank AG geführt. In drei einfachen Schritten erklären wir Ihnen, wie Sie Ihr kostenfreies Depotkonto eröffnen.
                </strong>
            </p>
        </div>
    </div><!-- .row -->

    <div class="row">

        <div class="col-xs-12 col-sm-4 icon-blue">
            <div class="well premium-well">
                <i class="icon-info icon-get-started"></i>
                <hr/>
                <ul class="list-items">
                    <li>Registrierungsformular ausf&uuml;llen</li>
                    <li>Antrag zur Kontoeröffnung stellen</li>
                </ul>
                <a  href="/lenderbankaccount/create" class="btn btn-block btn-lg btn-nvstr">Kostenloses Konto er&ouml;ffnen</a>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4">
            <div class="well premium-well">
                <i class="icon-info icon-post"></i>
                <hr/>
                <ul class="list-items">
                    <li>Antrag zur Kontoeröffnung herunterladen, prüfen und unterschreiben</li>
                    <li>Unterschriebenen Eröffnungsantrag per Postident-Verfahren versenden</li>
                </ul>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4">
            <div class="well premium-well">
                <i class="icon-info icon-currency"></i>
                <hr/>
                <ul class="list-items">
                    <li>Zugangsdaten für Ihr Depotkonto per E-Mail erhalten</li>
                    <li>Startkapital &uuml;berweisen und direkt loslegen</li>
                </ul>
            </div>
        </div>

        <div class="desp-20"></div>

    </div><!-- .row -->

    {#  END cms block lender-upgrade-three-steps  DE #}


    {#  cms block lender-upgrade-three-steps  ES #}

    <h2>Invertir sin límites</h2>
    <p><strong>Actualice su cuenta de inversor en tres simples pasos.</strong></p>
    <p><strong>Con una cuenta estándar puede invertir hasta un máximo de 1000€ anual (Este límite está impuesto por ley para evitar el blanqueo de capital). Para invertir por encima de esta cifra ha de darse de alta como inversor PREMIUM identificándose con su DNI o Pasaporte. Con la CUENTA PREMIUM su límite de inversión anual asciende hasta los 15000 €.</strong></p>
    <div class="row">
        <div class="col-xs-12 col-sm-4 icon-blue">
            <div class="well premium-well">
                <i class="icon-info icon-get-started"></i><hr />
                <ul class="list-items">
                    <li>Completar el formulario</li>
                    <li>Cargar documento de identidad</li>
                </ul>
                <a class="btn btn-block btn-lg btn-nvstr" href="/lenderbankaccount/create">Actualización de cuenta</a></div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4">
            <div class="well premium-well">

                <img src="https://d1x3gb5zl465n8.cloudfront.net/global/icons/id_check.png">

                <!-- <i class="icon-post"></i> -->

                <hr />
                <ul class="list-items">
                    <li>Nuestros especialistas verificarán su documento de identidad</li>
                    <li>Le comunicaremos por email la verificación de su documento de identidad</li>
                </ul>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4">
            <div class="well premium-well">
                <i class="icon-info icon-currency"></i><hr />
                <ul class="list-items">
                    <li>Su documento de indentidad ha sido verificado correctamente</li>
                    <li>Invierta ya hasta 15.000€</li>
                </ul>
            </div>
        </div>
    </div>

    {#  END cms block lender-upgrade-three-steps  ES #}


    {#  cms block lender-upgrade-three-steps  NL #}

    <h2>Investeren zonder limiet</h2>
    <p><strong>Verhoog uw limiet in drie eenvoudige stappen.</strong></p>
    <p><strong>Als particuliere investeerder kunt u tot € 5.000 per jaar investeren (deze limiet is ondermeer bedoeld om het witwassen van geld tegen te gaan). Om meer dan € 5.000 te investeren dient u een kopie van uw identificatiebewijs of paspoort te uploaden en een vijftal vragen correct te beantwoorden om aan te tonen dat u basiskennis van investeren bezit. Nadat uw identificatiebewijs door ons is gecontroleerd kunt u tot € 40.000, zoals vastgesteld door de huidige wetgeving, investeren op ons platform. Dit geldt niet voor wettelijke zakelijke entiteiten die tot € 100.000 mogen investeren.
        </strong></p>
    <div class="row">
        <div class="col-xs-12 col-sm-4 icon-blue">
            <div class="well premium-well">
                <i class="icon-info icon-get-started"></i><hr />
                <ul class="list-items">
                    <li>Vul het document in</li>
                    <li>Upload het identificatiebewijs</li>
                    <li>Verhoog uw limiet</li>
                </ul>
                <a class="btn btn-block btn-medium btn-nvstr" href="/lenderbankaccount/create">Account update</a></div>
        </div>
        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>
        <div class="col-xs-12 col-sm-4">
            <div class="well premium-well">
                <img src="https://d1x3gb5zl465n8.cloudfront.net/global/icons/id_check.png">

                <!-- <i class="icon-post"></i> -->

                <hr />
                <ul class="list-items">
                    <li>Onze experts controleren uw identificatiebewijs</li>
                    <li>Wij emailen u zogauw we uw identificatiebewijs hebben geverifieerd</li>
                </ul>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>
        <div class="col-xs-12 col-sm-4">
            <div class="well premium-well"><i class="icon-info icon-currency"></i><hr />
                <ul class="list-items">
                    <li>Uw idendificatiebewijs is positief geverifieerd</li>
                    <li>Investeer nu tot €40.000</li>
                </ul>
            </div>
        </div>
    </div>

    {#  END cms block lender-upgrade-three-steps  ES #}

{# end cms #}

</div><!-- .container -->


{% endblock body %}