{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

{#  cms block lender-upgrade-three-steps_step-2 #}

<div class="container padding-48">

    <div class="row step_2">

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="well premium-well">
                <i class="icon-info icon-get-started"></i>
                <hr/>
                <ul class="list-items">
                    <li>Registrierungsformular ausfüllen</li>
                    <li>Antrag zur Kontoeröffnung stellen</li>
                </ul>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4 col-md-6 icon-blue">
            <div class="well premium-well">
                <i class="icon-info icon-post"></i>
                <hr/>
                <ul class="list-items">
                    <li>Antrag zur Kontoeröffnung herunterladen, prüfen und unterschreiben</li>
                    <li>Unterschriebenen Eröffnungsantrag per Postident-Verfahren versenden</li>
                </ul>
                <a href="{{ path('premium_lender_account_details') }}" class="btn btn-block btn-lg btn-nvstr">Antrag zur Kontoeröffnung herunterladen</a>
                {# !!!!!!!!!!!!!!!!!! #}
                {# the link above should download a pdf, now it's just for moving on  #}
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="well premium-well">
                <i class="icon-info icon-currency"></i>
                <hr/>
                <ul class="list-items">
                    <li>Zugangsdaten für Ihr Depotkonto per E-Mail erhalten</li>
                    <li>Startkapital überweisen und direkt loslegen</li>
                </ul>
            </div>
        </div>

        <div class="desp-20"></div>

    </div><!-- .row -->

</div><!-- .container -->

{# end cms #}

{% endblock body %}