{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

{#  cms block lender-upgrade-three-steps_step-2 #}

<div class="container spacing">

    <div class="row step_2">

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="well premium-well">
                <i class="icon-info icon-get-started"></i>
                <hr/>
                <ul class="list-items">
                    <li>Registrierungsformular ausfüllen</li>
                    <li>Antrag zur Kontoeröffnung stellen</li>
                </ul>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4 col-md-6 icon-blue">
            <div class="well premium-well">
                <i class="icon-info icon-post"></i>
                <hr/>
                <ul class="list-items">
                    <li>Antrag zur Kontoeröffnung herunterladen, prüfen und unterschreiben</li>
                    <li>Unterschriebenen Eröffnungsantrag per Postident-Verfahren versenden</li>
                </ul>
                <a href="{{ path('premium_lender_account_details') }}" class="btn btn-block btn-lg btn-nvstr">Antrag zur Kontoeröffnung herunterladen</a>
                {# !!!!!!!!!!!!!!!!!! #}
                {# the link above should download a pdf, now it's just for moving on  #}
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="well premium-well">
                <i class="icon-info icon-currency"></i>
                <hr/>
                <ul class="list-items">
                    <li>Zugangsdaten für Ihr Depotkonto per E-Mail erhalten</li>
                    <li>Startkapital überweisen und direkt loslegen</li>
                </ul>
            </div>
        </div>

        <div class="desp-20"></div>

    </div><!-- .row -->




    <h1>Investeren zonder limiet</h1>
    <p><strong>Verhoog uw limiet in drie eenvoudige stappen.</strong></p>
    <p><strong>Als particuliere investeerder kunt u tot € 5.000 per jaar investeren (deze limiet is ondermeer bedoeld om het witwassen van geld tegen te gaan). Om meer dan € 5.000 te investeren dient u een kopie van uw identificatiebewijs of paspoort te uploaden en een vijftal vragen correct te beantwoorden om aan te tonen dat u basiskennis van investeren bezit. Nadat uw identificatiebewijs door ons is gecontroleerd kunt u tot € 40.000, zoals vastgesteld door de huidige wetgeving, investeren op ons platform. Dit geldt niet voor wettelijke zakelijke entiteiten die tot € 100.000 mogen investeren.
        </strong></p>
    <div class="row step_2">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="well premium-well">
                <i class="icon-info icon-get-started"></i>
                <hr/>
                <ul class="list-items">
                    <li>Vul het document in</li>
                    <li>Upload het identificatiebewijs</li>
                    <li>Verhoog uw limiet</li>
                </ul>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4 col-md-6 icon-blue">
            <div class="well premium-well">
                <img src="https://d1x3gb5zl465n8.cloudfront.net/global/icons/id_check2.png">

                <!-- <i class="icon-post-blue"></i> -->
                <hr/>
                <ul class="list-items">
                    <li>Onze experts controleren uw identificatiebewijs</li>
                    <li>Wij emailen u zogauw we uw identificatiebewijs hebben geverifieerd</li>
                </ul>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="well premium-well">
                <i class="icon-info icon-currency"></i>
                <hr/>
                <ul class="list-items">
                    <li>Uw idendificatiebewijs is positief geverifieerd</li>
                    <li>Investeer nu tot €40.000</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="desp-20"></div>





    <h1>Invertir sin límites</h1>
    <p><strong>Actualice su cuenta de inversor en tres simples pasos.</strong></p>
    <p><strong>Con una cuenta estándar puede invertir hasta un máximo de 1000€ anual (Este límite está impuesto por ley para evitar el blanqueo de capital). Para invertir por encima de esta cifra ha de darse de alta como inversor PREMIUM identificándose con su DNI o Pasaporte. Con la CUENTA PREMIUM su límite de inversión anual asciende hasta los 15000 €.</strong></p>
    <div class="row step_2">
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="well premium-well">
                <i class="icon-info icon-get-started"></i>
                <hr/>
                <ul class="list-items">
                    <li>Completar el formulario</li>
                    <li>Cargar documento de identidad</li>
                </ul>
            </div>
        </div>

        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>
        <div class="col-xs-12 col-sm-4 col-md-6 icon-blue">
            <div class="well premium-well">
                <img src="https://d1x3gb5zl465n8.cloudfront.net/global/icons/id_check2.png">

                <!-- <i class="icon-post-blue"></i> -->
                <hr/>
                <ul class="list-items">
                    <li>Nuestros especialistas verificarán su documento de identidad</li>
                    <li>Le comunicaremos por email la verificación de su documento de identidad</li>
                </ul>
            </div>
        </div>
        <div class="desp-20 col-xs-12 hidden-sm hidden-md hidden-lg"></div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="well premium-well">
                <i class="icon-info icon-currency"></i>
                <hr/>
                <ul class="list-items">
                    <li>Su documento de identidad ha sido verificado exitosamente</li>
                    <li>Invierta ya hasta 15.000€</li>
                </ul>
            </div>
        </div>
    </div>





</div><!-- .container -->

{# end cms #}

{% endblock body %}