{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page investor">

    <div class="container-wrapper header-top lender-getting-started">
        <div class="container spacing">
            <div class="row main-title">
                <div class="col-xs-12">
                    <h1>Ihre Geldanlage in Unternehmen </br>„made in Germany“</h1>
                    <p class="hidden-xs hidden-sm">Direkter Zugang zum Erfolgsmodell Mittelstand: Investieren Sie in sorgfältig ausgewählte<br>  Unternehmenskredite mit attraktivem Rendite-Risiko-Profil</p>
                    <a class="btn btn-lg btn-nvstr" href="">Jetzt anlegen</a>
                </div>
                <div class="col-md-5 col-md-offset-8 hidden-xs hidden-sm">
                    <p>Wulf Schlichte von Incultura hat mit 50.000 € von<br>65 Investoren eine neue Espressobar eröffnet</p>
                </div>
            </div>
        </div>
    </div><!-- end .header-top -->

    <div class="container-wrapper benefits-lender">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Ihre Kapitalanlage bei Zencap</h2>
            <div class="row">
                <div class="col-xs-12 col-md-4 grey-note">
                    <div class="row visual">
                        <div class="col-xs-12 visual-inner">
                            <img class="pull-left" src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlenddeweblayout/frontend/images/cms/lender/benefit-lender-1.png" alt=""/>
                            <div class="col-xs-7 col-sm-6 col-md-9 visual-inner">
                                <h3>Attraktives Mittelstandsportfolio</h3>
                            </div>
                        </div>
                        <div class="desp-10"></div>
                        <div class="col-xs-12 col-md-9 col-md-offset-3">
                            <p class="text">Bauen Sie sich ein breites Mittelstandsportfolio nach Ihren Anlagezielen auf. Bereits ab 100 € können Sie Ihre Geldanlage über zahlreiche Projekte aus verschiedenen Industrien und Regionen streuen. Wählen Sie aus 5 Anlageklassen mit Renditen zwischen 2,9 % p.a. und 14,5 % p.a. und minimieren Sie die Volatilität und das Verlustrisiko durch Diversifizierung.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row visual">
                        <div class="col-xs-12 visual-inner">
                            <img class="pull-left" src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlenddeweblayout/frontend/images/cms/lender/benefit-lender-2.png" alt=""/>
                            <div class="col-xs-7 col-sm-6 col-md-9 visual-inner">
                                <h3>Professionelle Bonitätsprüfung</h3>
                            </div>
                        </div>
                        <div class="desp-10"></div>
                        <div class="col-xs-12 col-md-9 col-md-offset-3">
                            <p class="text">Alle Projekte auf unserem Kreditmarktplatz durchlaufen ein mehrstufiges Prüfverfahren. Unsere professionellen Ratingsysteme erfüllen höchste Bankenstandards und unser fünfköpfiges Expertenteam versammelt mehr als 50 Jahre Erfahrung in der Prüfung von Mittelstandskrediten. Jeder Kreditnehmer bürgt mit seinem privaten Vermögen.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 grey-note">
                    <div class="row visual">
                        <div class="col-xs-12 visual-inner">
                            <img class="pull-left" src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlenddeweblayout/frontend/images/cms/lender/benefit-lender-3.png" alt=""/>
                            <div class="col-xs-7 col-sm-6 col-md-9 visual-inner">
                                <h3>Konstante Liquidität</h3>
                            </div>
                        </div>
                        <div class="desp-10"></div>
                        <div class="col-xs-12 col-md-9 col-md-offset-3">
                            <p class="text">Anders als bei Anleihen und Aktien erhalten Sie die Zins- und Tilgungszahlungen aus all Ihren Kapitalanlagen bei Zencap jeden Monat direkt auf Ihr Konto. Damit profitieren Sie von konstanter Liquidität. Legen Sie beispielsweise 5.000 € in verschiedene Projekte mit durchschnittlicher Verzinsung und Laufzeit an*, fließen jeden Monat 221 € direkt an Sie zurück.</p>
                        </div>
                        <div class="col-xs-12 col-md-9 col-md-offset-3">
                            <p class="text"><small>*Durchschnittliches Projekt: 5,58 % Zinsen p.a., 24 Monate Laufzeit</small></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-nvstr" href="/register/lender/">Jetzt investieren</a>
                    <div class="desp-10"></div>
                    <div>Lesen Sie mehr zu<a href="/rates-and-fees-investor" target="_blank"> Renditen und Risiko</a></div>
                </div>
            </div>
        </div>
    </div><!-- end .benefits-lender -->

    <div class="container-wrapper odd blockquote">
        <div class="container spacing">
            <div class="faux-h1 text-center">Innovation für den Kunden</div>

            <div id="lenderCarousel" class="carousel slide col-xs-12">
                <!-- Carousel items -->
                <div class="carousel-inner row">
                    <div class="active item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8 col-md-8">
                                <blockquote>
                                    <p class="text-left">Der große Vorteil bei Zencap: Bei dem Online-Marktplatz wird bereits vorsortiert und die Kredite werden von A+ bis C- eingestuft.</p>
                                    <p class="text-left"><em>Dr. Stefan Michallik - Investor bei Zencap</em></p>
                                </blockquote>
                            </div>
                            <div class="hidden-xs col-xs-12 col-sm-4 col-md-3 col-md-offset-1">
                                <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/investor/investor2.jpg" class="img-circle" />
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <blockquote>
                                    <p>Über das Crowdlending-Modell von Zencap kann erstmals eine breite Schicht von Privatanlegern in den Mittelstand investieren und Margen erzielen, die sonst nur den Banken vorbehalten blieben. Damit hilft Zencap, eine Lücke im Finanzierungsmarkt zu schließen.</p>
                                    <p><em>Dr. Ralf Beck, Professor für BWL und Autor von <span class="nobr"><a href="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/borrower/axel-juehnke-cadmium.jpg" target="_blank">Crowdinvesting - Die Investition der Vielen</a></span></em></p>
                                </blockquote>
                            </div>
                            <div class="hidden-xs col-sm-3">
                                <img alt="" src="/bundles/intlendweblayout/frontend/images/cms/investor/dr-ralf-beck.jpg" class="img-circle" />
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="ccol-xs-12 col-sm-8">
                                <blockquote>
                                    <p>Über das Crowdlending-Modell von Zencap kann erstmals eine breite Schicht von Privatanlegern in den Mittelstand investieren und Margen erzielen, die sonst nur den Banken vorbehalten blieben. Damit hilft Zencap, eine Lücke im Finanzierungsmarkt zu schließen.</p>
                                    <p><em>Dr. Ralf Beck, Professor für BWL und Autor von <span class="nobr"><a href="http://www.amazon.de/Crowdinvesting-Investition-Vielen-Ralf-Beck/dp/1495263843" target="_blank">Crowdinvesting - Die Investition der Vielen</a></span></em></p>
                                </blockquote>
                            </div>
                            <div class="hidden-xs col-sm-3">
                                <img alt="" src="/bundles/intlendweblayout/frontend/images/cms/investor/dr-ralf-beck.jpg" class="img-circle" />
                            </div>
                        </div>
                    </div>
                </div>

                <!--<ol class="carousel-indicators">
                    <li data-target="#lenderCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#lenderCarousel" data-slide-to="1"></li>
                    <li data-target="#lenderCarousel" data-slide-to="2"></li>
                </ol>-->

            </div><!-- end .lenderCarousel -->

        </div>
    </div><!-- end .blockquote -->


    {#  TO REPLACE THE IMAGE  borrower-benefit-1.png WITH THE CORRECT ONE #}

    <div class="container-wrapper lender-invest-steps">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">In drei einfachen Schritten Geld anlegen</h2>
            <div class="row">
                <p class="hidden-xs hidden-sm col-md-10 col-md-offset-1">
                    <img class="img-responsive" alt="" src="/bundles/intlenddeweblayout/frontend/images/cms/lender/lender-steps.png" />
                </p>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-4 grey-note">
                    <div class="row helper">
                        <div class="col-xs-12 helper-inner">
                            <img class="pull-left hidden-md hidden-lg" alt="" src="/bundles/intlenddeweblayout/frontend/images/cms/borrower/borrower-benefit-1.png" />
                            <div class="col-xs-7 col-sm-6 col-md-12 pull-left helper-inner">
                                <h3>Konto erstellen in 1 Minute</h3>
                            </div>
                        </div>
                        <div class="desp-10 hidden-md hidden-lg"></div>
                        <div class="col-xs-12">
                            <p>Registrieren Sie sich in 1 Minute mit Ihrem Namen und Ihrer E-Mailadresse und entdecken Sie spannende Kreditprojekte.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="row helper">
                        <div class="col-xs-12 helper-inner">
                            <img class="pull-left hidden-md hidden-lg" alt="" src="/bundles/intlenddeweblayout/frontend/images/cms/borrower/borrower-benefit-1.png" />
                            <div class="col-xs-7 col-sm-6 col-md-12 pull-left helper-inner">
                                <h3>Kreditprojekte auswählen</h3>
                            </div>
                        </div>
                        <div class="desp-10 hidden-md hidden-lg"></div>
                        <div class="col-xs-12">
                            <p>Wählen Sie Ihre Kapitalanlage aus und geben Sie Ihre Bankdaten ein. Die Abwicklung erfolgt bequem per Lastschrift.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 grey-note">
                    <div class="row helper">
                        <div class="col-xs-12 helper-inner">
                            <img class="pull-left hidden-md hidden-lg" alt="" src="/bundles/intlenddeweblayout/frontend/images/cms/borrower/borrower-benefit-1.png" />
                            <div class="col-xs-7 col-sm-6 col-md-12 pull-left helper-inner">
                                <h3>Rückzahlungen erhalten</h3>
                            </div>
                        </div>
                        <div class="desp-10 hidden-md hidden-lg"></div>
                        <div class="col-xs-12">
                            <p>Nutzen Sie Ihr Dashboard, um den Überblick über Ihre Zinseinkünfte und monatlichen Rückzahlungen zu behalten.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-nvstr" href="">Jetzt investieren</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrapper blue risks">
        <div class="container spacing">
            <h2 class="faux-h1 text-white">Was sind die Investitionsrisiken?</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 pull-right">
                    <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/risiko-groups_03_v2.png" alt=""/>
                </div>
                <div class="col-xs-12 col-sm-6 pull-right">
                    <p>Bei Zencap können Sie im Durchschnitt Renditen zwischen 3,99 % <br> und 12,48 % je nach Anlageklasse verdienen. Eine Anlage in Unternehmenskredite ist immer mit Risiken behaftet. Denn Unternehmen können insolvent werden und Kredite ausfallen. Als Faustregel gilt: je höher die Rendite desto höher das Verlustrisiko. </p>
                </div>
            </div>
            <div class="desp-20"></div>
            <h2 class="faux-h1 text-white">Wie können Sie sich vor Verlusten schützen?</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 pull-right">

                    <p style="margin-left: 22px;">
                        <img class="img-responsive" alt="" src="/bundles/intlenddeweblayout/frontend/images/cms/lender/project-balance.png" />
                    </p>
                    <div class="risk-info text-center">
                        <div class="pull-left">
                            <strong>100</strong><br>
                            KREDITE
                        </div>
                        <div class="pull-left positive">
                            <strong>POSITIVE</strong><br>
                            RENDITE
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 pull-right">
                    <p>Wir prüfen jeden Kredit sehr sorgfältig und jeder Kreditnehmer haftet mit seinem Privatvermögen. Doch der wirksamste Schutz gegen mögliche Verluste ist und bleibt die Diversifizierung, also die Streuung Ihres Investitionsbetrags auf viele Einzelprojekte.
                        <a class="text-white" href="http://www.foundationcapital.com/downloads/FoundationCap_MarketplaceLendingWhitepaper.pdf" target="_blank"><u>Studien</u></a> zu Ausfällen von Krediten auf den führenden Online-Kreditmarktplätzen belegen einstimmig: 99 % aller Investoren, die ihre Gesamtinvestition auf mehr als 100 Kredite verteilt haben, konnten seit Bestehen dieser Plattformen eine strikt positive Rendite erwirtschaften. </p>
                </div>
            </div>
        </div>
    </div><!-- end .risks -->

</div>

    <!--
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.carousel').carousel({
                interval: 5000
            })
        });
    </script>
    -->
{% endblock %}