{% extends 'layout.html.twig' %}

{% block body %}
    
<style>

/* ==========================================================================
    lp-negativzinsen-vermeiden
========================================================================== */

    .bkg-rate {
        background-size: cover;
    }

    /* background height on mobile */
    @media (min-width: 320px) and (max-width: 767px) {
        .bkg-rate {
            background: url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/negative/header1.jpg') 33% 0 no-repeat #f2f2f2;
            height: 250px;
        }
    }

    /* background height on tablet */
    @media (min-width: 768px) and (max-width: 991px) {
        .bkg-rate {
            background: url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/negative/header1.jpg') 47% 0 no-repeat #f2f2f2;
            height: 350px;
        }
    }

    /* background height on desktop */
    @media (min-width: 992px) {
        .bkg-rate {
            background: url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/negative/header1.jpg') 24% 0 no-repeat #f2f2f2;
            height: 384px;
        }
    }

    .bkg-savers {
        background-size: cover;
    }

    /* background on mobile */
    @media (min-width: 320px) and (max-width: 767px) {
        .bkg-savers {
            background: url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/negative/bg-image1.jpg') 15% 0 no-repeat #f2f2f2;
        }
    }

    /* background height on tablet */
    @media (min-width: 768px) and (max-width: 991px) {
        .bkg-savers {
            background: url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/negative/bg-image1.jpg') 26% 0 no-repeat #f2f2f2;
            height: 310px;
        }
    }

    /* background height on desktop */
    @media (min-width: 992px) {
        .bkg-savers {
            background: url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/negative/bg-image1.jpg') 26% 0 no-repeat #f2f2f2;
            height: 360px;
        }
    }
    
</style>

<div class="cms-page investor">

    <div class="container">
        <div class="page-head">
            <h1 class="text-center">Negativzinsen vermeiden: Jetzt bei Zencap investieren!</h1>
        </div>
    </div><!-- end .container -->

    <div class="container-wrapper bkg-rate">
        <div class="container spacing">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-1">
                    <div class="padding-box white-box">
                        <p class="faux-h3 text-center">Ihre Vorteile als Investor:</p>
                        <ul class="styled">
                            <li>Solide Geldanlage</li>
                            <li>Attraktive Renditen von durchschnittlich 5,85 %</li>
                            <li>Monatliche Rückzahlungen</li>
                        </ul>
                        <div class="text-center">
                            <a href="/register/lender" class="btn btn-lg btn-block btn-nvstr">Jetzt investieren</a>
                        </div>
                    </div>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Vermeiden Sie Negativzinsen – <br>
                investieren Sie bei Zencap in KMU</h2>
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center">Mit Zencap investieren Sie in solide Mittelstandsunternehmen mit Wachstumspotential.
                        Stellen Sie sich noch heute Ihr Wunschportfolio zusammen und nehmen Sie aktiv an der Erfolgsgeschichte
                        „deutscher Mittelstand“ teil.</p>
                    <div class="text-center">
                        <a href="/register/lender" class="btn btn-lg btn-nvstr">Jetzt investieren</a>
                    </div>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="faux-h1 text-center">Europa im Zinstief: Negativzinsen auf Spareinlagen</h2>
                    <p class="text-center">Der Leitzins der EZB sinkt kontinuierlich, die erste Bank in Deutschland verlangt ab dem 1. November 2014
                        Negativzinsen auf Spareinlagen – da fragen sich Sparer und Investoren, ob diese Strafzinsen erst der Anfang
                        sind. Unternehmen zahlen schon seit einigen Wochen Zinsen auf Spareinlagen, sodass diese schon früher
                        von Negativzinsen betroffen waren. Mit der Entscheidung Anleger ab dem 1. November 2014 mit Zinsen in Höhe
                        von 0,25 % zu belasten hat die Skat-Bank Geschichte geschrieben.</p>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper bkg-savers">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Bald auch kleinere Sparer betroffen?</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6">
                    <h3>Bisher betreffen die Negativzinsen nur Großanleger</h3>
                    <p>Erst eine einzige Bank hat Negativzinsen für private Anleger eingeführt. Angesichts des anhaltenden Zinstiefs und den Strafzinsen, die Unternehmen schon seit einigen Wochen zu entrichten haben, ist es jedoch gut möglich, dass die Entwicklung zum Minuszins bald auch kleine Sparer trifft.</p>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="faux-h1 text-center">Attraktive Rendite bei Zencap</h2>
                    <p class="text-center">Bei Zencap investieren Sie einfach in mittelständische Wachstumsprojekte Ihrer Wahl. Schon ab 100 €
                        sind Investitionen möglich und die Zinsen sind hochattraktiv. Im Durchschnitt realisieren Anleger
                        auf Zencap eine Rendite von 5,85% - weit entfernt von Minuszinsen.</p>
                    <div class="text-center">
                        <a href="/register/lender/" class="btn btn-lg btn-nvstr">Jetzt investieren</a>
                        <div class="desp-10"></div>
                        <p><a href="/blog/-79.html">Mehr erfahren in unserem Blog</a></p>
                    </div>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock body %}