{% extends 'layout.html.twig' %}

{% block body %}

<style>

/* ==========================================================================
    lp-sparbuch
========================================================================== */

    .bkg-returns {
        background: url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/sparbuch/hero-image.jpg') 50% 50% no-repeat;
    }

    .bkg-returns h1 small {
        color: #203340;
        font-weight: bold;
    }

    /* background height on mobile */
    @media (min-width: 320px) and (max-width: 767px) {
        .bkg-returns {
            height: 220px;
        }
    }

    /* background height on tablet */
    @media (min-width: 768px) and (max-width: 991px) {
        .bkg-returns {
            height: 260px;
        }
    }

    /* background height on desktop */
    @media (min-width: 992px) {
        .bkg-returns {
            height: 350px;
        }

        .bkg-returns  h1 small {
            font-size: 26px;
        }
    }

    .styled.large li {
        border-bottom-color: #edf0f2;
    }

    .odd .styled.large li {
        border-bottom-color: #c7d2d9;
    }

</style>

<div class="cms-page investor">

    <div class="container-wrapper bkg-returns">
        <div class="container">
            <div class="page-head">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <h1>Tagesgeld-Alternative mit attraktiven Renditen –<br>
                            <small>schon ab 100 € bei Zencap Geld anlegen</small></h1>
                        <a class="btn btn-lg btn-nvstr" href="/geldanlage-unternehmen-5.html">Tagesgeld-Alternative</a>
                        <div class="desp-5"></div>
                        <p><small>Haben Sie Fragen?<br/>Sie erreichen uns unter <strong>0800 - 724 08 14</strong></small></p>
                    </div>
                </div><!-- end .row -->
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper good-returns">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4">
                    Das Sparbuch ist der Klassiker unter den Geldanlagen. Neben Tagesgeld und Festgeld überzeugt es deutsche Anleger als solide und risikolose Anlageform, die einfach über die Bank erhältlich ist. In Zeiten des Zinstiefs stellt sich aber immer stärker die Frage, ob konventionelle Sparkonten für Sparer und Kleinanleger noch sinnvoll sind. Unter Renditegesichtspunkten wird es sowohl bei Tagesgeld als auch bei Festgeld immer schwieriger, einen realen Ertrag zu erwirtschaften. Meist bewegen sich die Zinsen bei beiden Anlageformen im kleinen einstelligen Bereich. Im Vergleich zu Tagesgeldkonto und Festgeldkonto bietet Crowdlending dem Anleger eine interessante Möglichkeit, sein Geld zu attraktiven und gleichzeitig festen Zinsen anzulegen.
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <p>
                        Bei Zencap haben Sie als Anleger die Wahl zwischen unterschiedlichen Projekten sorgfältig geprüfter mittelständischer Unternehmen. Das bedeutet für Sie:
                    </p>
                    <ul class="styled">
                        <li>Ø 5,85 Prozent Rendite – weit über den bei Festgeld und Tagesgeld möglichen Zinsen</li>
                        <li>Schon ab 100 € können Sie <a href="/lender-getting-started">Geld anlegen</a> – keine hohe Mindesteinlage</li>
                        <li>Die Wahl zwischen 5 Risikoklassen zwischen A+ bis C-</li>
                        <li>Ein attraktives diversifiziertes Mittelstandsportfolio angepasst auf Ihre Risiko-Rendite-Bedürfnisse</li>
                        <li>6 Monate bis 5 Jahre Laufzeit – Sie entscheiden selbst, in welche Projekte Sie investieren möchten</li>
                        <li>Monatliche Rückzahlungen, die Sie direkt reinvestieren können</li>
                        <li>Unterstützung des deutschen Mittelstands </li>
                        <li>Förderung von Wachstum und Wohlstand in Deutschland</li>
                    </ul>
                </div>
                <div class="desp-20"></div>
                <div class="col-xs-12 text-center">
                    <a href="/register/lender/" class="btn btn-lg btn-nvstr">Festgeld-Alternative – Profil erstellen!</a>
                </div>
            </div><!-- end .row -->

        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <h2 class="faux-h1 text-center">Tagesgeld: Vorteile und Nachteile auf einen Blick</h2>
                <div class="col-xs-12 col-sm-6">
                    Tagesgeldkonten bieten keine hohe Verzinsung, dafür aber den entscheidenden Vorteil der Flexibilität: das Geld auf dem Tagesgeldkonto ist täglich verfügbar und kann ohne Einschränkungen vom Sparer abgehoben werden. Innerhalb der EU unterliegen Tagesgeldkonten zudem der Einlagensicherung und bieten dem Sparer eine höhere Verzinsungals auf Girokonten im Durchschnitt möglich ist. Damit ist das Tagesgeld eine vorteilhafte Anlage für Sparer. Beispielsweise zur Finanzierung unvorhergesehener Ausgaben, wenn Sie also schnell über Ihr Geld verfügen möchten und bereit sind eine relativ geringe Verzinsung in Kauf zu nehmen.
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>Zwar hilft die Verzinsung auf Tagesgeldkonten, die inflationsbedingten Verluste auszugleichen, jedoch ist der Realzins nicht hoch genug, um Tagesgeld zu einer attraktiven Geldanlage zu machen.</p>
                    <p>Hinzu kommt, dass der Zinssatz beim Tagesgeld täglich schwanken kann. Anders als bei Festgeldanlagen ist der Zins bei dieser Anlageform nicht über einen bestimmten Zeitraum festgeschrieben. Der Bankkunde bezahlt so für die Flexibilität beim Tagesgeld mit Einbußen bei den Zinsen.</p>
                </div>
            </div><!-- end .row -->
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <ul class="styled large">
                        <li>Bei Zencap ist der Zinssatz für die gesamte Laufzeit des Kreditprojekts fest.</li>
                        <li>Laufzeiten der Kreditprojekte beginnen bereits bei 6 Monaten – somit ist Ihr Geld nicht lange gebunden.</li>
                        <li>Unsere Anleger profitieren von Ø 5,85% Zinsen.</li>
                    </ul>
                </div>
            </div><!-- end .row -->
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="/darlehen-anfrage/index" class="btn btn-lg btn-nvstr">Jetzt Kreditprojekte ansehen! </a>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <h2 class="faux-h1 text-center">Festgeld – Vorteile und Nachteile auf einen Blick</h2>
                <div class="col-xs-12 col-sm-6">
                    <p>Genau wie das Tagesgeld ist das Festgeld eine sehr etablierte Form der Geldanlage, die viele Sparer nutzen.Der Anleger legt eine bestimmte Summe für eine im Vorfeld festgelegte Laufzeit an. Während dieser Laufzeit kann er nicht über sein Geld auf dem Festgeldkonto verfügen. Die Laufzeiten variieren je nach Anbieter zwischen 30 Tagen und 10 Jahren.</p>
                    <p>Bei der Verzinsung gilt: je länger man das Geld fest anlegt, desto höher ist auch der zu verdienende Zinssatz. Wird das Geld vor Ablauf der Laufzeit benötigt, fallen in den meisten Fällen Strafzinsen an –</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>die erwirtschafteten Zinsen werden in solchen Fällen möglicherweise erheblich reduziert. Als „hohe Kante“ ist die Festgeldanlage demnach nicht geeignet.</p>
                    <p>Auch gibt es bei den meisten Banken eine Mindesteinlage, die in vielen Fällen bei etwa 5.000 € liegt. Diese Mindesteinlagen machen es kleinen Sparern oft schwer, Festgeldanlagen für sich zu nutzen.
                    Entdecken Sie jetzt <a href="/darlehen-anfrage/index">mittelständische Kreditprojekte</a> als Alternative zum Festgeld! Ihre Vorteile einer Investition in Firmenkredite bei Zencap:</p>
                </div>
            </div><!-- end .row -->
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <ul class="styled large">
                        <li>Feste Verzinsung Ihrer Geldanlage über die Laufzeit des Kreditprojekts</li>
                        <li>Durchschnittliche Rendite von 5,85%</li>
                        <li>Unterstützung des deutschen Mittelstands </li>
                    </ul>
                </div>
            </div><!-- end .row -->
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="/lender-getting-started" class="btn btn-lg btn-nvstr">Tagesgeld-Alternative – jetzt anlegen!</a>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock body %}
