{% extends 'layout.html.twig' %}

{% block body %}

<a id="tc"></a>
<div class="container-wrapper blueish">
    <div class="container spacing">
        <div class="accordion-group">
            <div class="accordion-heading"><a class="collapsed" href="#borrower-1" data-toggle="collapse" data-parent="#faq-collapse2"><i>↓</i>*Teilnahmebedingungen</a></div>
            <div id="borrower-1" class="accordion-body collapse">
                <div class="accordion-inner">
                    <ol>
                        <li>Zencap Geburtstagsprämie für Erstinvestoren:<br>
                            Für die Zencap Geburtstagsprämie qualifizieren sich automatisch alle Investoren, die vom 27.04.2015 bis einschließlich 17.05.2015 zum ersten Mal auf Zencap investieren. Der Zeitpunkt der Anmeldung als Investor auf zencap.de spielt dabei keine Rolle. Die Eingabe eines Codes ist nicht erforderlich.<br>
                            Sie müssen im Aktionszeitraum mindestens 2.000 € in vermittelte (an das Unternehmen ausgezahlte) Kredite investieren. Maßgeblich ist hierbei ist ausschließlich der Zeitpunkt Ihrer Investitionen (diese müssen im o.g. Zeitraum durch Klicken des Buttons "Gebote kostenpflichtig abgeben" erfolgen). Zudem müssen die Kredite, in die Sie investiert haben, an den Unternehmer ausgezahlt worden sein. Der Zeitpunkt des Zustandekommens der Kredite oder der Auszahlung an den Unternehmer spielt dabei keine Rolle.<br>
                            Ein Beispiel: Sie investieren im Aktionszeitraum in 5 Projekte je 500 €. Ihre vorläufige Gesamtinvestition beträgt also 2.500 €.<br>
                            Angenommen, nur 4 der 5 Kredite werden ausgezahlt, das fünfte aber nicht: Sie haben dann immer noch 2.000 € in erfolgreich vermittelte Projekte angelegt und erhalten 100 € Willkommensprämie. Angenommen, nur 3 der 5 Kredite werden ausgezahlt: In diesem Fall haben Sie nur noch 1.500 € in erfolgreich vermittelte Projekte investiert und erhalten keine Willkommensprämie.<br>
                            Die Auszahlung der Prämie erfolgt direkt auf das in Ihrem Zencap Account hinterlegte Konto, ca. 2 Wochen nach Auszahlung des letzten Kredits, in den ein Investor im Rahmen der Aktion investiert hat.<br>
                            Zencap behält sich das Recht vor, diese Aktion anzupassen oder zu verlängern.</li>
                        <li>Für die Prämien der Partner übernimmt Zencap  keine Gewähr. Die Bedingungen der Prämienangebote unserer Partner entnehmen Sie ausschließlich der Website des entsprechenden Partners.</li>
                    </ol>
                    <ul>Folgende Angaben der Partner dienen ausschließlich der Orientierung und Information:
                        <li>Betahaus Gutschein: Das Gutscheinangebot endet am 18.05.2015.</li>
                        <li>Helpling Gutschein: Das Gutscheinangebot endet am 30.06.2015.</li>
                        <li>Nestpick Gutschein: Das Gutscheinangebot endet am 30.06.2015.</li>
                        <li>Scouter Gutschein: Die Anmeldung muss bis zum 30.06.2015 erfolgt sein. Der Gutschein gilt bis zu 3 Monate nach Anmeldung und verfällt danach.</li>
                        <li>Swapnights Gutschein: Das Angebot gilt nur, wenn der Kunde sich bis zum 30.06.2015 angemeldet hat. Der Kunde muss Besitzer einer Beherbergung sein (B2B). Nach Anmeldung gilt kostenlose Nutzung für 6 Monate.</li>
                        <li>Shopwings Gutschein: Das Angebot ist nur 3 Monate gültig für Neukunden.</li>
                        <li>UnserParkplatz Gutschein: Das Angebot gilt vom 27.04.2015 bis einschließlich 30.07.2015.</li>
                        <li>Zeit42 Gutschein: Das Angebot gilt vom 27.04.2015 bis einschließlich 11.05.2015. Der Gutschein ist nur 1 Mal pro Person einlösbar.</li>
                        <li>Zipjet Gutschein: Das Angebot gilt bis zum 30.06.2015.</li></ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}