{% extends 'layout.html.twig' %}

{% block body %}

<div class="container spacing">
    <h1>Account-Optionen für Investoren</h1>
    <div class="row">
        <div class="col-xs-12">
            <p><strong> Für Einsteiger, Hobby-Anleger und Finanzprofis: Bei Zencap können Sie Ihr Portfolio ganz einfach auf Ihre Anlagestrategie abstimmen. Dazu stehen Ihnen bei Zencap zwei Account-Optionen zur Verfügung: der Investor-Account und der Premium-Account. Ein wichtiger Unterschied zwischen diesen beiden Accounts ist Ihr Anlagelimit: Wie flexibel möchten Sie Geld anlegen und was ist Ihr Budget? </strong></p>
            <p>&nbsp;</p>
            <h2 class="faux-h3">Welche Account-Option ist das Richtige für Sie?</h2>
            <p>Der Investor-Account ist perfekt für den Einstieg: Sie können direkt anfangen, sich Ihr Portfolio aufzubauen, ohne erst Geld auf ein zusätzliches Depotkonto einzahlen zu müssen. Um richtig durchzustarten und Ihre langfristige Anlagestrategie optimal umsetzen zu können, empfehlen wir unseren Premium-Account mit eigenem Depotkonto bei unserer Partnerbank. </p>
            <p>&nbsp;</p>
            <h2 class="faux-h3">Der Investor-Account</h2>
            <p>Als ersten Schritt können Sie bei Zencap innerhalb weniger Minuten einen Investor-Account eröffnen und direkt in Kreditprojekte Ihrer Wahl investieren. Ihr Anlagelimit beträgt einmalig 10.000 € – genug Spielraum um ein Portfolio mit bis zu 100 Kreditprojekten zum Mindestanlagebetrag von 100 EUR aufzubauen. Wird ein Kreditprojekt, in das Sie investiert haben, vollständig finanziert, buchen wir Ihren Beitrag direkt von Ihrem angegebenen Bankkonto ab. Bitte beachten Sie, dass sich Ihr Limit nicht erneuert – um mehr als 10.000 € in Kreditprojekte zu investieren, müssen Sie Ihren Account upgraden. </p>
            <p>&nbsp;</p>
            <h2 class="faux-h3">Der Premium-Account</h2>
            <p>Um unbegrenzt Geld anlegen zu können, benötigen Sie ein eigenes Depotkonto bei unserer Partnerbank. Über dieses Konto können Sie ohne Limit bei Zencap Geld anlegen: Füllen Sie es mit Startkapital und investieren Sie dann ganz unbegrenzt in Kreditprojekte Ihrer Wahl. Ihre monatlichen Auszahlungen werden direkt auf Ihrem Depotkonto verbucht und Sie können jederzeit bequem in neue Projekte investieren.</p>
        </div>
    </div>
</div>

{% endblock %}