{% extends 'layout.html.twig' %}

{% block body %}

<style>
    
/* ==========================================================================
Partner
========================================================================== */

    .partnership {
        background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/bg3.jpg);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }

    /*  background height on mobile */
    @media (max-width: 767px) {
        .partnership {
            height: 121px;
        }
    }

    /* background height on tablet */
    @media (min-width: 768px) and (max-width: 991px) {
        .partnership {
            height: 313px;
        }
    }

    /* background height on desktop */
    @media (min-width: 992px) {
        .partnership {
            height: 340px;
        }
    }

    .programs img {
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }
</style>

<div class="cms-page investor">

    <div class="container">
        <div class="page-head">
            <h1 class="text-center">Werden Sie Partner von Zencap</h1>
        </div>
    </div><!-- end .container -->

    <div class="container-wrapper partnership"></div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <h3>Zencap - Deutschlands führender Marktplatz für Unternehmenskredite</h3>
            <div class="row">
                <div class="col-xs-12">
                    Als Partner von Zencap erhalten Sie Zugang zu unserer Technologie und unserem erstklassigen Kundenservice. Wir arbeiten bereits mit mehr als 50 Vertriebspartnern zusammen. Dazu zählen Steuerberater, Rechtsanwälte, Finanzexperten, Verbände, Banken und viele mehr. Oder betreiben Sie einen Blog bzw. eine Website und möchten gern über alternative Finanzierungsmöglichkeiten wie Zencap berichten?
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd programs">
        <div class="container spacing">
            <p class="faux-h2 text-center">Wählen Sie das passende Partner-Programm</p>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img class="img-responsive hidden-xs hidden-sm" src="/bundles/intlenddeweblayout/frontend/images/cms/partnership/affiliate.png" alt="Affiliate">
                    <h3>Affiliate</h3>
                    <p>Sie haben eine Website zu Finanzierungs- oder Anlagethemen? Melden Sie sich jetzt beim Zencap-Affiliate-Programm an.</p>
                    <p class="xs-text-center"><a href="/partner-affiliate" class="btn btn-medium btn-brrwr">Erfahren Sie mehr</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img class="img-responsive hidden-xs hidden-sm" src="/bundles/intlenddeweblayout/frontend/images/cms/partnership/berater.png" alt="Berater">
                    <h3>Berater</h3>
                    <p>Sie beraten Unternehmen bei der Finanzierung? Bei Zencap erhalten Ihre Kunden sicher und unbürokratische Kredite zu attraktiven Konditionen.</p>
                    <p class="xs-text-center"><a href="/business-partner" class="btn btn-medium btn-brrwr">Erfahren Sie mehr</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img class="img-responsive hidden-xs hidden-sm" src="/bundles/intlenddeweblayout/frontend/images/cms/partnership/blogger.png" alt="Blogger">
                    <h3>Blogger</h3>
                    <p>Sie bloggen zu den neuesten Trends und Entwicklungen rund um die Themen alternative Finanzierung und Mittelstand? Dann informieren Sie sich jetzt über unser Blogger-Programm.</p>
                    <p class="xs-text-center"><a href="/blogger-partner" class="btn btn-medium btn-brrwr">Erfahren Sie mehr</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <img class="img-responsive hidden-xs hidden-sm" src="/bundles/intlenddeweblayout/frontend/images/cms/partnership/unternehmen.png" alt="Unternehmen">
                    <h3>Unternehmen</h3>
                    <p>Sie haben Kunden oder Geschäftspartner die eine Finanzierung suchen?<br>
                        Lernen Sie wie Zencap auch Ihren Erfolg steigern kann.</p>
                    <p class="xs-text-center"><a href="/partner-unternehmen" class="btn btn-medium btn-brrwr">Erfahren Sie mehr</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}