{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page investor">
    <div class="container">
        <div class="page-header">
            <h1 class="text-center">Werden Sie Partner von Zencap</h1>
        </div>
    </div>
    <div class="container-wrapper partnership"></div>
    <div class="container-wrapper">
        <div class="container">
            <h3>Zencap - Deutschlands führender Marktplatz für Unternehmenskredite</h3>
            <div class="row">
                <div class="col-xs-12">
                    <p>Als Partner von Zencap erhalten Sie Zugang zu unserer Technologie und unserem erstklassigen Kundenservice. Wir arbeiten bereits mit mehr als 50 Vertriebspartnern zusammen. Dazu zählen Steuerberater, Rechtsanwälte, Finanzexperten, Verbände, Banken und viele mehr. Oder betreiben Sie einen Blog bzw. eine Website und möchten gern über alternative Finanzierungsmöglichkeiten wie Zencap berichten?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="desp-20"></div>
    <div class="container-wrapper odd">
        <div class="container">
            <p class="faux-h2 text-center">Wählen Sie das passende Partner-Programm</p>
            <div class="row">
                <div class="col-xs-12 col-sm-3">
                    <div><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/affiliate.png" alt="Affiliate"></div>
                    <h3>Affiliate</h3>
                    <p>Sie haben eine Website zu Finanzierungs- oder Anlagethemen? Melden Sie sich jetzt beim Zencap-Affiliate-Programm an.</p>
                    <div><a href="/affiliate-95.html" class="btn btn-medium btn-brrwr">Erfahren Sie mehr</a></div>
                </div>
                <div class="desp-20 hidden-sm hiden-md hidden-lg"></div>
                <div class="col-xs-12 col-sm-3">
                    <div><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/business-partner.png" alt="Berate"></div>
                    <h3>Berater</h3>
                    <p>Sie beraten Unternehmen bei der Finanzierung? Bei Zencap erhalten Ihre Kunden sicher und unbürokratische Kredite zu attraktiven Konditionen.</p>
                    <div><a href="/berate-92.html" class="btn btn-medium btn-brrwr">Erfahren Sie mehr</a></div>
                </div>
                <div class="desp-20 hidden-sm hiden-md hidden-lg"></div>
                <div class="col-xs-12 col-sm-3">
                    <div><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/blogger.png" alt="Blogger"></div>
                    <h3>Blogger</h3>
                    <p>Sie bloggen zu den neuesten Trends und Entwicklungen rund um die Themen alternative Finanzierung und Mittelstand? Dann informieren Sie sich jetzt über unser Blogger-Programm.</p>
                    <div><a href="/partner-blogger-93.html" class="btn btn-medium btn-brrwr">Erfahren Sie mehr</a></div>
                </div>
                <div class="desp-20 hidden-sm hiden-md hidden-lg"></div>
                <div class="col-xs-12 col-sm-3">
                    <div><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/unternehmen.png" alt="Unternehmen"></div>
                    <h3>Unternehmen</h3>
                    <p>Sie haben Kunden oder Geschäftspartner die eine Finanzierung suchen?<br>
                        Lernen Sie wie Zencap auch Ihren Erfolg steigern kann.</p>
                    <div><a href="/partner-unternehmen" class="btn btn-medium btn-brrwr">Erfahren Sie mehr</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}