{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page">
    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h1>NOWITZKI. DER PERFEKTE WURF. – Internationaler Vertrieb des Dirk Nowitzki-Kinofilms mit Zencap finanziert</h1>
                    <p>Weltvertrieb des Sportlerporträts von Produzent und Emmy-Preisträger Leopold Hoesch ist der neueste Coup des innovativen Kreditmarktplatzes</p>
                    <p>Berlin, 22.07.2014 – Zencap, der internationale Online-Kreditmarktplatz für den Mittelstand, unterstützt die vielfach ausgezeichnete Produktionsfirma BROADVIEW Vertriebsfinanzierung des Kinofilms NOWITZKI. DER PERFEKTE WURF.</p>
                    <p>Die Dokumentation erzählt die Erfolgsgeschichte des deutschen Basketball-Stars Dirk Nowitzki, der sich aus einer kleinen Provinz-Turnhalle bis in die Sporttempel der NBA hochgespielt hat. Ein faszinierender Weg, den er auf sehr ungewöhnliche Weise beschritten hat und der eng verbunden ist mit der einzigartigen Beziehung zu seinem Trainer und Mentor Holger Geschwindner. Der ehemalige Basketball-Nationalmannschaftsführer und Physiker machte Nowitzki mit seiner besonderen Mischung aus extravaganten Trainingsmethoden und naturwissenschaftlicher Präzision zu einem der weltweit besten Spieler. Mit den Dallas Mavericks gewann Dirk Nowitzki 2011 die NBA-Meisterschaft und wurde gleichzeitig zum wertvollsten Spieler der Finalserie gewählt. Ab dem 18. September 2014 läuft das Sportlerporträt in den deutschen Kinos.</p>
                    <p>Über Zencap soll ein <a href="https://www.zencap.de/onlinekredit-beantragen-21.html" target="_blank">Online-Kredit </a> in Höhe von 100.000 Euro finanziert werden. Auf dem Kreditmarktplatz erhalten Anleger exklusiv die Chance, BROADVIEW TV GmbH mit einem Darlehen beim Erwerb von Fremdrechten zu unterstützen, so dass das Sportlerporträt der erfolgreichen deutschen Produktionsfirma international vertrieben werden kann. Bereits ab einer Anlagesumme von 100 Euro sichern sich alle Investoren dieses 100.000 Euro Kreditprojekts eine attraktive Rendite von 5,51%.</p>
                    <p>Private Anleger können ab heute auf www.zencap.de 21 Tage lang in das Kreditprojekt NOWITZKI. DER PERFEKTE WURF. investieren. Neben der attraktiven Rendite erhalten alle Investoren außerdem eine Autogrammkarte von Dirk Nowitzki. Investieren Teilnehmer mindestens 1.500 Euro, können sie sich über ein exklusives Fanpaket mit einem Dallas Mavericks Trikot, natürlich mit Nowitzkis Rückennummer 41, freuen. Ab 5.000 Euro bekommen Anleger eine personalisierte Autogrammkarte sowie Tickets für die Filmpremiere am 16. September 2014 in Köln. Ein persönliches Kennenlernen mit Dirk Nowitzki inklusive VIP-Tickets für die Filmpremiere wartet auf die Investoren, die sich mit 15.000 Euro an dem Projekt beteiligen.</p>
                    <p>Dr. Christian Grobe, Gründer und Geschäftsführer von Zencap: „Als erfolgreicher Kreditmarktplatz für den Mittelstand freuen wir uns sehr, dass sich Leopold Hoesch mit seinem Filmprojekt an uns gewendet hat. Das Projekt bietet unseren Investoren eine ideale Möglichkeit ihr Portfolio zu diversifizieren. Vergangene Schwarmfinanzierung wie die zu dem ,Stromberg‘-Film haben bereits gezeigt, wie gut das Konzept auch bei Filmprojekten funktioniert. Auf Zencap.de können Anleger nun mit ihrer Investition eine sehr gute Rendite verdienen und auf diese Weise den internationalen Vertrieb von NOWITZKI. DER PERFEKTE WURF unterstützen.“</p>
                    <p>„Mit unserem Film bringen wir die Zuschauer so nah wie möglich ans Spielgeschehen heran und zeigen im Film die Magie des Machbaren, wenn man sich wie Dirk Nowitzki ein Ziel gesetzt hat. Wir freuen uns, dass die Zuschauer und Fans mit der Unterstützung von Zencap auch ganz direkt Teil dieses aufregenden Projekts werden können“, sagt Leopold Hoesch, Produzent und Geschäftsführer von BROADVIEW TV GmbH.</p>
                    <p>Zwei Jahre lang begleitete die Produktionsfirma des Emmy-Preisträgers den deutschen Ausnahme-Basketballspieler Dirk Nowitzki. Das Filmteam rund um den renommierten Regisseur Sebastian Dehnhardt (International Emmy Award, Deutscher Fernsehpreis) hatte exklusiven Zugang zu NBA-Spielern, -Trainern und Dirk Nowitzkis Familie. So kommen neben Nowitzki und Holger Geschwindner auch Basketball-Stars wie Kobe Bryant, Steve Nash, Michael Finley, der unkonventionelle Mavericks-Eigentümer Mark Cuban, Trainerlegenden wie Rick Carlisle und Don Nelson, Nowitzikis Eltern erstmals auch seine Frau Jessica oder auch Bundeskanzler a. D. Helmut Schmidt zu Wort.</p>

                    <hr>
                    <h3>Über Zencap</h3>
                    <p><a href=http://www.zencap.de>Zencap Deutschland (www.zencap.de)</a> ist ein digitaler Kreditmarktplatz für mittelständische Unternehmen. Das Unternehmen wurde im März 2014 gegründet und wird von Dr. Christian Grobe und Dr. Matthias Knecht geführt. Hinter Zencap steckt ein rund 45-köpfiges Expertenteam mit umfassender Finanzexpertise. Die Unternehmensgruppe mit Hauptsitz in Berlin wird von Rocket Internet, dem weltweit größten Internet-Inkubator, unterstützt. Rocket Internet hat neben Zalando, Groupon und eDarling bereits zahlreiche erfolgreiche Internetunternehmen auf der ganzen Welt aufgebaut. Zencap ist derzeit in Deutschland und Spanien tätig.</p>
                    <p>Mehr über Zencap: <a href="https://www.zencap.de/blog/-79.html">Zencap Blog</a></p>

                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                    <h3>Presse-Kontakt Zencap</h3>
                    <p>Lerato Bogatsu<br>
                        Mobil: +49 152 015 035 94<br>
                        E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a><br>
                        Johannisstraße 20<br>
                        10119 Berlin</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}