{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page">
    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h1>Innovationsschub für den Mittelstand</h1>
                    <p>Rocket Internet startet Zencap, den ersten Online-Kreditmarktplatz für mittelständische Unternehmen</p>
                    <p>Berlin, 30. März 2014 - Zencap, der erste digitale Kreditmarktplatz für mittelständische Unternehmen, startet heute in Deutschland. Kleinen und mittelständischen Unternehmen ermöglicht das Berliner Start-Up ab sofort unbürokratisch und schnell Finanzierungen zu erhalten. Als Mittler bringt Zencap dabei Unternehmer und private Anleger ohne Umwege über Banken zusammen und schafft damit eine neue finanzielle Handlungsfreiheit für mittelständische Unternehmen. </p>
                    <p>Dr. Christian Grobe, Gründer und Geschäftsführer von Zencap: „Rund 99% aller Unternehmen in Deutschland sind kleine und mittelständische Unternehmen, die gemeinsam einen jährlichen Umsatz von mehr als zwei Billionen Euro erzielen. Der Mittelstand ist somit das Rückgrat der deutschen Wirtschaft. Doch Kreditfinanzierungen sind für diese wirtschaftlichen Akteure häufig ein langwieriger und bürokratischer Prozess, der häufig in Frustration endet. Denn bei deutschen Banken scheitern laut letztem KfW-Mittelstandspanel knapp 20% aller Kreditverhandlungen. Diese Barrieren möchten wir mit Zencap abbauen und mittelständischen Unternehmen eine einfache und unbürokratische Alternative zu Banken bieten.“</p>
                    <p>Zencap hilft Mittelstandsunternehmen unabhängiger von traditionellen Banken zu werden. So können diese Unternehmen ihre Verhandlungsposition gegenüber Kreditinstituten stärken und gleichzeitig von handfesten Vorteilen profitieren. Neben günstigen Konditionen bietet Zencap auch maximale Flexibilität, z.B. durch vollständigen Verzicht auf Vorfälligkeitsentschädigungen. Unternehmen können Ihren <a href="https://www.zencap.de/onlinekredit-beantragen-21.html" target="_blank">Online-Kredit</a> damit jederzeit kostenfrei vollständig ablösen. Auch Investoren profitieren: Sie können Ihre Anlagen über 5 verschiedene Risikoklassen streuen und Renditen zwischen 2,3% und 13,9% verdienen. Anders als auf dem Girokonto erhalten Investoren monatliche Zins- und Tilgungszahlungen. </p>
                    <p>Dr. Matthias Knecht, Gründer und Geschäftsführer von Zencap: „Wir möchten dem Mittelstand in Deutschland wieder unternehmerische Kreativität ermöglichen und die Freiheit geben innovative Ideen umzusetzen. Den Schlüssel dazu sehen wir in schlanken Prozessen, einem effektivem Risikomanagement und unbürokratischen Antragsverfahren. So können sich unsere Kunden schnell auf das konzentrieren, was wirklich zählt: Ihr Unternehmen.“</p>
                    <p>Als erster Kreditmarktplatz für mittelständische Unternehmen in Deutschland bietet Zencap damit eine einzigartige, neue Finanzierungsquelle.</p>
                    <hr>
                    <h3>Und so funktioniert Zencap</h3>
                    <p>Zencap bringt Unternehmer und Anleger ohne Umwege über Banken zusammen:</p>
                    <ol>
                        <li>Kreditantrag: Auf www.zencap.de stellen Unternehmer einen Kreditantrag zwischen €10.000 - €150.000 für eine Laufzeit von 6 - 60 Monaten. Der Kreditantrag auf der Website ist dabei innerhalb weniger Schritte abgeschlossen.</li>
                        <li>Prüfung der Kreditwürdigkeit: Die Kreditwürdigkeit des Unternehmens wird danach innerhalb weniger Tage durch Zencaps Risiko-Management-Team geprüft.</li>
                        <li>Unverbindliches Zinsangebot: Anschließend erstellt Zencap ein unverbindliches Angebot basierend auf Risiko und Laufzeit. Nach Annahme des Angebots erscheint das Kreditprojekt auf der Website.</li>
                        <li>Investition durch Privatanleger: Anleger haben dann die Möglichkeit zwischen verschiedenen Unternehmensprofilen auszuwählen und ab einem Betrag von €100 in ein oder mehrere Unternehmen zu investieren.</li>
                        <li>Auszahlung an Unternehmen: Ist ein Kreditprojekt von Investoren finanziert, wird der Kredit innerhalb kürzester Zeit an das Unternehmen ausgezahlt. Nur in diesem Fall erhält Zencap  eine Vermittlungsgebühr zwischen einem und viereinhalb  Prozent, abhängig von der Laufzeit des beantragten Kredits.</li>
                    </ol>
                    <hr>
                    <h3>Über Zencap</h3>
                    <p><a href="http://www.zencap.de/">Zencap</a> ist der erste digitale Kreditmarktplatz für mittelständische Unternehmen in Deutschland. Das Unternehmen wurde im März 2014 gegründet und wird von Dr. Christian Grobe und Dr. Matthias Knecht geführt. Hinter Zencap steckt ein rund 35-köpfiges Expertenteam mit umfassender Finanzexpertise. Das Unternehmen mit Hauptsitz in Berlin wird von Rocket Internet, dem weltweit größten Internet-Inkubator, unterstützt. Rocket Internet hat neben Zalando, Groupon und eDarling bereits zahlreiche erfolgreiche Internetunternehmen auf der ganzen Welt aufgebaut. Zencap ist derzeit in Deutschland tätig.</p>

                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                    <h3>Presse-Kontakt</h3>
                    <p>Dr. Christian Grobe<br>
                        Johannisstraße 20<br>
                        10119 Berlin</p>
                    <p>030 / 2084900 - 44<br>
                        E-Mail: <a href="mailto:info@zencap.de">info@zencap.de</a></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}