{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page">
    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h1>Crowdlending-Geschäft wächst um 272 Prozent</h1>
                    <p><em>Alternative Finanzierungsmodelle legen europaweit zu</em></p>
                    <p><strong>Berlin, 26. Februar 2015</strong> – Insbesondere kleine und mittlere Unternehmen (KMU) sind in der EU bei der Fremdfinanzierung weitgehend abhängig von der Hausbank. Von einem schlechten Zugang zu Kapital betroffen sind häufig kleine und jüngere Unternehmen.</p>
                    <p>Eine aktuelle Studie der Wirtschaftsprüfung EY und der Universität Cambridge zeigt nun, dass in diesem Marktumfeld alternative Finanzierungsmodelle wie digitale Online-Kreditmarktplätze enorme Wachstumsraten verzeichnen: Von 2012 bis 2014 stieg das Volumen bei der Kreditvergabe an KMU durch alternative Finanzierer in Europa um 272 % an. Insgesamt verzeichnete der Markt für diese neue Art der Finanzierung 2014 ein Wachstum von 144 %.</p>
                    <p>„Wir sehen in der Kreditvergabe an KMU ein enormes Marktpotential. Dies bestätigen nicht zuletzt unsere eigenen Wachstumszahlen: Innerhalb von knapp einem Jahr haben wir Unternehmenskredite in Höhe von fast 10 Millionen Euro vermittelt. Damit ist Zencap der am schnellsten wachsende Online-Kreditmarktplatz Europas”, sagt Dr. Christian Grobe, Mitgründer und Geschäftsführer von Zencap. Das Berliner Unternehmen wird am 17. März 2015 im Rahmen der Finanzgründerreihe der Süddeutschen Zeitung als innovativstes Fintech-Start-up Deutschlands in Frankfurt ausgezeichnet.</p>
                    <p>Für rund 60 Prozent der befragten deutschen Marktplätze stellt laut der Studie die vorgeschlagene Regulierung (Kleinanlegerschutzgesetz) die größte Herausforderung dar. Ziel dieser Maßnahme ist, dass Anleger durch neue Transparenzregeln und verbesserte Informationen, die Risiken von Vermögensanlagen besser einschätzen können.</p>
                    <p>„Als erster deutscher Marktplatz für Unternehmenskredite streben wir einen konstruktiven Dialog mit der deutschen Bundesregierung an. Uns ist es wichtig aufzuzeigen, welche enormen Chancen die Digitalisierung für die Finanzindustrie bietet. Profiteur von einem einfacheren und schnelleren Zugang zu Krediten durch Technologie-Unternehmen ist schließlich der deutsche Mittelstand – der Motor unserer Wirtschaft,” betont Dr. Christian Grobe. </p>
                    <p>Am 27. Februar 2015 berät der Bundestag den von der Bundesregierung vorgelegten Gesetzentwurf für ein Kleinanlegerschutzgesetz.</p>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                <h3>Presse-Kontakt Zencap</h3>
                <p>Lerato Bogatsu<br>
                        Mobil: +49 152 015 035 94<br>
                        E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a></p>
                <hr>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}