{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-pagee">
    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h1>Zencap erhält TÜV-Siegel als „Geprüftes Online-Portal“</h1>
                    <p>Das Zertifikat des TÜV Saarland bescheinigt dem Online-Kreditmarktplatz die Einhaltung höchster Sicherheits - und Datenschutzstandards</p>
                    <p>Berlin, 4. Juni 2014 – Der digitale Kreditmarktplatz Zencap hat sich dem sorgfältigen und intensiven Prüfverfahren durch die TÜV Saarland Gruppe unterzogen. Als Ergebnis dieser Analyse ist die Plattform berechtigt das Prüfzeichen „Geprüftes Online-Portal“ zu führen. </p>
                    <p>Für Zencap stellt das TÜV-Siegel ein wichtiges Qualitätskriterium dar. Geprüft wurden vor allem wesentliche Sicherheits - und Datenschutzaspekte sowie grundlegende Onlinedarstellungskriterien. Das Zertifikat bescheinigt Zencap die Einhaltung und den sorgfältigen Umgang mit den personenbezogenen Daten der Anleger und Kreditnehmer. Gewährleistet ist außerdem die Sicherheit in der Kommunikation zwischen Plattform und Nutzern.</p>
                    <p>Dr. Christian Grobe, Gründer und Geschäftsführer von Zencap: „Für Zencap hat der vertrauensvolle Umgang mit sensiblen Unternehmens- und Nutzerdaten oberste Priorität. Seit dem Start unseres Kreditmarktplatzes Ende März konnten wir bereits das Vertrauen von fast 1.100 Nutzern gewinnen. Das Siegel unterstreicht nun, dass wir als digitaler Kreditmarktplatz eine attraktive Alternative zu traditionellen Banken darstellen und höchste Sicherheitsstandards erfüllen.“</p>
                    <p>„Bei der Vermittlung von Firmenkrediten ist der Schutz sensibler Kundendaten besonders wichtig. Zencap zeichnet sich durch eine hohe Sicherheit, transparente und effiziente Prozesse sowie eine komfortable Bedienbarkeit durch den Benutzer aus. Nach umfangreichen Prüfungen konnte bestätigt werden, dass der Kreditmarktplatz alle Kriterien des strengen Anforderungskataloges zur TÜV Zertifizierung ‚Geprüftes Online-Portal‘ erfüllt“, bestätigt Philipp Frenz, Rechtsanwalt, Senior Consultant Datenschutz und Compliance der tekit Consult Bonn GmbH.</p>
                    <p>Zencap ist der erste digitale Kreditmarktplatz für kleine und mittelständische Unternehmen. Das Berliner Start-Up ermöglicht Mittelständler unbürokratisch und schnell Finanzierungen zu erhalten. Als Mittler bringt Zencap dabei Unternehmer und private Anleger ohne Umwege über Banken zusammen und schafft damit eine neue finanzielle Handlungsfreiheit für mittelständische Unternehmen.</p>
                    <p>Rund 99% aller Unternehmen in Deutschland sind kleine und mittelständische Betriebe, die gemeinsam einen jährlichen Umsatz von mehr als zwei Milliarden Euro erzielen. Doch Kreditfinanzierungen sind für diese wirtschaftlichen Akteure häufig ein langwieriger und bürokratischer Prozess, der häufig in Frustration endet. Denn bei deutschen Banken scheitern laut letztem KfW-Mittelstandspanel knapp 20% aller Kreditverhandlungen. Als innovativer Kreditmarktplatz für den deutschen Mittelstand bietet Zencap diesen Unternehmen damit eine einzigartige, neue Finanzierungsquelle.</p>

                    <hr>
                    <h3>Und so funktioniert Zencap</h3>
                    <p>Zencap bringt Unternehmer und Anleger ohne Umwege über Banken zusammen:</p>
                    <ol>
                        <li>Kreditantrag: Auf www.zencap.de stellen Unternehmer einen Kreditantrag zwischen €10.000 - €150.000 für eine Laufzeit von 6 - 60 Monaten. Der Kreditantrag auf der Website ist dabei innerhalb weniger Schritte abgeschlossen.</li>
                        <li>Prüfung der Kreditwürdigkeit: Die Kreditwürdigkeit des Unternehmens wird danach innerhalb weniger Tage durch Zencaps Risiko-Management-Team geprüft.</li>
                        <li>Unverbindliches Zinsangebot: Anschließend erstellt Zencap ein unverbindliches Angebot basierend auf Risiko und Laufzeit. Nach Annahme des Angebots erscheint das Kreditprojekt auf der Website.</li>
                        <li>Investition durch Privatanleger: Anleger haben dann die Möglichkeit zwischen verschiedenen Unternehmensprofilen auszuwählen und ab einem Betrag von €100 in ein oder mehrere Unternehmen zu investieren.</li>
                        <li>Auszahlung an Unternehmen: Ist ein Kreditprojekt von Investoren finanziert, wird der Kredit innerhalb kürzester Zeit an das Unternehmen ausgezahlt. Nur in diesem Fall erhält Zencap  eine Vermittlungsgebühr zwischen einem und viereinhalb  Prozent, abhängig von der Laufzeit des beantragten Kredits.</li>
                    </ol>
                    <hr>
                    <h3>Über Zencap</h3>
                    <p>Zencap (www.zencap.de) ist der erste digitale Kreditmarktplatz für mittelständische Unternehmen in Deutschland. Das Unternehmen wurde im März 2014 gegründet und wird von Dr. Christian Grobe und Dr. Matthias Knecht geführt. Hinter Zencap steckt ein rund 35-köpfiges Expertenteam mit umfassender Finanzexpertise. Das Unternehmen mit Hauptsitz in Berlin wird von Rocket Internet, dem weltweit größten Internet-Inkubator, unterstützt. Rocket Internet hat neben Zalando, Groupon und eDarling bereits zahlreiche erfolgreiche Internetunternehmen auf der ganzen Welt aufgebaut. Zencap ist derzeit in Deutschland tätig. <br>
                        Mehr über <a href="https://www.zencap.de/blog-34.html">Zencap Blog</a></p>

                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                    <h3>Presse-Kontakt</h3>
                    <p>Lerato Bogatsu<br>
                        Mobil: +49 152 015 035 94<br>
                        E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a><br>
                        Johannisstraße 20<br>
                        10117 Berlin</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}