{% extends 'layout.html.twig' %}

{% block body %}

    <div class="cms-page">
        <div class="container-wrapper">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <h1>Zencap finanziert Mittelstand in den Niederlanden</h1>
                        <ul>
                            <li>Der am schnellsten wachsende Online-Kreditmarktplatz in Europa expandiert nach Deutschland und Spanien nun auch in den niederländischen Markt</li>
                            <li>In nur 10 Monaten seit Start hat Zencap bereits <a href="https://www.zencap.de/firmenkredit-rate-ermitteln-31.html" target="_blank">Firmenkredite</a> in Höhe von über 9 Millionen Euro vermittelt</li>
                        </ul>

                        <p>Amsterdam/Berlin, 05. Februar 2015 – Zencap, der am schnellsten wachsende Kreditmarktplatz in Europa, startet heute mit der Kreditvergabe in den Niederlanden. Kleinen und mittelständischen Unternehmen (KMU) bietet das Berliner Fintech-Start-up damit unbürokratische und schnelle Finanzierungen an. Das innovative Konzept: Kreditnehmer (Unternehmen) und Kreditgeber (private Anleger) werden online und ohne Umwege über Banken direkt zusammengeführt.</p>
                        <p>Mit dem Markteintritt in den Niederlanden setzt Zencap seine erfolgreiche Internationalisierungsstrategie fort. In Deutschland und Spanien hat sich die Idee bereits bewährt: Seit Marktstart im März 2014 vermittelte Zencap bis heute Unternehmenskredite in Höhe von mehr als 9 Millionen Euro.</p>
                        <p>In den Niederlanden besteht aufgrund der hohen Ablehnungsquote von Anträgen für Unternehmenskredite (50%) großer Bedarf für eine Finanzierungsalternative. Mit seinem innovativen Konzept schließt Zencap diese Lücke und schafft vor allem für kleine und mittlere Firmen wichtigen Zugang zu Fremdkapital.</p>
                        <p>Dr. Christian Grobe, Gründer und Geschäftsführer von Zencap: „Seit der Europäischen Finanzkrise sinkt die Bereitschaft zur Kreditvergabe an niederländische KMU immer weiter. Aufgrund strengerer Vorschriften im Rahmen von Basel III vergeben Banken ungern Kredite – darunter leiden gerade kleine Unternehmen massiv. Der Zencap Online-Kreditmarktplatz präsentiert nicht nur eine attraktive Alternative, sondern eine notwendige Finanzierungsquelle.“
                            Neben zusätzlichem Kapital eröffnet das Zencap-Modell Unternehmern außerdem die Möglichkeit, sich von der Abhängigkeit traditioneller Banken zu lösen. Günstige Konditionen zeichnen das Angebot von Zencap ebenso aus wie eine schnelle Kreditentscheidung binnen 48 Stunden. Dank des vollständigen Verzichts auf bankübliche Vorfälligkeitsentschädigungen bleiben Unternehmer auch in ihrer Rückzahlung flexibel – sie können Ihren Kredit jederzeit kostenfrei ablösen. Auch private Anleger profitieren vom Zencap Online-Kreditmarktplatz: <a href="https://www.zencap.de/onlinekredit-beantragen-21.html" target="_blank">Online-Kredite</a> aus 5 verschiedenen Risikoklassen bieten umfassende Möglichkeiten zur Diversifikation, während sich dabei Renditen zwischen 2,99 % und 14,64 % verdienen lassen. </p>
                        <p>Dr. Matthias Knecht, Gründer und Geschäftsführer von Zencap: „Mit Zencap kann der Mittelstand in den Niederlanden wieder investieren, wachsen und seine Erfolgsgeschichte fortschreiben. Unsere klaren Pluspunkte gegenüber einem Bankkredit: Schlanke, IT-basierte Prozesse ohne teure Filialstruktur, ein unbürokratisches Antragsverfahren und ein professionelles, hocheffizientes Risikomanagement. So können sich unsere Kunden voll auf das konzentrieren, was wirklich zählt: Ihr Unternehmen erfolgreich machen.“</p>
                        <p>Rund 99 % aller Unternehmen in den Niederlanden sind kleine und mittelständische Betriebe. Gemeinsam machen sie rund 60 % der jährlichen Wertschöpfung des Landes aus. Laut eines aktuellen Berichts der niederländischen Regierung werden jedoch rund 50 % aller Kreditanträge von Unternehmen abgelehnt. Als Online-Kreditmarktplatz für den Mittelstand bietet Zencap diesen Unternehmen eine neue, dringend benötigte weitere Finanzierungsquelle.</p>
                        <p><strong>Über Zencap</strong></p>
                        <p><a href="http://www.zencap.de">Zencap Deutschland</a> ist ein digitaler Kreditmarktplatz für kleine und mittelgroße Unternehmen. Das Unternehmen wurde im März 2014 gegründet und wird von Dr. Christian Grobe und Dr. Matthias Knecht geführt. Hinter Zencap steckt ein rund 70-köpfiges Team mit umfassender Finanzexpertise. Die Unternehmensgruppe mit Hauptsitz in Berlin wird von Rocket Internet unterstützt. Neben Zalando, Groupon und eDarling hat Rocket Internet bereits zahlreiche erfolgreiche Internetunternehmen auf der ganzen Welt aufgebaut. Zencap ist derzeit in Deutschland, Spanien und Holland tätig.
                        <p>Mehr über Zencap: <a href="http://www.zencap.de">zencap.de</a></p>
                        <p><strong>Über Crowdlending</strong></p>
                        <p>Crowdlending ist die neue Alternative in der Fremdfinanzierung. Der Trend hat in den USA seinen Anfang genommen und ist in Kontinentaleuropa eine relativ neue Form der Kreditaufnahme. Vor dem Hintergrund, dass es vor allem für mittelständische Unternehmer zunehmend schwer ist, Gewerbekredite über die Bank aufzunehmen, stellt Crowdlending eine attraktive Alternative dar. Als Kreditmarktplatz für mittelständische Unternehmen unterstützt Zencap die Finanzierung von Wachstums- und Innovationsvorhaben des Mittelstands. Für Privatpersonen bieten Investitionen in Unternehmenskredite eine neue solide <a href="https://www.zencap.de/geldanlage-unternehmen-5.html" target="_blank">Geldanlage </a> mit attraktiven Renditemöglichkeiten. Der Kreditmarktplatz bietet ihnen die Möglichkeit eines individuell zusammengestellten Anlageportfolios, das sich an den persönlichen Risikovorlieben orientiert.</p>

                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <h3>Presse-Kontakt Zencap</h3>
                        <p><strong>Lerato Bogatsu<br>
                                Mobil: +49 152 015 035 94<br>
                                E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a></strong></p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}