{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page">
    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h1>Zencap knackt 2-Millionen-Euro-Grenze</h1>
                    <p>Nur sechs Monate nach Marktstart hat der digitale Kreditmarktplatz deutschlandweit bereits Unternehmenskredite im Wert von über zwei Millionen Euro finanziert.<br>In den vergangenen vier Wochen wuchs das Finanzierungsvolumen dabei fünfmal schneller als in den Vormonaten.</p>
                    <p>Berlin, 01. Oktober 2014 – Zencap, die Crowdlending-Plattform für den Mittelstand, hat in Rekordzeit bundesweit und über alle Sektoren hinweg Unternehmenskredite im Wert von zwei Millionen Euro finanziert. Besonders bemerkenswert ist, dass der Kreditmarktplatz die Hälfte des gesamten Finanzierungsvolumens innerhalb von nur einem Monat bei Privatinvestoren einsammeln konnte. Nur sechs Monate nach dem Start in Deutschland hat Zencap damit einen weiteren bedeutenden Meilenstein in der Erfolgsgeschichte erreicht..</p>
                    <p>Dr. Christian Grobe, Gründer und Geschäftsführer von Zencap: „In Deutschland setzt Zencap im <a href="https://www.zencap.de/crowdlending-87.html" target="_blank">Crowdlending</a> neue Maßstäbe. Dies macht der außerordentliche Wachstumssprung der letzten Wochen deutlich und zeigt, dass wir zum führenden Anbieter im Bereich Mittelstandsfinanzierung über die Crowd avancieren. Dabei macht uns sehr stolz, dass immer mehr kleine und mittlere Unternehmen sowie private Investoren uns als attraktive Finanzierungs- und Investitionsalternative wählen und auf uns vertrauen.“</p>
                    <p>Bei Zencap können Unternehmen aus allen Sektoren <a href="https://www.zencap.de/firmenkredit-rate-ermitteln-31.html" target="_blank">Firmenkredite</a> zwischen 10.000 Euro und 150.000 Euro beantragen. Um das Risiko für die privaten Anleger, die bereits ab 100 Euro investieren können, überschaubar zu halten, kommen nur rund 20 % aller Kreditanfragen nach sorgfältiger Bonitätsprüfung auf den Marktplatz. In den ersten sechs Monaten waren besonders häufig B2B-Dienstleister unter den Kreditnehmern; der häufigste Verwendungszweck für die Fremdfinanzierung war die Wachstumsfinanzierung.</p>
                    <p>Als bisher erfolgreichstes Projekt auf Zencap erwies sich das Kreditprojekt NOWITZKI. DER PERFEKTE WURF. Mittels dieser Finanzierung wird der internationale Vertrieb des neuen Dirk Nowitzki Films ermöglicht. Dieser 100.000 Euro-Kredit, an dem sich 72 Investoren beteiligten, konnte innerhalb von nur 24 Stunden eingesammelt werden.</p>
                    <p>Dr. Matthias Knecht, Gründer und Geschäftsführer von Zencap: „Wir sehen in Deutschland noch ein erhebliches Potential im Bereich Mittelstandsfinanzierung. Daher ist es für uns besonders wichtig, jedem Betrieb ein individuelles und maßgeschneidertes Angebot machen zu können. Unser Ziel ist es auf die unterschiedlichen Kreditbedürfnisse dieser Firmen einzugehen. Dadurch gelingt uns auf Zencap ein solider Branchenmix – und das macht uns wiederum attraktiv für Investoren.“</p>
                    <p>Spitzenreiter beim Wohnsitz und Wohnort der rund 680 registrierten Unternehmen und der etwa 1.800 privaten Investoren ist übrigens Berlin. Aus der Hauptstadt stammen die meisten Kreditantragsteller und Anleger, gefolgt von München bei Firmen und Hamburg bei Investoren.</p>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                    <h3>Presse-Kontakt Zencap</h3>
                    <p>Lerato Bogatsu<br>
                        Mobil: +49 152 015 035 94<br>
                        E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a><br>
                        Johannisstraße 20<br>
                        10119 Berlin</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}