{% extends 'layout.html.twig' %}

{% block body %}

    <div class="cms-page">
        <div class="container-wrapper">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <h1>Zencap vergibt nun auch Kredite bis 250.000 Euro</h1>
                        <p><em>Berliner Finanzunternehmen bietet größeren Mittelständlern flexible Kredite</em></p>
                        <p>Berlin, 13. Februar 2015 – Zencap, der am schnellsten wachsende Online-Kreditmarktplatz in Europa, ermöglicht ab sofort soliden Unternehmen mit einer guten Bonität eine Fremdfinanzierung bis zu 250.000 €. Mit dem erweiterten Angebot baut Zencap seine Stellung als führende Online-Kreditplattform für Unternehmenskredite weiter aus.</p>
                        <p>„Aktuell kommen 33 % der Kreditanfragen, die wir bei Zencap erhalten, von größeren Mittelständlern und liegen über 100.000 €. Über alle Branchen hinweg erreichen uns Anfragen und wir sehen einen dringenden Bedarf nach alternativer und bankenunabhängiger Finanzierung ─ gerade auch im Segment der größeren Kreditfinanzierung”, sagt Paul Ebert, Leiter des Vertriebs.</p>
                        <p>Neben einer schnellen Finanzierung von beispielsweise Wachstums- oder Anlagevermögen profitieren diese Unternehmen von einer schnellen Kreditentscheidung innerhalb von 48 Stunden. Dank des vollständigen Verzichts auf bankübliche Vorfälligkeitsentschädigungen bleiben Unternehmer auch in ihrer Rückzahlung flexibel – sie können Ihren Kredit jederzeit kostenfrei ablösen.</p>
                        <p>Dr. Christian Grobe, Mitgründer und Geschäftsführer: „Neben Unternehmen profitieren auch unsere Investoren von dieser Erweiterung. Sie erhalten mit der Anlagemöglichkeit in solide größere Mittelständler eine Chance auf eine attraktive Rendite. Auch sind größere Betriebe oft schon länger am Markt etabliert, haben häufig bessere Konditionen im Einkauf und verfügen über eine breitere Kundenbasis. Diese Faktoren können das Ausfallrisiko senken.“</p>
                        <p>Wie vergleichsweise gering das Risiko in diese Anlage ist, belegen Studien wie von der Deutschen Bundesbank. Diese betrachtet alle Insolvenzen in Deutschland der letzten Jahre. Das wenig überraschende Ergebnis: Je größer der Umsatz eines Unternehmens, desto geringer ist die durchschnittliche Ausfallwahrscheinlichkeit.</p>
                        <p>„Ganz gleich, ob Anleger eine Investition in ein vergleichsweise junges Kleinunternehmen oder einen etablierten Mittelständler bevorzugt wird: Über alle Unternehmensgrößen, Branchen und Risikoklassen hinweg können Anleger ihre Geldanlage streuen und ganz einfach ihr Wunschportfolio zusammenstellen“, sagt der Mitgründer.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <h3>Presse-Kontakt Zencap</h3>
                        <p><strong>Lerato Bogatsu<br>
                                Mobil: +49 152 015 035 94<br>
                                E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a></strong></p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}