{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page">
    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h1>Crowdlending-Plattform Zencap jetzt auch im TV</h1>
                    <p>Digitaler Kreditmarktplatz startet mit bundesweiter TV Kampagne</p>
                    <p> Berlin, 28. Juli 2014 – Nach nur vier Monaten am Markt startet Zencap, die Crowdlending-Plattform für den Mittelstand, mit der Ausstrahlung von gleich drei TV Spots im deutschen Fernsehen. Im Fokus dieser Kampagne steht die gezielte Ansprache von kleinen und mittleren Unternehmen „Made in Germany“ sowie von privaten Sparern als Investoren. Neben einem innovativen Geschäftsmodell wirbt das zu Rocket Internet gehörende Unternehmen mit attraktiven Kreditkonditionen und ebensolchen Renditen.</p>
                    <p> Das Prinzip von Zencap ist einfach und einleuchtend. Als Vermittler kommen auf www.zencap.de Unternehmer und private Anleger ohne Umwege über Banken zusammen. Durch diese unbürokratische und schnelle Finanzierung erhalten Mittelständler eine neue finanzielle Handlungsfreiheit. Privaten Anlegern eröffnet sich eine völlig neue und sichere Anlageklasse. Anders als auf dem Girokonto profitieren Investoren zudem von monatlichen Zins- und Tilgungszahlungen.</p>
                    <p> Dr. Christian Grobe, Gründer und Geschäftsführer von Zencap: „Für uns war es ein logischer Schritt mit Zencap ins Fernsehen zu gehen, denn es bietet uns ein gute Möglichkeit die Bekanntheit unseres Kreditmarktplatzes erheblich zu steigern. Auch hat unser Produkt eine große und sehr heterogene Zielgruppe: Wir sprechen einerseits kleine und mittlere Unternehmen an, die sich im Wachstum befinden und erheblichen Kapitalbedarf haben. Andererseits richten wir uns auch an private Anleger. Vor allem diese Gruppe ist sehr durchmischt. Durch das Massenmedium TV können wir alle Zielgruppen ideal erreichen. Und es bietet uns eine ideale Plattform, um die Vorteile unseres Geschäftsmodells einem großen Publikum einfach und klar zu vermitteln.“</p>
                    <p> Alle drei TV Spots, zwei als 30-sekündiger und einer als 20-sekündiger, werden im Juli und August zunächst auf n-tv und RTLNitro ausgestrahlt. Ab September werden die Werbefilme auch auf Sendern wie N24, EuroSport und DMAX zu sehen sein.</p>

                    <hr>
                    <h3>Über Zencap</h3>
                    <p><a href=http://www.zencap.de>Zencap Deutschland (www.zencap.de)</a> ist ein digitaler Kreditmarktplatz für mittelständische Unternehmen. Das Unternehmen wurde im März 2014 gegründet und wird von Dr. Christian Grobe und Dr. Matthias Knecht geführt. Hinter Zencap steckt ein rund 45-köpfiges Expertenteam mit umfassender Finanzexpertise. Die Unternehmensgruppe mit Hauptsitz in Berlin wird von Rocket Internet, dem weltweit größten Internet-Inkubator, unterstützt. Rocket Internet hat neben Zalando, Groupon und eDarling bereits zahlreiche erfolgreiche Internetunternehmen auf der ganzen Welt aufgebaut. Zencap ist derzeit in Deutschland und Spanien tätig.</p>
                    <p>Mehr über Zencap: <a href="https://www.zencap.de/blog/-79.html">Zencap Blog</a></p>

                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                    <h3>Presse-Kontakt Zencap</h3>
                    <p>Lerato Bogatsu<br>
                        Mobil: +49 152 015 035 94<br>
                        E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a><br>
                        Johannisstraße 20<br>
                        10119 Berlin</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}