{% extends 'layout.html.twig' %}

{% block body %}

    <div class="cms-page">
        <div class="container-wrapper">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-7">
                        <h1>Zencap erweitert Kreditnehmerkreis</h1>
                        <p>Ab sofort können auch Kaufleute und Freiberufler bei dem Online-Marktplatz Zencap einen Kredit erhalten.
                            <br>Die Ausweitung ist eine optimale Ergänzung des bisherigen Kreditnehmerkreises und ermöglicht eine noch ganzheitlichere Abdeckung des Mittelstands.
                        </p>
                        <p>Berlin, 23. Oktober 2014 – Zencap, Deutschlands erster digitaler Kreditmarktplatz für den Mittelstand, erweitert ab sofort die Gruppe der in Frage kommenden Kreditnehmer. Neben den bereits zulässigen Unternehmensformen können nun auch eingetragene und nicht eingetragene Kaufleute sowie Freiberufler wie Ärzte, Anwälte und Steuerberater auf dem Online-Marktplatz einen <a href="https://www.zencap.de/onlinekredit-beantragen-21.html" target="_blank">Online-Kredit</a> beantragen und von privaten Investoren finanzieren lassen. Wichtig ist, dass die Bilanzierung nach dem Handelsgesetzbuch (HGB) erfolgt.</p>
                        <p>Paul Ebert, Vertriebsleiter bei Zencap: „In etlichen Gesprächen mit Einzelunternehmern und Freiberuflern wurde uns bestätigt, dass in diesem Marktsegment ein signifikanter Bedarf für Finanzierung besteht. Die Mehrheit der Kaufleute und Freiberufler betreiben bereits seit vielen Jahren erfolgreich ihr Geschäft. Diese Unternehmen besitzen eine gute Bonität und verdienen besseren Zugang zu Krediten. Dies ermöglicht ihnen nun Zencap.“</p>

                        <p>Auf <a href="https://www.zencap.de/" > Zencap</a> können Einzelkaufleute und Freiberufler aus allen Bereichen Kredite zwischen 10.000 Euro und 150.000 Euro beantragen. Antragsteller müssen Mindestanforderungen wie ein Unternehmensalter von mindestens zwei Jahren und ein Jahresumsatz von 100.000 Euro in den letzten beiden Geschäftsjahren erfüllen. Zusätzlich genügt eine einfache Identifikation über das Postident-Verfahren.</p>

                        <p>Dr. Christian Grobe, Mitgründer und Geschäftsführer von Zencap: „Einzelkaufleute und Freiberufler bieten ein erhebliches Potential im Bereich Mittelstandsfinanzierung. Daher ist es für uns wichtig, jedem Antragsteller ein individuelles und maßgeschneidertes Angebot machen zu können. Und es freut uns, dass wir mit dieser Erweiterung die unterschiedlichen Kreditbedürfnisse des Mittelstands noch besser bedienen können.“ </p>

                        <p>Neben den geprüften Jahresabschlüssen der letzten drei Berichtsperioden muss auch eine aktuelle betriebswirtschaftlichen Auswertung sowie die Summen- und Saldenliste mit Vergleich zum Vorjahr eingereicht werden.</p>

                        <p>Nach nur sechs Monaten, konnte Zencap bereits Unternehmenskredite im Wert von fast drei Millionen Euro finanzieren. Der Kreditmarktplatz, der nur 48 Stunden für eine Kreditentscheidung benötigt und Mittelstandskredite schneller finanziert als Banken, hat damit einen wichtigen Meilenstein in der noch jungen Unternehmenshistorie erreicht.    </p>


                    </div>
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <h3>Presse-Kontakt Zencap</h3>
                        <p><strong>Lerato Bogatsu<br>
                                Mobil: +49 152 015 035 94<br>
                                E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a></strong></p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}