{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page">
    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h1>Das Beste aus zwei Welten:</h1>
                    <h2>Zencap und Sparda-Bank Berlin starten erste digitale Genossenschaft</h2>
                    <ul>
                        <li>Partnerschaft zwischen Technologie und Tradition ermöglicht den Aufbau einer digitalen Genossenschaft</li>
                        <li>Mehr als eine halbe Million Bankkunden erhalten Zugang zu regionalen Projekten in Ostdeutschland und einer neuen Anlageform</li>
                    </ul>
                    <p><strong>Berlin, 11. Mai 2015</strong> – Zencap, der am schnellsten wachsende Online-Kreditmarktplatz in Europa, und die Sparda-Bank Berlin, Deutschlands mitgliederstärkste Genossenschaftsbank, starten ein gemeinsames digitales Genossenschaftsprojekt. Mit dieser <a href="https://www.zencap.de/digitale-genossenschaft-193.html" target="_blank">Kooperation</a> verfolgen beide Partner das Ziel, den vielbeschworenen Kulturwandel in der Finanzindustrie aktiv voranzutreiben und auszugestalten.</p>
                    <p>Offizieller Startschuss ist am 11. Mai 2015. Ab diesem Zeitpunkt können die mehr als 500.000 Mitglieder der Sparda-Bank Berlin zu besonderen Konditionen in Kreditprojekte von Zencap investieren. Gemäß dem <a href="https://www.zencap.de/blog/digitale-genossenschaften-renaissance-kreditvereine-192.html" target="_blank">Prinzip digitaler Genossenschaften</a> erhalten Sparda-Kunden in einem <a href="https://www.sparda-b.de/zencap" target="_blank">eigenen Anlagebereich</a> der Website Zugang zu zahlreichen ausgewählten Projekten aus der eigenen Region.</p>
                    <p>„Wir sehen in der Kreditvergabe an KMU ein enormes Marktpotential. Dies bestätigen nicht zuletzt unsere eigenen Wachstumszahlen: Innerhalb von knapp einem Jahr haben wir Unternehmenskredite in Höhe von fast 10 Millionen Euro vermittelt. Damit ist Zencap der am schnellsten wachsende Online-Kreditmarktplatz Europas”, sagt Dr. Christian Grobe, Mitgründer und Geschäftsführer von Zencap. Das Berliner Unternehmen wurde am 17. März 2015 im Rahmen der Finanzgründerreihe der Süddeutschen Zeitung als innovativstes FinTech-Start-up Deutschlands in Frankfurt ausgezeichnet.</p>
                    <p>Auf seinem Online-Marktplatz führt Zencap private Anleger mit kreditsuchenden Mittelstandsbetrieben direkt zusammen. Dieses so genannte <a href="https://www.zencap.de/crowdlending-87.html" target="_blank">Crowdlending-Prinzip</a> eröffnet Privatanlegern in Zeiten von Niedrigzinsen und schwankenden Aktienmärkten eine neue Anlageform. Firmen hingegen erhalten Zugang zu einer alternativen Finanzierungsquelle.</p>
                    <p>Das Modell hat sich in den USA und Großbritannien bereits zu einer vollständigen Alternative zum klassischen Finanzsystem entwickelt, das Bankkunden durch Transparenz und Einfachheit für sich gewinnt. Entsprechend lassen sich zunehmend Kooperationen zwischen strategisch vorausschauenden Banken und Crowdlending-Plattformen feststellen.</p>
                    <p>Dr. Christian Grobe, Mitgründer und Geschäftsführer von Zencap:<br>
                        <strong>„Die Zusammenarbeit zwischen der Sparda-Bank Berlin und Zencap ist Teil dieser Entwicklung und setzt zugleich neue Maßstäbe für zeitgemäßes Banking. Es ist unsere Mission, einer breiten Anzahl von Privatkunden ein Anlageprodukt anzubieten, das sie innerhalb weniger Minuten verstehen und das mit einer transparenten Rendite- und Gebührenstrukturen überzeugt.“</strong></p>
                    <p>Weg von abstrakten, unpersönlichen Geldanlagen, hin zu einer direkten Investition in Kreditprojekte solider geführter Unternehmen aus der eigenen Region. Dieser Gründungsgedanke des Genossenschaftssystems wird durch die Kooperation zwischen der Sparda-Bank Berlin und Zencap nahtlos in die digitale Technologiewelt des 21. Jahrhunderts übertragen.
                    <p>Frank Kohler, Vorstandsvorsitzender der Sparda-Bank Berlin:<br>
                        <strong>„Durch die Kooperation mit Zencap erweitern wir unser soziales Netzwerk innovativ und strategisch konsequent auf Basis des bewährten Genossenschaftsprinzips: „Gemeinsam sind wir stärker als der Einzelne. Vom analogen Marktplatz zur digitalen Genossenschaft, mit dieser Idee ermöglichen wir unseren mehr als 500.000 Mitgliedern einen unmittelbaren und transparenten Zugang zu neuen digitalen Angeboten der rasant wachsenden FinTech-Branche.“</strong></p>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                    <h3>Presse-Kontakt Zencap</h3>
                    <p><strong>Lerato Bogatsu<br>
                        Mobil: +49 152 015 035 94<br>
                        E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a></strong></p>

                    <h3>Presse-Kontakt Sparda-Bank Berlin</h3>
                    <p><strong>Jacob Berten<br>
                        Mobil: +49 171 48 304 68<br>
                        E-Mail: <a href="mailto:tobias.jacob.berten@sparda-b.de">tobias.jacob.berten@sparda-b.de</a></strong></p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}