{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page press">
    <div class="container-wrapper">
        <div class="container spacing">
            <h1 class="text-center">Presse</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p>Mit Zencap bauen wir den weltweit führenden Online-Marktplatz für Unternehmenskredite auf. Kleine und mittelständische Unternehmen erhalten Zugang zu Krediten, die ihnen Wachstum und Investition ermöglichen. Der kurze und einfache Antragsprozess dauert nur wenige Minuten, die Kreditentscheidung erfolgt in 48 Stunden. Investoren erhalten eine attraktive Rendite und monatliche Rückzahlungen. Beide Seiten profitieren von einem Produkt, das sich an ihren Bedürfnissen orientiert und ihre Ansprüche erfüllt.</p>
                    <p>Aktuell ist Zencap in drei europäischen Ländern aktiv. Seit der Gründung im März 2014 sprechen die Zahlen für sich selbst: Mit finanzierten Unternehmenskrediten im Wert von über 14 Millionen Euro ist Zencap der am schnellsten wachsende Online-Kreditmarktplatz in Europa. (Stand 16.04.2015)</p>
                    <p>Weitere Informationen erhalten Sie von:  <br>
                        Lerato Bogatsu<br />
                        +49 152 015 035 94<br />
                        <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a><br />
                      </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper odd press-releases">
        <div class="container spacing">
            <p class="faux-h2">Pressemitteilungen</p>
            <div class="row">
                <div class="col-xs-12">
                    <p><strong>11.05.2015</strong></p>
                    <h2 class="faux-h3"><a href="/press-article-12">Das Beste aus zwei Welten</a></h2>
                    <p>Zencap und Sparda-Bank starten erste digitale Genossenschaft</p>
                    <p><strong>26.02.2015</strong></p>
                    <h2 class="faux-h3"><a href="/press-article-11">Crowdlending-Geschäft wächst um 272 Prozent</a></h2>
                    <p>Alternative Finanzierungsmodelle legen europaweit zu</p>
                    <p><strong>20.02.2015</strong></p>
                    <h2 class="faux-h3"><a href="/press-article-10">Zencap vergibt nun auch Kredite bis 250.000 Euro</a></h2>
                    <p>Berliner Finanzunternehmen bietet größeren Mittelständlern flexible Online-Kredite</p>
                    <p><strong>06.02.2015</strong></p>
                    <h2 class="faux-h3"><a href="/press-article-09">Zencap finanziert Mittelstand in den Niederlanden</a></h2>
                    <p>Der am schnellsten wachsende Online-Kreditmarktplatz Europas setzt Internationalisierung weiter fort.</p>
                    <p><strong>23.10.2014</strong></p>
                    <h2 class="faux-h3"><a href="/press-article-08">Zencap erweitert Kreditnehmerkreis</a></h2>
                    <p>Ab sofort können auch Kaufleute und Freiberufler bei dem Online-Marktplatz Zencap einen Kredit erhalten.</p>
                    <p><strong>01.10.2014</strong></p>
                    <h2 class="faux-h3"><a href="/press-article-07">Zencap knackt 2-Millionen-Euro-Grenze</a></h2>
                    <p>Nur sechs Monate nach Marktstart hat der digitale Kreditmarktplatz deutschlandweit bereits Unternehmenskredite im Wert von über zwei Millionen Euro finanziert.</p>
                    <p><strong>28.07.2014</strong></p>
                    <h2 class="faux-h3"><a href="/presse-article-06-jetzt-in-tv">Crowdlending-Plattform Zencap jetzt auch im TV</a></h2>
                    <p>Digitaler Kreditmarktplatz startet mit bundesweiter TV Kampagne</p>
                    <p><strong>22.07.2014</strong></p>
                    <h2 class="faux-h3"><a href="https://www.zencap.de/nowitzki-der-perfekte-wurf-90.html">NOWITZKI. DER PERFEKTE WURF. – Internationaler Vertrieb des Dirk Nowitzki-Kinofilms mit Zencap finanziert</a></h2>
                    <p>Weltvertrieb des Sportlerporträts von Produzent und Emmy-Preisträger Leopold Hoesch ist der neueste Coup des innovativen Kreditmarktplatzes</p>

                    <p><strong>03.06.2014</strong></p>
                    <h2 class="faux-h3"><a href="/presse-zencap-erhalt-tuv-siegel-als-gepruftes-online-portal-69.html">Zencap erhält TÜV-Siegel als „Geprüftes Online-Portal“</a></h2>
                    <p>Das Zertifikat des TÜV Saarland bescheinigt dem Online-Kreditmarktplatz die Einhaltung höchster Sicherheits- und Datenschutzstandards</p>

                    <p><strong>27.05.2014</strong></p>
                    <h2 class="faux-h3"><a href="/deutsche-kreditmarktplatze-gelauncht-71.html">Deutsche Kreditmarktplätze gelauncht – Rocket Internet baut mit Deutsche Kreditmarktplätze weiter auf Fin-Tech</a></h2>
                    <p>Mit vereinten Kräften: Lendico und Zencap greifen mit neuem Gemeinschaftsprojekt an</p>

                    <p><strong>30.03.2014</strong></p>
                    <h2 class="faux-h3"><a href="/presse-innovationsschub-fuer-den-mittelstand-39.html">Innovationsschub für den Mittelstand</a></h2>
                    <p>Rocket Internet startet Zencap, den ersten Online-Kreditmarktplatz für mittelständische Unternehmen</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrapper media-response">
        <div class="container spacing">
            <p class="faux-h2">Das sagen Medien über uns und unser Geschäftsmodell</p>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="http://german.ruvr.ru/2014_07_24/Zencap-eine-digitale-Alternative-zur-Bank-6539/" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/press/radio_russ.png" alt="Börsenzeitung"/></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Wie funktioniert Zencaps Geschäftsmodell und was machen wir anders als traditionelle Anbieter? Unser Gründer Dr. Matthias Knecht im Interview mit Armin Siebert, Journalist bei Stimme Russlands.
                        </p>
                    </blockquote>
                    <p><a href="http://german.ruvr.ru/2014_07_24/Zencap-eine-digitale-Alternative-zur-Bank-6539/">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-07-01_boersen-zeitung_Zencap_brisantes-Finanzierungsneuland.pdf" target="_blank"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/press/borsen.png" alt="Börsenzeitung"/></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Das Zencap-Prinzip wird sich in Deutschland wie zuvor in Großbritannien und den USA in den nächsten zwei bis drei Jahren etablieren. Für Banken ist dies besonders brisant, da sie ihr Geld hauptsächlich mit dem Kreditgeschäft verdienen. Mit der Fokussierung auf kleine Mittelständler greifen Plattformen wie Zencap das Kerngeschäft von Volksbanken, Sparkassen und anderen Instituten
                            an, die dieses Segment bedienen.
                        </p>
                    </blockquote>
                    <p><a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-07-01_boersen-zeitung_Zencap_brisantes-Finanzierungsneuland.pdf">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-07-10_sueddeutsche-zeitung_marktplatz.pdf" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/press/suddeutsche_zeitung.png" alt="Süddeutsche Zeitung" /></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Ihren Ursprung haben diese sogenannten Peer-to-Peer-Kredite in den USA. (...) Genau mit einer Online-Plattform für die Kreditvergabe an den Mittelstand wollten sich Grobe und Knecht selbständig machen und damit die ersten in Deutschland sein. (...) Für die Samwer-Brüder selbst ist es der zweite Angriff auf die etablierten Banken. Nun also der digitale Kreditmarktplatz Zencap, auf dem der bedrängte Mittelstand schnell und „entspannt“ an sein Geld kommen soll.
                        </p>
                    </blockquote>
                    <p><a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-07-10_sueddeutsche-zeitung_marktplatz.pdf">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-06-03_faz_samwer-statt-kreditpruefung.pdf" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/press/frankfurterallgemeine.png" alt="Frankfurter Allgemeine" /></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Experten halten Privatkredite für Mittelständler für eine realistische Alternative (...) Vor allem für kleinere Unternehmen sei das Modell interessant.
                        </p>
                    </blockquote>
                    <p><a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-06-03_faz_samwer-statt-kreditpruefung.pdf">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="http://www.handelsblatt.com/unternehmen/leasing-spezial/neue-samwer-plattform-jungunternehmer-finanzieren-den-mittelstand/9931626.html" target="_blank"><img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/cms/press/handelsblatt.png" alt="Handeslblatt" /></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Onlineplattformen für Finanzdienstleistungen machen Banken zusehends das Leben schwer (...) Seit Ende März ist Zencap auf dem Markt. Zencap will kleinen Mittelständlern bei der Finanzierung helfen. Für die Gründer und Geschäftsführer von Zencap, Christian Grobe und Matthias Knecht, beide Anfang 30 und ehemalige McKinsey-Berater, ist der Name ihres Start-ups durchaus Programm. Entspannt wie beim Zen-Buddhismus sollen die Kunden über die Plattform an ihr Geld kommen.</p>
                    </blockquote>
                    <p><a href="http://www.handelsblatt.com/unternehmen/leasing-spezial/neue-samwer-plattform-jungunternehmer-finanzieren-den-mittelstand/9931626.html" target="_blank">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/140410_sueddeutsche-zeitung_das-problem-mit-dem-geld.pdf" target="_blank"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/press/suddeutsche_zeitung.png" alt="Süddeutsche Zeitung" /></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Die Finanzierung der vielen Mittelständler ist zunehmend ein Problem. Durchs Raster fallen die Unternehmen, die das Rückgrat des Wirtschaftsstandorts Deutschland sind (...) In diese Lücke springen nun auch Internetplattformen wie Zencap. (...) Was Konzerne an den Börsen machen, geschieht hier im Kleinen. Privatleute geben kleinen Firmen Kredit - ohne eine zwischengeschaltete Bank.</p>
                    </blockquote>
                    <p><a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/140410_sueddeutsche-zeitung_das-problem-mit-dem-geld.pdf" target="_blank">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="http://www.handelsblatt.com/unternehmen/banken/rocket-internet-start-up-schmiede-will-den-mittelstand-finanzieren/9688612.html" target="_blank"><img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/cms/press/handelsblatt.png" alt="Handeslblatt" /></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>(...) große Nachfrage von Unternehmen, die angesichts härterer Verhandlungen mit den Banken nach den verschärften Eigenkapital- und Liquiditätsanforderungen der Basel-III-Regeln die Finanzierung breiter anlegen wollen.</p>
                    </blockquote>
                    <p><a href="http://www.handelsblatt.com/unternehmen/banken/rocket-internet-start-up-schmiede-will-den-mittelstand-finanzieren/9688612.html" target="_blank">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="http://www.spiegel.de/wirtschaft/private-kreditvergabe-im-internet-ebay-des-geldes-a-445741.html" target="_blank"><img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/cms/press/spiegel-online.png" alt="Spiegel Online" /></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Journalisten und Analysten sprechen gern vom "Ebay des Geldes". Es basiert auf dem Peer-to-peer-Prinzip, also dem Austausch von Gleichen zu Gleichen (...)</p>
                        <p>Der zentrale Vorteil für die Nutzer auf beiden Seiten des Verleihgeschäftes: Zwischen ihnen befindet sich keine klassische Bank, die mit einer möglichst hohen Differenz zwischen Soll- und Habenzinsen die eigene Bilanz aufzubessern versucht.</p>
                    </blockquote>
                    <p><a href="http://www.spiegel.de/wirtschaft/private-kreditvergabe-im-internet-ebay-des-geldes-a-445741.html" target="_blank">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="http://www.zeit.de/wirtschaft/geldanlage/2013-07/peer-to-peer-lending" target="_blank"><img class="img-responsive" src="/bundles/intlendweblayout/frontend/images/cms/press/zeit-online.png" alt="Zeit Online" /></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Im Internetzeitalter wachsen P2P-Kredite explosionsartig.</p>
                        <p>Onlineplattformen verbinden Kreditnehmer mit den Gläubigern direkt und ohne dabei wie herkömmliche Finanzinstitute eine komplexe Infrastruktur inklusive Filialnetz unterhalten (...) Das spart Kosten. Und für die Schuldner bedeutet das niedrigere Zinsraten, für die Kreditgeber höhere Renditen.</p>
                        <p>Peer-to-peer heißt: Von Gleich zu Gleich.</p>
                        <p>In der Theorie ist Peer-to-Peer-Lending also ein Geschäft, von dem alle profitieren – außer den Banken, die ihrer Kernkompetenz beraubt werden, nämlich die Sparguthaben einer Volkswirtschaft in Investitionsmittel zu verwandeln.</p>
                    </blockquote>
                    <p><a href="http://www.zeit.de/wirtschaft/geldanlage/2013-07/peer-to-peer-lending" target="_blank">Artikel ansehen</a></p>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <a href="http://www.manager-magazin.de/finanzen/alternativegeldanlage/a-771155.html" target="_blank"><img src="/bundles/intlendweblayout/frontend/images/cms/press/manager-magazin.png" alt="Manager Magazin" /></a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                <div class="col-xs-12 col-sm-8">
                    <blockquote>
                        <p>Durch Online-Kreditbörsen verschwände die klassische Bank aus der Wertschöpfungskette nahezu komplett. Die Konsequenz: Die satte Zinsmarge, die Institute aus der Differenz zwischen günstigen Beschaffungskosten bei der EZB und dem bei Kunden erhobenen Zinssatz einstreichen, könnten die Online-Kreditvermittler zu einem Teil an die Markplatzteilnehmer weiterreichen - Kreditnehmer profitierten dabei von niedrigeren Zinsen und Anleger von höheren Renditen.</p>
                    </blockquote>
                    <p><a href="http://www.manager-magazin.de/finanzen/alternativegeldanlage/a-771155.html" target="_blank">Artikel ansehen</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper odd press-materials hidden-xs">
        <div class="container spacing">
            <p class="faux-h2">Pressematerialien</p>
            <p>Hier können Sie einige Materialien von Zencap herunterladen.</p>
            <div class="row">
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h3>Die Gründer</h3>
                    <a href="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/Zencap-Founder.jpg" target="_blank">
                        <img class="img-responsive" src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/zencap-founder-300x192.jpg" alt="Zencap Founder">
                        <i class="fa fa-small fa-arrow-circle-down"></i> Bild herunterladen</a>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h3>Das Zencap-Logo</h3>
                    <a href="https://d1x3gb5zl465n8.cloudfront.net/de/zencap-logo-kit.zip" target="_blank">
                        <img class="img-responsive" src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/zencap-logo-300x192.jpg" alt="Zencap Logo Kit">
                        <i class="fa fa-small fa-arrow-circle-down"></i> Logo Kit alle Formate
                    </a>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h3>Der Zencap-Film</h3>
                    <a href="https://vimeo.com/89143761" target="_blank">
                        <img class="img-responsive" src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/vimeo-89143761-300x192.jpg" alt="Zencap Video">
                        <i class="fa fa-small fa-arrow-circle-down"></i> Zum Video Download
                    </a>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h3>Pressemappe</h3>
                    <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/presskit/pressekit.pdf" target="_blank">
                        <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/press/presskit/presskit.jpg" alt="Pressemappe">
                        <i class="fa fa-small fa-arrow-circle-down"></i> Pressemappe herunterladen
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}