{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page">
    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-7">
                    <h1>Deutsche Kreditmarktplätze gelauncht – Rocket Internet baut mit Deutsche Kreditmarktplätze weiter auf Fin-Tech</h1>
                    <p class="lead">Mit vereinten Kräften: Lendico und Zencap greifen mit neuem Gemeinschaftsprojekt an</p>
                    <p>Berlin, 27.05.2014 – Deutsche Kreditmarktplätze sind die heute gestartete Online-Präsenz auf der Lendico und Zencap eine Alternative zu Banken für deutsche Privatanleger wie auch private Kreditnehmer und Unternehmen vorstellen. Anleger können direkt in Kreditprojekte von Privatpersonen und mittelständischen Unternehmen investieren. Erstmals erhalten sie nicht nur den Zugang zu neuen Anlageklassen, die vorher Banken vorbehalten waren, sondern sichern sich auch hohe Renditechancen und stetige monatliche Auszahlungen.</p>
                    <p>Hinter der Initiative stehen die digitalen Kreditplattformen Lendico und Zencap. Ziel der Gründung ist es, besondere Standards in punkto Risikobewertung und Sicherheit zu etablieren. Anleger und Kreditnehmer erfahren den bestmöglichen Service und können sich auf transparente und einfache Prozesse freuen.</p>
                    <p>„Deutsche Kreditmarktplätze stehen für Sicherheit, Zuverlässigkeit und Innovation. Typisch Made in Germany. Lendico ist als bester Kreditmarktplatz in Deutschland ausgezeichnet. Bei Lendico haben sich über 40.000 Nutzer angemeldet. Zencap ist der ebenbürtige Partner, mit dem wir die neue Anlageklasse der Kreditfinanzierung endlich in Deutschland erfolgreich machen werden“, sagt Dr. Dominik Steinkühler, Mitgründer und Geschäftsführer von Lendico.</p>
                    <p>Dr. Christian Grobe, Gründer und Geschäftsführer von Zencap betont: „Mit dem Gemeinschaftsprojekt bieten wir das gleiche Leistungsportfolio an wie Banken – nur zu deutlich attraktiveren Konditionen. Und das wird stark bei den Anlegern nachgefragt: Zencap ist jetzt etwa acht Wochen am Markt und daher freut es uns sehr, dass wir alle Projekte voll finanziert bekommen – selbst sechsstellige Summen. Unser Erfolg basiert auch auf einem strengen Bonitätsprüfprozess, der ähnlich ist wie bei Lendico, und für die Sicherheit der Geldanlage sorgt. Damit schaffen Deutsche Kreditmarktplätze eine solide Basis für starke Renditen.“</p>
                    <p>Durch Investitionen bei Deutsche Kreditmarktplätze profitieren private Anleger von einer ausgewogenen Diversifizierung des Portfolios und verdienen attraktive Renditen bei zugleich minimierten Risiken.</p>

                    <hr>
                    <h3>Über Lendico</h3>
                    <p>Auf <a href=http://www.lendico.de>Lendico.de</a> stellen Kreditnehmer ihre Projekte kostenlos ein. Lendico bewertet die Kreditwürdigkeit und bietet eine Verzinsung für Verbraucher- und Privatkredite ab 2,99% bis 15,96% (effektiver Jahreszins). Anleger können online die Kreditprojekte einsehen und ab 25 € in diese investieren. Wird das Kreditvorhaben von Anlegern vollständig finanziert, erfolgt die Auszahlung. Anleger erhalten Zins- und Tilgungszahlungen ab dem ersten Monat auf ihr Konto überwiesen. Ein 100-köpfiges Expertenteam sorgt mit Hilfe eines eigens entwickelten Algorithmus und durch Zusammenarbeit mit der SCHUFA und der Deutschen Post für eine schnelle und zuverlässige Kreditbewertung.</p>
                    <h3>Über Zencap</h3>
                    <p><a href=http://www.zencap.de>Zencap.de</a> ist der erste digitale Kreditmarktplatz für mittelständische Unternehmen in Deutschland. Das Unternehmen wurde im März 2014 gegründet und wird von Dr. Christian Grobe und Dr. Matthias Knecht geführt. Hinter Zencap steckt ein rund 35-köpfiges Expertenteam mit umfassender Finanzexpertise. Das Unternehmen mit Hauptsitz in Berlin wird von Rocket Internet, dem weltweit größten Internet-Inkubator, unterstützt. Rocket Internet hat neben Zalando, Groupon International und eDarling bereits zahlreiche erfolgreiche Internetunternehmen auf der ganzen Welt aufgebaut. Zencap ist derzeit in Deutschland tätig.</p>

                </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                <h3>Presse-Kontak Zzencapt</h3>
                <p>Lerato Bogatsu<br>
                    Mobil: +49 152 015 035 94<br>
                    E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a><br>
                    Schreiberhauer Straße 30<br>
                    10317 Berlin</p>
                    <h3>Presse-Kontakt Lendico</h3>
                    <p>Lukas Jaworski<br>
                        Mobil: +49 176 326 352 99 <br>
                        E-Mail: <a href="mailto:lerato.bogatsu@zencap.de">lerato.bogatsu@zencap.de</a><br>
                        Johannisstraße 20<br>
                        10119 Berlin</p>
                    <hr>
            </div>
        </div>
    </div>
</div>

{% endblock %}