{% extends 'layout.html.twig' %}

{% block body %}

<div class="container spacing">
    <div class="row">
        <div class="col-xs-12">
            <h1>Regelungen zum Datenschutz und datenschutzrechtliche Einwilligungen</h1>
            <p>Der Schutz Ihrer personen- und unternehmensbezogenen Daten, die Sie uns, der Zencap Deutschland GmbH, Schreiberhauer Straße 30, 10317, Berlin, eingetragen im Handelsregister des Amtsgerichts Charlottenburg unter HRB 151217 B, Ust.ID: DE294516429 (nachfolgend „<strong>wir</strong>“ oder „<strong>uns</strong>“), bei Nutzung unseres Marktplatzes für Kredite <a href="www.zencap.de">www.zencap.de</a> (nachfolgend „<strong>Zencap</strong>“) zur Verfügung stellen, ist uns sehr wichtig.</p>
            <p> Wir erheben, verarbeiten und nutzen Ihre personenbezogenen Daten daher nur gemäß der nachfolgenden Datenschutzerklärung und Einwilligung (nachfolgend „Datenschutzerklärung“) und den einschlägigen gesetzlichen Datenschutzbestimmungen. Personenbezogene Daten in diesem Sinne sind alle Einzelangaben über persönliche oder sachliche Verhältnisse einer bestimmten oder bestimmbaren natürlichen Person, wie bspw. Ihr Name, Ihre Telefonnummer oder Ihre Adresse.</p>
            <p>Daten über juristische Personen und im Handelsregister eingetragene Personengesellschaften (nachfolgend jeweils „<strong>Unternehmen</strong>“), die über Zencap Anleger zur Finanzierung eines Kreditprojekts suchen (nachfolgend „<strong>Unternehmer-Kreditnehmer</strong>“), oder über Unternehmen, die den Kreditnehmern Kapital gewähren möchten (nachfolgend „<strong>Unternehmer-Anleger</strong>“), stellen keine personenbezogenen Daten in diesem Sinne dar, soweit sie nicht ausnahmsweise auch Bezug zu einer natürlichen Person aufweisen.</p>
            <p>Bitte lesen Sie diese Datenschutzerklärung aufmerksam durch. Sie gibt Ihnen Auskunft darüber, welche personenbezogenen Daten wir von allen Nutzern von Zencap erheben und wie wir diese verarbeiten und nutzen. Außerdem wollen wir Ihnen darstellen, welche nicht personenbezogenen Daten der Unternehmen wir erheben und wie wir diese verarbeiten und nutzen.</p>
            <p>Diese Datenschutzerklärung enthält u.a. datenschutzrechtliche Einwilligungen von Nutzern, die als natürliche Person über Zencap Anleger zur Finanzierung eines Kreditprojekts suchen (nachfolgend „<strong>Einzel-Kreditnehmer</strong>“, Unternehmer-Kreditnehmer und Einzel-Kreditnehmer gemeinsam die „<strong>Kreditnehmer</strong>“), die datenschutzrechtliche Einwilligungen von Nutzern, die ein Kreditprojekt für einen Kreditnehmer einstellen wollen (nachfolgend „<strong>Kreditnehmer-Vertreter</strong>“) und von natürlichen Personen,
                die den Kreditnehmern Kapital gewähren möchten (nachfolgend „<strong>Einzel-Anleger</strong>“; Unternehmer-Anleger und Einzel-Anleger gemeinsam die „<strong>Anleger</strong>“).</p>
            <p>Die Einwilligungen sonstiger Dritter, die sich zur Erteilung einer Bürgschaft zur Besicherung der Ratentilgungskredite bereit erklärt haben, sind nicht Gegenstand dieser Datenschutzerklärung und werden von uns ggf. gesondert eingeholt.</p>
            <p>Sie können die Datenschutzerklärung zu einem späteren Zeitpunkt jederzeit wieder unter <a href="https://www.zencap.de/privacy-33.html">https://www.zencap.de/privacy-33.html</a> abrufen.</p>
            <p>Diese Datenschutzerklärung enthält die folgenden Abschnitte:</p>
            <ol>
                <li>Regelungen für alle Nutzer von Zencap</li>
                <li>Regelungen für Einzel-Kreditnehmer</li>
                <li>Regelungen für Kreditnehmer-Vertreter</li>
                <li>Erhebung, Verarbeitung und Nutzung von Kreditprojekt-Daten</li>
                <li>Einwilligung von Kreditnehmer-Vertretern, die eine Bürgschaft erteilen wollen</li>
                <li>Veröffentlichung von Daten auf Zencap</li>
                <li>Weitergabe von Daten an Zencap Connect GmbH und Vorbereitung von Vertragsunterlagen</li>
                <li>Regelungen für Anleger</li>
                <li>Widerruf der Einwilligungen</li>
            </ol>
            <h1>1. Regelungen für alle Nutzer von Zencap</h1>
            <h2> 1.1 Webanalyse- und Marketing-Dienste</h2>
            <p>Zencap benutzt Google Analytics bzw. Google Universal Analytics, einen Webanalysedienst der Google
                Inc. („<strong>Google</strong>“). Google Analytics bzw. Google Universal Analytics verwendet sog. „Cookies“, Textdateien,
                die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung von Zencap durch Sie
                ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung von Zencap werden
                in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Aufgrund der
                Aktivierung des Codes „gat._anonymizeIp();“ auf Zencap und der damit verbundenen Anonymisierung
                der IP-Adresse (sog. IP-Masking) wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten
                der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum
                zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google
                in den USA übertragen und dort gekürzt. In unserem Auftrag wird Google diese Informationen benutze
                um Ihre Nutzung von Zencap auszuwerten, um Reports über die Aktivitäten auf Zencap zusammenzustellen
                und um weitere mit der Nutzung von Zencap und der Internetnutzung verbundene Dienstleistungen
                uns gegenüber zu erbringen. Die im Rahmen von Google Analytics bzw. Google Universal Analytics
                von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
                Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software
                verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche
                Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung
                der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer
                IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das
                unter dem folgenden Link (<a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>) verfügbare Browser-Plugin
                herunterladen und installieren. Sie können schließlich die Erfassung durch Google Analytics bzw. Google
                Universal Analytics durch Klicken auf folgenden Link widersprechen; hierdurch wird ein sogenanntes
                Opt-Out-Cookie in Ihrem Browser installiert, das eine Erfassung durch Google Analytics bzw. Google Universal
                Analytics zukünftig verhindert. Voraussetzung hier für ist jedoch, dass Ihre Browser-Einstellungen
                nicht ein Speichern des Opt-Out-Cookies verhindern und dass Sie das Opt-Out-Cookie nicht löschen.</p>
            <p>Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter http://www.google.
                com/analytics/terms/de.html bzw. unter <a href="http://www.google.com/intl/de/analytics/privacyoverview.html">http://www.google.com/intl/de/analytics/privacyoverview.html</a>.</p>
            <p>Zencap nutzt Google Analytics bzw. Google Universal Analytics ferner dazu, Daten aus AdWords und dem
                Double-Click-Cookie zu statistischen Zwecken auszuwerten. Sollten Sie dies nicht wünschen, können Sie
                dies über den Anzeigenvorgaben-Manager unter <a href="http://www.google.com/settings/ads/onweb/?hl=de">http://www.google.com/settings/ads/onweb/?hl=de</a>
                deaktivieren.</p>
            <p>Zencap verwendet darüber hinaus das Online-Werbeprogramm Google AdWords, das von Google in den USA betrieben wird und im Rahmen dessen das Conversion-Tracking.</p>
            <p>Für diese Zwecke können Cookies eingesetzt werden. Das Cookie für Conversion-Tracking wird gesetzt, wenn Sie auf eine von Google geschaltete Anzeige klicken. Diese Cookies verlieren nach 30 Tagen ihre
                Gültigkeit und dienen nicht der persönlichen Identifizierung. Besuchen Sie bestimmte Seiten von Zencap
                und ist das Cookie noch nicht abgelaufen, können wir und Google erkennen, dass Sie auf die Anzeige
                geklickt haben und zu dieser Seite weitergeleitet wurden. Jeder Google AdWords-Kunde erhält ein anderes
                Cookie. Cookies können somit nicht über die Websites von AdWords-Kunden nachverfolgt werden.
                Die mithilfe des Conversion-Cookies eingeholten Informationen dienen dazu, Conversion-Statistiken für AdWords-Kunden zu erstellen, die sich für Conversion-Tracking entschieden haben. Die Kunden erfahren
                die Gesamtanzahl der Nutzer, die auf Ihre Anzeige geklickt haben und zu einer mit einem Conversion-
                Tracking-Tag versehenen Seite weitergeleitet wurden. Sie erhalten jedoch keine Informationen, mit
                denen Sie sich persönlich identifizieren lassen. Wenn Sie nicht am Tracking teilnehmen möchten, können
                Sie das Cookie des Google Conversion-Trackings über Ihren Internetbrowser unter Nutzereinstellungen
                leicht deaktivieren. Auf diese Weise werden Sie nicht in die Conversion-Tracking-Statistiken aufgenommen.
                Näheres hierzu finden Sie unter <a href="http://www.google.com/intl/de/policies/privacy/">www.google.com/intl/de/policies/privacy/</a>.</p>
            <p>Des Weiteren nutzen wir Cookies, um den von Ihnen genutzten Arbeitsplatzrechner beim nächsten Besuch
                von Zencap wiederzuerkennen und etwa mit diesem vorgenommene Voreinstellungen von Funktionen
                von Zencap bereitstellen zu können.</p>
            <h2>1.2 Verwendung von Device Ident</h2>
            <p>Wir verwenden für den Betrieb von Zencap außerdem die Services des IT-Security-Dienstleisters Device
                Ident GmbH („<strong>Device Ident</strong>“). Sämtliche Kommunikation zwischen uns und Device Ident erfolgt ausschließlich
                zur Vermeidung von Betrugsfällen bei der Nutzung von Zencap.</p>
            <p>Device Ident erhebt und verarbeitet von unseren Nutzern mithilfe von Cookies und Tracking-Technologien
                in anonymer Form spezifische Daten zur Ausstattung des vom Nutzer verwendeten Endgerätes
                („<strong>gerätespezifische Daten</strong>“), Rohdaten aus der TCP/IP-Verbindung und Daten über die Nutzung von
                Zencap. Technisch bedingt wird dabei zunächst auch die IP-Adresse des Geräts des Nutzers von Device
                Ident erhoben und verarbeitet, diese wird aber innerhalb weniger Sekunden bei Device Ident chiffriert.
                Die Informationen werden bei Device Ident in einer Datenbank zur Betrugsvorsorge hinterlegt.</p>
            <p>Wenn der Nutzer durch Registrierung auf Zencap einen Nutzungsvertrag abschließt oder anbahnt, rufen
                wir aus der Datenbank von Device Ident eine Risikobewertung ab, die dort für das vom Nutzer verwendete
                Endgerät hinterlegt wurde. Diese Risikobewertung basiert unter anderem auf Informationen dazu,
                (i) ob das Endgerät des Nutzers aktuell oder zurückliegend über eine Proxy-Verbindung kommuniziert
                bzw. kommuniziert hat, (ii) ob das Endgerät sich zuletzt über verschiedene Internet-Service-Provider
                eingewählt hat, (iii) ob das Endgerät eine häufig wechselnde Geo-Referenz aufwies oder aufweist, (iv) wie
                viele Internet-Transaktionen über das Gerät innerhalb der letzten Zeit getätigt wurden (dabei ist jedoch für uns nicht erkennbar, um welche Art von Transaktionen es sich handelte), und (v) wie wahrscheinlich
                es ist, dass das in der Device Ident-Datenbank hinterlegte Endgerät tatsächlich dasjenige des Nutzers ist.
                Das Ergebnis dieser Risikobewertung unterstützt uns dabei, Betrugsversuche auf Zencap zu verhindern.
                Die Daten werden jedoch von uns nicht als alleiniges Kriterium für die Durchführung oder den möglichen
                Abbruch der Registrierung oder des Freischaltens eines Kreditprojekts herangezogen.</p>
            <p>Ferner übermitteln wir an Device Ident Daten, soweit uns bekannt wird, dass ein Nutzer uns gegenüber
                einen Eingehungsbetrug begangen hat oder zu begehen versucht hat. An Device Ident werden dabei
                lediglich diese Tatsache sowie die jeweiligen gerätespezifischen Daten des Nutzers übermittelt, nicht
                jedoch Name, Anschrift oder ähnliche Kontaktdaten des Nutzers.</p>
            <h2>1.3 Übersendung von Werbung</h2>
            <p>Sofern Sie uns Ihre Einwilligung zur Übersendung von Informationen mit werblichem Charakter, wie
                etwa Newslettern oder SMS, erteilt haben, nutzen wir Ihre E-Mailadresse und Mobilfunknummer zum
                Zwecke der Übersendung entsprechender Newsletter und Informationen.</p>
            <h2>1.4 Löschung und Auskunft</h2>
            <p>Ihre Einzel-Kreditnehmer-Daten, Kreditnehmer-Vertreter-Daten, Kreditprojekt-Daten, Bürgen-Daten und
                Einzel-Anleger-Daten (wie unten definiert) werden im Falle einer Löschung Ihres mit Registrierung eröffneten
                Nutzerkontos gelöscht, soweit keine gesetzlichen Aufbewahrungspflichten bestehen oder gesetzliche
                Erlaubnistatbestände für eine weitere Speicherung vorliegen sollten.</p>
            <p>Auf Anfrage erteilen wir Ihnen unentgeltlich Auskunft über die zu Ihrer Person gespeicherten Daten
                sowie über den Zweck der Speicherung. Wir bemühen uns stets um die Richtigkeit und Aktualität Ihrer
                Daten. Sollten dennoch einmal falsche Informationen gespeichert worden sein, teilen Sie uns dies bitte
                per E-Mail an <a href="mailto:info@zencap.de">info@zencap.de</a> mit, so dass wir diese umgehend berichtigen können.</p>
            <h1>2. Regelungen Einzel-Kreditnehmer</h1>
            <p>Wenn Sie sich als Einzel-Kreditnehmer auf Zencap registrieren, erheben wir die folgenden personenbezogenen
                Daten und speichern sie im Nutzerprofil (nachfolgend „<strong>Einzel-Kreditnehmer-Daten</strong>“):</p>
            <p><em>Geschlecht (Anrede), akademischer Titel, Vorname(n), Nachname, ggf. Geburtsname, Wohnanschrift sowie
                    Geschäftsanschrift (Straße, Hausnummer, Adresszusatz, Postleitzahl, Stadt, Land), seit wann Sie unter
                    dieser Wohnanschrift wohnhaft sind, Ihre Voranschrift (falls Sie unter der aktuellen Anschrift weniger als 36
                    Monate wohnhaft sind), Geburtsdatum, Geburtsort und Geburtsland, Nationalität, Familienstand, Mobilfunknummer,
                    alternative Telefonnummer, E-Mail-Adresse, IP-Adresse, ein von Ihnen gewähltes Passwort (in
                    verschlüsselter Form) zur Authentifizierung auf Zencap. Bei Personen mit einer anderen als der deutschen
                    Staatsbürgerschaft weiterhin seit wann sie in Deutschland wohnhaft sind, ob sie über einen unbefristeten
                    oder einen befristeten Aufenthaltstitel verfügen und bei einem befristeten Aufenthaltstitel das Enddatum.</em></p>
            <p>Wir verarbeiten und nutzen Ihre Einzel-Kreditnehmer-Daten, soweit dies für die ordnungsgemäße
                Erfüllung unseres Vertrages über die Nutzung von Zencap erforderlich ist, was auch Plausibilitätskontrollen
                wie bspw. durch Überprüfung der Existenz der von Ihnen angegebenen Adresse anhand öffentlich
                zugänglicher Quellen und die Kontaktaufnahme mit Ihnen zwecks Überprüfung Ihrer Daten beinhalten
                kann. Soweit Sie uns explizit eine weitergehende Einwilligung in die Verarbeitung oder Nutzung für werbliche
                oder andere Zwecke erteilt haben, findet auch eine entsprechende Nutzung bzw. Verarbeitung statt.</p>
            <h1>3. Regelungen für Kreditnehmer-Vertreter</h1>
            <p>Wenn Sie sich als Kreditnehmer-Vertreter auf Zencap registrieren, erheben wir die folgenden personenbezogenen
                Daten und speichern sie im Nutzerprofil (nachfolgend „<strong>Kreditnehmer-Vertreter-Daten</strong>“):</p>
            <p>Geschlecht (Anrede), Titel, Vornamen, Nachname, Firma, Position, Telefonnummer(n), Ihre E-Mailadresse,
                die IP-Adresse des von Ihnen genutzten Gerätes, ein von Ihnen gewähltes Passwort zur Registrierung auf
                Zencap.</p>
            <p>Wir verarbeiten und nutzen diese Daten für die Zwecke des Nutzungsvertrages, insbesondere zur Kontaktaufnahme mit Ihnen und bei Fragen zu und im Zusammenhang mit dem Kreditprojekt.</p>
            <h1>4. Erhebung, Verarbeitung und Nutzung von Kreditprojekt-Daten; Einwilligung der Einzel-Kreditnehmer</h1>
            <p>Wenn Sie auf Zencap ein Kreditprojekt für den Kreditnehmer freischalten wollen, erheben wir ferner
                grundsätzlich folgende Daten („<strong>Kreditprojekt-Daten</strong>“):</p>
            <ul>
                <li><em>Firma, Rechtsform (entfällt bei Einzel-Kreditnehmer), Handelsname (optional), Website (optional), Adresse, gegebenenfalls Handelsregister und Handelsregisternummer, Umsatzsteuer-ID (optional), Anzahl Mitarbeiter,
                        Gründungsdatum, Umsatz des letzten Geschäftsdatums, Branche, Umsatz des größten Kunden (sofern
                        größer als 10%), sowie die Bankverbindung des Kreditnehmers (Kontoinhaber, BIC, IBAN).</em></li>
                <li><em>Titel des Kreditprojekts, gewünschter Betrag, gewünschte Kreditlaufzeit, Verwendungszweck des Ratentilgungskredits
                        (Betriebsmittelfinanzierung, Kauf von Vermögenswerten, Expansion, Ausgleich von Steuer- und
                        Sozialversicherungsverbindlichkeiten, andere Verwendungszwecke), Beschreibung des Unternehmens und
                        des Kredites, Erklärung warum der Kreditnehmer kreditwürdig ist, sowie ggf. Bild- und Videomaterial zum
                        Kreditnehmer (optional).</em></li>
                <li><em>In allen Fällen Angaben zu laufenden Krediten, Verbindlichkeiten und langfristigen Zahlungsverpflichtungen
                        des Kreditnehmers.</em></li>
                <li><em>Vornamen, Nachname, Geburtsdatum, Geburtsort/-land, Staatsangehörigkeit(en), Erwerbssituation (Selbständig,
                        Angestellter, Angestellter Geschäftsführer) und Adresse (Straße, Hausnummer, Postleitzahl, Stadt)
                        des/der Zeichnungsberechtigten des Kreditnehmers.</em></li>
                <li><em>Geprüfte Jahresabschlüsse der letzten 3 (mindestens 2) Berichtsperioden (wenn für letztes Geschäftsjahr
                        nicht verfügbar: BWA), betriebswirtschaftliche Auswertungen des laufenden Jahres (BWA) und vergleichbaren
                        Vorjahreszeitraumes.</em></li>
            </ul>
            <p>Wir übermitteln die Kreditprojekt-Daten an die mit uns für die Zwecke der Ausreichung eines Ratentilgungskredits
                an den Kreditnehmer kooperierenden Wirecard Bank AG, Einsteinring 35, 85609 Aschheim (nachfolgend
                „Bank“). Wir holen ferner vor Freischaltung des Kreditprojekts im Auftrag der Bank bei einer oder bei
                mehreren der nachfolgenden Auskunfteien (nachfolgend jeweils eine „Auskunftei“ und gemeinsam die „Auskunfteien“)
                Auskünfte über den Kreditnehmer, insbesondere über dessen Bonität, Beteiligungsverhältnisse
                und Geschäftszahlen ein: SCHUFA Holding AG, Kormoranweg 5, 65201 Wiesbaden (nachfolgend „Schufa“),
                Creditreform Berlin Wolfram KG, Karl-Heinrich-Ulrichs-Straße 1, 10787 Berlin (nachfolgend „Creditreform“),
                Bürgel Wirtschaftsinformationen GmbH & Co. KG, Gasstraße 18, 22761 Hamburg (nachfolgend „Bürgel“),
                informa Solutions GmbH & infoscore Consumer Data GmbH, Rheinstraße 99, 76532 Baden-Baden, (nachfolgend
                „arvato infoscore“).</p>
            <p>Die Bonität wird von den angefragten Auskunfteien in Form eines Bonitätsindexes unter anderem unter
                Verwendung von Informationen über das bisherige Zahlungsverhalten des Kreditnehmers auf Basis mathematisch-
                statistischer Verfahren unter Verwendung von Anschriftendaten ermittelt und dargestellt. Negativmerkmale
                sind Merkmale wie bspw. ein laufendes Inkasso- oder Insolvenzverfahren, die Abgabe einer
                eidesstattlichen Versicherung, ein überdurchschnittliches Forderungsausfallrisiko oder Vergleichbares.</p>
            <p>Die Bank wird die Kreditprojekt-Daten zusammen mit den Auskünften der Auskunfteien im Rahmen einer
                Vorabprüfung darüber einbeziehen, ob sie unter Risikogesichtspunkten generell bereit ist, dem Kreditnehmer
                bei Erfolg des Kreditprojekts einen Ratentilgungskredit zu gewähren (nachfolgend „Vorabprüfung“).
                Im Rahmen der Vorabprüfung wird die Bank diese Daten durch uns als Dienstleister unter Anwendung
                von mathematisch-statistischen Verfahren zur Ermittlung der Ausfallwahrscheinlichkeit des Kreditnehmers
                (nachfolgend „Rating“) verarbeiten und nutzen. Das Rating dient der Bank zur Ermittlung der Ausfallwahrscheinlichkeit
                des Kreditnehmers und eines diesem Risiko entsprechenden Zinssatzes, der für den Fall der
                Freischaltung des Kreditprojekts diesem automatisch zugrunde gelegt wird.</p>
            <p>Einwilligung Einzel-Kreditnehmer: Bonitätsauskünfte</p>
            <p class="well well-small"><strong>Sie willigen als Einzel-Kreditnehmer darin ein, dass die Bank (durch uns als Auftragsdatenverarbeiter)
                    Bonitätsauskünfte über Sie bei der Schufa, der Creditreform, arvato infoscore und/
                    oder Bürgel einholt und diesen Auskunfteien hierzu Ihren Namen, Ihr Geburtsdatum und Ihre
                    Adresse übermittelt. Sie willigen ferner als Einzel-Kreditnehmer darin ein, dass wir die weiteren
                    Scoring-Daten an die Bank zum Zwecke des Scorings übermitteln und die Bank (durch uns als Auftragsdatenverarbeiter) Ihre Scoring-Daten erhebt und für die Zwecke des Scorings verarbeitet
                    und nutzt sowie für die Zwecke der Verbesserung der Ermittlung eines Wahrscheinlichkeitswerts für den Kreditausfall in pseudonymisierter Form verarbeitet und nutzt.</strong></p>
            <h1>5. Einwilligung der Kreditnehmer-Vertreter, die eine Bürgschaft erteilen wollen</h1>
            <p>Haben Sie als Kreditnehmer-Vertreter im Rahmen des Registrierungsprozesses Ihre generelle Bereitschaft
                zur Erteilung einer Bürgschaft erklärt und ergibt das Rating der Bank, dass die Bank nur im Falle
                der Erteilung einer Bürgschaft zur Ausreichung eines Ratentilgungskredits bereit ist, übermitteln wir Ihre
                Kreditnehmer-Vertreter-Daten an die Bank und holen in deren Auftrag bei einer oder bei mehreren der
                Auskunfteien Auskünfte über Ihre Bonität und über das Vorliegen von Negativmerkmalen ein (nachfolgend
                „<strong>Bonitätsauskünfte</strong>“).</p>
            <p>Die Bank wird die Kreditnehmer-Vertreter-Daten und Bonitätsauskünfte in ihre Vorabprüfung und das in
                diesem Zusammenhang durchgeführte Rating einbeziehen.</p>
            <p>Wir werden eine Freischaltung des Kreditprojekts und die damit einhergehende Darstellung von Daten
                zum Kreditprojekt auf Zencap zur Berücksichtigung des Gebots der Datenvermeidung und Sparsamkeit
                nur dann ermöglichen, wenn die Bank aufgrund der Ergebnisse ihrer Vorabprüfung generell zur Gewährung
                eines Ratentilgungskredits an den Kreditnehmer bereit ist.</p>
            <p class="well well-small"><strong>Sie willigen darin ein, dass wir die Kreditnehmer-Vertreter-Daten an die Bank zum Zwecke der
                    Einholung der Bonitätsauskünfte und Verarbeitung und Nutzung im Rahmen der Vorabprüfung
                    übermitteln. Sie willigen ferner darin ein, dass die Bank (durch uns als Auftragsdatenverarbeiter)
                    Bonitätsauskünfte über Sie bei der Schufa, und/oder der Creditreform, arvato infoscore
                    und/oder Bürgel einholt, diesen Auskunfteien hierzu Ihren Namen, Ihr Geburtsdatum
                    und Ihre Adresse übermittelt und die Kreditnehmer-Vertreter-Daten und Bonitätsauskünfte
                    im Rahmen und für die Zwecke der Vorabprüfung erhebt, verarbeitet und nutzt. Sie willigen
                    schließlich darin ein, dass wir Ihre Bereitschaft zur Bürgschaftserteilung bei Freischaltung des
                    Kreditprojekts – wie unten beschrieben – auf Zencap veröffentlichen.</strong></p>
            <h1>6. Veröffentlichung von Daten auf Zencap</h1>
            <p>Falls Sie das Kreditprojekt freischalten, werden die folgenden Daten auf Zencap zur Einsicht durch alle
                Besucher der Plattform angezeigt:</p>
            <ul>
                <li><em>Branche, Rechtsform, Unternehmensalter, Region, Umsatz- und Mitarbeiterzahlen der letzten Berichtsperiode
                        des Kreditnehmers, die Bereitschaft zur Erteilung einer Bürgschaft durch Geschäftsführer und/oder
                        Gesellschafter und/oder Dritte.</em></li>
                <li><em>Titel des Kreditprojekts, Kredithöhe, Kreditlaufzeit, Zinssatz, Angaben zur Zencap Risikoklasse, Verwendungszweck
                        des Kredits (Betriebsmittelfinanzierung, Kauf von Vermögenswerten, Expansion, Ausgleich von
                        Steuer- und Sozialversicherungsverbindlichkeiten, andere Verwendungszwecke), Finanzierungsquote sowie
                        verbleibender Zeitraum, innerhalb dessen das Kreditprojekt auf Zencap freigeschaltet ist, verbleibende
                        Finanzierungsdauer.</em></li>
            </ul>
            <p>Darüber hinaus können die folgenden Daten durch registrierte Nutzer von Zencap eingesehen werden:</p>
            <p><em>Unternehmensprofil, Beschreibung des Kreditprojekts, Erklärung warum der Kreditnehmer kreditwürdig
                    ist sowie ggf. Bild- und Videomaterial zum Unternehmen des Kreditnehmers , detaillierte Angaben zu
                    Bonitätsscore, Bonitätshistorie und Risikoklasse, Finanzzahlen (Bilanz und GuV) der letzten 3 (mind. 2)
                    Berichtsperioden des Kreditnehmers sowie relevante Kennzahlen.</em></p>
            <p><em>Auf Wunsch des Kreditnehmer-Vertreters oder Einzel-Kreditnehmers wird auch die Firma des Kreditnehmers
                    auf Zencap angezeigt.</em></p>
            <h1>7. Weitergabe von Daten an Zencap Connect GmbH und Vorbereitung von
                Vertragsunterlagen</h1>
            <p>Wie in den Nutzungsbedingungen näher beschrieben, erwerben die Anleger bei Zustandekommen des
                Kreditprojekts und Gewährung des Ratentilgungskredits durch die Bank einen Teil der Forderung der
                Bank gegen den Kreditnehmer über unser Partnerunternehmen, die Zencap Connect GmbH, Schreiberhauer Straße 30,
                10317 Berlin, eingetragen im Handelsregister des Amtsgerichts Charlottenburg unter
                HRB 154839 B, (nachfolgend „<strong>Zencap Connect</strong>“). Um den Abschluss des Forderungskaufvertrages zwischen
                den Anlegern und der Zencap Connect zu ermöglichen, übermitteln wir die hierzu erforderlichen
                Daten, d.h. den Titel des Kreditprojekts, die Identifikationsnummer des Kreditprojekts, den Kreditbetrag,
                die Anzahl der Monatsraten und den Sollzinssatz an die Zencap Connect, die gegebenenfalls
                einen Rückschluss auf Ihre Person zulassen und die diese den Anlegern gegenüber offenlegt.
                Darüber hinaus übermitteln wir eine für jede zur Besicherung eines Ratenkredits erteilte Bürgschaft
                zugewiesene Identifikationsnummer an Zencap Connect.</p>
            <p>Nach Zustandekommen des Kreditprojekts verarbeiten und nutzen wir Ihre Einzel-Kreditnehmer-Daten,
                Kreditnehmer-Vertreter-Daten und die Kreditprojekt-Daten um die notwendigen Vertragsunterlagen für den Abschluss eines Kredit- und ggf. Bürgschaftsvertrages mit der Bank zu erzeugen. Sofern erforderlich,
                werden wir mit Ihnen unter Verwendung Ihrer Einzel-Kreditnehmer-Daten oder Kreditnehmer-Vertreter
                Daten hierzu Kontakt aufnehmen, um etwa erforderliche weitere Daten für die Vorbereitung der Vertragsunterlagen
                zu erfragen.</p>
            <p>Nach Abschluss des Kreditvertrags zwischen dem Kreditnehmer und der Bank verarbeiten und nutzen
                wir ferner Ihre Kreditnehmer-Vertreter-Daten sowie diejenigen Kreditdaten, die wir für die Zwecke der
                Verwaltung der Forderungen für die Anleger von diesen erhalten (wie bspw. fällige aber nicht gezahlte
                Darlehensraten) insbesondere, um die Anleger im Fall der Beitreibung der Forderungen zu unterstützen.</p>
            <h1>8. Regelungen für Anleger</h1>
            <p>Wenn Sie sich als Anleger auf Zencap registrieren und damit einen Nutzungsvertrag über Zencap mit uns
                abschließen oder hierbei als Vertreter eines Unternehmer-Anlegers handeln und dadurch einen Nutzungsvertrag
                zwischen dem von Ihnen vertretenen Unternehmen und uns abschließen, erheben wir die
                folgenden Daten und speichern sie in Ihrem Nutzerprofil (nachfolgend „<strong>Anleger-Daten</strong>“):</p>
            <ul>
                <li><em>Geschlecht (Anrede), Vornamen, Nachname, Adresse (Straße, Hausnummer, Postleitzahl, Stadt), Geburtsdatum,
                        Mobilfunknummer, Ihre Bankverbindung (Kontoinhaber, Kontonummer, Bankleitzahl, BIC, IBAN), Ihre
                        Kreditkartendaten (Kreditkartennummer, Gültigkeitsdatum und Sicherheitsnummer), Ihre E-Mailadresse,
                        Ihre IP-Adresse und ein von Ihnen gewähltes Passwort zur Registrierung auf Zencap der Einzel-Anleger.</em></li>
                <li><em>Firma, Rechtsform, Handelsname (optional), Website (optional), Adresse, gegebenenfalls Handelsregister
                        und Handelsregisternummer, Umsatzsteuer-ID (optional), sowie die Bankverbindung des Kreditnehmers
                        (Kontoinhaber, BIC, IBAN) des Unternehmer-Anlegers.</em></li>
                <li><em>Vornamen, Nachname, Geburtsdatum, Geburtsort/-land, Staatsangehörigkeit(en), Erwerbssituation (Selbständig,
                        Angestellter, Angestellter Geschäftsführer) und Wohnanschrift sowie Geschäftsanschrift (Straße,
                        Hausnummer, Postleitzahl, Stadt), Geburtsort, Nationalität, sowie Identifikationsdaten wie Art des Ausweispapiers
                        (Reisepass oder Personalausweis), Nummer, Ausstellungsort und Ausstellungsdatum des/der
                        Zeichnungsberechtigten des Unternehmer-Anlegers.</em></li>
            </ul>
            <p>Wenn Sie unter Verwendung von Zencap ein Vertragsformular für die Eröffnung eines sogenannten
                „<strong>Anleger-Bankkontos</strong>“ bei der Bank erzeugen und durch uns an die Bank übersenden wollen, erheben,
                verarbeiten und nutzen wir außerdem die folgenden Daten (nachfolgend „<strong>Anleger-Bankkonto-Daten</strong>“):</p>
            <p><em>Ihren Geburtsort und Ihre Nationalität, sowie Identifikationsdaten wie Art des Ausweispapiers (Reisepass
                    oder Personalausweis), Nummer, Ausstellungsort und Ausstellungsdatum.</em></p>
            <p>Soweit Sie uns nicht eine freiwillige Einwilligung für eine weitere Nutzung erteilt haben oder für eine
                solche Verarbeitung oder Nutzung ein gesetzlicher Erlaubnistatbestand besteht, verarbeiten und nutzen
                wir Ihre Anleger-Daten und Anleger-Bankkonto-Daten nur, soweit dies für die ordnungsgemäße Erfüllung
                unseres Nutzungsvertrages über Zencap mit Ihnen und zu Ihrer Unterstützung bei Eröffnung des
                Anleger-Bankkontos bei der Bank erforderlich ist. Hierzu gehört bspw. auch die Übermittlung Ihrer
                Anleger-Daten an Zencap Connect für die Zwecke des Abschlusses und der Durchführung des Forderungskaufvertrages,
                die Speicherung und Darstellung Ihrer aktuellen Investitionsaktivitäten in Ihrem
                Starter-Konto sowie der Abgleich freigegebener Kreditprojekte mit den von Ihnen im Anlagen-Manager
                hinterlegten Vorauswahlkriterien für die Auswahl von Investitionen.</p>
            <h1>9. Widerruf der Einwilligungen</h1>
            <p class="well well-small"><strong>Sie können die in dieser Datenschutzerklärung gegenüber der Bank sowie jede uns gegenüber
                    abgegebene Einwilligung zur Erhebung, Verarbeitung und Nutzung personenbezogener Daten
                    bis zum Zustandekommen des Kreditvertrags schriftlich oder per E-Mail mit Wirkung für die
                    Zukunft widerrufen.
                    In diesem Fall werden wir und/oder die Bank eine weitere Verarbeitung und Nutzung Ihrer
                    personenbezogenen Daten abbrechen und diese löschen bzw. sperren, soweit wir nicht
                    aufgrund gesetzlicher Bestimmungen zu einer weiteren Verarbeitung, insbesondere einer
                    weiteren Speicherung verpflichtet sind. Eine Freischaltung des Kreditprojekts bzw. der
                    Abschluss eines Kreditvertrags ist in diesem Falle nicht möglich.
                    Bitte richten Sie einen schriftlich gegenüber uns oder gegenüber der Bank erklärten Widerruf
                    an Zencap Deutschland GmbH, Schreiberhauer Straße. 30, 10317 Berlin, Deutschland bzw. Ihren Widerruf
                    per E-Mail an <a href="mailto:widerruf@zencap.de">widerruf@zencap.de</a>. Wir werden Ihren an die Bank gerichteten Widerruf im
                    Auftrag der Bank entgegennehmen und an die Bank weiterleiten.</strong></p>
        </div>
    </div>
</div>

{% endblock %}