{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page borrower">
    <div class="container-wrapper header-top fees">
        <div class="container">
            <div class="row main-title">
                <div class="col-xs-12">
                    <h1 class="text-white">Transparenter Online-Kredit <br>ohne Fallstricke</h1>

                    <p>Zencap ist der verlässliche <br/>Finanzierungspartner für Ihr
                        Unternehmen</p>
                </div>
                <div class="desp-48"></div>
                <div class="col-xs-5 col-xs-offset-8">
                    <p>Goetz Kanis hat mit 50.000 € von <br/>102
                        Investoren seinen Vertrieb erweitert</p>
                </div>
            </div>
        </div>
    </div>


    <div class="container-wrapper loan-types">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <table class="table">
                        <caption>Maximaler Service</caption>
                        <thead>
                        <tr>
                            <th>Leistung</th>
                            <th>Kosten</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Zencap-Konto</td>
                            <th class="text-orange">kostenlos</th>
                        </tr>
                        <tr>
                            <td>Kreditangebot</td>
                            <th class="text-orange">kostenlos</th>
                        </tr>
                        <tr>
                            <td>Individuelle Beratung</td>
                            <th class="text-orange">kostenlos</th>
                        </tr>
                        <tr>
                            <td>Vorzeitige Rückzahlung</td>
                            <th class="text-orange">kostenlos</th>
                        </tr>
                        <tr>
                            <td>Bonitätsprüfung</td>
                            <th class="text-orange">kostenlos</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <table class="table">
                        <caption>Faire Zinsen</caption>
                        <thead>
                        <tr>
                            <th>Bonitätsklasse</th>
                            <th>Nominalzins</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>A+</td>
                            <th class="text-orange">3,99 % - 5,99 %</th>
                        </tr>
                        <tr>
                            <td>A</td>
                            <th class="text-orange">4,48 % - 6,80 %</th>
                        </tr>
                        <tr>
                            <td>B</td>
                            <th class="text-orange">5,41 % - 8,44 %</th>
                        </tr>
                        <tr>
                            <td>C</td>
                            <th class="text-orange">7,30 % - 11,91 %</th>
                        </tr>
                        <tr>
                            <td>C-</td>
                            <th class="text-orange">11,32 % - 15,64 %</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <table class="table">
                        <caption>Transparente Gebühren *</caption>
                        <thead>
                        <tr>
                            <th>Laufzeit</th>
                            <th>Gebühren</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>6 Monate</td>
                            <th class="text-orange">1 %</th>
                        </tr>
                        <tr>
                            <td>12 Monate</td>
                            <th class="text-orange">2 %</th>
                        </tr>
                        <tr>
                            <td>24 Monate</td>
                            <th class="text-orange">3 %</th>
                        </tr>
                        <tr>
                            <td>36 Monate</td>
                            <th class="text-orange">4 %</th>
                        </tr>
                        <tr>
                            <td>48/60 Monate</td>
                            <th class="text-orange">4,5 %</th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>
                        <small>* Die Gebühren sind einmalig auf den gesamten Kreditbetrag zu entrichten.</small>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p>Unser Ansatz: Eine Finanzierung für Ihr Unternehmen muss nicht langwierig und kompliziert sein.
                        Stellen Sie Ihren Kreditantrag in nur 15 Minuten. Liegen uns Ihre Unterlagen vor, treffen wir
                        eine Kreditentscheidung in maximal 48 Stunden. Unsere Schnelligkeit ist Ihre
                        Planungssicherheit.</p>

                    <p>Wir legen unsere Kosten transparent offen. Die persönliche Beratung durch Ihren <a
                            href="/contact" target="_blank">Ansprechpartner</a> und unsere Bonitätsprüfung sind
                        vollständig kostenfrei. Erst bei Auszahlung Ihres Darlehens erheben wir die ausgewiesene
                        Vermittlungsgebühr.</p>

                    <p>Damit Ihr Aufwand gering ist, finden Sie auf dieser Seite die wesentlichen Bausteine für eine
                        Kreditfinanzierung über Zencap zusammengefasst.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-brrwr" href="/loan-request/register#baseForm">Jetzt Kredit beantragen</a>
                </div>
            </div>

        </div>
    </div>

    <div class="container-wrapper borrower-steps odd">
        <div class="container">
            <h2 class="faux-h1 text-center">In drei Schritten zu Ihrem schnellen Kredit</h2>

            <div class="row">
                <p class="col-xs-6 col-xs-offset-3 col-lg-2 col-lg-offset-1">
                    <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/borrower/anfrage.png">
                </p>
                <h3 class="col-xs-12 text-center">Anfrage stellen</h3>

                {#<p class="col-xs-4"
                   style="border-top: solid #c2b9b1 2px; width: 232px;margin-left: -13px;margin-right: -20px;margin-top: 62px;"></p>#}
                <hr class="middle-line col-xs-12 hidden-sm hidden-md col-lg-2"/>

                <p class="col-xs-6 col-xs-offset-3 col-lg-2">
                    <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/borrower/finanzierung.png">
                </p>

                <h3 class="col-xs-3 col-sm-3">Finanzierungszusage erhalten</h3>

                {#<p class="col-xs-4"
                   style="border-top: solid #c2b9b1 2px; width: 193px;margin-left: -13px;margin-right: 0px;margin-top: 62px;"></p>#}
                <hr class="middle-line col-xs-12 hidden-sm hidden-md col-lg-2"/>


                <p class="col-xs-6 col-xs-offset-3 col-lg-2">
                    <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/borrower/geldingang.png">
                </p>

                <h3 class="text-center col-xs-12">Geldeingang verbuchen</h3>
            </div>
            {#<div class="row">
                <div class="hidden-xs hidden-sm hidden-md col-lg-3 col-lg-offset-1">

                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3 col-lg-offset-1">

                </div>
                <div class="hidden-xs hidden-sm hidden-md col-lg-3 col-lg-offset-1">

                </div>
            </div>#}
        </div>
    </div>

    <div class="container-wrapper apply">
        <div class="container">
            <div class="row">
                {# <div class="col-xs-3 col-sm-2 col-md-1">
                     &#123;&#35;<img src="/bundles/intloopdeweblayout/frontend/images/cms/rates-and-fees-borrower/borrower-step-1.png"
                         alt="">&#35;&#125;
                     <img src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlenddeweblayout/frontend/images/cms/borrower/borrower-benefit-1.png" alt=""/>
                 </div>#}
                <div class="col-xs-12">
                    <img class="pull-left"
                         src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlenddeweblayout/frontend/images/cms/borrower/borrower-benefit-1.png"
                         alt=""/>

                    <h3 class="title-lead col-xs-8 col-sm-10">Finanzierungsanfrage stellen</h3>

                </div>

                <div class="col-xs-12 col-md-11 col-md-offset-1">
                    <p><strong>Mindestvoraussetzungen</strong></p>

                    <p>Nur Unternehmen mit einem jährlichen Umsatz von mehr als durchschnittlich 100.000 €, die
                        mindestens zwei Jahre alt sind und nach HGB bilanzieren, können einen schnellen Online-Kredit
                        bei Zencap beantragen. </p>

                    <p><strong>Unternehmensangaben</strong></p>

                    <p>Um ein Bild von Ihrem Unternehmen zu erhalten, teilen Sie uns bitte einige Informationen zu Ihrer
                        Firma mit und machen Sie auch Angaben zu der Kredithöhe, dem Verwendungszweck und der Laufzeit.
                        Wichtig: Seien Sie sich bei der Wahl der Kreditdauer der Ertragslage Ihres Unternehmens bewusst.
                        So stellen Sie sicher, dass Sie Ihr Darlehen bedienen können. </p>

                    <p><strong>Wie sollten Sie Ihre Kreditlaufzeiten bestimmen?</strong></p>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Finanzierungsdauer</th>
                            <th class="hidden-xs">Finanzierungsart</th>
                            <th>Dauer</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="text-orange">Kurzfristig</th>
                            <td class="hidden-xs">Auftragsfinanzierung, <br>Vorfinanzierung, <br>Projektfinanzierung</td>
                            <th>6 Monate</th>
                        </tr>
                        <tr>
                            <th class="text-orange">Mittelfristig</th>
                            <td class="hidden-xs">Liquidität, Betriebsmittel, <br>Vorräte wie Lageraufstockung</td>
                            <th>1 bis 2 Jahre</th>
                        </tr>
                        <tr>
                            <th class="text-orange">Langfristig</th>
                            <td class="hidden-xs">Finanzierung von Maschinen,<br> Fahrzeugen, Software, <br>Lizenzen sowie Betriebs- und
                                Geschäftsausstattung
                            </td>
                            <th>3 bis 5 Jahre</th>
                        </tr>
                        </tbody>
                    </table>

                    <p><strong>Unterlagen</strong></p>

                    <p>Um mit der Prüfung zu beginnen, benötigen wir die letzten zwei Jahresabschlüsse und eine aktuelle
                        BWA. </p>

                    <div class="facts">
                        <div id="accordion-1" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#collapse-1" data-parent="#accordion-1"
                                           data-toggle="collapse">
                                            Wussten Sie, dass…
                                            <i class="indicator icon-plus-sign icon-minus-sign pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="collapse-1">
                                    <div class="panel-body">
                                        …Sie sich jederzeit telefonisch oder per E-Mail an Ihren persönlichen <a
                                            href="/contact" target="_blank">Ansprechpartner</a> wenden können? Während
                                        des gesamten Anfrage- und Finanzierungsprozesses steht dieser Ihnen beratend zur
                                        Seite.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--<div class="facts">
                        <div id="accordion-2" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#collapse-2" data-parent="#accordion-2" data-toggle="collapse">
                                            Hilft Ihnen Ihr persönlicher Ansprechpartner
                                            <i class="indicator icon-plus-sign icon-minus-sign pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="collapse-2">
                                    <div class="panel-body">
                                        Lorem Ipsum
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <!--<div class="row info-box orange-info-box">
                        <div class="span1 info-icon">&nbsp;</div>
                        <div class="span10">
                            <h3>Checkliste zum Kreditantrag</h3>
                            <ul class="styled">
                                <li>Haben Sie den Online-Kreditantrag ausgefüllt?</li>
                                <li>Haben Sie auf „Jetzt unverbindlich Kreditangebot anfordern“ geklickt?</li>
                                <li>Haben Sie alle nötigen Dokumente hochgeladen?</li>
                            </ul>

                        </div>
                    </div>-->

                    <!--<div class="row">
                        <div class="span12">
                            <p><strong>Dann haben Sie bei Zencap erfolgreich einen Kredit online beantragt. Wir melden uns in Kürze bei Ihnen!</strong></p>
                        </div>
                    </div>-->

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-brrwr" href="/loan-request/register#baseForm">Jetzt Kredit
                        beantragen</a>
                </div>
            </div>

        </div>
    </div>

    <div class="container-wrapper assess odd">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                   {# <img class="pull-left"
                        src="/bundles/intloopdeweblayout/frontend/images/cms/rates-and-fees-borrower/borrower-step-2.png"
                        alt="">#}

                    <img class="pull-left"
                         src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlenddeweblayout/frontend/images/cms/borrower/borrower-benefit-1.png"
                         alt=""/>
                        <h3 class="title-lead col-xs-8 col-sm-10">Finanzierungszusage erhalten</h3>
                </div>
                <div class="col-xs-12 col-md-11 col-md-offset-1">
                    <p>Liegt uns der vollständige Antrag vor, prüfen wir diesen innerhalb von 48 Stunden und treffen
                        eine Kreditentscheidung. Unsere Kreditanalysten bewerten die Bonität Ihres Unternehmens
                        individuell. Bei Rückfragen melden sich unsere Kreditanalysten bei Ihnen persönlich. </p>
                    <p>Bei erfolgreicher Prüfung Ihrer Finanzierungsanfrage, senden wir Ihnen umgehend die detaillierten
                        Angebotskonditionen per E-Mail zu. Bestätigen sie diese und schalten Sie mit einem Klick Ihr
                        Projekt direkt frei.</p>
                </div>
            </div>

        </div>
    </div>

    <div class="container-wrapper funds">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {#<img
                        src="/bundles/intloopdeweblayout/frontend/images/cms/rates-and-fees-borrower/borrower-step-3.png"
                        alt="">#}
                    <img class="pull-left"
                         src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlenddeweblayout/frontend/images/cms/borrower/borrower-benefit-1.png"
                         alt=""/>
                    <h3 class="title-lead col-xs-8 col-sm-10">Geldeingang verbuchen</h3>

                </div>
                <div class="col-xs-12 col-md-11 col-md-offset-1">

                    <p>Ist Ihr Kreditprojekt vollständig finanziert, versenden wir umgehend Ihren Kreditvertrag. Dieser
                        kommt mit der
                        <a href="http://www.wirecardbank.de/" target="_blank">Wirecard</a> zustande, unserer
                        börsennotierten Partnerbank. Nachdem Sie den Vertrag erhalten haben, schicken Sie diesen bitte
                        innerhalb von maximal 10 Werktagen an uns zurück, da die investierten Gelder nur für diesen
                        Zeitraum reserviert sind. Nach dem Eingang der Unterlagen wird das Darlehen innerhalb weniger
                        Werktage auf Ihr Konto überwiesen. </p>

                    <p>Die Rückzahlung erfolgt bequem per Lastschrift. Im Falle eines drohenden Zahlungsverzugs
                        informieren Sie uns bitte frühzeitig, damit wir gemeinsam eine Lösung finden.</p>

                    <div class="facts">
                        <div id="accordion-3" class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" href="#collapse-3" data-parent="#accordion-3"
                                           data-toggle="collapse">
                                            Wussten Sie, dass..
                                            <i class="indicator icon-plus-sign icon-minus-sign pull-right"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div class="panel-collapse collapse" id="collapse-3">
                                    <div class="panel-body">
                                        … Sie über Zencap mehrere Kredite in einem Jahr aufnehmen können? Bereits nach
                                        Ablauf von sechs Monaten können Sie erneut eine Finanzierung online beantragen.
                                        Ihr persönlicher
                                        <a href="/contact">Ansprechpartner</a> gibt Ihnen gern genauere Informationen.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 text-center">
                    <p><a href="/loan-request/register#baseForm" type="submit"
                          class="btn btn-lg btn-brrwr" id="loan-submit-2">Jetzt Kredit beantragen</a></p>

                    <p>Oder noch <a href="/kreditnehmer-hilfe-16.html?faq">Fragen zum Thema?</a></p>
                </div>
            </div>
        </div>
    </div>


    </div>

{% endblock %}