{% extends 'layout.html.twig' %}

{% block body %}

    <div class="cms-page investor">
        <div class="container-wrapper fees">
            <div class="container spacing">
                <h1 class="text-center">Attraktive Renditen bei Zencap</h1>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 cancel-padding">
                        <div class="padding-box">
                            <ul class="styled">
                                <li>Attraktive Renditen</li>
                                <li>Unterstützung des Mittelstandes</li>
                                <li>Monatliche Rückzahlungen</li>
                            </ul>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Rendite</td>
                                        <td>2,99 % - 14,64 %</td>
                                    </tr>
                                    <tr>
                                        <td>Anleger-Konto</td>
                                        <td class="text-borrower-dark">kostenlos</td>
                                    </tr>
                                    <tr>
                                        <td>Servicegebühr</td>
                                        <td>1,0 <small>Prozentpunkte vom Zinssatz</small></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <a  href="/register/lender" class="btn btn-lg btn-nvstr" type="submit">Jetzt investieren</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper loan-types">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Ihre Rendite nach Anlageklassen - bei Zencap haben Sie die Wahl</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-7 cancel-padding">
                        <div class="table-responsive">
                            <table class="table">
                            <thead>
                            <tr>
                                <th>Zencap-Klasse</th>
                                <th>Zinssatz</th>
                                <th>Investor-Rendite</th>
                                <th>Ausfallwahrscheinlichkeit<sup>1</sup></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><span class="grade grade-a-plus grade-large">A<span>+</span></span></td>
                                <td>3,99% - 5,99%</td>
                                <td>2,99% - 4,99%</td>
                                <td>0,03% - 1,04%</td>
                            </tr>
                            <tr>
                                <td><span class="grade grade-a grade-large">A</span></td>
                                <td>4,48% - 6,80%</td>
                                <td>3,48% - 5,80%</td>
                                <td>1,04% - 2,03%</td>
                            </tr>
                            <tr>
                                <td><span class="grade grade-b grade-large">B</span></td>
                                <td>5,41% - 8,44%</td>
                                <td>4,41% - 7,44%</td>
                                <td>2,03% - 4,01%</td>
                            </tr>
                            <tr>
                                <td><span class="grade grade-c grade-large">C</span></td>
                                <td>7,30% - 11,91%</td>
                                <td>6,30% - 10,91%</td>
                                <td>4,01% - 8,04%</td>
                            </tr>
                            <tr>
                                <td><span class="grade grade-c-minus grade-large">C-</span></td>
                                <td>11,32% - 15,64%</td>
                                <td>10,32% - 14,64%</td>
                                <td>8,04% - 12,17%</td>
                            </tr>
                            </tbody>
                        </table>
                        </div>
                        <small class="col-xs-12"><sup>1</sup> Die Ausfallwahrscheinlichkeit bezeichnet das durchschnittliche Risiko, mit dem innerhalb von 12 Monaten während der Laufzeit des Kredits mögliche Zahlungsstörungen auftreten. Diese Wahrscheinlichkeit entspricht nicht unmittelbar der Minderung Ihrer Investor-Rendite, da die tatsächliche Höhe des Verlusts von weiteren Faktoren, wie dem Zeitpunkt der Zahlungsstörung, dem Erfolg des Forderungsmanagements sowie dem Wert der geleisteten Bürgschaft abhängt. Damit ist der erwartete Verlust aus einer Anlage in der Regel kleiner als die angegebene Ausfallwahrscheinlichkeit.</small>
                    </div>
                    <div class="desp-20 hidden-md hidden-lg"></div>
                    <div class="col-xs-12 col-md-5">
                        <h3>Hohe Renditen</h3>
                        <p>Je nachdem, ob Sie als Investor konservativ oder progressiv anlegen, ergeben sich für Sie verschieden hohe Renditen. Je höher das Risiko, desto höher ist der Zinssatz und damit die Rendite, die Sie erhalten. Wählen Sie das Risikolevel, das am besten zu Ihren Bedürfnissen passt und behalten Sie die volle Kontrolle über Ihre Investments.</p>
                        <h3>Transparente Risiken</h3>
                        <p>Die Unternehmen, in die Sie investieren können, sind je nach Ausfallrisiko in die fünf Zencap-Anlageklassen A+ bis C- eingeteilt. Die Einteilung basiert auf der durchschnittlichen, geschätzten Wahrscheinlichkeit, dass bei der Rückzahlung des Kredits Zahlungsstörungen auftreten, d.h. der Kredit nicht bzw. nicht vollständig zurückgezahlt werden kann. Ein Beispiel: Wenn Sie in 100 Kredite der Klasse A+ investieren, müssen Sie bei 0,75 Krediten mit eingeschränkter bzw. ausbleibender Rückzahlung rechnen.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper odd blockquote">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <blockquote>
                            <p>Als Investor bei Zencap erhalten Sie monatliche Rückzahlungen. Um die Rendite aus Ihrem Investment zu optimieren, können sie diese Rückzahlungen direkt in neue kreditwürdige Unternehmen re-investieren. So stellen Sie sicher, dass Ihr Geld zu jedem Zeitpunkt optimal für Sie arbeitet.</p>
                            <p><em>Ihr Zencap-Team</em></p>
                        </blockquote>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-md-offset-1">
                        <img alt="" src="/bundles/intlendweblayout/frontend/images/cms/tipp.png" class="img-circle">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Maßnahmen im Fall eines Zahlungsverzugs</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Aktives Forderungsmanagement</h3>
                        <p>Im Falle einer verspäteten Rückzahlung übernimmt Zencap das aktive Forderungsmanagement. Die Ihnen zustehenden Beträge werden durch einen strengen Mahnungsprozess gegenüber den Unternehmen angefordert. Sollte ein Unternehmen seine Raten dennoch nicht innerhalb dieser Frist begleichen, arbeiten wir eng mit externen Inkassoexperten zusammen. So stellen wir auch im Falle eines Zahlungsausfalls sicher, dass Ihre Interessen als Investor optimal vertreten werden. </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3>Verwertung der geleisteten Bürgschaft</h3>
                        <p>Eine Kernvoraussetzung, um einen Kredit über Zencap zu beantragen, ist die Bereitschaft eines jeden Unternehmers, für diesen Kredit mit seinem persönlichen Vermögen zu bürgen. Damit haben Sie als Investor noch eine zusätzliche Sicherheit, sollte ein Unternehmen seinen Kredit nicht zurückzahlen können. Zencap kümmert sich im Fall eines Ausfalls um die optimale Verwertung dieser Bürgschaft. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper odd">
            <div class="container text-center spacing">
                <a href="/register/lender" class="btn btn-lg btn-nvstr" type="submit">Jetzt investieren</a>
                <div class="desp-10"></div>
                <p>Oder noch <a href="">Fragen zum Thema?</a></p>
            </div>
        </div>
    </div>

{% endblock body %}
