{% extends 'layout.html.twig' %}

{% block body %}

<style>

    .referral .main-image {
        background-image:url('https://d1x3gb5zl465n8.cloudfront.net/de/referral/03.jpg');
        background-color:#f4f6f7;
        background-position:50% 50%;
    }

    /*desktop */
    @media (min-width: 992px) {
        .referral .main-image h1 {
            font-size: 22px;
            line-height: 1.5;
        }

        .referral .main-image h3 {
            margin-top: -30px;
        }
    }

    /*  background height on mobile */
    @media (max-width: 767px) {
        .referral .main-image {
            height: 220px;
            background-size: cover;
            background-position: 9% 0;
        }
    }

    /* background height on tablet and desktop */
    @media (min-width: 768px) {
        .referral .main-image {
            min-height: 336px;
        }
    }

    /* mobile */
    @media (min-width: 320px) and (max-width: 767px) {
        .referral .special-buttons .btn-lg {
            font-size: 1em;
            padding: 5px 16px;
        }
    }

    .referral .bubbles {
        margin-top: -70px;
    }

    /* mobile */
    @media (min-width: 320px) and (max-width: 767px) {
        .referral .bubbles img {
            width: 75%;
        }
    }

    .referral .tiles .borrower,
    .referral .tiles .investor {
        padding: 0 35px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        .referral .tiles .borrower,
        .referral .tiles .investor {
            padding: 0 15px;
        }
    }

    .referral .tiles .styled {
        padding-bottom: 20px;
        margin-bottom: 0;
        margin-left: -40px;
    }

    .referral .borrower h3 {
        color: #F18C19;
    }

    .referral .investor h3 {
        color:#189bf2;;
    }

    .referral .tiles .styled li {
        border-bottom: 1px solid #edf0f2;
    }

    .referral .tiles .styled li:before {
        content: "\f058";
    }

    .referral .tiles .styled li:last-of-type {
        border-bottom: 0 none;
    }


</style>

<div class="cms-page referral">

    <div class="container-wrapper main-image">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-7">
                    <h1>Ein Freund empfiehlt Ihnen Zencap, Deutschlands führenden Kreditmarktplatz, der Unternehmen direkt mit Investoren zusammenbringt</h1>
                    <h3 class="hidden-xs">Melden Sie sich gleich an und sichern Sie<br>
                        sich Ihre exklusive Willkommensprämie.</h3>
                </div>
            </div>
        </div>
    </div><!-- end .main-image -->

    <div class="container-wrapper bubbles">
        <div class="container">
            <div class="row text-center">
                <div class="col-xs-6">
                    <img alt="Bis zu 1000 €" src="https://d1x3gb5zl465n8.cloudfront.net/de/referral/bundles/newdate/bubble-1000.png">
                    <div class="special-buttons page-head">
                        <a href="/borrower-getting-started" class="text-center btn btn-lg btn-brrwr">Jetzt
                            Zinssatz ermitteln</a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <img alt="25 €" src="https://d1x3gb5zl465n8.cloudfront.net/de/referral/bundles/newdate/bubble-25.png">
                    <div class="special-buttons page-head">
                        <a href="/lender-getting-started" class="btn btn-lg btn-nvstr">Jetzt
                            Geld investieren</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .bubbles -->

    <div class="container-wrapper hidden-xs visible-sm visible-md visible-lg tiles">
        <div class="container spacing">
            <div class="row">
                <div class="pull-down">
                    <div class="hidden-xs col-sm-6 col-md-6">
                        <div class="white-box">
                            <div class="borrower">
                                <h3 class="text-center">Unverbindlich als Kreditnehmer bewerben
                                und bis zu 1.000 € sparen *</h3>
                                <div class="desp-20"></div>
                                <p><strong>Innovative Unternehmenskredite</strong></p>
                                <ul class="styled">
                                    <li>Kredite bis 250.000 € ab 3,99 % Zinsen p.a.</li>
                                    <li>Verlässlichkeit: Kreditentscheidung nach 48 Stunden</li>
                                    <li>Keine Gebühren bei vorzeitiger Kreditablösung</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end .hidden-xs col-sm-6 col-md-6 -->

                    <div class="hidden-xs col-sm-6 col-md-6">
                        <div class="white-box">
                            <div class="investor">
                                <h3 class="text-center">Kostenfrei als Investor registrieren -
                                    25 € Prämie sichern *</h3>
                                <div class="desp-20"></div>
                                <p><strong>Neue Anlageklasse</strong>s</p>
                                <ul class="styled">
                                    <li>Attraktive Nettorenditen von Ø 5,58 % p.a.</li>
                                    <li>Kreditanalyse nach höchsten Bankenstandards</li>
                                    <li>Hohe Liquidität durch monatliche Rückzahlungen</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .tiles -->

    <div class="container-wrapper odd how-zencap-works">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Geld leihen, Geld investieren: das Zencap-Prinzip</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-0"><img class="img-responsive"
                                                                                              src="https://d1x3gb5zl465n8.cloudfront.net/de/bundles/images/home/how-it-works2.png"
                                                                                              alt="How Zencap works">
                </div>
                <div class="desp-20 hidden-md hidden-lg"></div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    Wer erfolgreich Unternehmen führen will, braucht jemanden, der ihm die nötigen Finanzmittel zur Verfügung stellt. Wer sein Geld investieren will, braucht tragfähige Geschäftsideen, in die es sich anzulegen lohnt. Kurz gesagt: Unternehmer brauchen Investoren, so wie Investoren Unternehmen brauchen. Eine Bankfiliale braucht dabei niemand. Lediglich einen sicheren Ort, an dem man sich trifft. Einen Marktplatz. Oder noch unkomplizierter: Einen Onlinemarktplatz. Das ist Zencap.
                </div>
            </div>
        </div>
    </div><!-- end .how-zencap-works -->

    <div class="container-wrapper press-quotes hidden-xs">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 logos text-center">
                    <div id="homepageCarousel" class="carousel slide" style="min-height: 215px;">
                        <!-- Carousel items -->
                        <div class="carousel-inner row">
                            <div class="active item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/2014-07-01_boersen-zeitung_Zencap_brisantes-Finanzierungsneuland.pdf"
                                   target="_blank"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/press/borsen.png"
                                                        alt="Börsenzeitung" class="img-responsive"></a>
                                <blockquote>
                                    <p>&nbsp;Das Zencap-Prinzip wird sich in Deutschland wie zuvor in Großbritannien und
                                        den USA etablieren. Mit der Fokussierung auf kleine Mittelständler greift Zencap
                                        das Geschäft an, in dem traditionelle Banken hauptsächlich ihr Geld
                                        verdienen.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>

                            <div class="item col-xs-12">
                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/140410_sueddeutsche-zeitung_das-problem-mit-dem-geld.pdf"
                                   target="_blank"><img
                                        src="https://d1x3gb5zl465n8.cloudfront.net/de/press/frankfurterallgemeine.png"
                                        alt="Frankfurter Allgemeine" class="img-responsive"></a>
                                <blockquote>
                                    <p>&nbsp;Experten halten Online-Kredite für Mittelständler für eine realistische
                                        Alternative zur klassischen Bankenfinanzierung (…). Vor allem für kleinere
                                        Unternehmen ist das Modell von Zencap interessant.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>


                            <div class="item col-xs-12">
                                <a href="http://www.handelsblatt.com/unternehmen/leasing-spezial/neue-samwer-plattform-jungunternehmer-finanzieren-den-mittelstand/9931626.html"
                                   target="_blank"><img
                                        src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/handelsblatt.png"
                                        alt="Handeslblatt" class="img-responsive"></a>
                                <blockquote>
                                    <p>Die Internetplattform Zencap vermittelt Darlehen an Firmen – nach gründlicher
                                        Bonitätsprüfung und zum Missfallen vieler Banken (…). Zwar laufen viele Prozesse
                                        <br>IT-gestützt, aber beim Bilanzcheck vertraut Zencap auf erfahrene Analysten.
                                    </p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>

                            <div class="item col-xs-12">

                                <a href="https://d1x3gb5zl465n8.cloudfront.net/de/press/articles/140410_sueddeutsche-zeitung_das-problem-mit-dem-geld.pdf"
                                   target="_blank"><img
                                        src="https://d1x3gb5zl465n8.cloudfront.net/de/press/suddeutsche_zeitung.png"
                                        alt="Süddeutsche Zeitung"></a>
                                <blockquote>
                                    <p>Die Finanzierung der vielen Mittelständler ist zunehmend ein Problem. Durchs
                                        Raster fallen die Unternehmen, die das Rückgrat des Wirtschaftsstandorts
                                        Deutschlands sind (...). In diese Lücke springen nun Internetplattformen wie
                                        Zencap.</p>

                                    <p class="text-center"><a href="/press" title="" target="_blank"><em>Zencap in der
                                                Presse</em></a></p>
                                </blockquote>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .press-quotes -->

    <div class="container-wrapper odd blockquote">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Echte Alternative zu traditionellen Banken</h2>

            <div class="row">
                <div class="hidden-xs hidden-sm col-md-5">
                    <blockquote>
                        <p>"In den ersten 12 Monaten konnten wir bereits Kredite im Wert von mehr als 13 Millionen Euro vollfinanzieren. Mit dieser Zahl setzen wir uns an die Spitze aller europäischen Kreditmarktplätze: kein anderer Online-Marktplatz hat dies im ersten Jahr seines Bestehens erreicht."</p>

                        <p><em>Dr. Matthias Knecht, Mitgründer und Geschäftsführer von Zencap</em></p>
                    </blockquote>
                </div>
                <div class="col-xs-12 col-md-7 cancel-padding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="534" height="300" src="https://www.youtube.com/embed/vcPdjNcUEvQ?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .blockquote -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>Ihr Unternehmenskredit</h3>

                    <p>Werden Sie unabhängiger von Banken.<br>
                        Bequem online und zu Top-Konditionen.</p>

                    <p><a href="/loan-request/register#baseForm" class="btn btn-lg btn-brrwr">Jetzt Kredit beantragen</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>Ihre Investition</h3>

                    <p>Profitieren Sie vom Erfolgsmodell Mittelstand.<br>
                        Attraktive Rendite und volle Transparenz.</p>

                    <p><a href="/register/lender/" class="btn btn-lg btn-nvstr">Jetzt Geld anlegen</a>
                    </p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <a id="tc"></a>
    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="accordion-group">
                <div class="accordion-heading"><a class="collapsed" href="#borrower-1" data-toggle="collapse" data-parent="#faq-collapse2"><i>↓</i>* Teilnahmebedingungen (zum Öffnen bitte klicken):</a></div>
                <div class="accordion-body collapse" id="borrower-1" style="height: auto;">
                    <div class="accordion-inner">
                        <ol>
                            <li>Dieses Angebot zum Erhalt einer Werbeprämie richtet sich an alle Zencap-Nutzer, die entweder als Kreditnehmer oder als Investor auf der Plattform www.zencap.de registriert sind. Wenn Zencap-Nutzer mittels einer individuellen URL, die sie im Zencap-Loginbereich erhalten, neue Zencap-Nutzer, die noch nicht auf der Plattform registriert sind, werben, indem sie diese URL weitergeben, dann erhalten sie eine Werbeprämie entsprechend der nachstehenden Bedingungen. Darüber hinaus erhalten die geworbenen Nutzer ebenfalls eine Willkommensprämie.</li>
                            <li>Um sich für die Auszahlung der Werbeprämie zu qualifizieren, müssen folgende Konditionen erfüllt sein:</li>
                            <ol type="a">
                                <li>Der geworbene Nutzer (Kreditnehmer/Investor) muss von einem bestehenden Zencap-Nutzeraccount (“werbender Nutzer”) zwischen 00:01 Uhr am 23.03.2015 und 23:59 Uhr am 31.05.2015 (die Aktionslaufzeit) geworben werden.</li>
                                <li>Der geworbene Nutzer (Kreditnehmer/Investor) wird bei seiner Registrierung im durch eine individuelle URL mit einer Empfehlungskennung des werbenden Nutzers identifiziert.Der geworbene Nutzer kann nicht bereits Zencap-Nutzer sein (Kreditnehmer/Investor), bevor er geworben wird.</li>
                                <li>Ein geworbener Investor muss zwischen 00:01 Uhr des 23.03.2015  und 23:59 Uhr des 31.05.2015 (die “Aktionslaufzeit”) mindestens 100 EUR bei Zencap in mindestens ein Kreditprojekt investieren, das anschließend auch tatsächlich zustande kommt. Der Zeitpunkt des Zustandekommens spielt dabei keine Rolle.</li>
                                <li>Ein geworbener Kreditnehmer muss zwischen 00:01 Uhr des 23.03.2015  und 23:59 Uhr des 31.05.2015 (die Aktionslaufzeit) einen qualifizierten Kreditantrag an Zencap gesendet haben. Ein qualifizierter Kreditantrag ist ein vollständig ausgefülltes Kreditnehmer-Formular, inkl. aller hochzuladenden Dokumente. Zencap behält sich das Recht vor, bewusst falsche, unfertige oder doppelte Kreditnehmer-Anträge bei der Kalkulation der Auszahlung der Werbeprämie auszuschließen.</li>
                            </ol>
                            <li><strong>Werbeprämie:</strong></li>
                            <ol type="a">
                                <li>Investor als werbender Nutzer:</li>
                                <ol type="i">
                                    <li>Für jeden erfolgreich geworbenen Investor (siehe Punkt 2d) erhält der werbende Zencap-Investor  eine Werbeprämie in Höhe von 25 Euro.</li>
                                    <li>Für jeden erfolgreich geworbenen Kreditnehmer (siehe Punkt 2e) erhält der werbende Zencap-Investor eine Werbeprämie in Höhe von 100 Euro.</li>
                                </ol>
                                <li>Kreditnehmer als werbende Nutzer</li>
                                <ol type="i">
                                    <li>Für jeden erfolgreich geworbenen Investor (siehe Punkt 2d) erhält der werbende Zencap-Kreditnehmer eine Werbeprämie in Höhe von 25 Euro, unabhängig von einem nächsten Zencap-Kredit.</li>
                                    <li>Für jeden erfolgreich geworbenen Kreditnehmer (siehe Punkt 2e) erhält der werbende Zencap-Kreditnehmer einen Rabatt auf seine Zencap-Gebühr in Höhe von 0,4 Prozentpunkten auf sein nächsten Kredit bei Zencap.</li>
                                </ol>
                                <li>Ein werbender Nutzer kann nicht mehr als zwei Werbeprämien für gewonnene Nutzer erhalten, die an derselben Adresse wie er/sie gemeldet sind.</li>
                                <li>Die Werbeprämie gemäß 3 a) und b) wird spätestens 45 Tage nach Ende der Aktionslaufzeit auf das bei Zencap angegebene Konto überwiesen.</li>
                                <li>Eine Barauszahlung oder Sachprämie ist nicht möglich.</li>
                                <li>Für jeden geworbenen Nutzer (Kreditnehmer oder Investor) kann nur eine Prämie gezahlt werden. Teilnehmer des Zencap Private Partner Networks (Affiliate-Netzwerk) erhalten bei Nutzung der Empfehlungskennung dieses Angebots keine zusätzliche Provision.</li>
                            </ol>
                            <li><strong>Willlkommensprämie</strong></li>
                            <ol type="a">
                                <li>Jeder erfolgreich geworbene Investor (siehe 2d) erhält eine Willkommensprämie in Höhe von 25 Euro.</li>
                                <li>Jeder erfolgreich geworbene Kreditnehmer erhält einen Rabatt auf seine Zencap-Gebühr in Höhe von 0,4 Prozentpunkten auf seinen nächsten Kredit bei Zencap.</li>
                                <li>Jeder gewonnene Nutzer (Kreditnehmer oder Investor) kann nur eine Willkommensprämie erhalten.</li>
                                <li>Die Willkommensprämie nach 4 a) wird spätestens 45 Tage nach Ende der Aktionslaufzeit auf das bei Zencap angegebene Konto überwiesen.</li>
                                <li>Eine Barauszahlung oder Sachprämie ist nicht möglich.</li>
                            </ol>
                            <li>Der geworbene und der werbende Nutzer müssen unterschiedliche Personen sein. Eine juristische Person darf nicht von einem ihrer Vertretungsorgane geworben werden.</li>
                            <li>Zencap behält sich das Recht vor, das Empfehlungsprogramm zu beenden, zu verlängern und/oder zu verändern. Alle Nutzer würden in einem solchen Fall per E-Mail darüber informiert.</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}

{% block js %}
    {{ parent() }}

    <script type="text/javascript">
        $(function() {
            $('.carousel').carousel({
                interval: 5000
            })
        });
    </script>

{% endblock %}
