{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page how-it-works">
    <div class="container">
        <div class="page-head">
            <h1 class="text-center">Direktkredite von Privatpersonen an kleine, mittelständische Unternehmen</h1>
        </div>
    </div>
    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 cancel-padding">
                    <div class="embed-responsive embed-responsive-16by9 resp-iframe cancel-padding">
                <iframe class="embed-responsive-item" src="//player.vimeo.com/video/89143761" width="940" height="529" allowfullscreen></iframe>
            </div>
                </div>
            </div>
            <div class="desp-48 hidden-xs"></div>
            <div class="row">
                <div class="hidden-xs col-sm-12">
                    <p class="faux-h2 text-center">Bedarf und Mittel, Unternehmer und Anleger:<br>Zencap bringt sie zusammen</p>
                </div>
            </div>
            <div class="row">
                <div class="hidden-xs col-sm-6">
                    <p>Kleine und mittlere Unternehmen sind der Wachstumsmotor der deutschen Wirtschaft. Dennoch ist der Zugang zu Krediten für sie oft eine Herausforderung – insbesondere im Vergleich zu Großkonzernen. Dies bestätigen auch aktuelle Umfragen der Europäischen Zentralbank: Trotz allgemein guter Wirtschaftslage klagen KMU 50% häufiger über Finanzierungshürden als große Firmen. Zencap korrigiert dieses Marktversagen.
                    </p>
                </div>
                <div class="hidden-xs col-sm-6">
                    <p>Über unseren Onlinemarktplatz versorgen wir kleine und mittelständische Unternehmen mit günstigen und flexiblen Krediten – frei von hohen Kosten und bürokratischem Aufwand wie man es von Banken kennt. Gleichzeitig bietet Zencap Investoren eine attraktive Möglichkeit, ihr Geld anzulegen und zwar zu höheren Renditen, als es mit einer zwischengeschalteten Bank möglich wäre. Gemeinsam schaffen KMU und Anleger Wohlstand und Arbeitsplätze.</p>
                </div>
            </div>
            <div class="desp-20 visible-xs hidden-sm hidden-md hidden-lg"></div>
            <div class="row">
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                    <a class="btn btn-lg btn-block btn-brrwr" type="submit" href="/loan-request/register#baseForm">Jetzt Kredit beantragen</a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md hidden-lg"></div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                    <a class="btn btn-lg btn-block btn-nvstr text-center" type="submit" href="/register/lender/">Jetzt Account eröffnen</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">So funktioniert's</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="/bundles/intloopweblayout/frontend/images/cms/how_it_works/how-it-works-borrower.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>Wie kann ich einen Kredit aufnehmen?</h3>
                    <p >Sie suchen nach einer verlässlichen und günstigen Alternative zu Ihrer Hausbank? Bei Zencap können Sie in wenigen Schritten Ihren Unternehmenskredit beantragen – sicher und bequem online. Wir prüfen Ihren Kreditantrag in wenigen Tagen und machen Ihnen ein Angebot mit Ihrer persönlichen Rate. Nehmen Sie unser Angebot an, können Investoren Ihren Kredit über unseren Marktplatz finanzieren. Ist die Finanzierung gesichert, erhalten Sie in kürzester Zeit Ihr Geld und zahlen anschließend in monatlichen Raten zurück. <a href="/unternehmen-erste-schritte-31.html">Erfahren Sie mehr...</a></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="/bundles/intloopweblayout/frontend/images/cms/how_it_works/how-it-works-zencap.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>Wie bringt Zencap Unternehmen und Investoren zusammen?</h3>
                    <p>Zencap bringt kleine und mittelständische Unternehmen direkt mit privaten Investoren zusammen – ohne den teuren Umweg über einen Bankschalter. Als Onlinemarktplatz für innovative Mittelstandsfinanzierung verbindet Zencap die Vorteile des Internets mit der Sicherheit traditioneller Unternehmensfinanzierung. Bequemes Beantragen und Investieren ohne eine Filiale, qualitätsgeprüfte Kreditprojekte auf Basis strenger Bonitätsanalysen, transparente Gebühren und Risiken als Garanten, dass Unternehmen und Investoren jederzeit die volle Kontrolle haben. <a href="/darlehen-anfrage/index">Zu den aktuellen Kreditprojekten....</a></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="/bundles/intloopweblayout/frontend/images/cms/how_it_works/how-it-works-investor.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>Wie kann ich in Unternehmen investieren?</h3>
                    <p>Sie wollen am Erfolg des deutschen Mittelstands teilhaben? Zencap macht dies erstmals möglich. Registrieren Sie sich mit wenigen Klicks und werden Sie zur persönlichen Bank kleiner und mittelständischer Unternehmen. Als Investor bei Zencap können Sie Ihr eigenes Mittelstandsportfolio aufbauen, indem Sie über unseren Marktplatz in vielfältige Kreditprojekte zahlreicher Unternehmen investieren. Nutzen Sie die monatlichen Rückzahlungen all Ihrer Anlagen, um direkt neue Kreditprojekte zu finanzieren. <a href="/investoren-erste-schritte-5.html">Erfahren Sie mehr...</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper odd benefits hidden-xs">
        <div class="container spacing">
            <div class="row">
                <div class="col-sm-6 borrower">
                    <h2>Vorteile für Unternehmen</h2>
                    <ul class="styled large col-xs-12">
                        <li>Günstige Kreditkonditionen</li>
                        <li>Unabhängig von Hausbanken</li>
                        <li>Maximale Flexibilität</li>
                        <li>Gesteigerte Aufmerksamkeit</li>
                    </ul>
                </div>
                <div class="col-sm-6 investor">
                    <h2>Vorteile für Anleger</h2>
                    <ul class="styled large col-xs-12">
                        <li>Attraktive Renditen</li>
                        <li>Vollständige Transparenz</li>
                        <li>Wohlstandsfördernde Investitionen</li>
                        <li>Monatliche Rückzahlungen</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container-wrapper text-center hidden-xs">
        <div class="container spacing">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 ">
                    <a class="btn btn-lg btn-brrwr" type="submit" href="/loan-request/register#baseForm">Jetzt Kredit beantragen</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-lg btn-nvstr text-center" type="submit" href="/register/lender/">Jetzt Account eröffnen</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}