<div class="loan-offer">
    <div class="row loan-item loan-header">
        <div class="col-md-6">Kreditbetrag</div>
        <div class="col-md-6 text-right">25.000,00 &euro;</div>
    </div>
    <div class="row loan-item">
        <div class="col-md-6">Zencap-Gebühr(3%)</div>
        <div class="col-md-6 text-right">750,00 &euro;</div>
    </div>
    <div class="row loan-item">
        <div class="col-md-6">Umsatzsteuer auf Kreditnehmer-Gebühr (19%)</div>
        <div class="col-md-6 text-right">142,50 &euro;</div>
    </div>
    <div class="row loan-item loan-header">
        <div class="col-md-6">Amount paid out</div>
        <div class="col-md-6 text-right">24.107,50 &euro;</div>
    </div>
    <div class="desp-20"></div>
</div>

<style>
.loan-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.loan-header {
    background: #edf0f2;
    font-weight: bold;
}
</style>

{#
<div class="loan-offer">
    <div class="panel panel-default">
        <div class="panel-heading xs-row">
            <div class="panel-title">
                <h3>Kreditbetrag
                    <span class="pull-right">25.000,00 €</span></h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-offer">
                <div class="pull-left">Zencap-Gebühr(3%)</div>
                <div class="pull-right">750,00 €</div>
            </div>
            <div class="panel-offer">
                <div class="pull-left">Umsatzsteuer auf Kreditnehmer-Gebühr (19%)</div>
                <div class="pull-right">142,50 €</div>
            </div>
        </div>
        <div class="panel-footer xs-row">
            <h3>Amount paid out
                <span class="pull-right">24.107,50 €</span></h3>
        </div>
    </div>
</div>
#}



