<div class="row xs-row loan-item loan-header">
    <div class="col-xs-7">Kreditbetrag</div>
    <div class="col-xs-5 text-right">25.000,00 &euro;</div>
</div>
<div class="row xs-row loan-item">
    <div class="col-xs-8">Zencap-Gebühr(3%)</div>
    <div class="col-xs-4 text-right">750,00 &euro;</div>
</div>
<div class="row xs-row loan-item">
    <div class="col-xs-7">Umsatzsteuer auf Kreditnehmer-Gebühr (19%)</div>
    <div class="col-xs-5 text-right">142,50 &euro;</div>
</div>
<div class="row xs-row loan-item loan-header">
    <div class="col-xs-7">Amount paid out</div>
    <div class="col-xs-5 text-right">24.107,50 &euro;</div>
</div>
<div class="desp-20"></div>

