<div class="loan-offer">
    <div class="panel panel-default">
        <div class="panel-heading xs-row">
            <div class="panel-title">
                <h3>Kreditbetrag
                    <span class="pull-right">25.000,00 €</span></h3>
            </div>
        </div>
        <div class="panel-body">
            <div class="panel-offer">
                <div class="pull-left">Zencap-Gebühr(3%)</div>
                <div class="pull-right">750,00 €</div>
            </div>
            <div class="panel-offer">
                <div class="pull-left">Umsatzsteuer auf Kreditnehmer-Gebühr (19%)</div>
                <div class="pull-right">142,50 €</div>
            </div>
        </div>
        <div class="panel-footer xs-row">
            <h3>Amount paid out
                <span class="pull-right">24.107,50 €</span></h3>
        </div>
    </div>
</div>




