<div class="row-offcanvas offcanvas-loan-menu-container hidden" id="sidebar-loan-menu">
    <div class="offcanvas-loan-menu">
        <nav class="right-menu">
            <ol class="list-unstyled">
                <li class="no-bg text-right"><a id="nav-remove" href="javascript:void(0)"><i class="fa fa-medium fa-times"></i></a></li>
                <li><a href="/borrower/loan_request/1">1 - Unternehmensprofil</a></li>
                <li><a href="/borrower/loan_request/2">2 - Kreditprojektdetails</a></li>
                <li><a href="/borrower/loan_request/3">3 - Zeichnungsberechtigte</a></li>
                <li><a href="/borrower/loan_request/4">4 - Bürgen</a></li>
                <li><a href="/borrower/loan_request/5">5 - Upload der Dokumente</a></li>
                <li><a href="/borrower/loan_request/6">6 - Prüfnen & Abschicke</a></li>
            </ol>
            <div class="clearfix"></div>
        </nav>
    </div>
</div>