<div class="row row-offcanvas" id="sidebar-loan-menu">
    <div class="offcanvas-loan-menu">
        <nav class="right-menu">
            <ol class="list-unstyled">
                <!--Include your navigation here-->
                <li class="text-right"><a id="nav-remove" href="#"><i class="fa fa-medium fa-times"></i></a></li>
                <li><a href="#">1 - Unternehmensprofil</a></li>
                <li><a href="#">2 - Kreditprojektdetails</a></li>
                <li><a href="#">3 - Zeichnungsberechtigte</a></li>
                <li><a href="#">4 - Bürgen</a></li>
                <li><a href="#">5 - Upload der Dokumente</a></li>
                <li><a href="#">6 - Prüfnen & Abschicke</a></li>
            </ol>
        </nav>
    </div>
</div>