<div class="row xs-row loan-item loan-header">
    <div class="col-xs-12">Repayment</div>
</div>
<div class="row xs-row loan-item">
    <div class="col-xs-8">Laufzeit</div>
    <div class="col-xs-4 text-right">2 Jahre</div>
</div>
<div class="row xs-row loan-item">
    <div class="col-xs-9">Sollzins</div>
    <div class="col-xs-3 text-right">4,43%</div>
</div>
<div class="row xs-row loan-item loan-header">
    <div class="col-xs-7">Ihre montaliche Ruckzahlungsrate</div>
    <div class="col-xs-5 text-right">1.090,42 &euro;</div>
</div>
<div class="desp-20"></div>