{# at the bottom must be a button called 'Jetzt unverbindlich Kreditangebot anfordern' NOT 'Speichern & Weiter'  #}

<div class="form-register" id="">
    <div class="desp-10 hidden-md hidden-lg"></div>
    <h1 class="faux-h2">{{ '6 | Prüfen & Abschicken' }}</h1>
    <p>Bitte prüfen Sie Ihre Anfrage sorgfältig und bestätigen Sie sie dann, um ein unverbindliches Kreditangebot anzufordern. Wir werden Ihre Anfrage prüfen und uns innerhalb von 48 Stunden bei Ihnen melden.</p>

    <div class="row">
        <div class="col-xs-12 screen-align-btn">
            <a class="btn btn-lg btn-brrwr" href="">{{ 'Jetzt Kreditangebot anfordern' }}</a>
            <div class="desp-5"></div>
            <a href="#" class="text-muted" data-toggle="tooltip" data-original-title="Another one here too" data-placement="top"><i class="fa fa-lock"></i> Sichere Übertragung (SSL)</a>
            <div class="desp-20"></div>
        </div>
    </div>

    {% include '_partials/borrower/summary_company_details.html.twig' %}
    {% include '_partials/borrower/summary_loan_details.html.twig' %}
    {% include '_partials/borrower/summary_approved_signatories.html.twig' %}
    {% include '_partials/borrower/summary_warrantors.html.twig' %}
    {% include '_partials/borrower/summary_upload_documents.html.twig' %}

</div><!-- end .form-register -->