<div class="row add-negative-margin">
    <div class="col-xs-12">
        <h2 class="faux-h3">{{ 'Ihre hochgeladenen Dokumente' }} <small class="pull-right"><a href=""><i class="fa fa-edit"></i> Bearbeiten</a></small></h2>
    </div>
</div><!-- end .row -->

<div class="custom-row">
    <div id="document-list">
        <table class="table">
            <thead>
            <tr>
                <th class="col-xs-6">Dateiname</th>
                <th class="col-xs-3">Erstellt am</th>
                <th class="col-xs-3"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="col-xs-6"><a href="">01.PNG</a></td>
                <td class="col-xs-3">05.09.2014</td>
                <td class="col-xs-3 text-right">
                    <div>
                        <a href="">Löschen</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div><!-- end .custom-row -->