<div class="row add-negative-margin">
    <div class="col-xs-12">
        <h2 class="faux-h3">{{ 'Eingetragene Bürgen' }} <small class="pull-right"><a href=""><i class="fa fa-edit"></i> Bearbeiten</a></small></h2>
    </div>
</div><!-- end .row -->

<div class="custom-row">
    <table class="table">
        <tbody>
        <tr>
            <th class="col-xs-3" colspan="3">Name des Bürgen</th>
            <td class="col-xs-5">Vorname Nachname</td>
        </tr>
        <tr>
            <th class="col-xs-3" colspan="3">Geburtsdatum</th>
           <td class="col-xs-5">01.01.1970</td>
        </tr>
        <tr>
            <th class="col-xs-3" colspan="3">Geburtsort</th>
            <td class="col-xs-5">gebort</td>
        </tr>
        <tr>
            <th class="col-xs-3" colspan="3">Staatsangehörigkeit</th>
            <td class="col-xs-5">Deutschland</td>
        </tr>
        <tr>
            <th class="col-xs-3" colspan="3">Adresse</th>
            <td class="col-xs-5">ZB1 Strasse 1
                11111 Lender Ort</td>
        </tr>
        <tr>
            <th class="col-xs-3" colspan="3">Wohnhaft seit</th>
            <td class="col-xs-5">01.01.2015</td>
        </tr>
        </tbody>
    </table>

</div><!-- end .custom-row -->