<div class="row">
    <div class="col-xs-12 cancel-padding">
        <h2 class="faux-h3">{{ 'Firmendetail' }} <small class="pull-right"><a href=""><i class="fa fa-edit"></i> Bearbeiten</a></small></h2>
    </div>
</div><!-- end .row -->

<div class="custom-row">
    <table class="table fixed-section">
        <tbody>
        <tr>
            <th>Firmenname</th>
            <td>Firmenname</td>
        </tr>
        <tr>
            <th>Rechtsform</th>
            <td>GmbH &amp; Co. KG</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>Strasse 1 <br>
                11111 Ort Loan</td>
        </tr>
        <tr>
            <th>Handelsregisternummer</th>
            <td>Handels Nummer</td>
        </tr>
        <tr>
            <th>Registergericht</th>
            <td>Aachen</td>
        </tr>
        <tr>
            <th>Umsatzsteuer-Nr</th>
            <td>USt-ID</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <th>Anzahl der Mitarbeiter</th>
            <td>251</td>
        </tr>
        <tr>
            <th>Gründungsdatum</th>
            <td>01.01.2000</td>
        </tr>
        <tr>
            <th>Sektor</th>
            <td>Information und Kommunikation</td>
        </tr>
        <tr>
            <th>Umsatz im letzten Fiskaljahr</th>
            <td>100.000 €</td>
        </tr>
        </tbody>
    </table>
</div><!-- end .custom-row -->

