<div class="row add-negative-margin">
    <div class="col-xs-12">
        <h2 class="faux-h3">{{ 'Eingetragene Bürgen' }} <small class="pull-right"><a href=""><i class="fa fa-edit"></i> Bearbeiten</a></small></h2>
    </div>
</div><!-- end .row -->

<div class="custom-row">
    <table class="table fixed-section">
        <tbody>
        <tr>
            <th>Name des Bürgen</th>
            <td>Vorname Nachname</td>
        </tr>
        <tr>
            <th>Geburtsdatum</th>
            <td>01.01.1970</td>
        </tr>
        <tr>
            <th>Geburtsort</th>
            <td>gebort</td>
        </tr>
        <tr>
            <th>Staatsangehörigkeit</th>
            <td>Deutschland</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>ZB1 Strasse 1
                11111 Lender Ort</td>
        </tr>
        <tr>
            <th>Wohnhaft seit</th>
            <td>01.01.2015</td>
        </tr>
        </tbody>
    </table>

</div><!-- end .custom-row -->