<div class="row">
    <div class="col-xs-12 cancel-padding">
        <h2 class="faux-h3">{{ 'Zeichnungsberechtigte ' }} <small class="pull-right"><a href=""><i class="fa fa-edit"></i> Bearbeiten</a></small></h2>
    </div>
</div><!-- end .row -->

<div class="custom-row">
    <table class="table fixed-section">
        <tbody>
        <tr>
            <th>Zeichnungsberechtigter</th>
            <td>Vorname Nachname</td>
        </tr>

        <tr>
            <th>Weitere Vornamen</th>
            <td></td>
        </tr>

        <tr>
            <th>Geburtsdatum</th>
            <td>01.01.1970</td>
        </tr>
        <tr>
            <th>Geburtsort</th>
            <td>gebort</td>
        </tr>
        <tr>
            <th>Staatsangehörigkeit</th>
            <td>Deutschland</td>
        </tr>
        <tr>
            <th>Adresse</th>
            <td>ZB1 Strasse 1 <br>
                11111 Lender Ort</td>
        </tr>
        <tr>
            <th>Wohnhaft seit</th>
            <td>01.01.2015</td>
        </tr>
        </tbody>
    </table>
</div><!-- end .custom-row -->