<div class="row add-negative-margin">
    <div class="col-xs-12">
        <h2 class="faux-h3">{{ 'Firmendetail' }} <small class="pull-right"><a href=""><i class="fa fa-edit"></i> Bearbeiten</a></small></h2>
    </div>
</div><!-- end .row -->

<div class="custom-row">
    <table class="table">
        <tbody>
        <tr>
            <th class="col-xs-3">Firmenname</th>
            <td class="col-xs-5">Firmenname</td>
        </tr>
        <tr>
            <th class="col-xs-3">Rechtsform</th>
            <td class="col-xs-5">GmbH &amp; Co. KG</td>
        </tr>
        <tr>
            <th class="col-xs-3">Adresse</th>
            <td class="col-xs-5">Strasse 1 <br>
                11111 Ort Loan</td>
        </tr>
        <tr>
            <th class="col-xs-3">Handelsregisternummer</th>
            <td class="col-xs-5">Handels Nummer</td>
        </tr>
        <tr>
            <th class="col-xs-3">Registergericht</th>
            <td class="col-xs-5">Aachen</td>
        </tr>
        <tr>
            <th class="col-xs-3">Umsatzsteuer-Nr</th>
            <td class="col-xs-5">USt-ID</td>
        </tr>
        </tbody>
        <tbody>
        <tr>
            <th class="col-xs-3">Anzahl der Mitarbeiter</th>
            <td class="col-xs-5">251</td>
        </tr>
        <tr>
            <th class="col-xs-3">Gründungsdatum</th>
            <td class="col-xs-5">01.01.2000</td>
        </tr>
        <tr>
            <th class="col-xs-3">Sektor</th>
            <td class="col-xs-5">Information und Kommunikation</td>
        </tr>
        <tr>
            <th class="col-xs-3">Umsatz im letzten Fiskaljahr</th>
            <td class="col-xs-5">100.000 €</td>
        </tr>
        </tbody>
    </table>
</div><!-- end .custom-row -->

