<div class="form-register" id="">

    <div class="desp-10 hidden-md hidden-lg"></div>
    <h1 class="faux-h2 hidden-sm">{{ '4 | Bürgen' }}</h1>
    <p>{{ 'Für den Fall, dass eine weitere Person für den Kredit bürgt, kann diese hier hinzugefügt werden. Hierzu klicken Sie bitte auf "Bürgen hinzufügen".' }}</p>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">Eingetragene Bürgen</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="action-links text-right">
                <a href=""><i class="fa fa-times"></i> Löschen</a>
                <a href=""><i class="fa fa-edit"></i> Bearbeiten</a>
            </div>
        </div>
    </div>

    <div class="custom-row">
        <table class="table">
            <tbody>
            <tr>
                <th class="col-xs-2">Zeichnungsberechtigter</th>
                <td class="col-xs-6">Vorname Nachname</td>
            </tr>
            <tr>
                <th class="col-xs-2">Geburtsdatum</th>
                <td class="col-xs-6">01.01.1970</td>
            </tr>
            <tr>
                <th class="col-xs-2">Staatsangehörigkeit</th>
                <td class="col-xs-6">Deutschland</td>
            </tr>
            <tr>
                <th class="col-xs-2">Adresse</th>
                <td class="col-xs-6">ZB1 Strasse 1 <br>
                    11111 Lender Ort</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            <h2 class="faux-h3">{{ 'Bürgen hinzufügen' }}</h2>
        </div>
    </div>

    <div class="add-box text-center">
        <a class="btn btn-lg btn-brrwr" href="">Bürgen hinzufügen</a>
    </div>

</div>


