{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
            <h1>Passwort ändern</h1>
            <form action="" method="post" id="profile_password_change">
                <div class="form-group">
                    <input type="password" placeholder="Aktuelles Passwort" id="password_change_old" class="form-control custom-input" required="required">
                    <label for="password_change_old" class="text-danger" role="alert">
                        Bitte geben Sie Ihr aktuelles Passwort ein.
                    </label>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Neues Passwort" id="password_change_new" class="form-control custom-input" required="required">
                    <label for="password_change_new" class="text-danger" role="alert">
                        Bitte geben Sie Ihr neues Passwort ein.
                    </label>
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Passwort erneut eingeben" id="password_change_confirm_new" class="form-control custom-input" required="required">
                    <label for="password_change_confirm_new" class="text-danger" role="alert">
                        Bitte geben Sie Ihr neues Passwort erneut ein.
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-block">Passwort speichern</button>
            </form>
        </div>

    </div><!-- .row -->

</div><!-- .container -->

{% endblock body %}