{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
            <h1>Etwas vergessen?</h1>
            <form action="" method="post" id="forgot_password">
                <div class="form-group">
                    <input type="email" placeholder="E-Mail-Adresse" id="forgot_password_email" class="form-control custom-input" required="required">
                    <label for="forgot_password_email" class="text-danger" role="alert">
                        Bitte geben Sie Ihr aktuelles Passwort ein.
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-block">Passwort speichern</button>
            </form>
        </div>

    </div><!-- .row -->

</div><!-- .container -->

{% endblock body %}