{% extends 'layout.html.twig' %}

{% block body %}

<div class="container">

    <div class="row">
    <div class="desp-20"></div>
    <div class="alert alert-danger col-xs-12" role="alert">

        <span class="sr-only">Error:</span>
        <h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <strong>Fehler</strong>
        </h4>
        Ein Fehler ist aufgetreten
    </div>
    </div>
</div>

<div class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
                <h1 class="faux-h2">Mehr Einkaufserlebnis für unsere Kunden</h1>
            </div>
            <div class="col-xs-4 text-right">
                <a href=""><i class="fa fa-arrow-left"></i> zurück zur Auflistung</a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="faux-h3"><i class="categoryIcon" data-original-title="" title=""></i>Betriebsmittelfinanzierung
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="well lender-request-details">
                    <div class="row">
                        <div class="col-xs-4">
                            810.000 €<br>
                            <small>Kreditbetrag</small>
                        </div>
                        <div class="col-xs-2">
                            2<br>
                            <small>Jahre</small>
                        </div>
                        <div class="col-xs-2">
                            7,25%<br>
                            <small>Zinssatz</small>
                        </div>
                        <div class="col-xs-4">
                            449 €<br>
                            <small>Monatliche Rate</small>
                        </div>
                    </div>
                    <div class="desp-15"></div>
                    <div class="row">
                        <div class="col-xs-4">
                            <i class="grade grade-a-plus grade-medium">A<span>+</span></i><br>
                            <small>Risikoklasse</small>
                        </div>
                        <div class="col-xs-8">
                            <small class="pull-left">Stand der Finanerung</small>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-xs-9">
                                    <div class="progress">
                                        <div style="min-width: 2em; width: 60%;" aria-valuemax="100" aria-valuemin="0"
                                             aria-valuenow="60" role="progressbar" class="progress-bar"></div>
                                    </div>
                                </div>
                                <div class="col-xs-3 text-left">67%</div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-6">
                            <small>Noch aktiv bis: 21.02.2015</small>
                        </div>
                        <div class="col-xs-8 col-sm-6 text-right">
                            <small>Restbetrag: 18.300 €</small>
                        </div>
                    </div>
                </div><!-- .lender-request-details -->
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="well lender-place-bid">
                    <div class="row">
                        <div class="available-limit">
                            <div class="col-xs-8 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-0"><strong>Verfügbares Limit</strong></div>
                            <div class="col-xs-4 col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-0"><strong>10.000,00 €</strong></div>
                        </div>
                    </div>
                    <!-- Bid Form-->
                    <form action="" method="get">
                        <div class="row">
                            <div class="col-xs-8 col-sm-6 col-sm-offset-1 col-md-8 col-md-offset-0">
                                <div class="input-group">
                                    <input type="text" id="" class="form-control input-lg">
                                    <span class="input-group-addon">✎</span>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-3 col-sm-offset-1 col-md-4 col-md-offset-0">
                                <button class="btn btn-lg btn-nvstr" type="submit">Anlegen</button>
                            </div>
                            <div class="desp-5"></div>
                            <div class="col-sm-11 col-sm-offset-1 col-md-12 col-md-offset-0 text-danger" role="alert">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                Bitte geben Sie ein Vielfaches von 100,00 € ein
                            </div>
                        </div>
                    </form>

                </div>
            </div>



        </div>


        <!-- TABS -->

        {% include '_partials/lender/investSubCategoryTabs.html.twig' %}



    </div>
</div>

{% endblock %}



 {% block js %}
     {{ parent() }}

     <script>
         $(function(){
             $('#lenderInvestTabs').easyResponsiveTabs({
                 activetab_bg: '#edf0f2',
                 inactive_bg: '#edf0f2',
                 active_border_color: '#fff',
                 active_content_border_color: '#edf0f2'
             });

             $('[data-toggle="tooltip"]').tooltip();
         });

     </script>

 {% endblock %}