{% extends 'layout.html.twig' %}

{% block body %}

<div class="container spacing">

    <div class="row user-login">

        <div class="col-xs-12 col-sm-5">
            <h1 class="faux-h1">Partner-Login</h1>
            <p>Bitte melden Sie sich an:</p>
            <form action="" method="post">
                <div class="form-group">
                    <input type="text" class="form-control col-xs-12 custom-input" placeholder="E-Mail-Adresse" required="required" value="" name="_username" id="username">
                    <input type="text" class="form-control col-xs-12 custom-input" placeholder="ScoreCollect ID" required="required" value="" name="_client" id="client_id">
                    <input type="text" class="form-control col-xs-12 custom-input" placeholder="Passwort" required="required" name="_password" id="password" autocomplete="off">
                </div>
                <a href="{{ path('request_password') }}" class="forgotPassword pull-right"><strong>Passwort vergessen?</strong></a>
                <input type="submit" value="Anmelden" name="_submit" id="_submit" class="btn btn-lg col-xs-12">
            </form>
        </div>

        <div class="desp-20 hidden-sm hidden-md hidden-lg"></div>

        <div class="col-xs-12 col-sm-5 col-sm-offset-2">
            <img src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/logo_scoreCollect.png" alt="SCoreCollect Logo">
        </div>

    </div><!-- end .row -->

</div><!-- end .container -->

{% endblock %}