{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

    <div class="container spacing">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h1>Set new password</h1>
                CMS block: user request new password info
                <form action="" method="post" id="request_password_new">
                    <div class="form-group">
                        <label for="request_new_password" class="required">Please enter your new password</label>
                        <input type="text" id="request_new_password" class="form-control" required="required">
                        <label for="request_new_password" class="error hidden" role="alert">
                            Bitte geben Sie Ihr aktuelles Passwort ein.
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="request_new_password_confirm" class="required">Please confirm your password</label>
                        <input type="text" id="request_new_password_confirm" class="form-control" required="required">
                        <label for="request_new_password_confirm" class="error hidden" role="alert">
                            Bitte geben Sie Ihr aktuelles Passwort ein.
                        </label>
                    </div>
                    <button type="submit" class="btn btn-lg btn-nvstr pull-right">Set new password</button>
                </form>
            </div>

        </div><!-- .row -->

    </div><!-- .container -->

{% endblock body %}