{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <div class="row">

        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <h1>Etwas vergessen?</h1>
            CMS block: user request password info
            <form action="" method="post" id="request_password">
                <div class="form-group">
                    <label for="request_password_email" class="required">Enter your email address</label>
                    <input type="email" id="request_password_email" class="form-control" required="required">
                    <label for="request_password_email" class="error" role="alert">
                        Bitte geben Sie Ihr aktuelles Passwort ein.
                    </label>
                </div>
                <button type="submit" class="btn btn-lg btn-nvstr pull-right">Request new password</button>
            </form>
        </div>

    </div><!-- .row -->

</div><!-- .container -->

{% endblock body %}