{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account-header.html.twig' %}

{% endblock header %}

{% block body %}

    <div class="container spacing">

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                <h1>Email sent</h1>
                CMS block: user request password sent
            </div>

        </div><!-- .row -->

    </div><!-- .container -->

{% endblock body %}