<!--
==========================================================================
Header visible for desktop  ( hidden for phones and tablets )
========================================================================== -->

<div class="hidden-xs hidden-sm hidden-md">

    {#{% include '_partials/headers/cookiesWarning.html.twig' %}#}

    {% include '_partials/headers/top-nav.html.twig' %}
    <header>
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <a class="" href="#">
                        <img src="/bundles/intlendweblayout/frontend/images/logo.png" alt="Zencap"/>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="site-menu">
                        <ul class="dropdown list-inline">
                            <li>
                                <a href="">Dashboard</a>
                            </li>
                            <li>
                                <a href="">Anlegen</a>
                            </li>
                            <li>
                                <a href="">Gebote</a>
                            </li>
                            <li>
                                <a href="">Portofolio</a>
                            </li>
                            <li>
                                <a href="">Premium-account</a>
                            </li>
                            <li>
                                <a href="">Hilfe</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="hotline-container">
                        <ul class="list-unstyled hotline">
                            <li>Kostenloser Kundenservice!</li>
                            <li class="large"><i class="icon-phone"></i><strong> 0800 - 724 08 14</strong></li>
                            <li>(Mo-Fr, 9-18 Uhr)</li>
                        </ul>
                        <a class="pull-left"
                           href="https://d1x3gb5zl465n8.cloudfront.net/de/tuv/z2014-1214_zencap%20deutschland_gmbh.pdf"
                           target="_blank">
                            <img
                                src="https://d1uuy7l9kfwygp.cloudfront.net/bundles/intlendweblayout/frontend/images/tuv.png"
                                alt="Zertifikat TÜV">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end .container -->

    </header>
</div><!-- end .hidden-xs hidden-sm hidden-md -->

<div class="desp-68 hidden-lg"></div>

<!--
==========================================================================
Header visible for phones and tablets  ( hidden for desktop )
========================================================================== -->

{% include '_partials/headers/header-mobile.html.twig' %}