<nav id="cookie-warning-container" class="navbartop">
    <div id="cookie-text-container">
        <span id="cookie-text" class="text-center">Zencap verwendet Cookies, um Ihnen den bestmöglichen Service zu gewährleisten. Wenn Sie auf der Seite weitersurfen stimmen Sie der <a href="">Cookie-Nutzung</a> zu. <a href="#">Ich stimme zu </a> <a class="icon" href="#">X</a></span>
    </div>
</nav>