<nav class="navbartop">
    <div class="container">
        <ul class="list-inline text-right info">
            <li><a href="" id="user_info">Vorname  Nachname </a></li>
            <li><a href="{{ path('user_edit_details_investor') }}" id="profile">Profil</a></li>
            <li><a href="" id="logout">Abmelden</a></li>
            <li class="blue"><a href="">Gewählte Kredite <span class="value" id="bid_amount">150,000 €</span></a></li>
        </ul>
    </div>
</nav>