<nav>
    <ul class="list-unstyled main-menu">

        <!--Include your navigation here-->
        <li class="text-right"><a href="#" id="nav-close">X</a></li>
        <li><a href="#">Anmelden/Registrieren <span class="icon"></span></a></li>
        <li><a href="#">Hilfe <span class="icon"></span></a></li>
        <li><a href="#">Menu <span class="icon"></span></a></li>
        <li><a href="#">Unternehmen <span class="icon"></span></a></li>
        <li><a href="#">Investoren <span class="icon"></span></a></li>
        <li><a href="#">Dropdown</a>
            <ul class="list-unstyled">
                <li class="sub-nav"><a href="#">Sub Menu One <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="#">Sub Menu Two <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="#">Sub Menu Three <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="#">Sub Menu Four <span class="icon"></span></a></li>
                <li class="sub-nav"><a href="#">Sub Menu Five <span class="icon"></span></a></li>
            </ul>
        </li>
        <li><a href="#">Kreditprojekte <span class="icon"></span></a></li>
        <li><a href="#">So Funktioniert's <span class="icon"></span></a></li>
        <li><a href="#">Blog <span class="icon"></span></a></li>
    </ul>
</nav>

<div class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#">
        {% image '@LaviniaMobileBundle/Resources/public/images/logo.png' %}
            <img src="{{ asset_url }}" alt="Example" />
        {% endimage %}
    </a>
    <div class="navbar-header pull-right">
        <a id="nav-expander" class="nav-expander fixed">
            {#MENU#} &nbsp;<i class="fa fa-bars fa-lg"></i>
        </a>
    </div>
</div>