<nav class="navbartop">
    <div class="container">
        <ul class="list-inline text-right info">
            <li><a href="">Vorname  Nachname </a></li>
            <li><a href="">Profil</a></li>
            <li><a href="">Abmelden</a></li>
            <li class="blue"><a href="">Gewählte Kredite <span class="value">150,000 €</span></a></li>
        </ul>
    </div>
</nav>