{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account_header_borrower_for_testing.html.twig' %}

{% endblock header %}

{% block body %}

<!-- ALERT MESSAGE -->
<div class="container page-head">
    <div class="alert alert-warning col-xs-12" role="alert">
        <span class="sr-only">Error:</span>
        <span class="alert-ico pull-left hidden-xs"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        <div class="col-xs-12 col-sm-11">Um Ihre Kreditanfrage abschließen zu können, bestätigen Sie uns bitte noch Ihre E-Mail-Adresse. Dazu müssen Sie nur auf den Link in der E-Mail klicken, die wir Ihnen an vitalii.zurian+2652@zencap.de geschickt haben. Erneute Bestätigungsemail senden.</div>
    </div>
</div>

<div class="spacing">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-4 col-lg-4">
                <ul class="register-step">
                    <li class="register-step-item {% if step < 1 %}inactive{% endif %}{% if step == 1 %}active{% endif %}"><a href="/borrower/loan_request/1"><span class="number">1</span> <span class="text">Unternehmensprofil</span></a></li>
                    <li class="register-step-item {% if step < 2 %}inactive{% endif %}{% if step == 2 %}active{% endif %}"><a href="/borrower/loan_request/2"><span class="number">2</span> <span class="text">Kreditprojektdetails</span></a></li>
                    <li class="register-step-item {% if step < 3 %}inactive{% endif %}{% if step == 3 %}active{% endif %}"><a href="/borrower/loan_request/3"><span class="number">3</span> <span class="text">Zeichnungsberechtigte</span></a></li>
                    <li class="register-step-item {% if step < 4 %}inactive{% endif %}{% if step == 4 %}active{% endif %}"><a href="/borrower/loan_request/4"><span class="number">4</span> <span class="text">Bürgen</span></a></li>
                    <li class="register-step-item {% if step < 5 %}inactive{% endif %}{% if step == 5 %}active{% endif %}"><a href="/borrower/loan_request/5"><span class="number">5</span> <span class="text">Upload der Dokumente</span></a></li>
                    <li class="register-step-item {% if step < 6 %}inactive{% endif %}{% if step == 6 %}active{% endif %}"><a href="/borrower/loan_request/6"><span class="number">6</span> <span class="text">Prüfen & Abschicken</span></a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-8 col-lg-8">

                {% include '_partials/borrower/' ~ loan_steps.step ~ '.html.twig' %}

            </div>

            <div class="desp-20 col-xs-12 hidden-lg"></div>

        </div><!-- .row -->

    </div><!-- .container -->

    <div class="container-wrapper form-footer odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 screen-align-btn">
                    <button class="btn btn-lg btn-brrwr" type="submit">{{ 'Speichern & Weiter' }}</button>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="clearfix"></div>


</div><!-- end .spacing -->

{% endblock body %}

{% block js %}
    {{ parent() }}
    <script>
        /* horizontal loan request menu */
        function stepsResize() {
            if ($(document).width() > 675 && $(document).width() < 992) {
                var div_width = $('.register-step').width();
                var new_width = div_width - ($('.register-step-item').length * 45);
                $('.register-step .active .text').css({'width': new_width + 'px'});
            }
        }
        $(function(){
            $(window).load(function() {
                stepsResize();
                resizeOffcanvasHeight();
            });
            $(window).resize(function() {
                stepsResize();
                resizeOffcanvasHeight();
            });

            /* offcanvas loan request menu */

            // remove the menu from DOM on desktop
            if ($(document).width() > 992) {
                $('#sidebar-loan-menu').remove();
            }

            $('#nav-remove, .nav-close-menu').click(function(e){
                e.preventDefault();
                $('#sidebar-loan-menu').addClass('hidden');
            });
        });

    </script>
{% endblock %}
