{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account_header_borrower_for_testing.html.twig' %}

{% endblock header %}

{% block body %}

<!-- ALERT MESSAGE -->
{#<div class="container page-head">
    <div class="alert alert-warning col-xs-12" role="alert">
        <span class="sr-only">Error:</span>
        <span class="alert-ico pull-left hidden-xs"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        <div class="col-xs-12 col-sm-11 message">Um Ihre Kreditanfrage abschließen zu können, bestätigen Sie uns bitte noch Ihre E-Mail-Adresse. Dazu müssen Sie nur auf den</div>
    </div>
</div>

<div class="container page-head">
    <div role="alert" class="alert alert-success col-xs-12">
        <span class="sr-only">Info:</span>
        <span class="alert-ico pull-left"><i aria-hidden="true" class="fa fa-check-circle"></i></span>
        <div class="col-xs-12 col-sm-11 message">Herzlich willkommen auf Zencap! Die Bestätigung Ihrer Emailadresse war erfolgreich. </div>
    </div>
</div>#}

<div class="container spacing">
    <h1>Aktivieren Sie Ihr Konto</h1>
    <div role="alert" class="alert alert-warning col-xs-12">
        <span class="sr-only"></span>
        <span class="alert-ico pull-left hidden-xs"><i aria-hidden="true" class="fa fa-envelope"></i></span>
        <div class="col-xs-12 col-sm-11 message">
            <div>
                Bitte bestätigen Sie uns noch kurz Ihre E-Mail-Adresse, um Ihr Konto zu aktivieren.<br>
            </div>
            <div>
                <a href="/register/confirmation/resend">Erneute Bestätigungsemail senden an</a>: lavinia.rizac+testInvestorQa5@zencap.de
            </div>
        </div>
    </div>
</div>

<div class="spacing">
    <div class="container">

        <div class="row">

            <div class="col-xs-12 col-md-4 col-lg-4">
                <ul class="register-step">
                    <li class="register-step-item {% if step < 1 %}inactive{% endif %}{% if step == 1 %}active{% endif %}"><a href="/borrower/loan_request/1" id="step_company_details"><span class="number">1</span> <span class="text">Unternehmensprofil</span></a></li>
                    <li class="register-step-item {% if step < 2 %}inactive{% endif %}{% if step == 2 %}active{% endif %}"><a href="/borrower/loan_request/2" id="step_loan_details"><span class="number">2</span> <span class="text">Kreditprojektdetails</span></a></li>
                    <li class="register-step-item {% if step < 3 %}inactive{% endif %}{% if step == 3 %}active{% endif %}"><a href="/borrower/loan_request/3" id="step_approved_signatories"><span class="number">3</span> <span class="text">Zeichnungsberechtigte</span></a></li>
                    <li class="register-step-item {% if step < 4 %}inactive{% endif %}{% if step == 4 %}active{% endif %}"><a href="/borrower/loan_request/4" id="step_warrantors"><span class="number">4</span> <span class="text">Bürgen</span></a></li>
                    <li class="register-step-item {% if step < 5 %}inactive{% endif %}{% if step == 5 %}active{% endif %}"><a href="/borrower/loan_request/5" id="step_upload_documents"><span class="number">5</span> <span class="text">Upload der Dokumente</span></a></li>
                    <li class="register-step-item {% if step < 6 %}inactive{% endif %}{% if step == 6 %}active{% endif %}"><a href="/borrower/loan_request/6" id="step_review"><span class="number">6</span> <span class="text">Prüfen & Abschicken</span></a></li>
                </ul>
            </div>

            <div class="col-xs-12 col-md-8 col-lg-8">

                {% include '_partials/borrower/' ~ loan_steps.step ~ '.html.twig' %}

            </div>

            <div class="desp-20 col-xs-12 hidden-lg"></div>

        </div><!-- .row -->

    </div><!-- .container -->

    <div class="container-wrapper form-footer odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 screen-align-btn">
                    <button class="btn btn-lg btn-brrwr" type="submit">{{ 'Speichern & Weiter' }}</button>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="clearfix"></div>


</div><!-- end .spacing -->

{% endblock body %}

{% block js %}
    {{ parent() }}
    <script>
        /* horizontal loan request menu */
        function stepsResize() {
            if ($(document).width() < 750) {
                // get <ul> width
                var div_width = $('.register-step').width();
                // get the number of <li> items
                var steps_number = $('.register-step-item').length;
                // set percentage width for each <li> item
                $('.register-step-item').css({'width': 100/steps_number + '%'});
            } else if ($(document).width() >= 750 && $(document).width() < 992) {
                // remove the width that was set above for each <li> item
                $('.register-step-item').css({'width': ''});
                // get ul width
                var div_width = $('.register-step').width();
                // calculate new width for element that has description text to fill the window
                var new_width = div_width - ($('.register-step-item').length * 45);
                // set new width to text element inside <li> item
                $('.register-step .active .text').css({'width': new_width + 'px'});
            }
        }
        $(function(){
            $(window).load(function() {

                stepsResize();
                resizeOffcanvasHeight();
            });
            $(window).resize(function() {
                stepsResize();
                resizeOffcanvasHeight();
            });

            /* offcanvas loan request menu */

            // remove the menu from DOM on desktop
            if ($(document).width() > 992) {
                $('#sidebar-loan-menu').remove();
            }

            $('#nav-remove, .nav-close-menu').click(function(e){
                e.preventDefault();
                $('#sidebar-loan-menu').addClass('hidden');
            });
        });

    </script>
{% endblock %}
