{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account_header_borrower_for_testing.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <div class="row">
        <div class="col-xs-12">
            <h1>My payment plan
                <i class="fa fa-lg fa-angle-right"></i>
                {{ articles[0].title }}(10.000 €; 24 months)
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <ul class="list-inline">
                <li><a href="">Version 2 - active since 02.03.2015</a></li>
                <li><a href="">Version 1 - active from 01.01.2015 to 01.03.2015</a></li>
            </ul>
        </div>
    </div>

    <div class="row add-negative-margin">
        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg payments">
            {# accordion on mobile and tablet #}
            {% include '_partials/tables/borrower_payments_details_table_mobile.html.twig' %}
        </div>
        <div class="hidden-xs hidden-sm col-md-12 col-lg-12 payments">
            {# table on desktop #}
            {% include '_partials/tables/borrower_payments_details_table.html.twig' %}
        </div>
    </div>

</div><!-- end .container -->

{% endblock body %}