{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account_header_borrower_for_testing.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <div class="row">
        <div class="col-xs-12">
            <h1>My payment plan
                <i class="fa fa-lg fa-angle-right"></i>
                {{ articles[0].title }}(10.000 €; 24 months)
            </h1>
        </div>
    </div>

    <!-- dropdown tab for mobile and tablet -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg payments cancel-padding tabber">
            <ul role="tablist" class="nav nav-tabs" id="mobile-tab">
                <li class="dropdown" role="presentation">
                    <a data-toggle="dropdown" class="dropdown-toggle custom-display" href="#"><span class="tab-select-label">Dropdown</span> <span class="fa fa-sort-down"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a aria-controls="xs-version1" data-toggle="tab" id="xs-version1-tab" role="tab" tabindex="-1" href="#xs-version1">Version 1 Aktiv</a></li>
                        <li><a aria-controls="xs-version2" data-toggle="tab" id="xs-version2-tab" role="tab" tabindex="-1" href="#xs-version2">Version 2 Aktiv</a></li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div aria-labelledby="xs-version1-tab" id="xs-version1" class="tab-pane fade" role="tabpanel">
                    <!-- accordion on mobile and tablet -->
                    <!-- TO DO change dynamically the ID's from the accordion bellow -->
                    {% include '_partials/tables/borrower_payments_details_table_mobile.html.twig' %}
                </div>
                <div aria-labelledby="xs-version2-tab" id="xs-version2" class="tab-pane fade" role="tabpanel">
                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                </div>
            </div>
        </div>
    </div><!-- .row -->

    <!-- dropdown tab for desktop -->
    <div class="row">
        <div class="hidden-xs hidden-sm col-md-12 col-lg-12 payments cancel-padding tabber">
            <ul role="tablist" class="nav nav-tabs" id="desktop-tab">
                <li class="dropdown" role="presentation">
                    <a data-toggle="dropdown" class="dropdown-toggle custom-display" href="#"><span class="tab-select-label">Dropdown</span> <span class="fa fa-sort-down"></span></a>
                    <ul role="menu" class="dropdown-menu">
                        <li><a aria-controls="version1" data-toggle="tab" id="version1-tab" role="tab" tabindex="-1" href="#version1">Version 1 Aktiv</a></li>
                        <li><a aria-controls="version2" data-toggle="tab" id="version2-tab" role="tab" tabindex="-1" href="#version2">Version 2 Aktiv</a></li>
                    </ul>
                </li>
            </ul>
            <div class="tab-content">
                <div aria-labelledby="version1-tab" id="version1" class="tab-pane fade" role="tabpanel">
                    <!-- table on desktop -->
                    {% include '_partials/tables/borrower_payments_details_table.html.twig' %}
                </div>
                <div aria-labelledby="version2-tab" id="version2" class="tab-pane fade" role="tabpanel">
                    <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater. Lomo wolf viral, mustache readymade thundercats keffiyeh craft beer marfa ethical. Wolf salvia freegan, sartorial keffiyeh echo park vegan.</p>
                </div>
            </div>
        </div>
    </div><!-- .row -->

</div><!-- end .container -->

{% endblock body %}

