{% extends 'layout.html.twig' %}

{% block header %}

    {% include '_partials/headers/account_header_borrower_for_testing.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container padding-48">

    <div class="row">
        <div class="col-xs-12">
            <h1 class="faux-h2">My payment plan
                <i class="fa fa-lg fa-angle-right"></i>
                {{ articles[0].title }}
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <a></a>
        </div>
    </div>

    <div class="row add-negative-margin">
        <div class="col-xs-12 col-sm-12 hidden-md hidden-lg">
            {% include '_partials/tables/borrower_payments_details_table_mobile.html.twig' %}
        </div>
        <div class="hidden-xs hidden-sm col-md-12 col-lg-12">
            {% include '_partials/tables/borrower_payments_details_table.html.twig' %}
        </div>
    </div>

</div><!-- end .container -->

{% endblock body %}