{% extends 'layout.html.twig' %}

{% block header %}
    {% include '_partials/headers/account_header_borrower_for_testing.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <div class="row">
        <div class="col-xs-12">
            <h1>My payment plans</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 cancel-padding">
            {% include '_partials/tables/borrower_payments_overview_table.html.twig' %}
        </div>
    </div>

</div><!-- end .container -->

{% endblock body %}