{% extends 'layout.html.twig' %}

{% block header %}
    {# should be deleted #}
    {% include '_partials/headers/account_header_borrower_for_testing.html.twig' %}

{% endblock header %}

{% block body %}

<div class="container spacing">

    <h1>Anfrage gestartet</h1>

    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
            <span class="sr-only">25% Complete</span>
        </div>
    </div>

    <div class="desp-20"></div>

    <div class="row">
        <div class="text-center col-xs-6 col-md-2 xs-text-left">Registrierung</div>
        <div class="text-center col-md-2 hidden-xs hidden-sm">Kreditantrag</div>
        <div class="text-center col-md-2 hidden-xs hidden-sm">Prüfung </div>
        <div class="text-center col-md-2 hidden-xs hidden-sm">Angebot</div>
        <div class="text-center col-md-2 hidden-xs hidden-sm">Finanzierung </div>
        <div class="text-center col-xs-6 col-md-2 xs-text-right">Auszahlung</div>
    </div>

    <div class="desp-20"></div>

    <div>
        <p>Sie können nun Ihren Kreditantrag starten. Der Prozess besteht aus vier Schritten. Im folgenden Schritt möchten wir Sie gerne zu Ihrem Unternehmen, Ihrem Kreditprojekt und bestehenden Verbindlichkeiten. Dabei können Sie jederzeit abbrechen und zu einem späteren Zeitpunkt fortfahren, ohne dass Ihre bereits eingegebenen Informationen verloren gehen.</p>
        <p>Alle abgefragten Informationen werden für die aussagekräftige Bewertung Ihrer Anfrage bzw. die Festsetzung der Rate benötigt.</p>
        <p>Für einen erfolgreichen Kreditantrag muss das Unternehmen mindestens zwei Jahre bestehen, im letzten Geschäftsjahr einen Umsatz von mindestens 100.000 € aufweisen sowie Jahresabschlüsse (Bilanz und GuV) nach HGB erstellen.</p>

    </div>
</div><!-- end .container -->

<div class="container-wrapper odd">
    <div class="container spacing">
        <div class="row">
            <div class="col-xs-12 text-center">
                <a href="{{ path('loan_request') }}" class="btn btn-lg btn-brrwr">{{ 'Kredit beantragen' }}</a>
            </div>
        </div>
    </div>
</div><!-- end .container-wrapper -->


{% endblock %}
