{% extends 'layout.html.twig' %}

{% block body %}
    <div class="cms-page about-us">
        <div class="container-wrapper header-top">
            <div class="container spacing">
                <h1 class="text-center text-white">Sobre nosotros</h1>
            </div>
        </div>
        <div class="container-wrapper vision">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Zencap: Financiación innovadora para PYMES</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p>Todo aquel que desee dirigir una empresa con éxito, necesita a alguien que deposite su confianza en él y que ponga a su disposición los medios necesarios. Quien quiera invertir su dinero necesita ideas de negocios prometedoras en las cuales valga la pena invertir. Dicho de otro modo: los empresarios necesitan de los inversores tanto como los inversores de los empresarios. En este proceso no se necesita un banco, sólo un espacio seguro en el cual encontrarse para intercambiar ideas y recursos. Un mercado online. La solución: Zencap.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p>Zencap devuelve el negocio bancario a sus raíces sin ser un banco. Es decir, a la financiación como operación de trueque. Dos partes, un lugar común. Empresas e inversores se encuentran en Zencap.
                        </p><p>
                            Financiación e inversiones en Zencap: <a target="_blank" href="https://www.zencap.es/inversores-primeros-pasos-45.html">inversiones seguras</a>, simples y sencillas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper odd">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Los socios fundadores</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Dr. Christian Grobe</h3>
                        <p>Christian es fundador y Director ejecutivo de Zencap. Responsable del Área de Ventas y Márketing, área Financiera y Recursos Humanos. Antes de fundar Zencap trabajó 6 años como consultor en McKinsey &amp; Company como responsable de proyectos.</p>
                        <p>Christian es licenciado en Economía (Universidad de Heidelberg, Princeton University, USA) y Doctor en Ciencias Políticas (Freie Universität, Berlin). Conoce las dificultades de las pequeñas y medianas empresas a través de su participación en varias campañas electorales durante su época de estudiante. Desde entonces tiene como meta unificar su gran pasión personal: la política y la economía, con una idea de negocio que mejorase la financiación para las PYMEs</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3>Dr. Matthias Knecht</h3>
                        <p> Matthias es fundador y Director ejecutivo de Zencap. Entre 2008 y 2014 trabajó de consultor en McKinsey &amp; Company como responsable de proyectos. En Zencap Matthias es el responsable de las áreas de Gestión de Riesgo y Operaciones, así como del contacto con inversores institucionales.</p>
                        <p>Matthias es Ingeniero Industrial (Universidad de Karlsruhe) y Doctor en Economía (Universidad de Nuremberg, Columbia Business School, USA). Su pasión se centra en el sector financiero, por lo que, ha trabajado en los últimos años intensamente con el sector bancario e inversores de capital privado. De este modo se dio cuenta de que las PYMEs ofrecían una oportunidad de inversión muy atractiva que no debía ser patrimonio exclusivo de los bancos tradicionales.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}