{% extends 'layout.html.twig' %}

{% block body %}

    <style>

        /* ==========================================================================
        Affiliate
        ========================================================================== */

        .bkg-program {
            background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/bg2-2.jpg);
            background-repeat: no-repeat;
            background-position: right 50%;
            height: 240px;
            background-size: cover;
        }

        /*  background height on tablet */
        @media (min-width: 768px) and (max-width: 991px) {
            .bkg-program {
                height: 190px;
            }
        }

        .table-earnings td {
            padding: 15px 10px 10px 0;
        }

        .table-earnings tr {
            border-bottom: 1px solid #dee1e3;
        }

        .table-earnings tr:last-child {
            border-bottom: 0;
        }

        .affiliate-benefits .styled li {
            line-height: 1.5em;
        }

        /* background on desktop */
        @media (min-width: 992px) {
            .investor-earning {
                background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/affiliate-borrower-bg3.jpg);
                background-repeat: no-repeat;
                background-position: bottom;
            }
        }

        /* background on desktop */
        @media (min-width: 992px) {
            .brrwr-earning {
                background-image: url(https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/affiliate-investor-bg3.jpg);
                background-repeat: no-repeat;
                background-position: bottom;
            }
        }

        .faq-affiliate .accordion-group {
            border-bottom: 1px solid #fff;
        }

        .faq-affiliate .accordion-group:last-child {
            border-bottom: 0;
        }

        .faq-affiliate .accordion-heading {
            margin: 15px 0;
        }

        .faq-affiliate .accordion-inner {
            padding: 20px 0;
        }

    </style>

<div class="cms-page borrower">

    <div class="container-wrapper">
        <div class="container spacing">
            <h1 class="text-center">Programa de afiliados</h1>
            <p>Zencap reúne a inversores y a pymes sin tener que pasar por un banco. Zencap es una alternativa innovadora de financiación que ofrece soluciones sencillas, seguras y flexibles a las empresas. Los inversores pueden crear a través de Zencap, su propia cartera de inversiones. Zencap es un espacio en el que poder intercambiar ideas y recursos. Regístrese ahora y únase a nuestro programa de afiliados y podrá obtener beneficios extra sin coste.</p>
            <p>Zencap da soluciones de financiación simples, sencillas, seguras y flexibles a las empresas. Los inversores se benefician y obtienen rendimientos atractivos. Además, pueden crear su propria cartera de inversiones. Con Zencap no necesita un banco, sólo un espacio seguro en el que encontrarse para intercambiar ideas y recursos.</p>
            <div>Regístrese ahora y únase a nuestro programa de afiliados y podrá obtener beneficios extra sin coste.</div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper bkg-program hidden-xs"> </div>

    <div class="container-wrapper odd affiliate-benefits">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Sus ventajas</h2>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="styled odd">
                        <li>Comisiones: hasta 60 € por lead (registro)</li>
                        <li>Ganancia a varios niveles: desde la inscripción del inversor o prestatario hasta la recepción del préstamo por parte de la empresa solicitante. Todos los pasos generados serán remunerados.</li>
                        <li>Validación rápida: los leads de los inversores de la categoría 1 serán remunerados incluso si el inversor anula su registro*.</li>
                        <li>Leads de la categoría 2 y ventas serán validados después de 30 días. Recibirá una provisión del importe después de haber descontado los leads falsos</li>
                    </ul>
                    <p><small><muted>*Salvo en caso de leads falsos o fraude.</muted></small></p>
                    <div class="text-center">
                        <a href="https://partner.net.zencap.de/register.html?mid=739" class="btn btn-lg btn-brrwr">Regístrese aquí</a>
                        <div class="desp-10"></div>
                        <p>¿Ya tiene una cuenta? Entre en su cuenta <a href="https://partner.net.zencap.de/">aquí</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper hidden-xs">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Así funciona</h2>
            <div class="row icons-row">
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/page.png" alt="Kunde besucht Ihre Website">
                    <h3 class="text-center">El cliente visita su página web</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"> <img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/click.png" alt="Kunde klickt auf unser Werbemitel">
                    <h3 class="text-center">El cliente hace clic en nuestro banner</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/pen.png" alt="Kunde meldet sich an">
                    <h3 class="text-center">El cliente se registra en Zencap</h3>
                </div>
                <div class="hidden-xs col-sm-1 icons-size"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/next.png" alt=""></div>
                <div class="col-xs-3 col-sm-2 text-center"><img src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/euro.png" alt="Auszahlung bei erfolgreicher Kreditanfrage">
                    <h3 class="text-center">Usted recibe el pago si el cliente ha solicitado un préstamo</h3>
                </div>
                <div class="desp-20"></div>
                <div class="col-xs-12 text-center">
                    <a href="https://partner.net.zencap.de/register.html?mid=739" class="btn btn-lg btn-brrwr">Regístrese aquí</a>
                    <div class="desp-10"></div>
                    <p>¿Ya tiene una cuenta? Entre en su cuenta <a href="https://partner.net.zencap.de/">aquí</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd brrwr-earning">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="faux-h1 text-center">Posibilidades de ganancias con el programa de <br>afiliados de Zencap</h2>
                    <h3 class="text-borrower">Prestatarios</h3>
                </div>
            </div>
            <table class="col-xs-12 col-sm-9 col-md-5 table-earnings">
                <tbody>
                <tr>
                    <td class="lead text-borrower">Lead 1</td>
                    <td class="text-right">30 €</td>
                </tr>
                <tr>
                    <td class="lead text-borrower">Lead 2</td>
                    <td class="text-right">+15 €</td>

                </tr>
                </tbody>
            </table>
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 col-md-9">
                    <p><strong>Definición Lead 1</strong>:  Un “lead 1” es una solicitud de préstamo enviado online por un usuario. Esto quiere decir que el usuario ha hecho clic en en botón “solicite su préstamo”, ha rellenado el formulario correctamente y lo ha enviado a Zencap (haciendo clic en el botón „enviar“).</p>
                    <p><strong>Definición Lead 2</strong>:  El usuario ha hecho clic en el botón „aceptar propuesta“. Esto quiere decir que el usuario tiene que haber aceptado la propuesta de préstamo de Zencap y su proyecto tiene que estar publicado en la página de Zencap para generar un lead 2.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <div class="text-center pull-left">
                        <a href="http://partner.net.zencap.de/register.html?mid=507" class="btn btn-lg btn-brrwr">Regístrese aquí</a>
                        <div class="desp-10"></div>
                        <p>¿Ya tiene una cuenta? Entre en su cuenta <a href="https://partner.net.zencap.de/">aquí</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper investor-earning">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <h3 class="text-investor">Inversores</h3>
                </div>
            </div>
            <div class="custom-row">
                <div class="col-xs-12">
                    <table class="col-xs-12 col-sm-9 col-md-5 col-md-offset-3 table-earnings">
                        <tbody>
                        <tr>
                            <td class="lead text-investor">Lead 1</td>
                            <td class="text-right">5 €</td>
                        </tr>
                        <tr>
                            <td class="lead text-investor">Lead 2</td>
                            <td class="text-right">+40 €</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 col-md-9 col-md-offset-3">
                    <p><strong>Definición lead 1</strong>: Un “lead 1” es una inscripción de un inversor realizado con éxito.</p>
                    <p><strong>Definición lead 2</strong>: Un “lead 2” es una oferta de inversión, que es una oferta vinculante de inversión para uno o más proyectos de préstamo. Si un proyecto de préstamo no ha tenido inversores suficientes y no se ha financiado en su totalidad, la inversión no se realiza.</p>
                    <p>Usted recibirá la comisión por ofertas de inversión, cada vez que un nuevo inversor invierte por primera vez, es decir, si un inversor invierte en un proyecto después de registrarse a través de su publicidad o anuncio, se beneficiará de la comisión por lead 2.</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-xs-8 col-xs-offset-4 col-sm-3 col-sm-offset-9 col-md-3 col-md-offset-9">
                    <div class="text-center">
                        <a class="btn btn-lg btn-nvstr" href="https://partner.net.zencap.de/register.html?mid=739">Regístrese aquí</a>
                        <div class="desp-10"></div>
                        <p>¿Ya tiene una cuenta? Entre en su cuenta <a href="https://partner.net.zencap.de/">aquí</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div><!-- end .container-wrapper -->

    <div class="clearfix"></div>

    <div class="container-wrapper odd faq-affiliate">
        <div class="container spacing">
            <p class="faux-h1 text-center">Preguntas frecuentes de afiliados</p>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                    <h3>Preguntas frequentes</h3>
                    <div class="accordion-group">
                        <div class="accordion-heading"><a class="collapsed" href="#general-1" data-toggle="collapse" data-parent="#faq-collapse1"><i class="fa fa-angle-down fa-large pull-right"></i>¿Cuánto tiempo tendría que esperar para recibir la comisión?</a></div>
                        <div id="general-1" class="accordion-body collapse">
                            <div class="accordion-inner">Depende del proyecto de préstamo. En algunos casos, puede ser muy corto (nuestro proyecto que más rápido se financió fue en 1 día), en otros casos puede tardar hasta 60 días. El tiempo promedio es de 30 días.</div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"><a class="collapsed" href="#general-2" data-toggle="collapse" data-parent="#faq-collapse1"><i class="fa fa-angle-down fa-large pull-right"></i>¿Cuántos lead 1 pasan a ser lead 2?</a></div>
                        <div id="general-2" class="accordion-body collapse">
                            <div class="accordion-inner">Nosotros evaluamos y analizamos todas las solicitudes de préstamo antes de publicarlas en nuestra plataforma web, por lo que las solicitudes se reducen un 80% entre un lead 1 y un lead 2: de 100 solicitudes, sólo 20 pasan a ser lead 2.</div>
                        </div>
                    </div>
                    <div class="accordion-group">
                        <div class="accordion-heading"><a class="collapsed" href="#general-3" data-toggle="collapse" data-parent="#faq-collapse1"><i class="fa fa-angle-down fa-large pull-right"></i>¿Están seguras mis inversiones?</a></div>
                        <div id="general-3" class="accordion-body collapse">
                            <div class="accordion-inner">Zencap le garantiza que todos los proyectos de préstamo que están dados de alta en nuestra plataforma han sido exhaustivamente examinados de acuerdo a los estándares de solvencia más exigentes. Todos los proyectos de préstamo son examinados cuidadosamente por nuestros expertos. Además de los datos financieros de las empresas (balances anuales y análisis económicos) nuestro cálculo de riesgo se basa en la evaluación de solvencia de acuerdo a informaciones de renombradas agencias de control. En caso de que un prestatario no cumpla con sus obligaciones, nuestro departamento de cobros se ocupa de mantener su margen de pérdida tan bajo como sea posible.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-4 col-sm-3 col-md-3 col-md-offset-1"> <img alt="publisher@zencap.de" src="https://d1x3gb5zl465n8.cloudfront.net/de/lp/partner/sarah1.jpg" class="img-circle img-responsive"> </div>
                <div class="col-xs-8 col-sm-9 col-md-7">
                    <p class="faux-h2">Contacto</p>
                    <p>Si está interesado en una posible colaboración con nosotros, por favor póngase en contacto con nosotros:<a href="mailto:publisher@zencap.es">  publisher@zencap.es</a></p>
                    <p><a href="mailto:publisher@zencap.es"><i class="fa fa-envelope-o fa-large"></i>&nbsp; publisher@zencap.es</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}