<!-- cms block investor-signup-info -->
<style>

    .signup-info .styled li {
        padding: 8px 25px 10px;
    }

</style>

<div class="cms-page borrower signup-info">
    <h2 class="faux-h3">Sus ventajas de un vistazo</h2>
    <ul class="styled check">
        <li>Estudio gratuito y sin compromisos</li>
        <li>Tipo de interés desde 4,99%</li>
        <li>Sin costes por cancelación anticipada</li>
        <li>Plazos de devolución flexibles, desde 6 a 60 meses</li>
        <li>Sin impacto en su calificación crediticia, al no computar en CIRBE</li>
    </ul>
</div>
<!-- end cms block investor-signup-info -->