{% extends 'layout.html.twig' %}

{% block body %}

<div class="container spacing">
    <h1>Contacto</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <h3>Servicio empresas</h3>
            <hr>
            <p>
                Teléfono: 911 98 09 61<br>
                Horario de atención: Lu - Vi de 9:00 a 18:00<br>
                E-Mail: <a href="mailto:empresas@zencap.es">empresas@zencap.es</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-2">
            <h3>Servicio inversores</h3>
            <hr>
            <p>
                Teléfono: 911 98 09 62<br>
                Horario de atención: Lu - Vi de 9:00 a 18:00<br>
                E-Mail: <a href="mailto:inversores@zencap.es">inversores@zencap.es</a>
                <br><br><br>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <h3>Prensa</h3>
            <hr>
            <p>
                Teléfono: 911 98 09 63<br>
                Horario de atención: Lu - Vi de 9:00 a 18:00<br>
                E-Mail: <a href="mailto:informacion@zencap.es">informacion@zencap.es</a>
            </p>
        </div>
        <div class="col-xs-12 col-sm-5 col-sm-offset-2">
            <h3>Relaciones institucionales</h3>
            <hr>
            <p>
                Teléfono: 911 98 09 62<br>
                Horario de atención: Lu - Vi de 9:00 a 18:00<br>
                E-Mail: <a href="mailto:inversores@zencap.es">inversores@zencap.es</a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-5">
            <h3>Nuestras oficinas</h3>
            <hr>
            <p>
                Zencap Spain S.L.U.<br>
                Calle de Canillas 3 - Bajo H<br>
                28002 Madrid<br>
                Registrado en el registro comercial de Madrid, <br>
                tomo 32333, folio 75, hoja M-582031
            </p>
        </div>
    </div>
</div>

{% endblock body %}