{% extends 'layout.html.twig' %}

{% block body %}

<style>

    table tr td, th {
        font-family: Arial, Helvetica, sans-serif;
    }

    table thead th {
        font-size: 14px;
        padding: 8px 3px;
    }

    table tbody td {
        padding: 5px 3px;
        font-size: 12px;
    }

</style>

<div class="container spacing">
    <h1 class="text-center">
        <strong>Política de cookies</strong>
    </h1>
    <p>El Sitio Web utiliza cookies. Una cookie es un archivo de texto que es grabado en su dispositivo cuando usted visita un sitio web. Las cookies pueden mejorar la navegación, recordar sus preferencias, así como adaptar los anuncios a los más relevantes para usted.</p>

    <p>Usted puede rechazar el uso de cookies, mediante la selección de la configuración apropiada de su navegador, sin embargo, tenga en cuenta que si lo hace puede que no pueda usar este sitio web en su plena funcionalidad.</p>

    <p>La eliminación de las cookies depende del navegador que está utilizando. Aquí están los pasos para los navegadores más populares.</p>
    <ul>
        <li>Internet Explorer: <a href="http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies#ie=ie-8.">http://windows.microsoft.com/es-xl/internet-explorer/delete-manage-cookies#ie=ie-8.</a></li>
        <li>Firefox: <a href="https://support.mozilla.org/es/kb/Borrar%20cookies.">https://support.mozilla.org/es/kb/Borrar%20cookies.</a></li>
        <li>Chrome: <a href="https://support.google.com/chrome/answer/95647">https://support.google.com/chrome/answer/95647</a>.</li>
    </ul>
    <h2>Cookies de Zencap</h2>
    <p>ZENCAP utiliza cookies para poder reconocer el equipo que usted utiliza la próxima vez que visite ZENCAP, y para poner a su disposición los valores predeterminados de las funciones de ZENCAP que usted haya configurado con ese equipo.</p>
    <h2>Cookies de terceros</h2>
    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th class="col-xs-4">Cookie</th>
            <th class="col-xs-4">Empresa</th>
            <th class="col-xs-4">Finalidad</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Google Analytics</td>
            <td>Google</td>
            <td>Almacena información estadística sobre la interacción de los usuarios en el sitio web</td>
        </tr>
        <tr>
            <td>New Relic</td>
            <td>New Relic</td>
            <td>Información estadística sobre el rendimiento de la página</td>
        </tr>
        <tr>
            <td>Google Adwords</td>
            <td>Google</td>
            <td>Seguimiento de conversiones cuando usuario hace clic en un anuncio emitido por Google.</td>
        </tr>
        <tr>
            <td>Google tag manager</td>
            <td>Google</td>
            <td>Etiquetas para eventos que se producen en el portal</td>
        </tr>
        <tr>
            <td>Conviva</td>
            <td>Conviva</td>
            <td>Control de calidad en la reproducción de contenidos de vídeo</td>
        </tr>
        <tr>
            <td>Device Indent Gmbh</td>
            <td>Device Indent Gmbh</td>
            <td>Información codificada sobre el IP del usuario para evitar usos fraudulentos</td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}