{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page homepage">

    <!-- begins cms block 'il-hp' -->

    <div class="container-wrapper">
        <div class="container page-head">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="text-center">Invertir dinero en préstamos online para empresas</h1>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper header-top main-image-es"></div><!-- end .main-image-es -->

    <div class="home-inner">
        <!--  Buttons only on mobile -->
        <div class="container-wrapper visible-xs hidden-sm hidden-md hidden-lg special-buttons ">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <a href="/borrower-getting-started" class="btn btn-block btn-lg btn-brrwr">
                            Calcule su cuota</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="/lender-getting-started" class="btn btn-block btn-lg btn-nvstr ">
                            Información inversores</a>
                    </div>
                </div>
            </div>
        </div><!-- end .special-buttons -->
    </div><!-- end .home-inner -->

    <div class="desp-20 odd visible-xs hidden-sm hidden-md hidden-lg"></div>

    <div class="container-wrapper odd hidden-xs visible-sm visible-md visible-lg tiles tiles-es">
        <div class="container">
            <div class="row">
                <div class="pull-down">
                    <div class="hidden-xs col-sm-5 col-sm-offset-1">
                        <div class="white-box">
                            <div class="borrower">
                                <div class="desp-20"></div>
                                <p class="faux-h3">Para empresas</p>
                                <ul class="styled check">
                                    <li>Préstamos de hasta 150.000 €</li>
                                    <li>Independiente de los bancos</li>
                                    <li>Tramitación rápida y segura</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="/borrower-getting-started" class="btn btn-lg btn-block btn-brrwr">Calcule su cuota</a>
                            </div>
                            <div class="desp-20"></div>
                        </div>
                    </div><!-- end .hidden-xs col-sm-5 -->

                    <div class="hidden-xs col-sm-5">
                        <div class="white-box">
                            <div class="investor">
                                <div class="desp-20"></div>
                                <p class="faux-h3">Para inversores</p>
                                <ul class="styled check">
                                    <li>Rendimientos atractivo</li>
                                    <li>Fomento de las PYMEs</li>
                                    <li>Reembolsos mensuales</li>
                                </ul>
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href="/lender-getting-started" class="btn btn-block btn-lg btn-nvstr">Información inversores</a>
                            </div>
                            <div class="desp-20"></div>
                        </div>
                    </div><!-- end .hidden-xs col-sm-5 -->
                </div>
            </div>
        </div>
    </div><!-- end .tiles -->

    <div class="clearfix"></div>

    <div class="container spacing">
        <a class="hidden-xs" href="/revista-de-prensa-36.html"><img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/es/home/press/logos_uptade1.png"></a>
        <hr>
        <h2 class="faux-h1 text-center">Nuestro anuncio de televisión</h2>
        <div class="row">
            <div class="col-xs-12 cancel-padding">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="534" height="300" frameborder="0" allowfullscreen="" src="//player.vimeo.com/video/104310010" class="embed-responsive-item"></iframe>
                </div>
            </div>
        </div>
        <div class="row page-head hidden-xs">
            <div class="col-xs-12">
                <img alt="" src="https://d1x3gb5zl465n8.cloudfront.net/es/home/press/logos-tv2.jpg">
            </div>
        </div>
    </div><!-- end .container -->

    <div class="container-wrapper odd benefits">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Ventajas del Crowdlending</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Préstamos online con condiciones favorables</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4">
                        <img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/home/benefit-small-01.png">
                    </div>
                    <p>Zencap no es un banco y por lo tanto no tiene que financiar una red de sucursales. Este ahorro se destina directamente a sus clientes. <br><a href="/prestamos-dinero-empresas-46.html">Más información para empresas...</a></p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Rendimientos atractivos</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4">
                        <img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/home/benefit-small-02.png">
                    </div>
                    <p>Diseñe su cartera de inversiones de acuerdo a su perfil de riesgo, diversifique entre los distintos proyectos de préstamo y asegúrese rendimientos atractivos<br><a href="/inversores-primeros-pasos-45.html">Más información para inversores...</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Independiente de los bancos</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4">
                        <img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/home/benefit-small-03.png">
                    </div>
                    <p>
                        El Crowdlending le pertimte mejorar su posición de negociación frente a los bancos. Evite las largas entrevistas con asesores bancarios y dedíquese a lo realmente importante: su empresa. <br><a href="/prestamos-dinero-empresas-46.html">Más información para empresas...</a></p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Apoyo al desarrollo económico</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4">
                        <img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/home/benefit-small-04.png">
                    </div>
                    <p>Las pequeñas y medianas empresas son el motor de la economía real. Apoye la creación de puestos de trabajo y el crecimiento sostenible a través de su inversión.
                    <a href="/inversores-primeros-pasos-45.html">Más información para inversores...</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper lp-steps">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="faux-h1 text-center">Préstamos online: Cómo funcionan </h2>
                </div>
                <div class="col-xs-12 col-sm-4"> <img alt="" class="img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/home/howitworks-01.png" />
                    <div> <span class="text-borrower"><strong>La empresa</strong></span> solicita un préstamo online</div>
                    <p> <span class="text-investor"><strong>El inversor</strong></span> se registra  </p>
                </div>
                <div class="col-xs-12 col-sm-4"> <img alt="" class="img-responsive"  src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/home/howitworks-02.png" />
                    <div> <span class="text-borrower"><strong>La empresa</strong></span> obtiene financiación</div>
                    <p><span class="text-investor"><strong>El inversor</strong></span> crea una cartera de inversión</p>
                </div>
                <div class="col-xs-12 col-sm-4"> <img alt="" class="img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/home/howitworks-03.png"/>
                    <div><span class="text-borrower"><strong>La empresa</strong></span> reembolsa el préstamo</div>
                    <p><span class="text-investor"><strong>El inversor</strong></span> obtiene rendimientos y reinvierte</p>
                </div>
                <div class="col-xs-12">
                    <h3>Zencap ofrece un modelo financiero más eficaz</h3>
                    <p>Zencap es una plataforma de Crowdlending en el que inversores particulares pueden invertir dinero de forma directa en pequeñas y medianas empresas, sin intermediarios financieros. Las PYMEs se financian a tipos de interés más competitivos y los inversores obtienen mejores rendimientos. Todo dentro de un proceso sencillo, rápido y transparente. Los préstamos online rápidos son una buena forma de conseguir el dinero que su empresa necesita para financiar los proyectos que son importantes para su empresa.Si pensamos en los inversores, invertir dinero online en PYMEs es la mejor forma de conseguir rentabilidad y, a la vez apoyar el crecimiento de la economía española
                        <a href="/como-funciona-18.html" target="_blank">Más información préstamos online...</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>El préstamo para su empresa</h3>
                    <p>No dependa de los bancos<br>
                        Obtenga condiciones favorables de préstamo</p>
                    <p><a class="btn btn-lg btn-brrwr" href="/loan-request/register#baseForm">Solicite un préstamo</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 text-center">
                    <h3>Su inversión</h3>
                    <p>Apoye a las PYMEs y obtenga rendimientos<br>
                        Cree su cartera de inversiones y diversifique el riesgo</p>
                    <p><a class="btn btn-lg btn-nvstr" href="/registro/lender/">Invierta ahora</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <!-- end cms block 'il-hp' -->

    <!-- THIS IS A PARTIAL, NOT TO PUT IN CMS  -->


    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <h2 class="faux-h1 text-center">Proyectos de préstamo actuales</h2>
                <table class="table custom-table">
                    {% include '_partials/tables/loanProjectsTable.html.twig' %}
                </table>
            </div>
        </div>
    </div>
    <!--  end PARTIAL -->


    <!-- cms block 'il-hp-bottom' -->

    <!-- ends cms block 'il-hp-bottom' -->

</div><!-- end .homepage -->


{% endblock body %}