{% extends 'layout.html.twig' %}

{% block body %}

<div class="container spacing">
    <h1>Aviso Legal</h1>
    <div class="row">
        <div class="col-xs-12">
            <p>
                Zencap Spain S.L.U.<br>
                Calle de Canillas 3 - Bajo H<br>
                28002 Madrid<br>
                España
            </p>
            <p>
                Gerentes<br>
                Dr. Matthias Knecht, Dr. Christian Grobe
            </p>
            <p>
                Registrado en el registro comercial de Madrid, tomo 32333, folio 75, hoja M-582031, VAT: ES B87011086<br>
            </p>
        </div>
    </div>
</div>

{% endblock %}