<!-- cms block investor-signup-info -->
<style>

    .signup-info .styled li {
        padding: 8px 25px 10px;
    }

</style>

<div class="cms-page investor signup-info">
    <h2 class="faux-h3">Sus ventajas de un vistazo</h2>
    <ul class="styled check">
        <li>Cuenta de inversor gratuita</li>
        <li>Rendimiento medio de 7,85%</li>
        <li>Inversiones desde 50 €</li>
        <li>Devoluciones mensuales</li>
    </ul>
</div>
<!-- end cms block investor-signup-info -->