{% extends 'layout.html.twig' %}

{% block body %}
<div class="cms-page borrower borrower-es">

    <div class="container-wrapper three-steps">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Inversiones rentables y seguras con Zencap</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <img class="hidden-xs img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/3steps-01.png" alt="">
                    <h3>Regístrese</h3>
                    <p>Cree su cuenta de inversor en solo unos minutos de forma rápida y sencilla. Benefíciese de las inversiones seguras, rentables y flexibles que le ofrece Zencap. Podrá  <a tar href="https://www.zencap.es/invertir-online-pymes-77.html">invertir online </a> hasta un máximo de 1.000€ sin necesidad de aportar documentación adicional. Para inversiones superiores a 1.000€ necesitaremos una copia de su DNI.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4 grey-note">
                    <img class="hidden-xs img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/3steps-02.png" alt="">
                    <h3>Cree una cartera de inversiones</h3>
                    <p> Seleccione el proyecto de préstamo en el que desea invertir. Diversifique su cartera de inversiones según sus preferencias de riesgo y apoye el desarrollo de las PYMEs. Aprenda como invertir mejor con las inversiones seguras y rentables que le ofrecemos, además con Zencap podrá escoger entre inversiones financieras a largo plazo o a corto plazo.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-4"> <img class="hidden-xs img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/3steps-03.png" alt="">
                    <h3>Obtenga rendimientos y reinvierta</h3>
                    <p>Si se financia el préstamo online en el que ha invertido, comenzará a recibir mensualmente los reembolsos de las cuotas más los intereses. En nuestra plataforma podrá consultar toda la información relativa a su inversión.</p>
                </div>
                <div class="col-xs-12 text-center">
                    <a class="btn btn-lg btn-nvstr" href="/registro/lender/">Invierta ahora</a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd benefits">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Inversiones financieras a largo plazo, inversiones financieras a corto plazo</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Inversiones inteligentes</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4"><img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/benefit-small-01.png"></div>
                    <p>Obtenga rendimientos atractivos y diseñe una cartera de inversión acorde a su perfil de riesgo, ya sea para inversiones conservadoras o arriesgadas. Nosotros le ofrecemos inversiones seguras, inversiones rentables y flexibles para adaptarnos a sus necesidades <br> como inversor.
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Apoyo al desarrollo económico</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4"><img src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/benefit-small-02.png">
                    </div>
                    <p>Las PYMEs son el motor de la economía. Mediante su inversión apoyará la creación de puestos de trabajo y el crecimiento de la economía real, al mismo tiempo obtiene altos rendimientos en sus inversiones financieras. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>Total transparencia </h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-4"><img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/benefit-small-03.png">
                    </div>
                    <p>Todas las solicitudes de préstamo son analizadas cuidadosamente, siguiendo una evaluación de riesgo igual de exigente que en un banco. En nuestra plataforma podrá consultar la información referente a la solvencia de las empresas, su clasificación <br>de riesgo y los tipos de interés asignados.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Ingresos mensuales</h3>
                    <div class="pull-right hidden-xs col-sm-12 col-md-5"><img src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/benefit-small-04.png">
                    </div>
                    <p>Mensualmente recibirá los ingresos derivados de todas sus inversiones en su cuenta bancaria. De este modo, generará rendimientos mensuales desde el primer día, sin tener que esperar al vencimiento de la inversión.
                    </p>
                </div>
            </div>
            <div class="row page-head">
                <div class="col-xs-12 text-center">
                    <a href="/registro/lender/" class="btn btn-lg btn-nvstr">Invierta ahora</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-wrapper">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Gestión del riesgo con Zencap</h2>

            <div class="row">
                <div class="col-xs-12">
                    <h3>¿Cuál es el riesgo?</h3>
                    <div class="pull-right hidden-xs hidden-sm col-md-4"><img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/riskmanagement-01.jpg"></div>
                    <p>Invertir en empresas implica siempre un riesgo potencial de pérdida. Para que pueda calcular el riesgo correctamente, en Zencap le damos una gran importancia a la transparencia. Por este motivo publicamos la clasificación de solvencia de todos los préstamos ofrecidos y la probabilidad de impago. Además, los gerentes y propietarios de las empresas responden con su patrimonio aportando su garantía personal. Excepcionalmente, en los casos de empresas con la más alta solvencia económica, Zencap no tomará esta garantía personal.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>¿Qué hace Zencap para reducir mi riesgo?</h3>
                    <div class="pull-right hidden-xs hidden-sm col-md-4"><img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/riskmanagement-02.jpg">
                    </div>
                    <p>En Zencap le garantizamos que todos los proyectos de préstamo que están dados de alta en nuestra plataforma, han sido exhaustivamente analizados de acuerdo a los estándares de solvencia más exigentes. Cada solicitud es examinada cuidadosamente por nuestro equipo de expertos analistas. Además de los datos financieros de las empresas balances anuales y cuentas de resultados, nuestro cálculo de riesgo se basa en la evaluación de solvencia que nuestros analistas hacen de acuerdo a la información obtenida de las agencias de información más importantes. En caso de que un prestatario incumpla con sus obligaciones de pago en un préstamo, nuestro departamento de cobros se ocupará íntegramente de la gestión de recobro de la deuda. Nosotros nos aseguramos de que realice inversiones seguras y rentables.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <h3>¿Qué puedo hacer para minimizar mi riesgo?</h3>
                    <div class="pull-right hidden-xs hidden-sm col-md-4"><img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/riskmanagement-03.jpg">
                    </div>
                    <p>Si usted diversifica su cartera de inversiones y distribuye su dinero en diferentes proyectos, minimiza el riesgo. Por ejemplo: usted puede elegir entre invertir 2.500€ en un solo proyecto o pequeñas inversiones de 100€ en 25 proyectos distintos. En el primer caso puede llegar a perder incluso el 100% de su inversión si la empresa que usted ha seleccionado se declara insolvente. Sin embargo, si invierte una cantidad similar en 25 proyectos diferentes y el mismo prestatario se retrasa, su pérdida correspondería tan sólo al 4% de la cantidad total invertida.</p>
                </div>
            </div>
            <div class="row page-head">
                <div class="col-xs-12 text-center">
                    <a href="/registro/lender/" class="btn btn-lg btn-nvstr">Invierta ahora</a>
                    <div class="desp-10"></div>
                    <p>Si tiene alguna duda consulte nuestro apartado de <a href="/preguntas-frecuentes-inversor-17.html">preguntas frecuentes</a></p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}