{% extends 'layout.html.twig' %}

{% block body %}

    <style>
        .container-wrapper .styled li {
            border-bottom: 0px;
            line-height: 1.5em;
        }

        .box-text {
            font-size: 18px;
            padding: 10px;
            text-align: center;
            background-color: #FFF;
            height: 40px;
        }


        .container-wrapper .styled li {
            border-bottom: 0px;
            line-height: 1.5em;
            color: #FFF;
        }
    </style>

    <div class="cms-page investor">

        <div class="container-wrapper"
             style="background-image:url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/anleger/investor-bg1.jpg'); background-position:50% 50%; background-repeat: no-repeat;">
            <div class="container spacing">
                <div class="row">
                    <h1 class="text-white text-center">Invierta en el éxito de las PYMEs españolas</h1>

                    <div class="col-xs-9 col-xs-offset-1 hidden-xs">
                        <p class="text-white" style="font-size:18px">Sus ventajas en Zencap:</p>
                    </div>

                    <div class="col-xs-8 col-xs-offset-1 hidden-xs">
                        <ul class="styled check">
                            <li>Préstamos seguros que apoyan el crecimiento de la economía real española</li>
                            <li>Rendimientos atractivos y reembolsos mensuales</li>
                            <li>Diversificación: diseñe su propia cartera de inversiones</li>
                            <li>Inversiones a partir de 50€</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 text-center">
                        <p class="text-white">Aproveche todo el potencial de su dinero e invierta en pequeñas y medianas empresas solventes
                            y con posibilidades de crecimiento.
                            <!--<p><strong><a style="color:#FFF; text-decoration: underline; " href="#info">Condiciones de nuestra promoción:</a></strong></p>-->
                    </div>

                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg btn-nvstr" href="/registro/lender/">Invierta ahora</a> <br>
                        <br>
                    </div>

                </div><!-- .row -->
            </div>
        </div>

        <div class="container page-head">
            <div class="row">
                <div class="col-xs-12 cancel-padding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="534" height="300" frameborder="0" class="embed-responsive-item"
                                src="//player.vimeo.com/video/104309894" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-wrapper loan-types">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Usted tiene la elección - clasificación de las inversiones según Zencap</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-7 cancel-padding">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Categorías <br>Zencap</th>
                                    <th class="hidden-xs">Tipo de <br>interés</th>
                                    <th>Tasa de <br>rendimiento<sup>1</sup></th>
                                    <th>Probabilidad <br>incumplimiento<sup>2</sup></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="grade grade-a-plus grade-large">A<span>+</span></span></td>
                                    <td class="hidden-xs">4,99 % - 7,76 %</td>
                                    <td>3,99 % - 6,76 %</td>
                                    <td>0,01 % - 1,04 %</td>
                                </tr>
                                <tr>
                                    <td><span class="grade grade-a grade-large">A</span></td>
                                    <td class="hidden-xs">5,49 % - 8,57 %</td>
                                    <td>4,49 % - 7,57 %</td>
                                    <td>1,05 % - 2,03 %</td>
                                </tr>
                                <tr>
                                    <td><span class="grade grade-b grade-large">B</span></td>
                                    <td class="hidden-xs">6,41 % - 10,21 %</td>
                                    <td>5,41 % - 9,21 %</td>
                                    <td>2,04 % - 4,01 %</td>
                                </tr>
                                <tr>
                                    <td><span class="grade grade-c grade-large">C</span></td>
                                    <td class="hidden-xs">8,31 % - 13,68 %</td>
                                    <td>7,31 % - 12,68 %</td>
                                    <td>4,02 % - 8,04 %</td>
                                </tr>
                                <tr>
                                    <td><span class="grade grade-c-minus grade-large">C-</span></td>
                                    <td class="hidden-xs">12,34 % - 21,00 %</td>
                                    <td>11,34 % - 20,00 %</td>
                                    <td>8,05 % - 15,94 %</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <small class="col-xs-12">
                            <sup>1</sup>La tasa de rendimiento es la rentabilidad de su inversión una vez descontada la comisión de Zencap (antes de impuestos). En cumplimiento de la ley fiscal española usted recibirá los cobros descontando el Impuesto sobre la Renta de Personas Físicas (21% sobre sus beneficios) y podrá descargar los certificados correspondientes directamente de nuestra página.<br><br>
                            <sup>2</sup>La probabilidad de incumplimiento de pago de un préstamo, se refiere al riesgo promedio con el que pueden surgir dificultades para el pago, durante la vigencia del mismo. Esta probabilidad no significa inmediatamente la pérdida de sus beneficios como inversor, porque el verdadero valor de pérdida depende de otros factores, como el momento de interrupción del pago, del éxito de la agencia de cobros, así como del valor de la garantía aportada. De esta manera, en términos generales, la pérdida probable en una inversión es menor a la probabilidad de incumplimiento de pagos calculada.
                        </small>
                    </div>
                    <div class="desp-20 hidden-md hidden-lg"></div>
                    <div class="col-xs-12 col-md-5">
                        <h3>Rentabilidades atractivas</h3>
                        <p>Su tasa de rendimiento variará dependiendo del nivel de riesgo de su inversión. Cuanto más alto sea el riesgo, mayores serán los intereses que reciba. Elija el nivel de riesgo que más se adecúe a su perfil y mantenga un control total sobre sus inversiones.</p>
                        <h3>Riesgos transparentes</h3>
                        <p>Las empresas en las que se puede invertir se clasifican en cinco categorías de solvencia en función de su nivel de riesgo, de la A+ a la C-. Dicha clasificación se basa en el cálculo de la probabilidad de incumplimientos en los pagos ya sea por incumplimiento parcial o total en el reembolso del préstamo. Esta probabilidad es muy baja para las empresas clasificadas como A+, y más alta para empresas con la denominación C-. Por ejemplo: si usted invierte en 100 préstamos en la plataforma Zencap, clasificados en la categoría A+, hay una probalidad de que el 0,52% de los préstamos no sean reembolsados parcial o totalmente.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-wrapper odd">
            <div class="container spacing">
                <p class="faux-h1 text-center">La seguridad de sus inversiones</p>

                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <p>Para minimizar su riesgo, en Zencap valoramos la transparencia y la confianza. Todos los
                            proyectos de préstamo son examinados cuidadosamente por nuestro equipo de expertos
                            analistas.</p>

                        <p>Nuestro cálculo de riesgo de crédito se basa en una evaluación exhaustiva de los datos
                            financieros, así como de aspectos cualitativos de las empresas, con el objetivo de
                            determinar la capacidad de pago del potencial cliente.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <p> Nuestros especialistas, se apoyan en informes de renombradas agencias de información
                            financiera. Según el nivel de riesgo, los proyectos son clasificados en cinco categorias de
                            inversión:<br>A+ hasta C-.</p>

                        <p>Además, los administradores o propietarios están dispuestos a responder con su propio
                            patrimonio personal como garantía del reembolso del crédito.</p>
                    </div>
                    <div class="col-xs-12 text-center"><a class="btn btn-lg btn-nvstr" href="/registro/lender/">Invierta
                            ahora</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-wrapper three-steps">
            <div class="container spacing">
                <h1 class="text-center">Sólo tres pasos para su inversión</h1>

                <div class="row">
                    <div class="col-xs-12 col-sm-4">
                        <img class="hidden-xs img-responsive" alt=""
                             src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/3steps-01.png">
                        <div class="desp-20"></div>
                        <h3>Regístrese</h3>

                        <p>Cree su cuenta de inversor en sólo unos minutos de forma rápida y sencilla. Podrá <a
                                href="https://www.zencap.es/invertir-online-pymes-77.html" target="_blank">invertir
                                online </a> hasta un máximo de 1000 € sin necesidad de aportar documentación adicional. Para
                            inversiones superiores a 1000 € necesitaremos una copia de su DNI.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 grey-note">
                        <img class="hidden-xs img-responsive" alt=""
                             src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/3steps-02.png">
                        <div class="desp-20"></div>
                        <h3>Cree una cartera de inversiones</h3>

                        <p>Seleccione el proyecto de préstamo en el que desea invertir. Diversifique su cartera de
                            inversiones según sus preferencias de riesgo y apoye el desarrollo de las PYMEs.</p>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <img alt="" class="hidden-xs img-responsive"
                             src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/investor/3steps-03.png">
                        <div class="desp-20"></div>
                        <h3>Obtenga rendimientos y reinvierta</h3>

                        <p>Si se financia el préstamo en el que ha invertido, comenzará a recibir mensualmente los
                            reembolsos de las cuotas más los intereses. En nuestra plataforma podrá consultar toda la
                            información relativa a su inversión.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <a class="btn btn-lg btn-nvstr" href="/registro/lender/">Invierta ahora</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container logos">
            <a
                href="/revista-de-prensa-36.html#pressestimmen"><img class="hidden-xs img-responsive"
                                                                     src="https://d1x3gb5zl465n8.cloudfront.net/es/home/press/logos_uptade1.png"
                                                                     alt=""></a>
        </div>

    </div>
    </div>

{% endblock %}