{% extends 'layout.html.twig' %}

{% block body %}

<style>
    .container-wrapper .styled li {
        border-bottom: 0px;
        line-height: 1.5em;
    }
    .box-text {
        font-size: 18px;
        padding: 10px;
        text-align: center;
        background-color: #fff;
    }

    .offset1 {
        margin-left:70px;
    }

    @media (min-width: 992px) {
        h1 {
            margin-bottom: 5px;
        }
    }
</style>

<div class="cms-page investor">

    <div class="container-wrapper"
         style="background-image:url('https://d1x3gb5zl465n8.cloudfront.net/es/lp/levante/hero4.jpg'); background-position:65% 50%; background-repeat: no-repeat; height: 384px; background-color:#6a8245;">
        <div class="container page-head">
            <div class="row">
                <div class="col-xs-12 text-white">
                    <h1 class="text-white">Zencap y el<br/>
                        Levante UD-EDI</h1>
                    <p class="text-white">juntos apoyando el deporte sin barreras</p>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="text-white" style="font-size: 16px; line-height: 20px;"><strong>Este proyecto no esta ahora mismo disponible pero puede invertir en otros proyectos de prestamo</strong></div>
                        </div>
                        <div class="hidden-xs col-sm-6">
                            <img class="pull-right" src="https://d1x3gb5zl465n8.cloudfront.net/es/lp/levante/levante-escudo.png"
                                 alt="Levante UD">
                        </div>
                    </div>
                    <div class="desp-10 hidden-sm hidden-md hidden-lg"></div>
                    <div>
                        <a href="/solicitar-prestamo/indice" class="btn btn-lg btn-nvstr">Invierta ahora</a>
                    </div>
                 </div>
            </div>
        </div>
    </div>

<div class="container-wrapper">
    <div class="container spacing">
        <div class="col-xs-12">
            <h2 class="faux-h1 text-center">Zencap & Levante UD-EDI:<br/>¿Qué consigue con su inversión?</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5">
                <ul class="styled">
                    <li>Apoyar al Levante UD y a su Fundación, que juntos a través del deporte apoyan activamente a las personas con discapacidad intelectual</li>
                    <li>Conseguir premios de su equipo: los que inviertan más de 200 € conseguirán la bolsa del Levante que contiene un pin, un bolígrafo y una pulsera del equipo *</li>
                    <li>Invierta más de 500 € consiga la bolsa del Levante que contiene la bufanda, un pin, un bolígrafo y una pulsera del equipo *</li>
                    <li>Apoyar al fútbol como deporte y la práctica del deporte sin barreras</li>
                    <li> Inversiones desde 50 €  & Interés del 6,81% </li>
                    <li>¡Conocer a su equipo y asistir a un entrenamiento de la escuela! Los tres primeros en invertir más de <br />1500 €, podrán asistir a un entrenamiento y visitar las instalaciones del Levante</li>

                </ul>
                <p><small>*A falta de stock se regalará un producto del mismo valor</small></p>
            </div>
            <div class="container press hidden-xs hidden-sm">
                <div class="hidden-xs hidden-sm col-md-6 offset1 logos">
                    <div id="homepageCarousel" class="carousel slide">

                        <div class="carousel-inner row">
                            <div class="active item col-xs-12">
                                <img src="https://d1x3gb5zl465n8.cloudfront.net/es/lp/levante/slider/01.jpg" alt="Vicente Del Bosque - Levante">
                            </div>

                            <div class="item col-xs-12">
                                <img src="https://d1x3gb5zl465n8.cloudfront.net/es/lp/levante/slider/02.jpg" alt="Levante">
                            </div>

                            <div class="item col-xs-12">
                                <img src="https://d1x3gb5zl465n8.cloudfront.net/es/lp/levante/slider/03.jpg" alt="Levante">
                            </div>

                            <div class="item col-xs-12">
                                <img src="https://d1x3gb5zl465n8.cloudfront.net/es/lp/levante/slider/04.jpg" alt="Levante">
                            </div>
                        </div>
                    </div>
                    <a style="margin-top:24px;" class="btn btn-lg btn-nvstr" href="/solicitar-prestamo/indice">Invierta ahora</a><br>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="container logos hidden-xs">
        <hr>
        <a href="/revista-de-prensa-36.html"><img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/es/home/press/logos_uptade1.png" alt=""></a>
    </div>


    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 cancel-padding">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item"
                                src="https://player.vimeo.com/video/123304757?title=0&byline=0&portrait=0" width="940"
                                height="529" frameborder="0" webkitallowfullscreen mozallowfullscreen
                                allowfullscreen></iframe>
                    </div>

                </div>
            </div>
        </div>
    </div>


<div class="container-wrapper hidden-xs" style="background-image:url('https://d1x3gb5zl465n8.cloudfront.net/es/lp/levante/field3.jpg'); background-position:50% 50%; background-repeat: no-repeat; background-color:#f2f6db;">
    <div class="container spacing">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="faux-h1 text-center">Financiación a través del Crowdlending:<br/>Levante UD-EDI</h2>
            </div>
        </div>
        <div class="row hidden-xs">
            <div class="col-xs-4 col-sm-2 col-sm-offset-2">
                <div class="detail-box loan-amount" style="border-color:#EDF0F2;">
                    <p class="box-text">100.000&nbsp;€ <small>importe</small></p>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2">
                <div class="detail-box years" style="border-color:#EDF0F2;">
                    <p class="box-text">12 meses <small>plazo</small></p>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2">
                <div class="detail-box interest-rate" style="border-color:#EDF0F2;">
                    <p class="box-text">6,81 %<br/>
                        <small>interés</small></p>
                </div>
            </div>
            <div class="col-xs-4 col-sm-2">
                <div class="detail-box interest-rate" style="border-color:#EDF0F2;">
                    <p class="box-text" style="padding: 9px 10px;">
                        <span class="grade grade-b grade-small">B</span>
                        <i class="grade-popover icon-grade-b icon-grade-small" data-toggle="popover" data-content="<i class=&quot;grade-popover-icon icon-grade-b icon-grade-big&quot;></i>
                <p>Jährliche Ausfallwahrscheinlichkeit: 2,03% - 4,01%<br />Habenzins: 5,41%-8,44%</p><hr />Zencap teilt Kreditnehmer je nach Risikoeinschätzung in fünf Zencap-Klassen ein: von Klasse A+ bis C-, nach aufsteigendem Risiko. Die Einteilung basiert auf der geschätzten Wahrscheinlichkeit, dass der Kreditnehmer den Kredit nicht zurückzahlt. Um Anleger für das eingegangene Risiko zu entschädigen, fallen die Zinssätze für risikoreichere Zencap-Klassen höher aus." data-placement="top" data-trigger="manual" data-html="1" data-template="<div class=&quot;popover grade-popover-content&quot;><button class=&quot;close popover-close&quot;>&amp;times;</button>
                <div class=&quot;arrow&quot;></div><div class=&quot;popover-inner&quot;><h3 class=&quot;popover-title&quot;></h3>
                <div class=&quot;popover-content&quot;><p></p></div></div></div>" data-original-title="" title=""></i><br/>
                        <small>rating</small>

                    </p>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top:24px;">
            <div class="col-xs-12 col-sm-6">
                <p>Levante Unión Deportiva cuenta con la Escuela de Fútbol para personas con Discapacidad Intelectual (EDI) desde la temporada 11/12.
                    <span class="hidden-xs">Los jugadores del Levante UD-EDI son un referente para estas personas pues saben lo que es esforzarse para superar las barreras que, como deportistas de élite, encuentran diariamente en la práctica del deporte.</span>
                </p>
                <p>De cara a dar a conocer su proyecto a todos los españoles, el club ha decidido financiar el proyecto a través de una forma de financiación alternativa como el <a href="https://www.zencap.es/crowdlending-59.html"target=_blank">Crowdlending</a>. Zencap es una plataforma online</p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p>que ofrece <a href="https://www.zencap.es/como-funciona-18.html"target=_blank">préstamos para PYMEs</a> que son financiados online a través de inversores particulares, ofreciendo la posibilidad de que de forma individual puedan invertir directamente obteniendo una rentabilidad a cambio. Zencap es la plataforma de crowdlending española con mayor crecimiento, con más de 1 millón de euros financiados en el primer trimestre de 2015.</p>
                <p>El proyecto de préstamo consiste en 100.000 € que serán destinados a apoyar la fundación Levante UD-EDI y del que TÚ también puedes formar parte.</p>
            </div>
            <div class="col-xs-12 text-center"> <a class="btn btn-lg btn-nvstr" href="/solicitar-prestamo/informacion/718">Invierta ahora</a><br>
        </div>

        </div>
    </div>
</div>

<div class="container-wrapper" style="background-image:url('https://d1x3gb5zl465n8.cloudfront.net/es/lp/levante/bg-ball.jpg'); background-position:-154px 50%; background-repeat: no-repeat; height: 432px; background-color:#4e2b1b;">
    <div class="container spacing">
        <h2 class="faux-h1 text-white text-center">Más información sobre Levante UD-EDI</h2>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <p class="text-white">El Levante Unión Deportiva es el primer club de fútbol profesional que crea una escuela de este tipo y la incorpora a su estructura. Actualmente, el equipo cuenta con aproximadamente 60 jugadores. Con esta iniciativa se pone de manifiesto los valores tanto de las personas que forman parte de la escuela como de aquellos que la promueven.</p>
                <p class="text-white hidden-xs">Desde su inicio ha crecido de forma gradual el número de jugadores </p>
            </div>
            <div class="col-xs-12 col-sm-6">
                <p class="text-white hidden-xs">inscritos lo que ha posibilitado la creación de cuatro grupos con niveles de exigencia diferentes que se ajusta a las capacidades que presenta cada jugador. En septiembre de 2014, Levante UD-EDI participó en el IV Campeonato Nacional de Fútbol 7 Unificado de Special Olympics y se clasificaron como campeones de la modalidad A4 y subcampeones de la modalidad A2.</p>
                <p class="text-white">¿ A qué espera para unirse y <a href="https://www.zencap.es/invertir-online-pymes-77.html" target="_blank"> invertir online </a> ya mismo?</p>
            </div>
        </div>
        <div class="col-xs-12 text-center">
            <a href="/solicitar-prestamo/indice" class="btn btn-lg btn-nvstr">Invierta ahora</a>
        </div>
    </div>
</div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.carousel').carousel({
            interval: 5000
        })
    });
</script>

{% endblock %}