{% extends 'layout.html.twig' %}

{% block body %}

    <style>

        /* ==========================================================================
            lp-sparbuch
        ========================================================================== */

        .bkg-returns {
            background: url('https://d1x3gb5zl465n8.cloudfront.net/de/lp/sparbuch/hero-image.jpg') 50% 50% no-repeat;
        }

        .bkg-returns h1 small {
            color: #203340;
            font-weight: bold;
        }

        /* background height on mobile */
        @media (min-width: 320px) and (max-width: 767px) {
            .bkg-returns {
                height: 220px;
            }
        }

        /* background height on tablet */
        @media (min-width: 768px) and (max-width: 991px) {
            .bkg-returns {
                height: 260px;
            }
        }

        /* background height on desktop */
        @media (min-width: 992px) {
            .bkg-returns {
                height: 350px;
            }

            .bkg-returns  h1 small {
                font-size: 26px;
            }
        }

        /*.styled.large li {
            border-bottom-color: #fff;
        }*/

        .styled.large li {
            border-bottom-color: #edf0f2;
        }

        .odd .styled.large li {
            border-bottom-color: #fff;
        }

        h1 small {
            display: block;
        }

    </style>

<div class="cms-page investor">

    <div class="container-wrapper bkg-returns">
        <div class="container">
            <div class="page-head">
                <div class="row">
                    <div class="col-xs-10 col-sm-8 col-md-10 col-lg-6">
                        <h1>Inversiones alternativas a los depósitos
                            <small>obtenga altos retornos a partir de 50 € de inversión</small></h1>
                        <a class="btn btn-lg btn-nvstr" href="/inversores-primeros-pasos">Invierta ahora</a>
                        <div class="desp-5"></div>
                        <p><small>¿Tiene preguntas?<br/>Contacte con nosotros  <strong>911 98 09 62</strong></small></p>
                    </div>
                </div><!-- end .row -->
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper good-returns">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-md-4">
                    Las cuentas de ahorros y los depósitos a plazo fijo son una forma tradicional de inversión. Los depósitos a plazo fijo y cuentas de ahorro, son una buena forma de convencer a ahorradores ya que, estos,  lo ven como un medio de inversión sin riesgo. Sin embargo, debido a que las tasas de interés disminuyen, la pregunta principal que debemos hacernos es si las cuentas de ahorro tradicionales todavía tienen sentido para los ahorradores y pequeños inversores. Desde el punto de vista de los retornos, cuentas de ahorro y depósitos a plazo fijo parecen producir rendimientos reales cada vez menores. Muchas veces, las tasas de interés disponibles se reducen a pequeñas cifras de un dígito.
                </div>
                <div class="col-xs-12 col-sm-7 col-md-8">
                    <p>Como inversor a través de Zencap, puede elegir entre diferentes <a href="/solicitar-prestamo/indice">proyectos de préstamos </a> dirigidos a apoyar al desarrollo de las pequeñas y medianas empresas. Esto significa:</p>
                    <ul class="styled check">
                        <li>Rentabilidad media del 8,80% *- muy por encima de lo que las cuentas de ahorro y depósitos a plazo fijo ofrecen</li>
                        <li>Inversiones a partir de 50 € en los proyectos de préstamo que elija</li>
                        <li>Elegir entre 5 clases de riesgo, que van desde A + a C- </li>
                        <li>Cartera de inversiones atractiva y diversificada de acuerdo a su perfil de riesgo y rentabilidad</li>
                        <li>Desde 6 meses a 5 años -usted decide el proyecto y las condiciones de inversión</li>
                        <li>Pagos mensuales que puede volver a invertir directamente</li>
                        <li>Apoyar a las PYMEs españolas y de esta forma el desarrollo de la economía española </li>
                    </ul>
                </div>
                <div class="desp-20"></div>
                <div class="col-xs-12 text-center">
                    <a href="/registro/lender/" class="btn btn-lg btn-nvstr">Registrese ahora </a>
                </div>
            </div><!-- end .row -->

        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <h2 class="faux-h1 text-center">Cuenta de ahorros: Ventajas e inconvenientes</h2>
                <div class="col-xs-12 col-sm-6">
                    <p>Las cuentas de ahorro no ofrecen un alto rendimiento, pero dan a los ahorradores el beneficio de la flexibilidad: de los fondos de las cuentas de ahorro se puede disponer de forma fácil en cualquier momento. Se puede recuperar por el ahorrador en cualquier momento y sin restricciones.</p>
                    <p>Las cuentas de ahorro son útiles para los ahorradores que necesiten un acceso rápido a su dinero y están dispuestos a aceptar una tasa de interés relativamente baja.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>A pesar de que los intereses pagados por las cuentas de ahorro ayudan a equilibrar las pérdidas sufridas por la inflación, la tasa de interés real no es lo suficientemente alta como para que sean métodos atractivos de inversión.</p>
                    <p>Además, la tasa de interés de las cuentas de ahorro puede variar diariamente. A diferencia de las cuentas a plazo fijo, el interés no es fijo. Por ello, el cliente gana en la flexibilidad a costa de perder en la tasa de interés.</p>
                </div>
            </div><!-- end .row -->
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <ul class="styled large check">
                        <li>En Zencap, el tipo de interés es fijo durante todo el proceso del <a href="/creditos-online-66.html"> crédito online </a>para empresas</li>
                        <li>La duración de los proyectos comienzan a los 6 meses - su dinero no estará vinculado por mucho tiempo</li>
                        <li>Rendimientos atractivos medios de 8,80% *</li>
                    </ul>
                </div>
            </div><!-- end .row -->
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="/solicitar-prestamo/indice" class="btn btn-lg btn-nvstr">Nuestros proyectos de préstamo</a>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <div class="row">
                <h2 class="faux-h1 text-center">Depósitos a plazo fijo - Ventajas e inconvenientes</h2>
                <div class="col-xs-12 col-sm-6">
                    <p>Al igual que las cuentas de ahorro, los depósitos a plazo fijo son una forma muy conocida de inversión que muchos ahorradores utilizan. El ahorrador deposita su dinero en una cuenta de ahorros durante un determinado plazo, definido desde el principio. Durante este plazo, no pueden disponer de estos fondos que ha depositado a plazo fijo. Los términos o duración varían desde 30 días a 10 años.</p>
                    <p>En cuanto a los intereses pagados, cuanto más largo el plazo, mayor será el interés que el ahorrador espera recibir. En caso de que el ahorrador necesite los fondos antes de que el término se haya terminado, debe saber que la mayoría de los bancos cobran una penalización que podría reducir considerablemente el interés ganado.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <p>Las cuentas a plazo fijo, por lo tanto no son una buena opción si se necesita disponer del dinero a corto plazo.También es necesario saber que, con la mayoría de los bancos, existe una inversión mínima en las cuentas de ahorro a plazo fijo. En muchos casos, esto es alrededor de unos 5.000 €. Estas inversiones mínimas a menudo hacen que sea difícil para los pequeños ahorradores hacer uso de esta forma de invertir.</p>
                    <p>Zencap ofrece inversiones alternativas a las tradicionales. Éche un vistazo a los proyectos de préstamos a PYMEs como una alternativa fiable y rentable a los ahorros a plazo fijo. Estos son sólo algunos de los beneficios de una inversión con Zencap:</p>
                </div>
            </div><!-- end .row -->
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                    <ul class="styled large check">
                        <li>Interés fijo en su inversión</li>
                        <li>Interés medio del 8,80% *</li>
                        <li>Apoyo a las PYMEs españolas </li>
                    </ul>
                    <small>*Interés nominal medio</small>
                </div>
            </div><!-- end .row -->
            <div class="desp-20"></div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="/inversores-primeros-pasos" class="btn btn-lg btn-nvstr">Inversiones alternativas: Invierta ahora</a>
                </div>
            </div><!-- end .row -->
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock body %}