{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page press">

    <div class="container-wrapper">
        <div class="container spacing">
            <h1 class="text-center">Presse</h1>
            <div class="row">
                <div class="col-xs-12">
                    <p>Zencap es la alternativa online a los bancos. La plataforma reúne a prestatarios e inversores sin necesidad de un asesor bancario. Un algoritmo propio, desarrollado para calcular el riesgo del préstamo, minimiza el riesgo de incumplimiento, protege a los prestatarios del sobreendeudamiento y asegura un alto rendimiento para inversores. De esta forma, Zencap puede ofrecer al mismo tiempo préstamos favorables y un rendimiento atractivo.</p>
                    <p>Contacto: <br>
                        Francisco Sierra<br>
                        +34 911 9809 61<br>
                        informacion@zencap.es</p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <p class="faux-h2">Notas de prensa</p>
            <p>16.06.2014</p>
            <p><a target="_blank" href="https://www.zencap.es/blog-financiacion-empresas-52.html">Zencap lanza su plataforma online de préstamos en España</a></p>
            <p>Zencap, la primera plataforma online de financiación para PYMEs comienza en España: como alternativa digital a los bancos, ofrece a las PYMEs la posibilidad de obtener <a target="_blank" href="https://www.zencap.es/creditos-online-66.html">créditos online</a> de forma rápida y en condiciones favorables y a los inversores una nueva manera de invertir.</p>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper media-response">
        <div class="container spacing">
            <p class="faux-h2">Nuestro modelo de negocio en los medios de comunicación</p>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/15-09-2014-expansion.pdf"><img alt="Expansión" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/expansion.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Nuevas plataformas cubren las necesidades económicas de las pymes de forma rápida o sencilla (...)</p>
                            <p>"La diversificación siempre es buena y una empresa nunca puede depender solamente de créditos bancarios”. Así opina Jesús Reglero, profesor del departamento de gestión financiera de Icade, ya que cofinanciar parte de las necesidades a través de una fuente alternativa a la banca puede mejorar la salud del negocio al reducir los riesgos.</p>
                        </blockquote>
                        <p><a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/15-09-2014-expansion.pdf">ver el artículo</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/14-09-2014-europasur.pdf"><img alt="EuropaSur" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/europasur.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Con el ‘crowdlending’ una empresa recibe un crédito de un grupo de particulares. Una de Algeciras, de las primeras del país que ha cerrado un préstamo de estas características.</p>
                            <p>Es oportuno mencionar a Zencap porque se da la circunstancia de que la segunda empresa en todo el país que ha solicitado y conseguido un crédito en esta plataforma es de Algeciras, el centro de Globalider situado en el polígono La Menacha. Una financiación de 60.000 euros a tres años detrás de la cual están los inversores particulares que se han decidido por probar el sistema.</p>
                        </blockquote>
                        <p><a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/14-09-2014-europasur.pdf">ver el artículo</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/25-08-2014-elnortedecastilla2.pdf"><img alt="El Norte de Castilla" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/el-norte-de-castilla.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Los bancos prestan ahora en Castilla y León casi 22.000 millones menos que hace seis años.</p>
                            <p>Pese a la tímida recuperación económica, las pymes no se quedan quietas por la falta de crédito y acuden a fórmulas innovadoras de financiación. “Crowdfunding”, “crowdlending”, “business angel”, el Mercado Alternativo Bursátil (MAB), sociedades de inversión como Alentia, entre otras, son formas alternativas a la banca tradicional que tienen como objetivo facilitar el acceso al crédito o proporcionar los recursos necesarios para el desarrollo de una actividad empresarial.</p>
                            <p>El ‘crowdlending’ surge en España de la mano de Zencap, una web de financiación externa (…).</p>
                        </blockquote>
                        <p><a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/25-08-2014-elnortedecastilla2.pdf">ver el artículo</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/12-07-2014-expansion2.pdf"><img alt="Expansión" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/expansion.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>He ahorrado una cantidad de dinero y me gustaría invertirla, posiblemente en una empresa de reciente creación. ¿Qué opciones tengo?<br>
                                (...) el ‘crowdlending’, por el que un particular puede prestar dinero a una ‘start up’, como si fuera una entidad financiera.</p>
                            <p>Por su parte, Zencap es un portal de ‘crowdlending’ nacido en Alemania a principios de año, que llegó a España hace tres semanas y ya cuenta con 200 inversores registrados. “El principal reto al que nos enfrentamos es el de dar a conocer esta nueva alternativa de financiación entre las pymes”</p>
                        </blockquote>
                        <p><a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/12-07-2014-expansion2.pdf">ver el artículo</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/13-07-2014-elmundo.pdf"><img alt="El Mundo" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/elmundo.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>En España existen varias iniciativas que te permiten saber dónde invierten los expertos y apoyar esas mismas ‘start up’.</p>
                            <p>Por su parte, Zencap es un portal de ‘crowdlending’ nacido en Alemania a principios de año, que llegó a España hace tres semanas y ya cuenta con 200 inversores registrados.</p>
                            <p>En Zencap, los préstamos oscilan entre los 5.000 y 150.000 euros, con tasas de interés de entre el 6,99 y el 21%, en función del riesgo
                                de cada proyecto.</p>
                        </blockquote>
                        <p><a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/13-07-2014-elmundo.pdf">ver el artículo</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="http://www.eleconomista.es/espana/noticias/5922183/07/14/Zencap-crea-una-nueva-alternativa-de-financiacion-para-las-pymes-andaluzas.html"><img alt="El Economista" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/eleconomista.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Las 470.902 pymes que existen en Andalucía ya pueden acceder a Zencap, una nueva plataforma 'on line' que pone en contacto a pequeñas y medianas empresas con inversores particulares.</p>
                            <p>En un comunicado, la compañía ha explicado que ofrece a las pequeñas y medianas empresas "la posibilidad de conseguir financiación sin la intermediación de una entidad bancaria tradicional", ya que son los particulares los que aportan los créditos.</p>
                            <p>"Las pequeñas y medianas empresas conforman la base de la economía andaluza, representando el 99,93 por ciento del tejido empresarial de la Comunidad Autónoma, ha añadido fundador y director ejecutivo de Zencap Christian Grobe.</p>
                        </blockquote>
                        <p><a target="_blank" href="http://www.eleconomista.es/espana/noticias/5922183/07/14/Zencap-crea-una-nueva-alternativa-de-financiacion-para-las-pymes-andaluzas.html">ver el artículo</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="http://cincodias.com/cincodias/2014/06/13/empresas/1402675529_840066.html"><img alt="Cinco Días" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/cincodias.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Zencap se estrenó en Alemania el pasado mes de abril con la financiación de créditos por un total de 260.000 euros. A día de hoy, la plataforma ha posibilitado la concesión de créditos a 15 empresas.</p>
                            <p>La plataforma está respaldada por Rocket Internet, la mayor incubadora de empresas online, responsable de Groupon, eDarling o Zalando.</p>
                            <p>El crowdfunding (o financiación colectiva) movió en 2013 alrededor de 5.000 millones de dólares a nivel global (3.695 millones de euros). En España, la cifra ascendió a 19 millones de euros.</p>
                        </blockquote>
                        <p><a target="_blank" href="http://cincodias.com/cincodias/2014/06/13/empresas/1402675529_840066.html">ver el artículo</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="http://www.elconfidencial.com/mercados/inversion/2014-06-16/democratizar-las-ganancias-invierte-en-pymes-y-logra-hasta-un-20-de-rentabilidad_146223/"><img alt="El Confidencial" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/elconfidencial.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>Zencap, la plataforma que pone en contacto a pymes con inversores particulares, inicia hoy su actividad en España para ofrecer a las pymes la posibilidad de conseguir financiación sin la intermediación de un banco, siendo los particulares los que aportan los créditos.</p>
                            <p>Ahora, con su apertura al mercado español, Zencap estrena el desarrollo de sus actividades internacionales con la intención de superar las cifras de Alemania.</p>
                        </blockquote>
                        <p><a target="_blank" href="http://www.elconfidencial.com/mercados/inversion/2014-06-16/democratizar-las-ganancias-invierte-en-pymes-y-logra-hasta-un-20-de-rentabilidad_146223/">ver el artículo</a></p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-4"> <a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/17-06-2014-diariterrasa.pdf"><img alt="Diari de Terrassa" src="https://d1x3gb5zl465n8.cloudfront.net/es/press/diari.png"></a> </div>
                    <div class="desp-20 visible-xs hidden-sm hidden-md"></div>
                    <div class="col-xs-12 col-sm-8">
                        <blockquote>
                            <p>La firma, que facilita la creación de un mercado online de créditos alternativo a la banca tradicional, ha logrado que se financien préstamos a 15 proyectos por valor de 700.000 euros hasta la fecha. El requisito principal que deben cumplir las empresas es haber facturado 100.000 euros anuales en los dos últimos ejercicios.</p>
                        </blockquote>
                        <p><a target="_blank" href="https://d1x3gb5zl465n8.cloudfront.net/es/press/article/17-06-2014-diariterrasa.pdf">ver el artículo</a></p>
                    </div>
                </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd press-materials hidden-xs">
        <div class="container spacing">
            <p class="faux-h2">Materiales de prensa</p>
            <p>Aquí puede descargar algunos materiales de Zencap.</p>
            <div class="row">
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h3>Los fundadores</h3>
                    <a href="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/Zencap-Founder.jpg" target="_blank">
                        <img class="img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/zencap-founder-300x192.jpg" alt="Zencap Founder">
                        <i class="fa fa-small fa-arrow-circle-down"></i> descargar fotografía</a>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h3>El logo Zencap</h3>
                    <a href="/bundles/intlendweblayout/frontend/images/cms/press/Zencap-Logo-Kit.zip" target="_blank">
                        <img class="img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/zencap-logo-300x192.jpg" alt="Zencap Logo Kit">
                        <i class="fa fa-small fa-arrow-circle-down"></i>  Logo Kit todos los formatos
                    </a>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h3>El video Zencap</h3>
                    <a href="https://vimeo.com/89143761" target="_blank">
                        <img class="img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/press/vimeo-89143761-300x192.jpg" alt="Zencap Video">
                        <i class="fa fa-small fa-arrow-circle-down"></i>  descargar video
                    </a>
                </div>
                <div class="hidden-xs col-sm-6 col-md-3">
                    <h3>Carpeta de Prensa 2015</h3>
                    <a href="https://d1x3gb5zl465n8.cloudfront.net/es/press/pressekit-20150112.pdf" target="_blank">
                        <img class="img-responsive" src="https://d1x3gb5zl465n8.cloudfront.net/de/press/presskit/presskit.jpg" alt="Carpeta de prensa 2015">
                        <i class="fa fa-small fa-arrow-circle-down"></i> descargar Carpeta de Prensa
                    </a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

</div><!-- end .cms-page -->

{% endblock %}