{% extends 'layout.html.twig' %}

{% block body %}
    <div class="cms-page investor">
        <div class="container-wrapper fees">
            <div class="container spacing">
                <h1 class="text-center">Invertir online en PYMEs con Zencap</h1>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3 cancel-padding">
                        <div class="padding-box">
                            <ul class="styled check">
                                <li>Rendimientos atractivos &amp; Riesgos transparentes</li>
                                <li>Apoyo a la creación de puestos de trabajo</li>
                                <li>Reembolsos mensuales</li>
                            </ul>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Rentabilidades</td>
                                        <td>de hasta el 20,00 %</td>
                                    </tr>
                                    <tr>
                                        <td>Cuenta de inversor</td>
                                        <td class="text-borrower-dark">gratis</td>
                                    </tr>
                                    <tr>
                                        <td>Comisión de servicio</td>
                                        <td>1,00 <small>punto porcentual del tipo de interés nominal</small></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="text-center">
                                <a href="/registro/lender" class="btn btn-lg btn-nvstr" type="submit">Invierta ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper loan-types">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Su cartera de inversiones - clasificación de las inversiones según Zencap</h2>
                <div class="row">
                    <div class="col-xs-12 col-md-7 cancel-padding">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Categoría</th>
                                    <th>Tipo de interés</th>
                                    <th>Tasa de rendimiento<sup>1</sup></th>
                                    <th>Probabilidad incumplimiento<sup>2</sup></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="grade grade-a-plus grade-large">A<span>+</span></span></td>
                                    <td>4,99 % - 7,76 %</td>
                                    <td>3,99 % - 6,76 %</td>
                                    <td>0,01 % - 1,04 %</td>
                                </tr>
                                <tr>
                                    <td><span class="grade grade-a grade-large">A</span></td>
                                    <td>5,49 % - 8,57 %</td>
                                    <td>4,49 % - 7,57 %</td>
                                    <td>1,05 % - 2,03 %</td>
                                </tr>
                                <tr>
                                    <td><span class="grade grade-b grade-large">B</span></td>
                                    <td>6,41 % - 10,21 %</td>
                                    <td>5,41 % - 9,21 %</td>
                                    <td>2,04 % - 4,01 %</td>
                                </tr>
                                <tr>
                                    <td><span class="grade grade-c grade-large">C</span></td>
                                    <td>8,31 % - 13,68 %</td>
                                    <td>7,31 % - 12,68 %</td>
                                    <td>4,02 % - 8,04 %</td>
                                </tr>
                                <tr>
                                    <td><span class="grade grade-c-minus grade-large">C-</span></td>
                                    <td>12,34 % - 21,00 %</td>
                                    <td>11,34 % - 20,00 %</td>
                                    <td>8,05 % - 15,94 %</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <small class="col-xs-12">
                            <sup>1</sup> La tasa de rendimiento es la rentabilidad de su inversión una vez descontada la comisión de Zencap (antes de impuestos). En cumplimiento de la ley fiscal española, usted recibirá los cobros descontando el Impuesto sobre la Renta de Personas Físicas (21 % sobre sus beneficios) y podrá descargar los certificados correspondientes directamente de nuestra página.<br><br>
                            <sup>2</sup> La probabilidad de incumplimiento de pago de un préstamo se refiere al riesgo promedio con el que pueden surgir dificultades para el pago durante 12 meses. Esta probabilidad no significa inmediatamente la pérdida de sus beneficios como inversor, porque el verdadero valor de pérdida depende de otros factores, como el momento de interrupción del pago, del éxito de la agencia de cobros, así como del valor de la garantía aportada. De esta manera, en términos generales, la pérdida probable en una inversión es menor a la probabilidad de incumplimiento de pagos calculada.</small>
                    </div>
                    <div class="desp-20 hidden-md hidden-lg"></div>
                    <div class="col-xs-12 col-md-5">
                            <h3>Rentabilidades atractivas</h3>
                            <p>Invertir online en <a target="_blank" href="https://www.zencap.es/como-funciona-18.html">préstamos para pymes </a> le ayudará a diversificar su cartera de inversiones pero siempre de forma segura. Su tasa de rendimiento variará dependiendo del nivel de riesgo de su inversión. Cuanto más alto sea el riesgo, mayores serán los intereses que reciba. Elija el nivel de riesgo que más se adecúe a su perfil y mantenga un control total sobre sus inversiones. Además, nosotros le ayudamos a diversificar su cartera de inversiones  por medio de <a target="_blank" href="https://www.zencap.es/inversores-primeros-pasos-45.html">inversiones seguras </a> y rentables. </p>
                            <h3>Riesgos transparentes</h3>
                            <p>Las empresas en las que se puede invertir se clasifican en cinco categorías de solvencia en función de su nivel de riesgo, de la A+ a la C-. Dicha clasificación se basa en el cálculo de la probabilidad de incumplimientos en los pagos, ya sea por incumplimiento parcial o total en el reembolso del préstamo. Esta probabilidad es muy baja para las empresas clasificadas como A+, y más alta para empresas con la denominación C-. Por ejemplo: si usted invierte en 100 préstamos en la plataforma Zencap, clasificados en la categoría A+, hay una probabilidad de que el 0,52 % de los préstamos no sean reembolsados parcial o totalmente. La correcta gestión de las inversiones que realice con nosotros está asegurada.</p>
                        </div>
                    </div>
            </div>
        </div>
        <div class="container-wrapper odd blockquote">
            <div class="container spacing">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-md-8">
                        <blockquote>
                            <p>Empiece a invertir online a través de Zencap y reciba reembolsos mensuales de sus inversiones. Reinvierta el dinero reembolsado directamente en otros préstamos, acordes a su perfil de riesgo. Así garantizará una óptima rentabilidad de su dinero y gestión de sus inversiones.</p>
                            <p><em>Su equipo Zencap</em></p>
                        </blockquote>
                    </div>
                    <div class="hidden-xs col-sm-3 col-md-3 col-md-offset-1">
                        <img alt="" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/tipp.png" class="img-circle">
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper">
            <div class="container spacing">
                <h2 class="faux-h1 text-center">Gestión de cobros</h2>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h3>Medidas en caso de un retraso en los pagos</h3>
                        <p>En caso de un retraso en el pago del préstamo, Zencap se hace cargo de la gestión de cobros. Si el pago se retrasa más de unas semanas, será tratado como un impagado y Zencap trabajará conjuntamente con una agencia externa de cobro, para asegurar que sus intereses como inversor sean defendidos de la mejor forma posible.</p>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3>Gestión de la garantía personal</h3>
                        <p>Una condición esencial para solicitar un préstamo a través de Zencap es la aportación de una garantía personal por parte del gerente o propietario, con la que responderá con su patrimonio personal. Al invertir online con Zencap se tiene una seguridad adicional en caso de que una empresa incurra en un impago. En este supuesto, Zencap se ocupará de gestionar la garantía de la mejor forma posible para defender sus intereses.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-wrapper odd">
            <div class="container text-center spacing">
                <a href="/registro/lender" class="btn btn-lg btn-nvstr" type="submit">Invierta ahora </a>
                <div class="desp-10"></div>
                <p>Si tiene alguna duda consulte nuestro apartado de <a href="/preguntas-frecuentes-inversor-17.html">preguntas frecuentes</a></p>
            </div>
        </div>
    </div>


</div><!-- end .cms-page -->

{% endblock %}