{% extends 'layout.html.twig' %}

{% block body %}

<div class="cms-page how-it-works">

    <div class="container">
        <div class="page-head">
            <h1 class="text-center">Préstamos para PYMEs de inversores particulares</h1>
        </div>
    </div><!-- end .container -->

    <div class="container-wrapper odd">
        <div class="container spacing">
            <div class="row">
                <div class="col-xs-12 cancel-padding">
                    <div class="embed-responsive embed-responsive-16by9 resp-iframe cancel-padding">
                        <iframe class="embed-responsive-item" src="//player.vimeo.com/video/95428791" width="940" height="529" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </div>
            </div>
            <div class="desp-48 hidden-xs"></div>
            <div class="row">
                <div class="hidden-xs col-sm-12">
                    <p class="faux-h2 text-center">Créditos para pymes:<br>
                        Zencap reúne a empresarios e inversores</p>
                </div>
            </div>
            <div class="row">
                <div class="hidden-xs col-sm-6">
                    <p>Las PYMEs son el motor de la economía de un país. Sin embargo, el acceso a financiación representa muchas veces un desafío, sobre todo en comparación con las grandes empresas. Como corroboran las encuestas realizadas por el Banco Central Europeo, a pesar de que el 50% de las PYMEs presentan una situación económica estable, existen barreras crediticias muy altas en comparación con las grandes empresas. Zencap ayuda a corregir esta ineficiencia en el mercado por medio de los  préstamos online para PYMEs por parte de inversores particulares.
                    </p>
                </div>
                <div class="hidden-xs col-sm-6">
                    <p>A través de nuestra plataforma proporcionamos préstamos para PYMEs desde 5000 € a 150.000 € flexibles y con intereses competitivos, reduciendo el proceso burocrático y los costes, a diferencia de los ofrecidos por los bancos. Al mismo tiempo, ofrecemos a inversores particulares e institucionales la posibilidad de invertir online su dinero y generar ingresos más altos que los que ofrece un banco. En conjunto, PYMEs e inversores generan riqueza y puestos de trabajo.</p>
                </div>
            </div>
            <div class="desp-20 visible-xs hidden-sm hidden-md hidden-lg"></div>
            <div class="row">
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                    <a class="btn btn-lg btn-block btn-brrwr" type="submit" href="/loan-request/register#baseForm">Solicite su préstamo</a>
                </div>
                <div class="desp-20 visible-xs hidden-sm hidden-md hidden-lg"></div>
                <div class="col-xs-12 hidden-sm hidden-md hidden-lg text-center">
                    <a class="btn btn-lg btn-block btn-nvstr text-center" type="submit" href="/registro/lender/">Invierta ahora</a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper">
        <div class="container spacing">
            <h2 class="faux-h1 text-center">Cómo funcionan los préstamos para pymes</h2>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/how_it_works/how-it-works-borrower.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>¿Cómo puedo solicitar un préstamo?</h3>
                    <p>¿Busca una alternativa más segura y fiable a las ofrecidas por un banco tradicional? A través de Zencap puede solicitar su préstamo online en tan sólo unos cuantos pasos, de manera cómoda y segura. Los préstamos para PYMEs de inversores particulares funcionan de forma sencilla. En el plazo de dos días laborables examinamos su solicitud y le enviamos una propuesta con una cuota mensual. En caso de aceptar esta propuesta, los inversores pueden financiar su proyecto directamente a través de nuestra plataforma. Si se lleva a cabo la financiación completa de su proyecto, usted recibirá el dinero y a partir de ahí sólo deberá pagar su cuota mensual.
                        <br><a href="/prestamos-dinero-empresas-46.html">Préstamos para empresas...</a></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/how_it_works/how-it-works-zencap.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>¿Cómo reúne Zencap a empresas e inversores?</h3>
                    <p>Los préstamos online a PYMEs funcionan de forma muy fácil.En Zencap ponemos en contacto a las empresas con los inversores particulares sin necesidad de intermediarios bancarios. Además reunimos las ventajas de invertir por internet con la <a target="_blank" href="https://www.zencap.es/financiacion-empresas-96.html">financiación empresarial  </a> tradicional sin necesidad de una sucursal física. Analizamos los proyectos de inversión con los más estrictos estándares de solvencia y riesgo para que los inversores tengan en todo momento un control total sobre sus inversiones.  <br><a href="/solicitar-prestamo/indice">Ir a proyectos de préstamo actuales...</a></p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img class="img-responsive" src="https://d2nmwyt2xx612p.cloudfront.net/bundles/intlendweblayout/frontend/images/cms/how_it_works/how-it-works-investor.jpg" alt="" />
                    <div class="desp-20"></div>
                    <h3>¿Cómo puedo invertir en una empresa?</h3>
                    <p>¿Desea contribuir al éxito de las PYMEs? Zencap le ofrece esa posibilidad al<a target="_blank" href="https://www.zencap.es/invertir-online-pymes-77.html">  invertir online</a> en estas. Regístrese con solo unos clics de forma rápida y sencilla y conviértase en el banco personal de las pequeñas y medianas empresas. Como inversor, en Zencap puede diseñar su cartera de inversiones a medida. Sólo tiene que invertir en diferentes proyectos de préstamo de empresas dadas de alta en nuestra plataforma. Utilice las ganancias mensuales de sus inversiones para financiar nuevos proyectos de préstamo. <br><a href="/inversores-primeros-pasos-45.html">Inversiones seguras, rentables y flexibles...</a></p>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper odd benefits hidden-xs">
        <div class="container spacing">
            <div class="row">
                <div class="col-sm-6 borrower">
                    <h2>Ventajas para empresas</h2>
                    <ul class="styled large check">
                        <li>Préstamos con condiciones favorables</li>
                        <li>Independiente de los bancos</li>
                        <li>Máxima flexibilidad</li>
                        <li>Mayor visibilidad y publicidad</li>
                    </ul>
                </div>
                <div class="col-sm-6 investor">
                    <h2>Ventajas para inversores</h2>
                    <ul class="styled large check">
                        <li>Rendimientos atractivos</li>
                        <li>Total transparencia</li>
                        <li>Apoyo al desarrollo económico</li>
                        <li>Reembolsos mensuales</li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->

    <div class="container-wrapper text-center hidden-xs">
        <div class="container spacing">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-1 ">
                    <a class="btn btn-lg btn-brrwr" type="submit" href="/loan-request/register#baseForm">Solicite su préstamo</a>
                </div>
                <div class="col-sm-5">
                    <a class="btn btn-lg btn-nvstr text-center" type="submit" href="/registro/lender/">Invierta ahora</a>
                </div>
            </div>
        </div>
    </div><!-- end .container-wrapper -->
</div><!-- end .cms-page -->

{% endblock %}